<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  <!-- validateプラグインの読み込み -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<%= render 'shared/error_massages', object: f.object %>

<%= f.label :name %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :name, class: "form-control", placeholder: "Enter name" %>
<br>
<%= f.label :name_kana %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :name_kana, class: "form-control", placeholder: "Enter name kana" %>
<br>
<%= f.label :branch_name %>
<%= f.text_field :branch_name, class: "form-control", placeholder: "Enter branch name" %>
<br>
<%= f.label :representative_name %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :representative_name, class: "form-control", placeholder: "Enter representative name" %>
<br>
<%= f.label :email %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.email_field :email, class: "form-control", placeholder: "Enter email" %>
<br>
<%= f.label :address %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :address, class: "form-control", placeholder: "Enter address" %>
<br>
<%= f.label :post_code %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :post_code, class: "form-control", placeholder: "Enter post code" %>
<br>
<%= f.label :phone_number %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :phone_number, class: "form-control", placeholder: "Enter phone number" %>
<br>
<%= f.label :fax_number %>
<%= f.text_field :fax_number, class: "form-control", placeholder: "Enter fax number" %>
<br>
<%= f.label :career_up_id %>
<%= f.text_field :career_up_id, class: "form-control", placeholder: "Enter career_up_id" %>
<br>
<%= f.label :business_type %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
<%= f.collection_radio_buttons(:business_type, Business.business_types_i18n, :first, :last) %><br>
<br>
<%= f.label :industry_ids %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.collection_select :tem_industry_ids, Industry.all, :id, :name, { selected: @business.tem_industry_ids }, { class: 'form-control select2', id: 'parent-select', multiple: true, style: "width: 100%" } %>
<br>
<br>
<%= f.label :occupation_ids %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.collection_select :occupation_ids, Occupation.all, :id, :short_name, { selected: @business.occupations.ids }, { class: 'form-control select2', id: 'child-select', multiple: true, style: "width: 100%" } %>
<br>
<% if business.stamp_images.present? %>
  <% business.stamp_images.each_with_index do |image, index| %>
    <%= image_tag(image.url) %>
    <%= link_to "削除", update_images_users_business_path(index: index), method: :patch, data: { confirm: "本当に削除してもよろしいですか？" } %>
  <% end %>
  <br>
<% end %>
<br>
<%= f.label :stamp_images %>
<%= f.file_field :stamp_images, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: "form-control" %>
<br>
<%= f.label :business_health_insurance_status %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
<%= f.collection_radio_buttons(:business_health_insurance_status, Business.business_health_insurance_statuses_i18n, :first, :last) %><br>
<br>
<%= f.label :business_health_insurance_association %>
<%= f.text_field :business_health_insurance_association, class: "form-control", placeholder: "Enter business_health_insurance_association" %>
<br>
<%= f.label :business_health_insurance_office_number %>
<%= f.text_field :business_health_insurance_office_number, class: "form-control", placeholder: "Enter business_health_insurance_office_number" %>
<br>
<%= f.label :business_welfare_pension_insurance_join_status %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
<%= f.collection_radio_buttons(:business_welfare_pension_insurance_join_status, Business.business_welfare_pension_insurance_join_statuses_i18n, :first, :last) %><br>
<br>
<%= f.label :business_welfare_pension_insurance_office_number %>
<%= f.text_field :business_welfare_pension_insurance_office_number, class: "form-control", placeholder: "Enter business_welfare_pension_insurance_office_number" %>
<br>
<%= f.label :business_pension_insurance_join_status %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.select :business_pension_insurance_join_status, Business.business_pension_insurance_join_statuses_i18n.invert, {include_blank: true}, {class: "form-control"} %>
<br>
<%= f.label :business_employment_insurance_join_status %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
<%= f.collection_radio_buttons(:business_employment_insurance_join_status, Business.business_employment_insurance_join_statuses_i18n, :first, :last) %><br>
<br>
<%= f.label :business_employment_insurance_number %>
<%= f.text_field :business_employment_insurance_number, class: "form-control", placeholder: "Enter business_employment_insurance_number" %>
<br>
<%= f.label :business_retirement_benefit_mutual_aid_status %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
<%= f.collection_radio_buttons(:business_retirement_benefit_mutual_aid_status, Business.business_retirement_benefit_mutual_aid_statuses_i18n, :first, :last) %><br>
<br>
<%= f.label :construction_license_status %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<div id="available-form">
  <%= f.collection_radio_buttons(:construction_license_status, Business.construction_license_statuses_i18n, :first, :last) %><br>
</div>
<!-- BusinessIndustryここから -->
<div id="hidden-form" class="list-group">
  <div class="list-group-item">
    <%= f.fields_for :business_industries do |b_industry| %>
      <%= render "business_industry_fields", f: b_industry %>
    <% end %>
    <div id="license-insertion-point"></div>
    <%= link_to_add_association "＋フォーム追加", f, :business_industries,
      data: {
        association_insertion_node: '#license-insertion-point',
        association_insertion_method: 'append'
      }
    %>
  </div>
</div>
<!-- BusinessIndustryここまで -->
<br>
<%= f.label :specific_skilled_foreigners_exist %><br>
<%= f.collection_radio_buttons(:specific_skilled_foreigners_exist, Business.specific_skilled_foreigners_exists_i18n, :first, :last) %><br>
<br>
<%= f.label :foreign_construction_workers_exist %><br>
<%= f.collection_radio_buttons(:foreign_construction_workers_exist, Business.foreign_construction_workers_exists_i18n, :first, :last) %><br>
<br>
<%= f.label :foreign_technical_intern_trainees_exist %><br>
<%= f.collection_radio_buttons(:foreign_technical_intern_trainees_exist, Business.foreign_technical_intern_trainees_exists_i18n, :first, :last) %><br>
<br>
<%= f.label :employment_manager_name %> <!-- 雇用管理責任者 -->
<%= f.text_field :employment_manager_name, class: "form-control", placeholder: "雇用管理責任者" %>
<br>
<br>

<%= f.hidden_field :user_id, value: current_user.id %>

<script>
//建設許可証の有無によってフォームの表示・非表示の切り替え
  const available_form = document.getElementById('available-form')
  const list_group = document.getElementById('hidden-form')
  function getRadioHealthInsuranceName(object) {
    const value = $('input[name="business[construction_license_status]"]:checked').val();
    if (value == 'available'){
      list_group.classList.remove('hidden');
    } else {
      list_group.classList.add('hidden');
    }
  };
  getRadioHealthInsuranceName(available_form); //ページの読み込み時に判定

  $('input[name="business[construction_license_status]"]').change(function() {
    if ($(this).val() == 'available') {
      list_group.classList.remove('hidden');
    } else {
      list_group.classList.add('hidden');
    }
  });


// フォームを29個まで制限かける（実装途中）
  // $(function() {
  //   var max_fields = 29;
  //   var current_fields = $('form .nested-fields').length;

  //   $('#new_sample').on('cocoon:after-insert', function() {
  //     current_fields++;

  //     if (current_fields >= max_fields) {
  //       $('form .links').hide();
  //     }
  //   });

  //   $('#new_sample').on('cocoon:after-remove', function() {
  //     current_fields--;

  //     if (current_fields < max_fields) {
  //       $('form .links').show();
  //     }
  //   });
  // });
</script>

<script>
  $(function(){
    $.each(function(key){
      $.validator.addMethod(key, this);
    });
    $(".business-form-validation").validate({
      rules: {
        "business[uuid]": {
          required: true
        },
        "business[name]": {
          required: true
        },
        "business[name_kana]": {
          required: true
        },
        "business[representative_name]": {
          required: true
        },
        "business[email]": {
          required: true
        },
        "business[address]": {
          required: true
        },
        "business[post_code]": {
          required: true
        },
        "business[phone_number]": {
          required: true
        },
        "business[business_type]": {
          required: true
        },
        "business[occupation_ids][]": {
          required: true
        },
        "business[business_health_insurance_status]": {
          required: true
        },
        "business[business_welfare_pension_insurance_join_status]": {
          required: true
        },
        "business[business_pension_insurance_join_status]": {
          required: true
        },
        "business[business_employment_insurance_join_status]": {
          required: true
        },
        "business[business_retirement_benefit_mutual_aid_status]": {
          required: true
        },
        "business[construction_license_status]": {
          required: true
        },
        "business[industry_ids][]": {
          required: true
        },
        "business[tem_industry_ids][]": {
          required: true
        },
        "business[occupation_ids][]": {
          required: true
        },
        "business[construction_license_permission_type_minister_governor]": {
          required: true
        },
        "business[construction_license_governor_permission_prefecture]": {
          required: true
        },
        "business[construction_license_permission_type_identification_general]": {
          required: true
        },
        "business[construction_license_number_double_digit]": {
          required: true
        },
        "business[construction_license_number_six_digits]": {
          required: true
        },
        "business[construction_license_number]": {
          required: true
        },
        "business[construction_license_updated_at]": {
          required: true
        }
      },
      messages: {
        "business[uuid]": {
          required: "事業所IDを入力してください。"
        },
        "business[name]": {
          required: "事業所名を入力してください。"
        },
        "business[name_kana]": {
          required: "事業所名(カナ)を入力してください。"
        },
        "business[representative_name]": {
          required: "代表者名を入力してください。"
        },
        "business[email]": {
          required: "事業所メールアドレスを入力してください。"
        },
        "business[address]": {
          required: "住所を入力してください。"
        },
        "business[post_code]": {
          required: "郵便番号を入力してください。"
        },
        "business[phone_number]": {
          required: "電話番号を入力してください。"
        },
        "business[business_type]": {
          required: "どれか一つを選択してください。"
        },
        "business[occupation_ids][]": {
          required: "職種を選択してください。"
        },
        "business[business_health_insurance_status]": {
          required: "どれか一つを選択してください。"
        },
        "business[business_welfare_pension_insurance_join_status]": {
          required: "どれか一つを選択してください。"
        },
        "business[business_pension_insurance_join_status]": {
          required: "どれか一つを選択してください。"
        },
        "business[business_employment_insurance_join_status]": {
          required: "どれか一つを選択してください。"
        },
        "business[business_retirement_benefit_mutual_aid_status]": {
          required: "どちらかを選択してください。"
        },
        "business[construction_license_status]": {
          required: "どちらかを選択してください。"
        },
        "business[industry_ids][]": {
          required: "業種を選択してください。"
        },
        "business[tem_industry_ids][]": {
          required: "業種を選択してください。"
        },
        "business[occupation_ids][]": {
          required: "職種を選択してください。"
        },
        "business[construction_license_permission_type_minister_governor]": {
          required: "どちらかを選択してください。"
        },
        "business[construction_license_governor_permission_prefecture]": {
          required: "どれか一つを選択してください。"
        },
        "business[construction_license_permission_type_identification_general]": {
          required: "どちらかを選択してください。"
        },
        "business[construction_license_number_double_digit]": {
          required: "2桁の番号を入力してください。"
        },
        "business[construction_license_number_six_digits]": {
          required: "6桁以下の番号を入力してください。"
        },
        "business[construction_license_updated_at]": {
          required: "日付を選択してください。"
        }
      },
      errorClass: "input_form_error"
    });
    // 入力欄を変更したときにバリデーションを実行
    $(".business-form-validation").change(function () {
      $(this).valid();
    });
  });
</script>

<script>
  $(document).ready(function(){
    var isInitialized = false;
    function initializeSelect2() { // 要素が表示されるまで待つ
      $('#parent-select, #child-select').select2({
        width: 'resolve',
        theme: 'classic',
        multiple: 'multiple',
        allowClear: true
      });  
        $('#parent-select').on('change', function() { // 親セレクトボックスに変更があれば
          var category_id = $(this).val();
          var child_select = $('#child-select');
          var selectedValues = [];
          $('#child-select option:selected').each(function() { // 既定の子セレクトボックスの選択内容を一時保存
            selectedValues.push($(this).val());
          });
          
          if(category_id){
            $.ajax({
              url: '/users/business/occupation_select',
              type: 'GET',
              dataType: 'html', // HTML形式で返される
              data: {industry_ids: category_id},
              success: function(data) {
                var options = '<option value=""></option>'; // 初期化
                $('<div>').html(data).find('option').each(function() {
                  var child = $(this);
                  var selected = '';
                  if (selectedValues.indexOf(child.val().toString()) >= 0) { // 既定の入力が内容あれば選択中状態に
                    selected = 'selected';
                  }
                  options += '<option value="' + child.val() + '"' + selected + '>' + child.text() + '</option>';
                });
                $('#child-select').html(options);
                child_select.select2({
                  width: 'resolve',
                  theme: 'classic',
                  multiple: 'multiple',
                  allowClear: true
                });
              }
            });
          }
        });
      isInitialized = true;
    }
      
    var checkExist = setInterval(function() {
      if ($('#parent-select, #child-select').length && !isInitialized) {
        clearInterval(checkExist);
        initializeSelect2();
      }
    }, 100); // 100 ミリ秒ごとにチェックする
  });
</script>