<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  <!-- validateプラグインの読み込み -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<%= render 'shared/error_massages', object: f.object %>

<!-- 会社情報 -->
<div class="list-group-item">
  <div style="font-size: 22px; font-weight: bold;"><%= f.label :business_info %></div>
  <div class="list-group-item">
    <%= f.label :business_type %><!--会社形態-->
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
    <div class="list-group-item">
      <%= f.collection_radio_buttons(:business_type, Business.business_types_i18n, :first, :last, item_wrapper_class: 'radio-button-item') do |b| %>
        <%= b.label(class: 'radio-button-label') { b.radio_button + ' ' + b.text } %><br>
      <% end %>
    </div>
    <br>
    <%= f.label :name %><!-- 会社名 -->
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.text_field :name, class: "form-control" %>
    <br>
    <%= f.label :name_kana %><!-- 会社名(カナ) -->
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.text_field :name_kana, class: "form-control" %>
    <br>
    <%= f.label :branch_name %><!-- 支店名 又は 営業所名 -->
    <%= f.text_field :branch_name, class: "form-control" %>
    <br>
    <%= f.label :career_up_id %><!--事業者ID(キャリアアップシステム)-->
    <%= f.text_field :career_up_id, class: "form-control", minlength: 14, maxlength: 14 %>
    <br>
    <%= f.label :career_up_card_copy %><br><!--キャリアアップシステムカードの写し-->
    <% if business.career_up_card_copy.present? %>
      <% business.career_up_card_copy.each_with_index do |image, index| %>
        <%= image_tag(image.url) %>
        <%= link_to "削除", update_career_up_card_copy_users_business_path(index: index), method: :patch, data: { confirm: "本当に削除してもよろしいですか？" } %>
      <% end %>
      <br>
    <% end %>
    <%= f.file_field :career_up_card_copy, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: "form-control" %>
    <br>
    <%= f.label :representative_name %><!-- 代表者名 -->
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.text_field :representative_name, class: "form-control" %>
    <br>
    <%= f.label :post_code %><!-- 郵便番号 -->
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.text_field :post_code, class: "form-control" %>
    <br>
    <%= f.label :address %><!-- 住所 -->
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.text_field :address, class: "form-control" %>
    <br>
    <%= f.label :phone_number %><!-- 電話番号 -->
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.telephone_field :phone_number, class: "form-control" %>
    <br>
    <%= f.label :fax_number %><!-- FAX -->
    <%= f.telephone_field :fax_number, class: "form-control" %>
    <br>
    <!--<%= f.label :email %>
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.email_field :email, class: "form-control", placeholder: "Enter email" %>-->
    <%= f.label :stamp_images %><br><!-- 社印 -->
    <% if business.stamp_images.present? %>
      <% business.stamp_images.each_with_index do |image, index| %>
        <%= image_tag(image.url) %>
        <%= link_to "削除", update_stamp_images_users_business_path(index: index), method: :patch, data: { confirm: "本当に削除してもよろしいですか？" } %>
      <% end %>
      <br>
    <% end %>
    <%= f.file_field :stamp_images, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: "form-control stamp-images-input" %>
    <br>
    <%= f.label :industry_ids %><!-- 業種 -->
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.collection_select :tem_industry_ids, Industry.all, :id, :name, { selected: @business.tem_industry_ids }, { class: 'form-control select2', id: 'parent-select', multiple: true, style: "width: 100%" } %>
    <br>
    <br>
    <%= f.label :occupation_ids %><!-- 職種 -->
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.collection_select :occupation_ids, get_occupations_for_selected_industries, :id, :short_name, { selected: @business.occupations.ids }, { class: 'form-control select2', id: 'child-select', multiple: true, style: "width: 100%" } %>
    <br>
    <br>
    <%= f.label :employment_manager_name %> <!-- 雇用管理責任者 -->
    <%= f.select :employment_manager_name, (@business_workers_name&.uniq || []),
                  { include_blank: true },
                  { class: "form-select form-select-sm", style: "width: 100%" }
    %><br>
  </div>
</div>

<div class="list-group-item">
  <div style="font-size: 22px; font-weight: bold;"><%= f.label :social_insurance_info %></div><!-- 社会保険情報 -->
  <div class="list-group-item">
    <div><%= f.label :business_health_insurance %></div><!-- 健康保険 -->
    <div class="list-group-item">
      <%= f.label :business_health_insurance_status %><!-- 加入状況 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
      <div id="available-form-health-insurance" class="list-group-item">
        <%= f.collection_radio_buttons(:business_health_insurance_status, Business.business_health_insurance_statuses_i18n, :first, :last, item_wrapper_class: 'radio-button-item') do |b| %>
          <%= b.label(class: 'radio-button-label') { b.radio_button + ' ' + b.text } %><br>
        <% end %>
      </div>
      <br>
      <div id="hidden-form-health-insurance">
        <div class="list-group">
          <%= f.label :business_health_insurance_association %><!-- 組合名 -->
          <span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
          <%= f.text_field :business_health_insurance_association, class: "form-control" %>
        </div><br>
        <div class="list-group">
          <%= f.label :business_health_insurance_office_number %><!-- 事業所整理記号及び事業所番号 -->
          <span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
          <%= f.text_field :business_health_insurance_office_number, class: "form-control" %>
        </div>
        <br>
      </div>
    </div>
  </div>

  <div class="list-group-item">
    <div><%= f.label :business_welfare_pension_insurance %></div><!-- 厚生年金保険 -->
    <div class="list-group-item">
      <%= f.label :business_welfare_pension_insurance_join_status %><!-- 加入状況 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
      <div id="available-form-welfare-pension-insurance" class="list-group-item">
        <%= f.collection_radio_buttons(:business_welfare_pension_insurance_join_status, Business.business_welfare_pension_insurance_join_statuses_i18n, :first, :last, item_wrapper_class: 'radio-button-item') do |b| %>
          <%= b.label(class: 'radio-button-label') { b.radio_button + ' ' + b.text } %><br>
        <% end %>
      </div>
      <br>
      <div id="hidden-form-welfare-pension-insurance">
        <%= f.label :business_welfare_pension_insurance_office_number %><!-- 事業所整理番号 -->
        <span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
        <%= f.text_field :business_welfare_pension_insurance_office_number, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="list-group-item">
    <div><%= f.label :business_employment_insurance %></div><!-- 雇用保険 -->
    <div class="list-group-item">
      <%= f.label :business_employment_insurance_join_status %><!-- 加入状況 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
      <div id="available-form-employmentーinsurance" class="list-group-item">
        <%= f.collection_radio_buttons(:business_employment_insurance_join_status, Business.business_employment_insurance_join_statuses_i18n, :first, :last, item_wrapper_class: 'radio-button-item') do |b| %>
          <%= b.label(class: 'radio-button-label') { b.radio_button + ' ' + b.text } %><br>
        <% end %>
      </div>
      <br>
      <div id="hidden-form-employmentーinsurance">
        <%= f.label :business_employment_insurance_number %><!-- 番号 -->
        <span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
        <%= f.text_field :business_employment_insurance_number, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="list-group-item">
    <div><%= f.label :business_retirement_benefit_mutual_aid %></div><!-- 退職金共済制度 -->
    <div class="list-group-item">
      <%= f.label :business_retirement_benefit_mutual_aid_status %>
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
      <div class="list-group-item">
        <%= f.collection_radio_buttons(:business_retirement_benefit_mutual_aid_status, Business.business_retirement_benefit_mutual_aid_statuses_i18n, :first, :last, item_wrapper_class: 'radio-button-item') do |b| %>
          <%= b.label(class: 'radio-button-label') { b.radio_button + ' ' + b.text } %><br>
        <% end %>
      </div>
      <br>
    </div>
  </div>

  <div class="list-group-item">
    <%= f.label :construction_license_status %>
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <div class="list-group-item">
      <div id="available-form">
        <%= f.collection_radio_buttons(:construction_license_status, Business.construction_license_statuses_i18n, :first, :last) %><br>
        <div id="error" class="text-red">【エラー】：残っているフォームを削除してからチェックを変更してください。</div>
      </div>
    </div>
  </div>

<!-- BusinessIndustryここから（建設許可証「有」かつデータがまだ無い場合は、一つのフォームのみデフォルトで表示） -->
<div id="hidden-form" class="list-group">
  <div class="list-group-item">
    <% if f.object.business_industries.size == 0 %>
      <%= f.fields_for :business_industries, BusinessIndustry.new do |b_industry| %>
        <%= render "business_industry_fields", f: b_industry %>
      <% end %>
    <% else %>
      <%= f.fields_for :business_industries do |b_industry| %>
        <%= render "business_industry_fields", f: b_industry %>
      <% end %>
    <% end %>
    <div id="license-insertion-point"></div>
    <%= link_to_add_association "＋フォーム追加", f, :business_industries, id: "form-link",
      data: {
        association_insertion_node: '#license-insertion-point',
        association_insertion_method: 'append'
      }
    %>
  </div>
</div>
<!-- BusinessIndustryここまで -->

<div class="list-group-item">
  <div style="font-size: 22px; font-weight: bold;"><%= f.label :foreign_construction_workers %></div><!-- 外国人建設就労者 -->
  <div class="list-group-item">
    <%= f.label :foreign_work_status_exist %><!-- 外国人就労の有無 -->
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
    <div class="list-group-item">
      <div id="available-form-foreign-work">
        <% Business.foreign_work_status_exists_i18n.each do |key, value| %>
          <%= f.radio_button :foreign_work_status_exist, key, id: "foreign_work_status_exist_#{key}" %>
          <%= label_tag "foreign_work_status_exist_#{key}", value %>
          <span class="radio-spacing"></span>
        <% end %>
      </div>
    </div>
    <br>
    <div id="hidden-form-foreign-work">
      <%= f.label :specific_skilled_foreigners_exist %><!-- 一号特定技能外国人従事状況 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
      <div class="list-group-item">
        <% Business.specific_skilled_foreigners_exists_i18n.each do |key, value| %>
          <%= f.radio_button :specific_skilled_foreigners_exist, key, id: "specific_skilled_foreigners_exist_#{key}" %>
          <%= label_tag "specific_skilled_foreigners_exist_#{key}", value %>
          <span class="radio-spacing"></span>
        <% end %>
      </div>
      <br>
      <%= f.label :foreign_construction_workers_exist %><!-- 外国人建設就労者従事状況 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
      <div class="list-group-item">
        <% Business.foreign_construction_workers_exists_i18n.each do |key, value| %>
          <%= f.radio_button :foreign_construction_workers_exist, key, id: "foreign_construction_workers_exist_#{key}" %>
          <%= label_tag "foreign_construction_workers_exist_#{key}", value %>
          <span class="radio-spacing"></span>
        <% end %>
      </div>
      <br>
      <%= f.label :foreign_technical_intern_trainees_exist %><!-- 外国人技能実習生従事状況 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
      <div class="list-group-item">
        <% Business.foreign_technical_intern_trainees_exists_i18n.each do |key, value| %>
          <%= f.radio_button :foreign_technical_intern_trainees_exist, key, id: "foreign_technical_intern_trainees_exist_#{key}" %>
          <%= label_tag "foreign_technical_intern_trainees_exist_#{key}", value %>
          <span class="radio-spacing"></span>
        <% end %>
      </div>
      <br>
      <%= f.label :foreigners_employment_manager %><!-- 外国人雇用管理責任者名 -->
      <div class="list-group-item">
        <%= f.select :foreigners_employment_manager, (@business_workers_name&.uniq || []),
                      { include_blank: true },
                      { class: "form-select form-select-sm", style: "width: 100%" }
        %><br>
      </div>
      <br>
    </div>
  </div>
</div>

<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.hidden_field :email, value: current_user.email %>

<script>
//健康保険の加入状況によってフォームの表示・非表示の切り替え
  const available_form_health_insurance = document.getElementById('available-form-health-insurance')
  const list_group_health_insurance = document.getElementById('hidden-form-health-insurance')
  function getRadioBusinessHealthInsuranceStatus(object) {
    const value = $('input[name="business[business_health_insurance_status]"]:checked').val();
    if (value == 'join'){
      list_group_health_insurance.classList.remove('hidden');
    } else {
      list_group_health_insurance.classList.add('hidden');
    }
  };
  getRadioBusinessHealthInsuranceStatus(available_form_health_insurance); //ページの読み込み時に判定
  $('input[name="business[business_health_insurance_status]"]').change(function() {
    if ($(this).val() == 'join') {
      list_group_health_insurance.classList.remove('hidden');
    } else {
      list_group_health_insurance.classList.add('hidden');
    }
  });

//厚生年金保険の加入状況によってフォームの表示・非表示の切り替え
  const available_form_welfare_pension_insurance = document.getElementById('available-form-welfare-pension-insurance')
  const list_group_welfare_pension_insurance = document.getElementById('hidden-form-welfare-pension-insurance')
  function getRadioBusinessWelfarePensionInsuranceJoinStatus(object) {
    const value = $('input[name="business[business_welfare_pension_insurance_join_status]"]:checked').val();
    if (value == 'join'){
      list_group_welfare_pension_insurance.classList.remove('hidden');
    } else {
      list_group_welfare_pension_insurance.classList.add('hidden');
    }
  };
  getRadioBusinessWelfarePensionInsuranceJoinStatus(available_form_welfare_pension_insurance); //ページの読み込み時に判定
  $('input[name="business[business_welfare_pension_insurance_join_status]"]').change(function() {
    if ($(this).val() == 'join') {
      list_group_welfare_pension_insurance.classList.remove('hidden');
    } else {
      list_group_welfare_pension_insurance.classList.add('hidden');
    }
  });

//雇用保険の加入状況によってフォームの表示・非表示の切り替え
  const available_form_employment_insurance = document.getElementById('available-form-employmentーinsurance')
  const list_group_employment_insurance = document.getElementById('hidden-form-employmentーinsurance')
  function getRadioBusinessEmploymentInsuranceJoinStatus(object) {
    const value = $('input[name="business[business_employment_insurance_join_status]"]:checked').val();
    if (value == 'join'){
      list_group_employment_insurance.classList.remove('hidden');
    } else {
      list_group_employment_insurance.classList.add('hidden');
    }
  };
  getRadioBusinessEmploymentInsuranceJoinStatus(available_form_employment_insurance); //ページの読み込み時に判定
  $('input[name="business[business_employment_insurance_join_status]"]').change(function() {
    if ($(this).val() == 'join') {
      list_group_employment_insurance.classList.remove('hidden');
    } else {
      list_group_employment_insurance.classList.add('hidden');
    }
  });

//外国人就労者の有無によってフォームの表示・非表示の切り替え
  const available_form_foreign_work = document.getElementById('available-form-foreign-work')
  const list_group_foreign_work = document.getElementById('hidden-form-foreign-work')
  function getRadioForeignWorkStatusExist(object) {
    const value = $('input[name="business[foreign_work_status_exist]"]:checked').val();
    if (value == 'available'){
      list_group_foreign_work.classList.remove('hidden');
    } else {
      list_group_foreign_work.classList.add('hidden');
    }
  };
  getRadioForeignWorkStatusExist(available_form_foreign_work); //ページの読み込み時に判定
  $('input[name="business[foreign_work_status_exist]"]').change(function() {
    if ($(this).val() == 'available') {
      list_group_foreign_work.classList.remove('hidden');
    } else {
      list_group_foreign_work.classList.add('hidden');
    }
  });
</script>

<script>
//建設許可証の有無によってフォームの表示・非表示の切り替え
  const available_form = document.getElementById('available-form')
  const list_group = document.getElementById('hidden-form')
  const error = document.getElementById('error')
  function getRadioHealthInsuranceName(object) {
    const value = $('input[name="business[construction_license_status]"]:checked').val();
    if (value == 'available'){
      list_group.classList.remove('hidden');
      //建設許可証「有」をチェック時は、エラー文を非表示

      error.classList.add('hidden');
    } else {
      list_group.classList.add('hidden');
      //建設許可証「無」をチェック、かつフォームが残っている場合は、エラー文を表示し残フォーム削除を促す（nilが送信されてしまう為）
      if ($("#nest-field").length) {
        error.classList.remove('hidden');
      }
    }
  };
  getRadioHealthInsuranceName(available_form); //ページの読み込み時に判定

  $('input[name="business[construction_license_status]"]').change(function() {
    if ($(this).val() == 'available') {
      list_group.classList.remove('hidden');
      error.classList.add('hidden');
    } else {
      list_group.classList.add('hidden');
      if ($("#nest-field").length) {
        error.classList.remove('hidden');
      }
    }
  });

// 建設許可証のフォーム追加を29個までで制限かける（実装途中）
  // $(document).on('turbolinks:load', function() {
  //   var maxForms = 4;
  //   var formsCount = $('#nest-field').length;
  //   updateAddButtonState(formsCount);

  //   $('#hidden-form').on('cocoon:after-insert', function(e, insertedItem) {
  //     formsCount = $('#nest-field').length;
  //     updateAddButtonState(formsCount);
  //   });

  //   function updateAddButtonState(count) {
  //     if (count >= maxForms) {
  //       $('#form-link').addClass('disabled').off('click');
  //     } else {
  //       $('#form-link').removeClass('disabled').on('click', function() {
  //         return true;
  //       });
  //     }
  //   }
  // });
</script>

<script>
  $(document).ready(function(){
    $.each(function(key){
      $.validator.addMethod(key, this);
    });
    $(".business-form-validation").validate({
      rules: {
        "business[uuid]": {
          required: true
        },
        "business[name]": {
          required: true
        },
        "business[name_kana]": {
          required: true
        },
        "business[representative_name]": {
          required: true
        },
        "business[address]": {
          required: true,
          maxlength: 50
        },
        "business[post_code]": {
          required: true
        },
        "business[phone_number]": {
          required: true
        },
        "business[business_type]": {
          required: true
        },
        "business[career_up_id]": {
          minlength: 14
        },
        "business[tem_industry_ids][]": {
          required: true
        },
        "business[occupation_ids][]": {
          required: true
        },
        // "business[employment_manager_name]": {
        //   required: true
        // },
        "business[business_health_insurance_status]": {
          required: true
        },
        "business[business_health_insurance_association]": {
          required: true,
          maxlength: 20
        },
        "business[business_health_insurance_office_number]": {
          required: true
        },
        "business[business_welfare_pension_insurance_join_status]": {
          required: true
        },
        "business[business_welfare_pension_insurance_office_number]": {
          required: true
        },
        "business[business_employment_insurance_join_status]": {
          required: true
        },
        "business[business_employment_insurance_number]": {
          required: true
        },
        "business[business_retirement_benefit_mutual_aid_status]": {
          required: true
        },
        "business[construction_license_status]": {
          required: true
        },
        "business[business_industries_attributes][construction_license_permission_type_minister_governor]": {
          required: true
        },
        "business[business_industries_attributes][construction_license_governor_permission_prefecture]": {
          required: true
        },
        "business[business_industries_attributes][construction_license_permission_type_identification_general]": {
          required: true
        },
        "business[business_industries_attributes][construction_license_number_double_digit]": {
          required: true,
        },
        "business[business_industries_attributes][construction_license_number_six_digits]": {
          required: true
        },
        "business[business_industries_attributes][construction_license_number]": {
          required: true
        },
        "business[business_industries_attributes][construction_license_updated_at]": {
          required: true
        },
        "business[foreign_work_status_exist]": {
          required: true
        },
        "business[specific_skilled_foreigners_exist]": {
          required: true
        },
        "business[foreign_construction_workers_exist]": {
          required: true
        },
        "business[foreign_technical_intern_trainees_exist]": {
          required: true
        },
        // "business[foreigners_employment_manager]": {
        //   required: true
        // },
      },
      messages: {
        "business[uuid]": {
          required: "事業所IDを入力してください。"
        },
        "business[name]": {
          required: "会社名を入力してください。"
        },
        "business[name_kana]": {
          required: "会社名(カナ)を入力してください。"
        },
        "business[representative_name]": {
          required: "代表者名を入力してください。"
        },
        "business[address]": {
          required: "住所を入力してください。",
          maxlength: "50文字以内で入力してください。"
        },
        "business[post_code]": {
          required: "郵便番号を入力してください。"
        },
        "business[phone_number]": {
          required: "電話番号を入力してください。"
        },
        "business[business_type]": {
          required: "どれか一つを選択してください。"
        },
        "business[career_up_id]": {
          minlength: "14桁で入力してください。"
        },
        "business[occupation_ids][]": {
          required: "職種を選択してください。"
        },
        // "business[employment_manager_name]": {
        //   required: "雇用管理責任者を選択してください。"
        // },
        "business[business_health_insurance_status]": {
          required: "どれか一つを選択してください。"
        },
        "business[business_health_insurance_association]": {
          required: "組合名を入力してください。",
          maxlength: "20文字以内で入力してください。"
        },
        "business[business_health_insurance_office_number]": {
          required: "事業所整理記号及び事業所番号を入力してください。"
        },
        "business[business_welfare_pension_insurance_join_status]": {
          required: "どれか一つを選択してください。"
        },
        "business[business_welfare_pension_insurance_office_number]": {
          required: "事業所整理番号を入力してください。"
        },
        "business[business_employment_insurance_join_status]": {
          required: "どれか一つを選択してください。"
        },
        "business[business_employment_insurance_number]": {
          required: "番号を入力してください。"
        },
        "business[business_retirement_benefit_mutual_aid_status]": {
          required: "どちらかを選択してください。"
        },
        "business[construction_license_status]": {
          required: "どちらかを選択してください。"
        },
        "business[tem_industry_ids][]": {
          required: "業種を選択してください。"
        },
        "business[occupation_ids][]": {
          required: "職種を選択してください。"
        },
        "business[business_industries_attributes][construction_license_permission_type_minister_governor]": {
          required: "どちらかを選択してください。"
        },
        "business[business_industries_attributes][construction_license_governor_permission_prefecture]": {
          required: "どれか一つを選択してください。"
        },
        "business[business_industries_attributes][construction_license_permission_type_identification_general]": {
          required: "どちらかを選択してください。"
        },
        "business[business_industries_attributes][construction_license_number_double_digit]": {
          required: "2桁の番号を入力してください。",
        },
        "business[business_industries_attributes][construction_license_number_six_digits]": {
          required: "6桁以下の番号を入力してください。",
        },
        "business[business_industries_attributes][construction_license_updated_at]": {
          required: "日付を選択してください。"
        },
        "business[foreign_work_status_exist]": {
          required: "どちらかを選択してください。"
        },
        "business[specific_skilled_foreigners_exist]": {
          required: "どちらかを選択してください。"
        },
        "business[foreign_construction_workers_exist]": {
          required: "どちらかを選択してください。"
        },
        "business[foreign_technical_intern_trainees_exist]": {
          required: "どちらかを選択してください。"
        },
        // "business[foreigners_employment_manager]": {
        //   required: "外国人雇用管理責任者名を選択してください。"
        // },
      },
      errorClass: "input_form_error",
      
      errorPlacement: function(error, element) {
        if (element.is(":radio")) {
          error.insertBefore(element.parent());
        } else {
          error.insertBefore(element);
        }     
      }
    });


    // 入力欄を変更したときにバリデーションを実行
    $(".business-form-validation").change(function () {
      $(this).valid();
    });
  });

  // $(document).on('blur', '.business-form-validation input[type="text"]', function() {
  //   $(this).rules('add', {
  //     required: true,
  //     messages: {
  //       required: "入力してください。"
  //     }
  //   });
  // });
  // $(document).on('change', '.business-form-validation input[type="radio"]', function() {
  //   var name = $(this).attr('name');
  //   $('input[name="' + name + '"]').rules('add', {
  //     required: true,
  //     messages: {
  //       required: "どちらかを選択してください。"
  //     }
  //   });
  // });
</script>

<script>
  $(document).ready(function(){
    var isInitialized = false;
    function initializeSelect2() { // 要素が表示されるまで待つ
      $('#parent-select, #child-select').select2({
        width: 'resolve',
        theme: 'classic',
        multiple: 'multiple',
        allowClear: true
      });
        $('#parent-select').on('change', function() { // 親セレクトボックスに変更があれば
          var category_id = $(this).val();
          var child_select = $('#child-select');
          var selectedValues = [];
          $('#child-select option:selected').each(function() { // 既定の子セレクトボックスの選択内容を一時保存
            selectedValues.push($(this).val());
          });

          if(category_id){
            $.ajax({
              url: '/users/business/occupation_select',
              type: 'GET',
              dataType: 'html', // HTML形式で返される
              data: {industry_id: category_id},
              success: function(data) {
                var options = '<option value=""></option>'; // 初期化
                $('<div>').html(data).find('option').each(function() {
                  var child = $(this);
                  var selected = '';
                  if (selectedValues.indexOf(child.val().toString()) >= 0) { // 既定の入力が内容あれば選択中状態に
                    selected = 'selected';
                  }
                  options += '<option value="' + child.val() + '"' + selected + '>' + child.text() + '</option>';
                });
                $('#child-select').html(options);
                child_select.select2({
                  width: 'resolve',
                  theme: 'classic',
                  multiple: 'multiple',
                  allowClear: true
                });
              }
            });
          }
        });
      isInitialized = true;
    }

    var checkExist = setInterval(function() {
      if ($('#parent-select, #child-select').length && !isInitialized) {
        clearInterval(checkExist);
        initializeSelect2();
      }
    }, 100); // 100 ミリ秒ごとにチェックする
  });
</script>
