<% provide(:title, "会社情報詳細") %>

<div class="card">
  <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
      <tbody>
        <tr>
          <th><%= Business.human_attribute_name(:uuid) %></th>
          <td><%= @business.uuid %></td>
        </tr>
        <tr>
          <th><%= Business.human_attribute_name(:name) %></th>
          <td><%= @business.name %></td>
        </tr>
        <tr>
          <th><%= Business.human_attribute_name(:name_kana) %></th>
          <td><%= @business.name_kana %></td>
        </tr>
        <tr>
          <th><%= Business.human_attribute_name(:branch_name) %></th>
          <td><%= @business.branch_name %></td>
        </tr>
        <tr>
          <th><%= Business.human_attribute_name(:representative_name) %></th>
          <td><%= @business.representative_name %></td>
        </tr>
        <tr>
          <th><%= Business.human_attribute_name(:email) %></th>
          <td><%= @business.email %></td>
        </tr>
        <tr>
          <th><%= Business.human_attribute_name(:address) %></th>
          <td><%= @business.address %></td>
        </tr>
        <tr>
          <th><%= Business.human_attribute_name(:post_code) %></th>
          <td><%= @business.post_code %></td>
        </tr>
        <tr>
          <th><%= Business.human_attribute_name(:phone_number) %></th>
          <td><%= @business.phone_number %></td>
        </tr>
        <tr>
          <th><%= Business.human_attribute_name(:carrier_up_id) %></th>
          <td><%= @business.carrier_up_id %></td>
        </tr>
        <tr>
          <th><%= Business.human_attribute_name(:business_type) %></th>
          <td><%= @business.business_type_i18n %></td>
        </tr>
        <tr>
          <th><%= Business.human_attribute_name(:occupation_ids) %></th>
          <td><%= @business.occupations.pluck(:name).join(', ') %></td>
        </tr>
        <tr>
          <th><%= Business.human_attribute_name(:stamp_images) %></th>
          <td>
            <% @business.stamp_images.each do |image| %>
              <%= image_tag(image.url) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th><%= Business.human_attribute_name(:business_health_insurance_status) %></th>
          <td><%= @business.business_health_insurance_status_i18n %></td>
        </tr>
        <tr>
          <th><%= Business.human_attribute_name(:business_health_insurance_association) %></th>
          <td><%= @business.business_health_insurance_association %></td>
        </tr>
        <tr>
          <th><%= Business.human_attribute_name(:business_health_insurance_office_number) %></th>
          <td><%= @business.business_health_insurance_office_number %></td>
        </tr>
        <tr>
          <th><%= Business.human_attribute_name(:business_welfare_pension_insurance_join_status) %></th>
          <td><%= @business.business_welfare_pension_insurance_join_status_i18n %></td>
        </tr>
        <tr>
          <th><%= Business.human_attribute_name(:business_welfare_pension_insurance_office_number) %></th>
          <td><%= @business.business_welfare_pension_insurance_office_number %></td>
        </tr>
        <tr>
          <th><%= Business.human_attribute_name(:business_pension_insurance_join_status) %></th>
          <td><%= @business.business_pension_insurance_join_status_i18n %></td>
        </tr>
        <tr>
          <th><%= Business.human_attribute_name(:business_employment_insurance_join_status) %></th>
          <td><%= @business.business_employment_insurance_join_status_i18n %></td>
        </tr>
        <tr>
          <th><%= Business.human_attribute_name(:business_employment_insurance_number) %></th>
          <td><%= @business.business_employment_insurance_number %></td>
        </tr>
        <tr>
          <th><%= Business.human_attribute_name(:business_retirement_benefit_mutual_aid_status) %></th>
          <td><%= @business.business_retirement_benefit_mutual_aid_status_i18n %></td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="card-footer">
    <%= link_to "編集", edit_users_business_path, class: "btn btn-md btn-block btn-success" %>
    <%= link_to "戻る", users_dash_boards_path, class: "btn btn-md btn-block btn-default" %>
  </div>
</div>
