<!-- (10)高齢者就労報告書 -->
<h1 align="center">編集中</h1>
<%= form_with model: @document, url: users_request_order_document_path, method: :patch, local: true do |f| %>
  <div class="card">
    <div class="card-body">
      <%= f.submit '登録', class: 'btn btn-block btn-primary' %>
      <%= link_to '詳細画面へ', users_request_order_document_url, class: "btn btn-md btn-block btn-default" %>
    </div>
  </div>

  <body>
  <div class="ritz grid-container" dir="ltr" style="width: 100%;">
    <table class="waffle no-grid" cellspacing="0" cellpadding="0">
      <tbody>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s1" colspan="9" rowspan="2">高齢者就労報告書</td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s1"></td>
          <td class="doc_10_s0"><font color="red">※ 緑枠は入力項目です。必要あれば入力してください。</font></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s2" colspan="5" rowspan="2">
          <div class="submission_date text-center">
            <p><span class="ml-3"><%= f.date_field name = 'content[date_submitted]', value:@document.content&.[]('date_submitted') %></span></p><!--「提出日(西暦)」10-001 -->
          </div>
          </td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s5" colspan="2" rowspan="2">事業所の名称</td>
          <td class="doc_10_s4" dir="ltr" colspan="6" rowspan="2"><%= document_site_info.site_name %></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s5" colspan="2" rowspan="2">所　長　名</td>
          <td class="doc_10_s6" colspan="5" rowspan="2"><%= document_site_info.site_agent_name %></td>
          <td class="doc_10_s5" rowspan="2">殿</td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s5" colspan="2" rowspan="2">一次会社名</td>
          <td class="doc_10_s6" dir="ltr" colspan="6" rowspan="2"><%= document_subcon_info_for_10th_11th_19th&.content&.[]("subcon_name") %></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s9" colspan="3" rowspan="2"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s6" dir="ltr" colspan="6" rowspan="2"><%= document_info&.content&.[]("subcon_name") %></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s10"></td>
          <td class="doc_10_s5" colspan="2">会社名(<%= sc_hierarchy(document_info)[0,1] %>)次</td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s5" colspan="2" rowspan="2">代表者名</td>
          <td class="doc_10_s6" dir="ltr" colspan="6" rowspan="2"><%= document_info&.content&.[]("subcon_representative_name") %></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s12"></td>
          <td class="doc_10_s12"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s12" colspan="9">貴作業所の工事を施工するにあたり、下記の者は高齢者（６５歳以上）ですが、弊社の</td>
          <td class="doc_10_s12"></td>
          <td class="doc_10_s12"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s13" colspan="10">責任において就労させますのでご報告致します。</td>
          <td class="doc_10_s13"></td>
          <td class="doc_10_s13"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s13" colspan="10">原則として危険有害業務には就かせませんが、やむをえず就労させる場合は、職長の</td>
          <td class="doc_10_s13"></td>
          <td class="doc_10_s13"></td>
          <td class="doc_10_s13"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s13" colspan="10">直接指導により、労働基準法、労働安全衛生法及び貴社の規定を遵守して作業させます。</td>
          <td class="doc_10_s13"></td>
          <td class="doc_10_s13"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s14">記</td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s21"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s21"></td>
        </tr>
        <tr style="height: 39px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s16" colspan="3">氏　名</td>
          <td class="doc_10_s16" colspan="4">生年月日</td>
          <td class="doc_10_s16" colspan="2">年齢(歳)</td>
          <td class="doc_10_s16" colspan="3">職　種</td>
          <td class="doc_10_s16" colspan="4">作業内容</td>
          <td class="doc_10_s0"></td>
        </tr>
        <% j = 1 %>
        <% document_info.field_workers.where(id: age_border(65)).each do |field_worker| %>
        <tr>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s16" colspan="3"><%= worker_str(field_worker, "name") %></td><!-- 65歳以上の「入場する作業員」10-008 -->
          <td class="doc_10_s16" colspan="4"><%= wareki(worker_str(field_worker, "birth_day_on")) %></td><!--「生年月日」10-009 -->
          <td class="doc_10_s16" colspan="2"><%= age_for_admission_date_start(field_worker) %></td><!--「年齢」10-010 -->
          <td class="doc_10_s16" colspan="3"><%= f.text_field name = "content[occupation_#{j.ordinalize}]", value: worker_str(field_worker, "occupation"), :placeholder => '例)職種' %></td><!--「職種」10-011 -->
          <td class="doc_10_s16" colspan="4"><%= f.text_field name = "content[work_notice_#{j.ordinalize}]", value:field_worker.content&.[]("work_notice"), :placeholder => '例)作業内容' %></td><!--「高年齢就労者・作業内容」10-012 -->
          <td class="doc_10_s0" ></td>
        </tr>
        <% j += 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
</body>
<% end %>
