<!-- (10)高齢者就労報告書 -->
<body>
  <div class="ritz grid-container" dir="ltr" style="width: 100%;">
    <table class="waffle no-grid" cellspacing="0" cellpadding="0">
      <tbody>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s1" colspan="9" rowspan="2">高齢者就労報告書</td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s1"></td>
          <td class="doc_10_s0"><font color="red">※ 緑枠は入力項目です。必要あれば入力してください。</font></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s2" colspan="5" rowspan="2"><%= wareki(@document.content&.[]("date_submitted")) %></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s5" colspan="2" rowspan="2">事業所の名称</td>
          <td class="doc_10_s4" dir="ltr" colspan="6" rowspan="2"><%= document_site_info.site_name %></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s5" colspan="2" rowspan="2">所　長　名</td>
          <td class="doc_10_s6" colspan="5" rowspan="2"><%= document_site_info.site_agent_name %></td>
          <td class="doc_10_s5" rowspan="2">殿</td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s5" colspan="2" rowspan="2">一次会社名</td>
          <td class="doc_10_s6" dir="ltr" colspan="6" rowspan="2"><%= document_site_info&.content&.[]("genecon_name") %></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s9" colspan="3" rowspan="2"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s6" dir="ltr" colspan="6" rowspan="2"><%= document_info&.content&.[]("subcon_name") %></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s10"></td>
          <td class="doc_10_s5" colspan="2">会社名(<%= sc_hierarchy(document_info)[0,1] %>)次</td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s5" colspan="2" rowspan="2">代表者名</td>
          <td class="doc_10_s6" dir="ltr" colspan="6" rowspan="2"><%= document_info&.content&.[]("subcon_representative_name") %></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s12"></td>
          <td class="doc_10_s12"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s12" colspan="9">貴作業所の工事を施工するにあたり、下記の者は高齢者（６５歳以上）ですが、弊社の</td>
          <td class="doc_10_s12"></td>
          <td class="doc_10_s12"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s13" colspan="10">責任において就労させますのでご報告致します。</td>
          <td class="doc_10_s13"></td>
          <td class="doc_10_s13"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s13" colspan="10">原則として危険有害業務には就かせませんが、やむをえず就労させる場合は、職長の</td>
          <td class="doc_10_s13"></td>
          <td class="doc_10_s13"></td>
          <td class="doc_10_s13"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s1"></td>
          <td class="doc_10_s13" colspan="10">直接指導により、労働基準法、労働安全衛生法及び貴社の規定を遵守して作業させます。</td>
          <td class="doc_10_s13"></td>
          <td class="doc_10_s13"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s14">記</td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
          <td class="doc_10_s0"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_10_s21"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s15"></td>
          <td class="doc_10_s21"></td>
        </tr>
        <tr style="height: 39px">
          <td class="doc_10_s0"></td>
          <td class="doc_10_s16" colspan="3">氏　名</td>
          <td class="doc_10_s16" colspan="4">生年月日</td>
          <td class="doc_10_s16" colspan="2">年齢(歳)</td>
          <td class="doc_10_s16" colspan="3">職　種</td>
          <td class="doc_10_s16" colspan="4">作業内容</td>
          <td class="doc_10_s0"></td>
        </tr>
        <% j = 1 %>
        <% document_info.field_workers.where(id: age_border(65)).each do |field_worker| %>
          <tr>
            <td class="doc_10_s0"></td>
            <td class="doc_10_s16" colspan="3"><%= worker_str(field_worker, "name") %></td><!-- 65歳以上の「入場する作業員」10-008 -->
            <td class="doc_10_s16" colspan="4"><%= worker_str(field_worker, "birth_day_on") %></td><!--「生年月日」10-009 -->
            <td class="doc_10_s16" colspan="2"><%= age_for_admission_date_start(field_worker) %></td><!--「年齢」10-010 -->
            <td class="doc_10_s16" colspan="3"><%= field_worker.content&.[]("occupation") %></td><!--「職種」10-011 -->
            <td class="doc_10_s16" colspan="4"><%= field_worker.content&.[]("work_notice")%></td><!--「高年齢就労者・作業内容」10-012 -->
            <td class="doc_10_s0" ></td>
          </tr>
        <% j += 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
</body>