<!-- (23)全建統一様式第8号(安全ミーティング報告書) -->
<div class="ritz grid-container" dir="ltr">
  <table class="waffle" cellspacing="0" cellpadding="0">
    <tbody>
      <tr style="height: 19px">
        <td class="doc_23_s2" colspan="44"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s2"></td>
        <td class="doc_23_s3" dir="ltr" colspan="7"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
      </tr>
        <td class="doc_23_s4"></td>
        <td class="doc_23_s0" dir="ltr" colspan="7">全建統一様式第8号</td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s2"></td>
        <td class="doc_23_s2" dir="ltr" colspan="42" rowspan="2">安全ミーティング報告書</td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s2"></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s2" colspan="44"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s2"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s2"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s4"></td>
        <td class="doc_23_s5" dir="ltr" colspan="5" rowspan="2">一 次 請 負<br>会　社　名</td>
        <td class="doc_23_s6_" dir="ltr" colspan="11" rowspan="2"><%= document_site_info.business.name %><!--「一次会社名」23-001 --></td>
        <td class="doc_23_s5" dir="ltr" colspan="10">元請確認欄</td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s2"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s4"></td>
        <td class="doc_23_s5" dir="ltr" colspan="3">総責者</td>
        <td class="doc_23_s5" dir="ltr" colspan="3">元管者</td>
        <td class="doc_23_s5" dir="ltr" colspan="4">工事担当者</td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s2"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s4"></td>
        <td class="doc_23_s5" dir="ltr" colspan="5" rowspan="2">施 工 会 社 名</td>
        <td class="doc_23_s6_" dir="ltr" colspan="11" rowspan="2"><%= document_info.content&.[]('subcon_name') %><!--「会社名」23-002--></td>
        <td class="doc_23_s7" dir="ltr" colspan="3" rowspan="3">
          <%= @document.content&.[]('prime_contractor_confirmation_general_safety_responsible_person')%>
        </td><!--「元請会社の確認欄」23-005 -->
        <td class="doc_23_s7" dir="ltr" colspan="3" rowspan="3">
          <%= @document.content&.[]('prime_contractor_confirmation_health_and_safety_manager')%>
        </td><!--「元請会社の確認欄」23-007 -->
        <td class="doc_23_s7" dir="ltr" colspan="4" rowspan="3">
          <%= @document.content&.[]('prime_contractor_confirmation_site_agent')%>
        </td><!--「元請会社の確認欄」23-009 -->
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s2"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s4"></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s2"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s4"></td>
        <td class="doc_23_s5" dir="ltr" colspan="5" rowspan="2">職 長 氏 名</td>
        <td class="doc_23_s6_" dir="ltr" colspan="11" rowspan="2"><%= document_info.site_agent_name %><!--「各会社の現場代理人名」23-004 --></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
          <td class="doc_23_s2"></td>
          <td class="doc_23_s3" dir="ltr" colspan="4">打合せ日</td>
          <td class="doc_23_s8" dir="ltr" colspan="9">
            <%= wareki(@document.content&.[]('meeting_date')) %>
          <!--「打合せ日」23-011 --></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s0"></td>
          <td class="doc_23_s9" dir="ltr" colspan="3">
            <%= @document.content&.[]('date_entered_general_safety_responsible_person') %>
            <!--「記入日」23-006 --></td>
          <td class="doc_23_s9" dir="ltr" colspan="3">
            <%= @document.content&.[]('date_entered_health_and_safety_manager') %>
            <!--「記入日」23-008 --></td>
          <td class="doc_23_s9" dir="ltr" colspan="4">
            <%= @document.content&.[]('date_entered_site_agent') %>
            <!--「記入日」23-010 --></td>
          <td class="doc_23_s1"></td>
        </tr>
      <tr style="height: 19px">
        <td class="doc_23_s4"></td>
        <td class="doc_23_s5" dir="ltr" colspan="4" rowspan="2">作業日<br>（いつ）</td>
        <td class="doc_23_s5" dir="ltr" colspan="8" rowspan="2">作業場所<br>（どこで···）</td>
        <td class="doc_23_s5" dir="ltr" colspan="12" rowspan="2">作業内容<br>（なにを······）</td>
        <td class="doc_23_s5" dir="ltr" colspan="12" rowspan="2">作業方法<br>（どのようにして···設備・機械を使用して）</td>
        <td class="doc_23_s5" dir="ltr" colspan="6">作業人員</td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s4"></td>
        <td class="doc_23_s5" dir="ltr" colspan="3">予定</td>
        <td class="doc_23_s5" dir="ltr" colspan="3">実施</td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s4"></td>
        <td class="doc_23_s11" dir="ltr" colspan="2" rowspan="3">
          <%= @document.content&.[]('work_month_1st') %>
          <!-- 作業日（月）」23-012 -->
        </td>
        <td class="doc_23_s12" dir="ltr" colspan="2" rowspan="3">
          <%= @document.content&.[]('work_day_1st') %>
          <!--「作業日（日）」23-013 --></td>
        <td class="doc_23_s13" dir="ltr" colspan="8" rowspan="3">
          <%= @document.content&.[]('work_place_1st') %>
          <!--「作業場所」23-014 -->
        </td>
        <td class="doc_23_s6" dir="ltr" colspan="12" rowspan="3">
          <%= @document.content&.[]('work_content_1st') %>
          <!--「作業内容」23-015 --></td>
        <td class="doc_23_s6" dir="ltr" colspan="12" rowspan="3">
          <%= @document.content&.[]('work_method_1st') %>
          <!--「作業方法」23-016 -->
        </td>
        <td class="doc_23_s12" dir="ltr" colspan="3" rowspan="3">
          <%= @document.content&.[]('work_personnel_schedule_1st') %>
          <!--「作業人員・予定人数」23-017 -->
        </td>
        <td class="doc_23_s12" dir="ltr" colspan="3" rowspan="3">
          <%= @document.content&.[]('work_personnel_implementation_1st') %>
          <!--「作業人員・実施人数」23-018 --></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s4"></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s4"></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s4"></td>
        <td class="doc_23_s11" dir="ltr" colspan="2" rowspan="3">
          <%= @document.content&.[]('work_month_2nd') %>
          <!-- 作業日（月）」23-012 -->
        </td>
        <td class="doc_23_s12" dir="ltr" colspan="2" rowspan="3">
          <%= @document.content&.[]('work_day_2nd') %>
          <!--「作業日（日）」23-013 --></td>
        <td class="doc_23_s13" dir="ltr" colspan="8" rowspan="3">
          <%= @document.content&.[]('work_place_2nd') %>
          <!--「作業場所」23-014 -->
        </td>
        <td class="doc_23_s6" dir="ltr" colspan="12" rowspan="3">
          <%= @document.content&.[]('work_content_2nd') %>
          <!--「作業内容」23-015 --></td>
        <td class="doc_23_s6" dir="ltr" colspan="12" rowspan="3">
          <%= @document.content&.[]('work_method_2nd') %>
          <!--「作業方法」23-016 -->
        </td>
        <td class="doc_23_s12" dir="ltr" colspan="3" rowspan="3">
          <%= @document.content&.[]('work_personnel_schedule_2nd') %>
          <!--「作業人員・予定人数」23-017 -->
        </td>
        <td class="doc_23_s12" dir="ltr" colspan="3" rowspan="3">
          <%= @document.content&.[]('work_personnel_implementation_2nd') %>
          <!--「作業人員・実施人数」23-018 --></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s4"></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s4"></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s4"></td>
        <td class="doc_23_s11" dir="ltr" colspan="2" rowspan="3">
          <%= @document.content&.[]('work_month_3rd') %>
          <!-- 作業日（月）」23-012 -->
        </td>
        <td class="doc_23_s12" dir="ltr" colspan="2" rowspan="3">
          <%= @document.content&.[]('work_day_3rd') %>
          <!--「作業日（日）」23-013 --></td>
        <td class="doc_23_s13" dir="ltr" colspan="8" rowspan="3">
          <%= @document.content&.[]('work_place_3rd') %>
          <!--「作業場所」23-014 -->
        </td>
        <td class="doc_23_s6" dir="ltr" colspan="12" rowspan="3">
          <%= @document.content&.[]('work_content_3rd') %>
          <!--「作業内容」23-015 --></td>
        <td class="doc_23_s6" dir="ltr" colspan="12" rowspan="3">
          <%= @document.content&.[]('work_method_3rd') %>
          <!--「作業方法」23-016 -->
        </td>
        <td class="doc_23_s12" dir="ltr" colspan="3" rowspan="3">
          <%= @document.content&.[]('work_personnel_schedule_3rd') %>
          <!--「作業人員・予定人数」23-017 -->
        </td>
        <td class="doc_23_s12" dir="ltr" colspan="3" rowspan="3">
          <%= @document.content&.[]('work_personnel_implementation_3rd') %>
          <!--「作業人員・実施人数」23-018 --></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s4"></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s4"></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s4"></td>
        <td class="doc_23_s11" dir="ltr" colspan="2" rowspan="3">
          <%= @document.content&.[]('work_month_4th') %>
          <!-- 作業日（月）」23-012 -->
        </td>
        <td class="doc_23_s12" dir="ltr" colspan="2" rowspan="3">
          <%= @document.content&.[]('work_day_4th') %>
          <!--「作業日（日）」23-013 --></td>
        <td class="doc_23_s13" dir="ltr" colspan="8" rowspan="3">
          <%= @document.content&.[]('work_place_4th') %>
          <!--「作業場所」23-014 -->
        </td>
        <td class="doc_23_s6" dir="ltr" colspan="12" rowspan="3">
          <%= @document.content&.[]('work_content_4th') %>
          <!--「作業内容」23-015 --></td>
        <td class="doc_23_s6" dir="ltr" colspan="12" rowspan="3">
          <%= @document.content&.[]('work_method_4th') %>
          <!--「作業方法」23-016 -->
        </td>
        <td class="doc_23_s12" dir="ltr" colspan="3" rowspan="3">
          <%= @document.content&.[]('work_personnel_schedule_4th') %>
          <!--「作業人員・予定人数」23-017 -->
        </td>
        <td class="doc_23_s12" dir="ltr" colspan="3" rowspan="3">
          <%= @document.content&.[]('work_personnel_implementation_4th') %>
          <!--「作業人員・実施人数」23-018 --></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s4"></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s4"></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s4"></td>
        <td class="doc_23_s11" dir="ltr" colspan="2" rowspan="3">
          <%= @document.content&.[]('work_month_5th') %>
          <!-- 作業日（月）」23-012 -->
        </td>
        <td class="doc_23_s12" dir="ltr" colspan="2" rowspan="3">
          <%= @document.content&.[]('work_day_5th') %>
          <!--「作業日（日）」23-013 --></td>
        <td class="doc_23_s13" dir="ltr" colspan="8" rowspan="3">
          <%= @document.content&.[]('work_place_5th') %>
          <!--「作業場所」23-014 -->
        </td>
        <td class="doc_23_s6" dir="ltr" colspan="12" rowspan="3">
          <%= @document.content&.[]('work_content_5th') %>
          <!--「作業内容」23-015 --></td>
        <td class="doc_23_s6" dir="ltr" colspan="12" rowspan="3">
          <%= @document.content&.[]('work_method_5th') %>
          <!--「作業方法」23-016 -->
        </td>
        <td class="doc_23_s12" dir="ltr" colspan="3" rowspan="3">
          <%= @document.content&.[]('work_personnel_schedule_5th') %>
          <!--「作業人員・予定人数」23-017 -->
        </td>
        <td class="doc_23_s12" dir="ltr" colspan="3" rowspan="3">
          <%= @document.content&.[]('work_personnel_implementation_5th') %>
          <!--「作業人員・実施人数」23-018 --></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s4"></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s4"></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s15" dir="ltr" colspan="4" rowspan="4">作業に必要な資格及び配置</td>
          <td class="doc_23_s5" dir="ltr" colspan="4" rowspan="2">作業主任者</td>
          <td class="doc_23_s16" dir="ltr" colspan="5" rowspan="2"><%= document_subcon_info_for_23rd&.work_chief_name %><!--「各会社の作業主任者名」23-019 --></td>
          <td class="doc_23_s5" dir="ltr" colspan="3" rowspan="2">玉掛者</td>
          <td class="doc_23_s16" dir="ltr" colspan="6" rowspan="2">
            <%= @document.content&.[]('slinger') %>
            <!--「玉掛者名」23-021 --></td>
          <td class="doc_23_s17" dir="ltr" colspan="4" rowspan="2"></td>
          <td class="doc_23_s18" dir="ltr" colspan="6" rowspan="2"></td>
          <td class="doc_23_s17" dir="ltr" colspan="4" rowspan="2"></td>
          <td class="doc_23_s18" dir="ltr" colspan="6" rowspan="2"></td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s5" dir="ltr" colspan="4" rowspan="2">作業指揮者</td>
          <td class="doc_23_s16" dir="ltr" colspan="5" rowspan="2"><%= document_subcon_info_for_23rd&.work_conductor_name %><!--「各会社の作業指揮者名」23-020 --></td>
          <td class="doc_23_s5" dir="ltr" colspan="3" rowspan="2">合図者</td>
          <td class="doc_23_s16" dir="ltr" colspan="6" rowspan="2">
            <%= @document.content&.[]('signaling_person') %>
            <!--「合図者名」23-022 --></td>
          <td class="doc_23_s17" dir="ltr" colspan="4" rowspan="2"></td>
          <td class="doc_23_s18" dir="ltr" colspan="6" rowspan="2"></td>
          <td class="doc_23_s17" dir="ltr" colspan="4" rowspan="2"></td>
          <td class="doc_23_s18" dir="ltr" colspan="6" rowspan="2"></td>
          <td class="doc_23_s1"></td>
        </tr>
      <tr style="height: 19px">
        <td class="doc_23_s4"></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s2"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s3"></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s19" dir="ltr" colspan="2" rowspan="6">連絡調整項目</td>
          <td class="doc_23_s20" dir="ltr" colspan="2" rowspan="6">元請からの</td>
          <td class="doc_23_s21" dir="ltr" colspan="38" rowspan="2">
            <%= @document.content&.[]('coordination_items_from_prime_contractor_1st') %>
            <!--「元請からの連絡調整項目」23-031 -->
          </td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s21" dir="ltr" colspan="38" rowspan="2">
            <%= @document.content&.[]('coordination_items_from_prime_contractor_2nd') %>
            <!--「元請からの連絡調整項目」23-031 -->
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s21" dir="ltr" colspan="38" rowspan="2">
            <%= @document.content&.[]('coordination_items_from_prime_contractor_3rd') %>
            <!--「元請からの連絡調整項目」23-031 -->
          <td class="doc_23_s1"></td>
        </tr>
      <tr style="height: 19px">
        <td class="doc_23_s4"></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s2"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
          <td class="doc_23_s2"></td>
          <td class="doc_23_s23" dir="ltr" colspan="42">リスクアセスメント作業手順書の内容を確認して記入の事（判定が＜5⃣、4⃣＞⇒最優先の対策実施判定が＜3⃣＞⇒最優先対策実施のこと）</td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s24" dir="ltr" rowspan="12"></td>
          <td class="doc_23_s5" colspan="16" rowspan="2">予定作業に対して　こんな危険がある<br>（「～するとき、～になる。」と記載する）</td>
          <td class="doc_23_s25" dir="ltr" rowspan="2">重篤度</td>
          <td class="doc_23_s25" dir="ltr" rowspan="2">可能性</td>
          <td class="doc_23_s25" dir="ltr" rowspan="2">評価点</td>
          <td class="doc_23_s25" dir="ltr" rowspan="2">評価</td>
          <td class="doc_23_s5" dir="ltr" colspan="15" rowspan="2">危険に対してこのようにする<br>（リスク低減措置）</td>
          <td class="doc_23_s25" dir="ltr" rowspan="2">重篤度</td>
          <td class="doc_23_s25" dir="ltr" rowspan="2">可能性</td>
          <td class="doc_23_s25" dir="ltr" rowspan="2">評価点</td>
          <td class="doc_23_s25" dir="ltr" rowspan="2">評価</td>
          <td class="doc_23_s26" dir="ltr" colspan="2" rowspan="2">実施の確認</td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s3" dir="ltr" rowspan="2">①</td>
          <td class="doc_23_s21" dir="ltr" colspan="15" rowspan="2">
            <%= @document.content&.[]('cheduled_work_hazard_1st') %>
            <!--「予定作業の危険・項目」23-032 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= risk_seriousness_point(@document.content&.[]('cheduled_work_hazard_severity_1st')) %>
          <!--23-033 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= risk_estimation_point(@document.content&.[]('cheduled_work_hazard_possibility_1st')) %>
          <!--23-034-->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%=risk_estimation_level(@document.content&.[]('cheduled_work_hazard_severity_1st'), @document.content&.[]('cheduled_work_hazard_possibility_1st')) %>
            <!-- 23-035 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%=make_square_enclosure_number(risk_seriousness_level(@document.content&.[]('cheduled_work_hazard_severity_1st'), @document.content&.[]('cheduled_work_hazard_possibility_1st'))) %>
            <!-- 23-036 -->
          </td>
          <td class="doc_23_s21" dir="ltr" colspan="15" rowspan="2">
            <%= @document.content&.[]('risk_mitigation_measures_1st') %>
            <!--「リスク低減措置・項目」23-037 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= risk_seriousness_point(@document.content&.[]('risk_reduction_measures_severity_1st')) %>
            <!-- 23-038 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= risk_estimation_point(@document.content&.[]('risk_reduction_measures_possibility_1st')) %>
            <!-- 23-039 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%=risk_estimation_level(@document.content&.[]('risk_reduction_measures_severity_1st'), @document.content&.[]('risk_reduction_measures_possibility_1st')) %>
            <!-- 23-040 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= make_square_enclosure_number(risk_seriousness_level(@document.content&.[]('risk_reduction_measures_severity_1st'), @document.content&.[]('risk_reduction_measures_possibility_1st'))) %>
            <!-- 23-041 -->
          </td>
          <td class="doc_23_s28" dir="ltr" colspan="2" rowspan="2">
            <%= checked_box(@document.content&.[]('execution_confirmation_1st')) %>
          <!-- 23-042 -->
          </td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s3" dir="ltr" rowspan="2">②</td>
          <td class="doc_23_s21" dir="ltr" colspan="15" rowspan="2">
            <%= @document.content&.[]('cheduled_work_hazard_2nd') %>
            <!--「予定作業の危険・項目」23-032 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= risk_seriousness_point(@document.content&.[]('cheduled_work_hazard_severity_2nd')) %>
          <!--23-033 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= risk_estimation_point(@document.content&.[]('cheduled_work_hazard_possibility_2nd')) %>
          <!--23-034-->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%=risk_estimation_level(@document.content&.[]('cheduled_work_hazard_severity_2nd'), @document.content&.[]('cheduled_work_hazard_possibility_2nd')) %>
            <!-- 23-035 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= make_square_enclosure_number(risk_seriousness_level(@document.content&.[]('cheduled_work_hazard_severity_2nd'), @document.content&.[]('cheduled_work_hazard_possibility_2nd'))) %>
            <!-- 23-036 -->
          </td>
          <td class="doc_23_s21" dir="ltr" colspan="15" rowspan="2">
            <%= @document.content&.[]('risk_mitigation_measures_2nd') %>
            <!--「リスク低減措置・項目」23-037 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= risk_seriousness_point(@document.content&.[]('risk_reduction_measures_severity_2nd')) %>
            <!-- 23-038 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= risk_estimation_point(@document.content&.[]('risk_reduction_measures_possibility_2nd')) %>
            <!-- 23-039 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%=risk_estimation_level(@document.content&.[]('risk_reduction_measures_severity_2nd'), @document.content&.[]('risk_reduction_measures_possibility_2nd')) %>
            <!-- 23-040 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= make_square_enclosure_number(risk_seriousness_level(@document.content&.[]('risk_reduction_measures_severity_2nd'), @document.content&.[]('risk_reduction_measures_possibility_2nd'))) %>
            <!-- 23-041 -->
          </td>
          <td class="doc_23_s28" dir="ltr" colspan="2" rowspan="2">
            <%= checked_box(@document.content&.[]('execution_confirmation_2nd')) %>
          <!-- 23-042 -->
          </td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s3" dir="ltr" rowspan="2">③</td>
          <td class="doc_23_s21" dir="ltr" colspan="15" rowspan="2">
            <%= @document.content&.[]('cheduled_work_hazard_3rd') %>
            <!--「予定作業の危険・項目」23-032 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= risk_seriousness_point(@document.content&.[]('cheduled_work_hazard_severity_3rd')) %>
          <!--23-033 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= risk_estimation_point(@document.content&.[]('cheduled_work_hazard_possibility_3rd')) %>
          <!--23-034-->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%=risk_estimation_level(@document.content&.[]('cheduled_work_hazard_severity_3rd'), @document.content&.[]('cheduled_work_hazard_possibility_3rd')) %>
            <!-- 23-035 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= make_square_enclosure_number(risk_seriousness_level(@document.content&.[]('cheduled_work_hazard_severity_3rd'), @document.content&.[]('cheduled_work_hazard_possibility_3rd'))) %>
            <!-- 23-036 -->
          </td>
          <td class="doc_23_s21" dir="ltr" colspan="15" rowspan="2">
            <%= @document.content&.[]('risk_mitigation_measures_3rd') %>
            <!--「リスク低減措置・項目」23-037 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= risk_seriousness_point(@document.content&.[]('risk_reduction_measures_severity_3rd')) %>
            <!-- 23-038 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= risk_estimation_point(@document.content&.[]('risk_reduction_measures_possibility_3rd')) %>
            <!-- 23-039 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%=risk_estimation_level(@document.content&.[]('risk_reduction_measures_severity_3rd'), @document.content&.[]('risk_reduction_measures_possibility_3rd')) %>
            <!-- 23-040 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= make_square_enclosure_number(risk_seriousness_level(@document.content&.[]('risk_reduction_measures_severity_3rd'), @document.content&.[]('risk_reduction_measures_possibility_3rd'))) %>
            <!-- 23-041 -->
          </td>
          <td class="doc_23_s28" dir="ltr" colspan="2" rowspan="2">
            <%= checked_box(@document.content&.[]('execution_confirmation_3rd')) %>
          <!-- 23-042 -->
          </td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s3" dir="ltr" rowspan="2">④</td>
          <td class="doc_23_s21" dir="ltr" colspan="15" rowspan="2">
            <%= @document.content&.[]('cheduled_work_hazard_4th') %>
            <!--「予定作業の危険・項目」23-032 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= risk_seriousness_point(@document.content&.[]('cheduled_work_hazard_severity_4th')) %>
          <!--23-033 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= risk_estimation_point(@document.content&.[]('cheduled_work_hazard_possibility_4th')) %>
          <!--23-034-->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%=risk_estimation_level(@document.content&.[]('cheduled_work_hazard_severity_4th'), @document.content&.[]('cheduled_work_hazard_possibility_4th')) %>
            <!-- 23-035 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= make_square_enclosure_number(risk_seriousness_level(@document.content&.[]('cheduled_work_hazard_severity_4th'), @document.content&.[]('cheduled_work_hazard_possibility_4th'))) %>
            <!-- 23-036 -->
          </td>
          <td class="doc_23_s21" dir="ltr" colspan="15" rowspan="2">
            <%= @document.content&.[]('risk_mitigation_measures_4th') %>
            <!--「リスク低減措置・項目」23-037 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= risk_seriousness_point(@document.content&.[]('risk_reduction_measures_severity_4th')) %>
            <!-- 23-038 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= risk_estimation_point(@document.content&.[]('risk_reduction_measures_possibility_4th')) %>
            <!-- 23-039 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%=risk_estimation_level(@document.content&.[]('risk_reduction_measures_severity_4th'), @document.content&.[]('risk_reduction_measures_possibility_4th')) %>
            <!-- 23-040 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= make_square_enclosure_number(risk_seriousness_level(@document.content&.[]('risk_reduction_measures_severity_4th'), @document.content&.[]('risk_reduction_measures_possibility_4th'))) %>
            <!-- 23-041 -->
          </td>
          <td class="doc_23_s28" dir="ltr" colspan="2" rowspan="2">
            <%= checked_box(@document.content&.[]('execution_confirmation_4th')) %>
          <!-- 23-042 -->
          </td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s3" dir="ltr" rowspan="2">⑤</td>
          <td class="doc_23_s21" dir="ltr" colspan="15" rowspan="2">
            <%= @document.content&.[]('cheduled_work_hazard_5th') %>
            <!--「予定作業の危険・項目」23-032 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= risk_seriousness_point(@document.content&.[]('cheduled_work_hazard_severity_5th')) %>
          <!--23-033 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%=risk_estimation_point(@document.content&.[]('cheduled_work_hazard_possibility_5th'))%>
          <!--23-034-->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%=risk_estimation_level(@document.content&.[]('cheduled_work_hazard_severity_5th'), @document.content&.[]('cheduled_work_hazard_possibility_5th')) %>
            <!-- 23-035 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= make_square_enclosure_number(risk_seriousness_level(@document.content&.[]('cheduled_work_hazard_severity_5th'), @document.content&.[]('cheduled_work_hazard_possibility_5th'))) %>
            <!-- 23-036 -->
          </td>
          <td class="doc_23_s21" dir="ltr" colspan="15" rowspan="2">
            <%= @document.content&.[]('risk_mitigation_measures_5th') %>
            <!--「リスク低減措置・項目」23-037 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= risk_seriousness_point(@document.content&.[]('risk_reduction_measures_severity_5th')) %>
            <!-- 23-038 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= risk_estimation_point(@document.content&.[]('risk_reduction_measures_possibility_5th')) %>
            <!-- 23-039 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%=risk_estimation_level(@document.content&.[]('risk_reduction_measures_severity_5th'), @document.content&.[]('risk_reduction_measures_possibility_5th')) %>
            <!-- 23-040 -->
          </td>
          <td class="doc_23_s27" dir="ltr" rowspan="2">
            <%= make_square_enclosure_number(risk_seriousness_level(@document.content&.[]('risk_reduction_measures_severity_5th'), @document.content&.[]('risk_reduction_measures_possibility_5th'))) %>
            <!-- 23-041 -->
          </td>
          <td class="doc_23_s28" dir="ltr" colspan="2" rowspan="2">
            <%= checked_box(@document.content&.[]('execution_confirmation_5th')) %>
          <!-- 23-042 -->
          </td>
          <td class="doc_23_s1"></td>
        </tr>

        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s2"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s5" dir="ltr" colspan="6" rowspan="5">職長の確認項目</td>
          <td class="doc_23_s29" dir="ltr" colspan="9" rowspan="2">
            <%= @document.content&.[]('foreman_confirmation') == '1' ? (sanitize '<span class="circle">高齢者</span>', tags: %w(span)) : '高齢者' %>・
            <%= @document.content&.[]('elderly_people') == '1' ? (sanitize '<span class="circle">年少者</span>', tags: %w(span)) : '年少者' %>・
            <%= @document.content&.[]('minors_special_instructions') == '1' ? (sanitize '<span class="circle">特別指示</span>', tags: %w(span)) : '特別指示' %>
            <%# 高齢者、年少者<br>特別指示 %>
          </td>
          <td class="doc_23_s21" dir="ltr" colspan="27" rowspan="2">
            <%= @document.content&.[]('foreman_confirmation_elderly_people_minors_special_instructions_content') %>
            <!--「高齢者、年少者・特別指示内容」23-044 --></td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s31" dir="ltr" colspan="36">
          作業場所 ≪<%= @document.content&.[]('working_floor') == '1' ? (sanitize '<span class="circle">作業床</span>', tags: %w(span)) : '作業床' %>・
          <%= @document.content&.[]('handrail') == '1' ? (sanitize '<span class="circle">手すり</span>', tags: %w(span)) : '手すり' %>・
          <%= @document.content&.[]('aisle') == '1' ? (sanitize '<span class="circle">通路</span>', tags: %w(span)) : '通路' %>・
          <%= @document.content&.[]('covering_opening') == '1' ? (sanitize '<span class="circle">開口部養生</span>', tags: %w(span)) : '開口部養生' %>・
          <%= @document.content&.[]('no_entry_measures') == '1' ? (sanitize '<span class="circle">立入禁止措置</span>', tags: %w(span)) : '立入禁止措置' %>・
          <%= @document.content&.[]('other') == '1' ? (sanitize '<span class="circle">その他</span>', tags: %w(span)) : 'その他' %>（<%= @document.content&.[]('other_content') %>）≫ の確認を
          【<%= @document.content&.[]('foreman_confirmation_confirmation_of_work_place') == 'low' ? (sanitize '<span class="circle">した</span>', tags: %w(span)) : 'した' %>、<%= @document.content&.[]('foreman_confirmation_confirmation_of_work_place') == 'hight' ? (sanitize '<span class="circle">しない</span>', tags: %w(span)) : 'しない' %>】</td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s31" dir="ltr" colspan="36">
          足場の作業前の点検
          (
          <%= @document.content&.[]('tesuri') == '1' ? (sanitize '<span class="circle">手摺</span>', tags: %w(span)) : '手摺' %>,
          <%= @document.content&.[]('nakasan') == '1' ? (sanitize '<span class="circle">中さん</span>', tags: %w(span)) : '中さん' %>,
          <%= @document.content&.[]('habaki') == '1' ? (sanitize '<span class="circle">幅木</span>', tags: %w(span)) : '幅木' %>)について、異常が
          【<%= @document.content&.[]('foreman_confirmation_abnormal_inspection_of_scaffolding_before_work') == 'low' ? (sanitize '<span class="circle">あった</span>', tags: %w(span)) : 'あった' %>、
          <%= @document.content&.[]('foreman_confirmation_abnormal_inspection_of_scaffolding_before_work') == 'hight' ? (sanitize '<span class="circle">なかった</span>', tags: %w(span)) : 'なかった' %>】異常があった時修理
          【<%= @document.content&.[]('foreman_confirmation_repair_when_there_is_an_abnormality') == 'low' ? (sanitize '<span class="circle">した</span>', tags: %w(span)) : 'した' %>、<%= @document.content&.[]('foreman_confirmation_repair_when_there_is_an_abnormality') == 'hight' ? (sanitize '<span class="circle">しない</span>', tags: %w(span)) : 'しない' %>】</td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s37" dir="ltr" colspan="36">
          体調不良者　≪<%= @document.content&.[]('lack_of_sleep') == '1' ? (sanitize '<span class="circle">寝不足</span>', tags: %w(span)) : '寝不足' %>・
          <%= @document.content&.[]('expression') == '1' ? (sanitize '<span class="circle">顔色</span>', tags: %w(span)) : '顔色' %>・
          <%= @document.content&.[]('eyeball') == '1' ? (sanitize '<span class="circle">目の玉</span>', tags: %w(span)) : '目の玉' %>・
          <%= @document.content&.[]('hangover') == '1' ? (sanitize '<span class="circle">二日酔い</span>', tags: %w(span)) : '二日酔い' %>・
          <%= @document.content&.[]('disease') == '1' ? (sanitize '<span class="circle">病気等</span>', tags: %w(span)) : '病気等' %>≫　の確認を
          【<%= @document.content&.[]('foreman_confirmation_confirmation_poor_physical_condition') == 'low' ? (sanitize '<span class="circle">した</span>', tags: %w(span)) : 'した' %>、<%= @document.content&.[]('foreman_confirmation_confirmation_poor_physical_condition') == 'hight' ? (sanitize '<span class="circle">しない</span>', tags: %w(span)) : 'しない' %>】</td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s40" dir="ltr"></td>
          <td class="doc_23_s41" dir="ltr" rowspan="8">出席者サイン</td>
          <td class="doc_23_s41" dir="ltr" rowspan="8">安全ミーティング</td>
          <td class="doc_23_s41" dir="ltr" rowspan="8">予知番号を記入する事</td>
          <td class="doc_23_s41" dir="ltr" rowspan="8">〇に自分の危険</td>
          <td class="doc_23_s42" dir="ltr"></td>
          <td class="doc_23_s43" dir="ltr" colspan="2" rowspan="2">
            <%= make_circle_enclosure_number(risk_seriousness_point(@document.content&.[]('hazard_prediction_number_severity_1st'))) %>
            <!--「危険予測番号」23-052 -->
          </td>
          <td class="doc_23_s44" dir="ltr" colspan="4" rowspan="4">
            <%= @document.content&.[]('sign_1st') %>
            <!--「安全ミーティング出席者サイン」23-054-->
          </td>
          <td class="doc_23_s43" dir="ltr" colspan="2" rowspan="2">
            <%= make_circle_enclosure_number(risk_seriousness_point(@document.content&.[]('hazard_prediction_number_severity_2nd'))) %>
            <!--「危険予測番号」23-052 -->
          </td>
          <td class="doc_23_s44" dir="ltr" colspan="4" rowspan="4">
            <%= @document.content&.[]('sign_2nd') %>
            <!--「安全ミーティング出席者サイン」23-054-->
          </td>
          <td class="doc_23_s43" dir="ltr" colspan="2" rowspan="2">
            <%= make_circle_enclosure_number(risk_seriousness_point(@document.content&.[]('hazard_prediction_number_severity_3rd'))) %>
            <!--「危険予測番号」23-052 -->
          </td>
          <td class="doc_23_s44" dir="ltr" colspan="4" rowspan="4">
            <%= @document.content&.[]('sign_3rd') %>
            <!--「安全ミーティング出席者サイン」23-054-->
          </td>
          <td class="doc_23_s43" dir="ltr" colspan="2" rowspan="2">
            <%= make_circle_enclosure_number(risk_seriousness_point(@document.content&.[]('hazard_prediction_number_severity_4th'))) %>
            <!--「危険予測番号」23-052 -->
          </td>
          <td class="doc_23_s44" dir="ltr" colspan="4" rowspan="4">
            <%= @document.content&.[]('sign_4th') %>
            <!--「安全ミーティング出席者サイン」23-054-->
          </td>
          <td class="doc_23_s43" dir="ltr" colspan="2" rowspan="2">
            <%= make_circle_enclosure_number(risk_seriousness_point(@document.content&.[]('hazard_prediction_number_severity_5th'))) %>
            <!--「危険予測番号」23-052 -->
          </td>
          <td class="doc_23_s44" dir="ltr" colspan="4" rowspan="4">
            <%= @document.content&.[]('sign_5th') %>
            <!--「安全ミーティング出席者サイン」23-054-->
          </td>
          <td class="doc_23_s43" dir="ltr" colspan="2" rowspan="2">
            <%= make_circle_enclosure_number(risk_seriousness_point(@document.content&.[]('hazard_prediction_number_severity_6th'))) %>
            <!--「危険予測番号」23-052 -->
          </td>
          <td class="doc_23_s44" dir="ltr" colspan="4" rowspan="4">
            <%= @document.content&.[]('sign_6th') %>
            <!--「安全ミーティング出席者サイン」23-054-->
          </td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s40" dir="ltr"></td>
          <td class="doc_23_s42" dir="ltr"></td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s40" dir="ltr"></td>
          <td class="doc_23_s42" dir="ltr"></td>
          <td class="doc_23_s46" dir="ltr" colspan="2" rowspan="2">
            <%= make_circle_enclosure_number(risk_estimation_point(@document.content&.[]('hazard_prediction_number_possibility_1st'))) %>
            <!--「危険予測番号」23-053 -->
          </td>
          <td class="doc_23_s46" dir="ltr" colspan="2" rowspan="2">
            <%= make_circle_enclosure_number(risk_estimation_point(@document.content&.[]('hazard_prediction_number_possibility_2nd'))) %>
            <!--「危険予測番号」23-053 -->
          </td>
          <td class="doc_23_s46" dir="ltr" colspan="2" rowspan="2">
            <%= make_circle_enclosure_number(risk_estimation_point(@document.content&.[]('hazard_prediction_number_possibility_3rd'))) %>
            <!--「危険予測番号」23-053 -->
          </td>
          <td class="doc_23_s46" dir="ltr" colspan="2" rowspan="2">
            <%= make_circle_enclosure_number(risk_estimation_point(@document.content&.[]('hazard_prediction_number_possibility_4th'))) %>
            <!--「危険予測番号」23-053 -->
          </td>
          <td class="doc_23_s46" dir="ltr" colspan="2" rowspan="2">
            <%= make_circle_enclosure_number(risk_estimation_point(@document.content&.[]('hazard_prediction_number_possibility_5th'))) %>
            <!--「危険予測番号」23-053 -->
          </td>
          <td class="doc_23_s46" dir="ltr" colspan="2" rowspan="2">
            <%= make_circle_enclosure_number(risk_estimation_point(@document.content&.[]('hazard_prediction_number_possibility_6th'))) %>
            <!--「危険予測番号」23-053 -->
          </td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s40" dir="ltr"></td>
          <td class="doc_23_s42" dir="ltr"></td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s40" dir="ltr"></td>
          <td class="doc_23_s42" dir="ltr"></td>
          <td class="doc_23_s43" dir="ltr" colspan="2" rowspan="2">
            <%= make_circle_enclosure_number(risk_seriousness_point(@document.content&.[]('hazard_prediction_number_severity_7th'))) %>
            <!--「危険予測番号」23-052 -->
          </td>
          <td class="doc_23_s44" dir="ltr" colspan="4" rowspan="4">
            <%= @document.content&.[]('sign_7th') %>
            <!--「安全ミーティング出席者サイン」23-054-->
          </td>
          <td class="doc_23_s43" dir="ltr" colspan="2" rowspan="2">
            <%= make_circle_enclosure_number(risk_seriousness_point(@document.content&.[]('hazard_prediction_number_severity_8th'))) %>
            <!--「危険予測番号」23-052 -->
          </td>
          <td class="doc_23_s44" dir="ltr" colspan="4" rowspan="4">
            <%= @document.content&.[]('sign_8th') %>
            <!--「安全ミーティング出席者サイン」23-054-->
          </td>
          <td class="doc_23_s43" dir="ltr" colspan="2" rowspan="2">
            <%= make_circle_enclosure_number(risk_seriousness_point(@document.content&.[]('hazard_prediction_number_severity_9th'))) %>
            <!--「危険予測番号」23-052 -->
          </td>
          <td class="doc_23_s44" dir="ltr" colspan="4" rowspan="4">
            <%= @document.content&.[]('sign_9th') %>
            <!--「安全ミーティング出席者サイン」23-054-->
          </td>
          <td class="doc_23_s43" dir="ltr" colspan="2" rowspan="2">
            <%= make_circle_enclosure_number(risk_seriousness_point(@document.content&.[]('hazard_prediction_number_severity_10th'))) %>
            <!--「危険予測番号」23-052 -->
          </td>
          <td class="doc_23_s44" dir="ltr" colspan="4" rowspan="4">
            <%= @document.content&.[]('sign_10th') %>
            <!--「安全ミーティング出席者サイン」23-054-->
          </td>
          <td class="doc_23_s43" dir="ltr" colspan="2" rowspan="2">
            <%= make_circle_enclosure_number(risk_seriousness_point(@document.content&.[]('hazard_prediction_number_severity_11th'))) %>
            <!--「危険予測番号」23-052 -->
          </td>
          <td class="doc_23_s44" dir="ltr" colspan="4" rowspan="4">
            <%= @document.content&.[]('sign_11th') %>
            <!--「安全ミーティング出席者サイン」23-054-->
          </td>
          <td class="doc_23_s43" dir="ltr" colspan="2" rowspan="2">
            <%= make_circle_enclosure_number(risk_seriousness_point(@document.content&.[]('hazard_prediction_number_severity_12th'))) %>
            <!--「危険予測番号」23-052 -->
          </td>
          <td class="doc_23_s44" dir="ltr" colspan="4" rowspan="4">
            <%= @document.content&.[]('sign_12th') %>
            <!--「安全ミーティング出席者サイン」23-054-->
          </td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s40" dir="ltr"></td>
          <td class="doc_23_s42" dir="ltr"></td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s40" dir="ltr"></td>
          <td class="doc_23_s42" dir="ltr"></td>
          <td class="doc_23_s46" dir="ltr" colspan="2" rowspan="2">
            <%= make_circle_enclosure_number(risk_estimation_point(@document.content&.[]('hazard_prediction_number_possibility_7th'))) %>
            <!--「危険予測番号」23-053 -->
          </td>
          <td class="doc_23_s46" dir="ltr" colspan="2" rowspan="2">
            <%= make_circle_enclosure_number(risk_estimation_point(@document.content&.[]('hazard_prediction_number_possibility_8th'))) %>
            <!--「危険予測番号」23-053 -->
          </td>
          <td class="doc_23_s46" dir="ltr" colspan="2" rowspan="2">
            <%= make_circle_enclosure_number(risk_estimation_point(@document.content&.[]('hazard_prediction_number_possibility_9th'))) %>
            <!--「危険予測番号」23-053 -->
          </td>
          <td class="doc_23_s46" dir="ltr" colspan="2" rowspan="2">
            <%= make_circle_enclosure_number(risk_estimation_point(@document.content&.[]('hazard_prediction_number_possibility_10th'))) %>
            <!--「危険予測番号」23-053 -->
          </td>
          <td class="doc_23_s46" dir="ltr" colspan="2" rowspan="2">
            <%= make_circle_enclosure_number(risk_estimation_point(@document.content&.[]('hazard_prediction_number_possibility_11th'))) %>
            <!--「危険予測番号」23-053 -->
          </td>
          <td class="doc_23_s46" dir="ltr" colspan="2" rowspan="2">
            <%= make_circle_enclosure_number(risk_estimation_point(@document.content&.[]('hazard_prediction_number_possibility_12th'))) %>
            <!--「危険予測番号」23-053 -->
          </td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s4"></td>
          <td class="doc_23_s47" dir="ltr"></td>
          <td class="doc_23_s5" dir="ltr"></td>
          <td class="doc_23_s1"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_23_s2"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s1"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s1"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s3"></td>
          <td class="doc_23_s1"></td>
        </tr>
      <tr style="height: 19px">
        <td class="doc_23_s4"></td>
        <td class="doc_23_s48" dir="ltr" colspan="9">重篤度の見積り基準</td>
        <td class="doc_23_s49"></td>
        <td class="doc_23_s48" dir="ltr" colspan="9">可能性の見積り基準</td>
        <td class="doc_23_s49"></td>
        <td class="doc_23_s48" dir="ltr" colspan="22">危険性又は有害性の評価と危険度の判断基準</td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s4"></td>
        <td class="doc_23_s50" dir="ltr" colspan="8">受傷程度の重篤度の見積基準</td>
        <td class="doc_23_s51" dir="ltr">点数</td>
        <td class="doc_23_s52"></td>
        <td class="doc_23_s50" dir="ltr" colspan="8">災害発生の可能性の見積基準</td>
        <td class="doc_23_s51" dir="ltr">点数</td>
        <td class="doc_23_s52"></td>
        <td class="doc_23_s48" dir="ltr" colspan="8">評価点の見積り</td>
        <td class="doc_23_s48" dir="ltr" colspan="8">評価</td>
        <td class="doc_23_s48" dir="ltr" colspan="6">判定</td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s4"></td>
        <td class="doc_23_s50" dir="ltr" colspan="8">極めて重大（死亡・障害）</td>
        <td class="doc_23_s24" dir="ltr">3</td>
        <td class="doc_23_s52"></td>
        <td class="doc_23_s53" dir="ltr" colspan="8" rowspan="2">極めて高い（よほど注意力がないと負傷する）</td>
        <td class="doc_23_s24" dir="ltr" rowspan="2">3</td>
        <td class="doc_23_s52"></td>
        <td class="doc_23_s48" dir="ltr" colspan="6" rowspan="2">3＋3</td>
        <td class="doc_23_s48" dir="ltr" rowspan="2">6</td>
        <td class="doc_23_s54" dir="ltr" rowspan="2">⇒</td>
        <td class="doc_23_s53" dir="ltr" colspan="7" rowspan="2">直ちに解決すべき問題がある</td>
        <td class="doc_23_s50" dir="ltr" rowspan="2">5⃣</td>
        <td class="doc_23_s50" dir="ltr" colspan="6" rowspan="2">即座に対策が必要</td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s4"></td>
        <td class="doc_23_s50" dir="ltr" colspan="8">重大（休業災害）</td>
        <td class="doc_23_s24" dir="ltr">2</td>
        <td class="doc_23_s52"></td>
        <td class="doc_23_s52"></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s4"></td>
        <td class="doc_23_s50" dir="ltr" colspan="8">軽微（不休災害）</td>
        <td class="doc_23_s24" dir="ltr">1</td>
        <td class="doc_23_s52"></td>
        <td class="doc_23_s53" dir="ltr" colspan="8" rowspan="2">可能性がある（注意していないと負傷する）</td>
        <td class="doc_23_s24" dir="ltr" rowspan="2">2</td>
        <td class="doc_23_s52"></td>
        <td class="doc_23_s48" dir="ltr" colspan="6"> 3＋2、2＋3</td>
        <td class="doc_23_s48" dir="ltr">5</td>
        <td class="doc_23_s54" dir="ltr">⇒</td>
        <td class="doc_23_s50" dir="ltr" colspan="7">重大な問題がある</td>
        <td class="doc_23_s50" dir="ltr">4⃣</td>
        <td class="doc_23_s50" dir="ltr" colspan="6">抜本的対策が必要</td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s2"></td>
        <td class="doc_23_s55" dir="ltr"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s52"></td>
        <td class="doc_23_s52"></td>
        <td class="doc_23_s48" dir="ltr" colspan="6"> 2＋2、1＋3、3＋1</td>
        <td class="doc_23_s48" dir="ltr">4</td>
        <td class="doc_23_s54" dir="ltr">⇒</td>
        <td class="doc_23_s50" dir="ltr" colspan="7">かなり問題がある</td>
        <td class="doc_23_s50" dir="ltr">3⃣</td>
        <td class="doc_23_s50" dir="ltr" colspan="6">なんらかの対策が必要</td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s2"></td>
        <td class="doc_23_s55" dir="ltr"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s52"></td>
        <td class="doc_23_s53" dir="ltr" colspan="8" rowspan="2">ほとんどない（注意しなくてもほとんど負傷しない）</td>
        <td class="doc_23_s24" dir="ltr" rowspan="2">1</td>
        <td class="doc_23_s52"></td>
        <td class="doc_23_s48" dir="ltr" colspan="6"> 1＋2、2＋1</td>
        <td class="doc_23_s48" dir="ltr">3</td>
        <td class="doc_23_s54" dir="ltr">⇒</td>
        <td class="doc_23_s50" dir="ltr" colspan="7">多少問題がある</td>
        <td class="doc_23_s50" dir="ltr">2⃣</td>
        <td class="doc_23_s50" dir="ltr" colspan="6">現時点では必要なし</td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s2"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s55"></td>
        <td class="doc_23_s52"></td>
        <td class="doc_23_s52"></td>
        <td class="doc_23_s48" dir="ltr" colspan="6">1＋1</td>
        <td class="doc_23_s48" dir="ltr">2</td>
        <td class="doc_23_s54" dir="ltr">⇒</td>
        <td class="doc_23_s50" dir="ltr" colspan="7">問題少ない</td>
        <td class="doc_23_s50" dir="ltr">1⃣</td>
        <td class="doc_23_s50" dir="ltr" colspan="6">対策の必要なし</td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s2"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s2"></td>
        <td class="doc_23_s56 softmerge" dir="ltr">
          <div class="softmerge-inner" style="width:123px;left:-1px">本日の作業を安全に終了しました</div>
        </td>
        <td class="doc_23_s57"></td>
        <td class="doc_23_s57"></td>
        <td class="doc_23_s57"></td>
        <td class="doc_23_s58"></td>
        <td class="doc_23_s58"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s2"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s8" dir="ltr" colspan="14" rowspan="2">
          <%= @document.content&.[]('name') %>
          <!--「安全ミーティング出席者・氏名」23-055 --></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s2"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1" dir="ltr" colspan="2">氏名</td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
        <td class="doc_23_s1"></td>
      </tr>
      <tr style="height: 19px">
        <td class="doc_23_s2" colspan="44"></td>
      </tr>
    </tbody>
  </table>
</div>
