<% provide(:title,  "協力会社一覧") %>

<%= link_to "協力会社招待画面へ", new_user_invitation_path, class: "btn btn-lg btn-block btn-outline-primary" %>
<br>
<% if @subcon_users.present? %>
  <div class="card">
    <div class="card-body table-responsive p-0">
      <table class="table table-hover text-nowrap">
        <thead>
          <tr align="center">
            <th>登録状況</th>
            <th><%= User.human_attribute_name(:name) %></th>
            <th><%= User.human_attribute_name(:email) %></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @subcon_users.each do |subcon_user| %>
            <tr align="center">
              <td>
                <%= subcon_user.invitation_token.nil? ? '✓' : '招待中' %>
              </td>
              <td><%= subcon_user.name %></td>
              <td><%= subcon_user.email %></td>
              <td><%#= link_to "編集", edit_users_subcon_user_path(subcon_user), class: "btn btn-md btn-success" %></td>
              <td><%#= link_to "削除", users_subcon_user_path(subcon_user), method: :delete, data: { confirm: "「#{subcon_user.name}」を削除します。本当によろしいですか？" }, class: "btn btn-md btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
