<% provide(:title,  "協力会社一覧") %>

<%= link_to "協力会社を招待する", new_user_invitation_path, class: "btn btn-lg btn-block btn-outline-primary" %>
<br>

<!-- 招待されているユーザー一覧 -->
<div class="card">
  <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
      <thead>
        <% if @invitation_pending_to.any? %>
          <tr align="center">
            <th colspan="5" class="text-success">協力会社への招待が届いています。</th>
          </tr>
        <% end %>
        <tr align="center">
          <th colspan="5">発注元会社一覧</th>
        </tr>
        <tr align="center">
          <th><%= Business.human_attribute_name(:name) %></th>
          <th><%= Business.human_attribute_name(:address) %></th>
          <th><%= User.human_attribute_name(:email) %></th>
          <th></th>
        </tr>
      </thead>
      <% if @invitation_pending_to.any? %>
        <tbody>
          <% @invitation_pending_to.each do |invitation_request| %>
            <tr align="center">
              <td><%= User.find(invitation_request.id).business.name %></td>
              <td><%= User.find(invitation_request.id).business&.address %></td>
              <td><%= User.find(invitation_request. id).email %></td>
              <td>
                <%= link_to "承認する", approval_users_subcon_user_path(invitation_request.business.uuid),
                                        method: :patch,
                                        local: true,
                                        data: { confirm: "#{User.find(invitation_request.id).business.name}様からの招待リクエストを承認します、よろしいですか？" },
                                        class: "btn btn-sm btn-success"
                %>
              </td>
              <td>
                <%= link_to "承認しない", destroy_invitation_pending_users_subcon_user_path(invitation_request.business.uuid),
                                        method: :delete,
                                        local: true,
                                        data: { confirm: "#{User.find(invitation_request.id).business.name}様からの招待リクエストを取り消します、本当によろしいですか？" },
                                        class: "btn btn-sm btn-danger"
                %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>

      <% if @invited_to.any? %>
        <tbody>
          <% @invited_to.each do |invited| %>
            <tr align="center">
              <td><%= User.find(invited.id).business&.name %></td>
              <td><%= User.find(invited.id).business&.address %></td>
              <td><%= User.find(invited.id).email %></td>
              <td class="text-success">✓</td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
</div>

<!-- 下請け協力会社一覧 -->
<div class="card">
  <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
      <thead>
        <% if @invitation_pending_to.any? %>
          <tr align="center">
            <th colspan="5" class="text-warning">
              招待承認待ちが<%= @invitation_pending_to.count %>件あります。
            </th>
          </tr>
        <% end %>
        <tr align="center">
          <th colspan="5">下請会社一覧</th>
        </tr>
        <tr align="center">
          <th><%= Business.human_attribute_name(:name) %></th>
          <th><%= Business.human_attribute_name(:address) %></th>
          <th><%= User.human_attribute_name(:email) %></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <!-- 招待リクエスト送信中 -->
      <% if @invitation_pending_user_ids&.any? %>
        <tbody>
          <% @invitation_pending_user_ids.each do |invitation_pending_user_id| %>
            <tr align="center">
              <td><%= User.find(invitation_pending_user_id).business&.name %></td>
              <td><%= User.find(invitation_pending_user_id).business&.address %></td>
              <td><%= User.find(invitation_pending_user_id).email %></td>
              <td class="text-warning">承認待ち</td>
              <td>
                <%= link_to "キャンセル", "#",
                                        method: :delete,
                                        local: true,
                                        data: { confirm: "#{User.find(invitation_pending_user_id).email}様への招待リクエストを取り消します、本当によろしいですか？" },
                                        class: "btn btn-sm btn-warning"
                %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <% end %>
        
        <!-- 招待済 -->
        <% if @invited_user_ids&.any? %>
          <tbody>
            <% @invited_user_ids.each do |invited_user_id| %>
              <tr align="center">
                <td><%= User.find(invited_user_id).business&.name %></td>
                <td><%= User.find(invited_user_id).business&.address %></td>
                <td><%= User.find(invited_user_id).email %></td>
                <td class="text-success">✓</td>
                <td></td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
