<!-- (16)参考様式第9号(火気使用届) -->
<div class="document-outer" style="overflow: auto;">
  <div class="document-inner">
    <section class="doc_16_sheet">
      <div class="ritz grid-container" dir="ltr">
        <table class="waffle" cellspacing="0" cellpadding="0" style="width: 100%; zoom: 70%;">
          <tbody>
            <tr style="height: 29px">
              <td class="doc_16_m001 d16_l_full" dir="ltr" colspan="11">（参考様式第９号）</td>
              <td class="doc_16_" dir="ltr" colspan="15"></td>
              <td class="doc_16_m001 d16_l_full" dir="ltr" colspan="3" rowspan="2">元 請<br>確認欄</td>
              <td id="d16_size14" class="doc_16_m002 d16_l_full" dir="ltr" colspan="8" rowspan="2">
                <span style="text-decoration:underline;-webkit-text-decoration-skip:none;text-decoration-skip-ink:none;color:#1155cc;">
                <a target="_blank" href="#rangeid=16001">「元請会社の確認欄」16-001</a></span></td>
            </tr>
            <tr style="height: 29px">
            </tr>
            <tr style="height: 29px">
            </tr>
            <tr style="height: 29px">
              <td class="doc_16_" dir="ltr" colspan="29"></td>
              <td id="d16_size14" class="doc_16_m002" dir="ltr" colspan="8" rowspan="2">
                <a target="_blank" href="#rangeid=16002">「提出日（西暦）」16-002</a></td>
            </tr>
            <tr style="height: 29px">
            </tr>
            <tr style="height: 29px">
              <td class="doc_16_" dir="ltr" colspan="10"></td>
              <td class="doc_16_m003" dir="ltr" colspan="16" rowspan="4">火　気　使　用　願</td>
              <td class="doc_16_" dir="ltr" colspan="11"></td>
            </tr>
            <tr style="height: 29px">
            </tr>
            <tr style="height: 29px">
            </tr>
            <tr style="height: 29px">
            </tr>
            <tr style="height: 29px">
            </tr>
            <tr style="height: 29px">
              <td class="doc_16_m001" dir="ltr" colspan="5" rowspan="2">事業所の名称</td>
              <td class="doc_16_m004 d16_l_bottom" dir="ltr" colspan="13" rowspan="2">
                <%= document_site_info.site_name %> <!-- 16-003 事業所名(現場名) -->
              </td>
              <td class="doc_16_" colspan="2"></td>
              <td class="doc_16_m001" dir="ltr" colspan="5" rowspan="2">一次会社名</td>
              <td class="doc_16_m004 d16_l_bottom" dir="ltr" colspan="12" rowspan="2">
                <%=  %> <!-- 16-005 一次会社名 -->
              </td>
            </tr>
            <tr style="height: 29px">
            </tr>
            <tr style="height: 29px">
            </tr>
            <tr style="height: 29px">
              <td class="doc_16_m001" dir="ltr" colspan="5" rowspan="2">所 長 名</td>
              <td class="doc_16_m004 d16_l_bottom" dir="ltr" colspan="11" rowspan="2">
                <%= document_info.site_agent_name%> <!-- 16-004 各会社の現場代理人名 -->
              </td>
              <td class="doc_16_m001 d16_l_bottom" dir="ltr" colspan="2" rowspan="2">殿</td>
              <td class="doc_16_" dir="ltr" colspan="2"></td>
              <td class="doc_16_m001" dir="ltr" colspan="5">使用会社名</td>
              <td class="doc_16_m004 d16_l_bottom" dir="ltr" colspan="12" rowspan="2">
                <%= document_info.business.name %> <!--16-007 会社名 -->
              </td>
            </tr>
            <tr style="height: 29px">
              
              <td class="doc_16_" dir="ltr" colspan="2"></td>
              <td class="doc_16_m001" dir="ltr" colspan="1">（</td>
              <td id="d16_size14" class="doc_16_m004" dir="ltr" colspan="2">
                <%= sc_hierarchy(document_info) %> <!-- 16-006 次 -->
              </td>
              <td class="doc_16_m001" dir="ltr" colspan="2">）</td>
            </tr>
            <tr style="height: 29px">
            </tr>
            <tr style="height: 29px">
              <td class="doc_16_" dir="ltr" colspan="20"></td>
              <td class="doc_16_m001" dir="ltr" colspan="5" rowspan="2">現場代理人<br>(現場責任者)</td>
              <td class="doc_16_m004 d16_l_bottom" dir="ltr" colspan="10" rowspan="2">
                <%= document_info.site_agent_name%> <!-- 16-008 各会社の現場代理人名 -->
              </td>
              <td id="d16_size12" class="doc_16_m004 d16_l_bottom" dir="ltr" colspan="2" rowspan="2">
                <a target="_blank" href="#rangeid=16009">㊞16-009</a>
              </td>
            </tr>
            <tr style="height: 29px">
            </tr>
            <tr style="height: 29px">
            </tr>
            <tr style="height: 29px">
            </tr>
            <tr style="height: 29px">
              <td class="doc_16_" dir="ltr" colspan="3"></td>
              <td class="doc_16_m005" dir="ltr" colspan="31">下記の要領で火気を使用したく許可願います。なお、火気使用の終了時には、必ず</td>
              <td class="doc_16_" dir="ltr" colspan="3"></td>
            </tr>
            <tr style="height: 29px">
              <td class="doc_16_" dir="ltr" colspan="3"></td>
              <td class="doc_16_m005" dir="ltr" colspan="31">その旨報告致します。</td>
              <td class="doc_16_" dir="ltr" colspan="3"></td>
            </tr>
            <tr style="height: 29px">
            </tr>
            <tr style="height: 29px">
              <td class="doc_16_m006 d16_l_full" dir="ltr" colspan="6" rowspan="2">使 用 場 所</td>
              <td class="doc_16_m002 d16_l_full" dir="ltr" colspan="31" rowspan="2">
                <%= document_info.field_fires.map(&:use_place).first %> <!-- 16-010 使用場所 -->
              </td>
            </tr>
            <tr style="height: 29px">
            </tr>
            <tr style="height: 29px">
              <td class="doc_16_m006 d16_l_full" dir="ltr" colspan="6" rowspan="4">使 用 目 的</td>
              <td id="d16_size14" class="doc_16_m007" dir="ltr" colspan="2" rowspan="2" style="vertical-align: middle;">溶接</td>
              <td id="d16_size14" class="doc_16_m007" dir="ltr" colspan="2" rowspan="2" style="vertical-align: middle;">溶断</td>
              <td id="d16_size14" class="doc_16_m007" dir="ltr" colspan="2" rowspan="2" style="vertical-align: middle;">圧接</td>
              <td id="d16_size14" class="doc_16_m007" dir="ltr" colspan="2" rowspan="2" style="vertical-align: middle;">防水</td>
              <td id="d16_size14" class="doc_16_m007" dir="ltr" colspan="2" rowspan="2" style="vertical-align: middle;">乾燥</td>
              <td id="d16_size14" class="doc_16_m007" dir="ltr" colspan="2" rowspan="2" style="vertical-align: middle;">採暖</td>
              <td class="doc_16_" dir="ltr" colspan="4"></td>
              <td class="doc_16_m006 d16_l_full" dir="ltr" colspan="6" rowspan="4">使 用 期 間<br>使用時間（原則）</td>
              <td id="d16_size12" class="doc_16_m002" dir="ltr" colspan="4" rowspan="2">
                <%= document_date(document_info.field_fires.map(&:usage_period_start).first) %> <!-- 16-020 使用期間(始期） -->
              </td>
              <td class="doc_16_m006" dir="ltr" colspan="1" rowspan="2">～</td>
              <td id="d16_size12" class="doc_16_m002 d16_l_right" dir="ltr" colspan="4" rowspan="2">
                <%= document_date(document_info.field_fires.map(&:usage_period_end).first) %> <!-- 16-021 使用期間(終期） -->
              </td>
            </tr>
            <tr style="height: 29px"></tr>
            <tr style="height: 29px">
              <td id="d16_size14" class="doc_16_m007" dir="ltr" colspan="2" rowspan="2" style="vertical-align: middle; border-bottom: 1px SOLID #000000;">湯沸</td>
              <td id="d16_size14" class="doc_16_m007" dir="ltr" colspan="2" rowspan="2" style="vertical-align: middle; border-bottom: 1px SOLID #000000;">炊事</td>
              <td id="d16_size14" class="doc_16_m006" dir="ltr" colspan="2" rowspan="2" style="vertical-align: middle; border-bottom: 1px SOLID #000000;">その他</td>
              <td id="d16_size14" class="doc_16_m006" dir="ltr" colspan="1" rowspan="2" style="vertical-align: middle; border-bottom: 1px SOLID #000000;">（</td>
              <td id="d16_size12" class="doc_16_m002" dir="ltr" colspan="8" rowspan="2" style="vertical-align: middle; border-bottom: 1px SOLID #000000;">
                <%= "「使用目的(その他)」" %> <!-- 16-019 使用目的(その他) -->
              </td>
              <td id="d16_size14" class="doc_16_m006" dir="ltr" colspan="1"  rowspan="2" style="vertical-align: middle; border-bottom: 1px SOLID #000000;">）</td>
              <td id="d16_size12" class="doc_16_m002 d16_l_bottom" dir="ltr" colspan="4" rowspan="2">
                <%= document_info.field_fires.map(&:usage_time_start).first.strftime("%-H時%-M分") %> <!-- 16-022 使用時間(始期) -->
              </td>
              <td class="doc_16_m006 d16_l_bottom" dir="ltr" colspan="1" rowspan="2">～</td>
              <td id="d16_size12" class="doc_16_m002 d16_l_bottom d16_l_right" dir="ltr" colspan="4" rowspan="2">
                <%= document_site_info.field_fires.map(&:usage_time_end).first.strftime("%-H時%-M分") %> <!-- 16-023 使用時間(終期) -->
              </td>
            </tr>
            <tr style="height: 29px"></tr>
            <tr style="height: 29px">
              <td class="doc_16_m006 d16_l_full" dir="ltr" colspan="6" rowspan="2">火 気 の 種 類</td>
              <td id="d16_size14" class="doc_16_m007" dir="ltr" colspan="2" rowspan="2" style="vertical-align: middle;">電気</td>
              <td id="d16_size14" class="doc_16_m007" dir="ltr" colspan="2" rowspan="2" style="vertical-align: middle;">ガス</td>
              <td id="d16_size14" class="doc_16_m007" dir="ltr" colspan="2" rowspan="2" style="vertical-align: middle;">灯油</td>
              <td id="d16_size14" class="doc_16_m007" dir="ltr" colspan="2" rowspan="2" style="vertical-align: middle;">重油</td>
              <td id="d16_size14" class="doc_16_m007" dir="ltr" colspan="2" rowspan="2" style="vertical-align: middle;">木炭</td>
              <td id="d16_size14" class="doc_16_m007" dir="ltr" colspan="2" rowspan="2" style="vertical-align: middle;">薪</td>
              <td id="d16_size14" class="doc_16_m006" dir="ltr" colspan="3" rowspan="2" style="vertical-align: middle;">その他（</td>
              <td id="d16_size12" class="doc_16_m002" dir="ltr" colspan="15" rowspan="2" style="vertical-align: middle;">
                「火器の種類（その他）」16-030
              </td>
              <td id="d16_size14" class="doc_16_m006 d16_l_right" dir="ltr" colspan="1" rowspan="2" style="vertical-align: middle;">）</td>
            </tr>
            <tr style="height: 29px"></tr>
            <tr style="height: 29px">
              <td class="doc_16_m006 d16_l_full" dir="ltr" colspan="6" rowspan="4">管 理 方 法</td>
              <td id="d16_size14" class="doc_16_m007 d16_l_top" dir="ltr" colspan="3" rowspan="2" style="vertical-align: middle;">消火器</td>
              <td id="d16_size14" class="doc_16_m007 d16_l_top" dir="ltr" colspan="3" rowspan="2" style="vertical-align: middle;">防火用水</td>
              <td id="d16_size14" class="doc_16_m007 d16_l_top" dir="ltr" colspan="3" rowspan="2" style="vertical-align: middle;">消化砂</td>
              <td id="d16_size14" class="doc_16_m007 d16_l_top" dir="ltr" colspan="4" rowspan="2" style="vertical-align: middle;">防災シート</td>
              <td id="d16_size14" class="doc_16_m007 d16_l_top" dir="ltr" colspan="2" rowspan="2" style="vertical-align: middle;">受皿</td>
              <td id="d16_size14" class="doc_16_m007 d16_l_top" dir="ltr" colspan="2" rowspan="2" style="vertical-align: middle;">標識</td>
              <td id="d16_size14" class="doc_16_m007 d16_l_top" dir="ltr" colspan="2" rowspan="2" style="vertical-align: middle;">監視</td>
              <td class="doc_16_ d16_l_top d16_l_right" dir="ltr" colspan="12" rowspan="2" style="vertical-align: middle;"></td>
            </tr>
            <tr style="height: 29px"></tr>
            <tr style="height: 29px">
              <td id="d16_size14" class="doc_16_m006" dir="ltr" colspan="5" rowspan="2">取扱上の注意（</td>
              <td id="d16_size14" class="doc_16_m002" dir="ltr" colspan="25" rowspan="2">
                <%= document_info.field_fires.map(&:precautions).first %> <!-- 16-038 取扱上の注意 -->
              </td>
              <td id="d16_size14" class="doc_16_m006 d16_l_right" dir="ltr" colspan="1" rowspan="2">）</td>
            </tr>
            <tr style="height: 29px"> 
            </tr>
            <tr style="height: 29px">
              <td class="doc_16_m006 d16_l_full" dir="ltr" colspan="6" rowspan="2">火 元 責 任 者<br>（後始末巡回者）</td>
              <td class="doc_16_m002 d16_l_full" dir="ltr" colspan="31" rowspan="2">
                <%= document_info.field_fires.map(&:fire_origin_responsible).first %> <!-- 16-039 火元責任者(後始末巡回者) -->
              </td>
            </tr>
            <tr style="height: 29px">
            </tr>
            <tr style="height: 29px">
              <td class="doc_16_m006 d16_l_full" dir="ltr" colspan="6" rowspan="2">火気使用責任者</td>
              <td class="doc_16_m002 d16_l_full" dir="ltr" colspan="31" rowspan="2">
                <%= document_info.field_fires.map(&:fire_use_responsible).first %> <!-- 16-040 火気使用責任者 -->
              </td>
            </tr>
            <tr style="height: 29px">
            </tr>
            <tr style="height: 29px">
              <td class="doc_16_m006" dir="ltr" colspan="37">※使用目的、火気の種類、管理方法は該当事項をＯで囲んで下さい。</td>
            </tr>
            <tr style="height: 29px">
            </tr>
            <tr style="height: 29px">
              <td class="doc_16_m006 d16_l_tb d16_l_left" dir="ltr" colspan="4" rowspan="2">許可 第</td>
              <td class="doc_16_m002 d16_l_tb " dir="ltr" colspan="3" rowspan="2">
                <a target="_blank" href="#rangeid=16041">16-041</a></td>
              <td class="doc_16_m006 d16_l_tb d16_l_right" dir="ltr" colspan="2" rowspan="2">号</td>
              <td class="doc_16_m006 d16_l_tb " dir="ltr" colspan="7" rowspan="2">（許可年月日）</td>
              <td class="doc_16_ d16_l_tb " dir="ltr" colspan="2" rowspan="2"></td>
              <td class="doc_16_m002 d16_l_tb " dir="ltr" colspan="12" rowspan="2">
                <a target="_blank" href="#rangeid=16042">「火気使用年月日」16-042</a></td>
              <td class="doc_16_ d16_l_tb d16_l_right" dir="ltr" colspan="7" rowspan="2"></td>
            </tr>
            <tr style="height: 29px">
            </tr>
            <tr style="height: 29px">
              <td class="doc_16_m006 d16_l_full" dir="ltr" colspan="9" rowspan="4">火気使用許可</td>
              <td class="doc_16_m006 d16_l_tb" dir="ltr" colspan="7" rowspan="2">防火管理者</td>
              <td class="doc_16_m002 d16_l_tb" dir="ltr" colspan="19" rowspan="2">
                <a target="_blank" href="#rangeid=16043">「火気使用許可・防火管理者」16-043</a></td>
              <td id="d16_size12" class="doc_16_m004 d16_l_tb d16_l_right" dir="ltr" colspan="2" rowspan="2">
                <a target="_blank" href="#rangeid=16044">㊞16-044</a>
            </tr>
            <tr style="height: 29px">
            </tr>
            <tr style="height: 29px">
              <td class="doc_16_m006 d16_l_tb" dir="ltr" colspan="7" rowspan="2">担当係員</td>
              <td class="doc_16_m002 d16_l_tb" dir="ltr" colspan="19" rowspan="2">
                <a target="_blank" href="#rangeid=16045">「火気使用許可・担当係員」16-045</a></td>
              <td id="d16_size12" class="doc_16_m004 d16_l_tb d16_l_right" dir="ltr" colspan="2" rowspan="2">
                <a target="_blank" href="#rangeid=16046">㊞16-046</a>
            </tr>
            <tr style="height: 29px">
            <tr style="height: 29px">
              <td class="doc_16_m006 d16_l_full" dir="ltr" colspan="9" rowspan="4">許可条件</td>
              <td class="doc_16_m009 d16_l_full" dir="ltr" colspan="28" rowspan="4">
                <a target="_blank" href="#rangeid=16047">「許可条件」16-047</a></td>
            </tr>
            <tr style="height: 29px">
            </tr>
            <tr style="height: 29px">
            </tr>
            <tr style="height: 29px">
            </tr>
            <tr style="height: 29px">
              <td class="doc_16_m006" dir="ltr" colspan="37">※毎日時間で管理する場合は、この書式を参考にして書式を作成して下さい。</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>

<style>
  .doc_16_sheet {
    width: 250mm;
    height: 320mm;
    margin-bottom: 100px;
    size: A4;
  }
</style>
