<%= render 'shared/error_massages', object: f.object %>

<%= f.label :name %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :name, class: "form-control", placeholder: SpecialVehicle.human_attribute_name(:name) %>
<br>
<%= f.label :maker %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :maker, class: "form-control", placeholder: SpecialVehicle.human_attribute_name(:maker) %>
<br>
<%= f.label :standards_performance %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :standards_performance, class: "form-control", placeholder: SpecialVehicle.human_attribute_name(:standards_performance) %>
<br>
<%= f.label :year_manufactured %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.date_field :year_manufactured, class: "form-control", placeholder: SpecialVehicle.human_attribute_name(:year_manufactured) %>
<br>
<%= f.label :control_number %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :control_number, class: "form-control", placeholder: SpecialVehicle.human_attribute_name(:control_number) %>
<br>
<%= f.label :vehicle_type %>
  <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
  <div class="list-group-item">
    <%= f.collection_radio_buttons(:vehicle_type, SpecialVehicle.vehicle_types_i18n.each, :first, :last, { checked: @special_vehicle&.vehicle_type? ? @special_vehicle&.vehicle_type : false }) do |b| %>
      <div>
        <%= b.label { b.radio_button + b.text } %>
      </div>
    <% end %>
  </div>
<br>
<%= f.label :owning_company_name %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :owning_company_name, class: "form-control", placeholder: SpecialVehicle.human_attribute_name(:owning_company_name) %>
<br>
<%= f.label :check_exp_date_year %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.date_field :check_exp_date_year, class: "form-control" %>
<br>
<%= f.label :check_exp_date_month %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.date_field :check_exp_date_month, class: "form-control" %>
<br>
<%= f.label :check_exp_date_specific %>
<%= f.date_field :check_exp_date_specific, class: "form-control" %>
<br>
<%= f.label :check_exp_date_machine %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.date_field :check_exp_date_machine, class: "form-control" %>
<br>
<%= f.label :check_exp_date_car %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.date_field :check_exp_date_car, class: "form-control" %>
<br>
<%= f.label :personal_insurance %>
<%= f.select :personal_insurance, SpecialVehicle.personal_insurances.keys.to_a, { prompt: true }, { class: "form-control" } %>
<br>
<%= f.label :objective_insurance %>
<%= f.select :objective_insurance, SpecialVehicle.objective_insurances.keys.to_a, { prompt: true }, { class: "form-control" } %>
<br>
<%= f.label :passenger_insurance %>
<%= f.select :passenger_insurance, SpecialVehicle.passenger_insurances.keys.to_a, { prompt: true }, { class: "form-control" } %>
<br>
<%= f.label :other_insurance %>
<%= f.select :other_insurance, SpecialVehicle.other_insurances.keys.to_a, { prompt: true }, { class: "form-control" } %>
<br>
<%= f.label :exp_date_insurance %>
<%= f.date_field :exp_date_insurance, class: "form-control" %>
<br>
<%= f.label :periodic_self_inspections %>
<%= f.file_field :periodic_self_inspections, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: "form-control" %>
<% if f.object.periodic_self_inspections.present? %>
  <% f.object.periodic_self_inspections.each_with_index do |image, index| %>
    <%= image_tag(image.url) %>
    <%= link_to "削除", users_special_vehicle_destroy_image_path(special_vehicle_uuid: f.object.uuid, column: "periodic_self_inspections", id: f.object.id, index: index), method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } %>
  <% end %>
<% end %>
<br>
<br>
<%= f.label :in_house_inspections %>
<%= f.file_field :in_house_inspections, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: "form-control" %>
  <% if f.object.in_house_inspections.present? %>
    <% f.object.in_house_inspections.each_with_index do |image, index| %>
    <%= image_tag(image.url) %>
    <%= link_to "削除", users_special_vehicle_destroy_image_path(special_vehicle_uuid: f.object.uuid, column: "in_house_inspections", id: f.object.id, index: index), method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } %>
  <% end %>
<% end %>
<script>
  $(function(){
    $.each(function(key){
      $.validator.addMethod(key, this);
    });
    $(".special-vehicle-form-validation").validate({
      rules:{
        "special_vehicle[name]": {
          required: true
        },
        "special_vehicle[maker]": {
          required: true
        },
        "special_vehicle[owning_company_name]": {
          required: true
        },
        "special_vehicle[standards_performance]": {
          required: true
        },
        "special_vehicle[year_manufactured]": {
          required: true
        },
        "special_vehicle[control_number]": {
          required: true
        },
        "special_vehicle[check_exp_date_year]": {
          required: true
        },
        "special_vehicle[check_exp_date_month]": {
          required: true
        },
        "special_vehicle[vehicle_type]": {
          required: true
        },
        "special_vehicle[check_exp_date_machine]": {
          required: true
        },
        "special_vehicle[check_exp_date_car]": {
          required: true
        },
        
      },
      messages:{
        "special_vehicle[name]": {
          required: "名称を入力してください。"
        },
        "special_vehicle[maker]": {
          required: "メーカーを入力してください。"
        },
        "special_vehicle[owning_company_name]": {
          required: "会社名を入力してください。"
        },
        "special_vehicle[standards_performance]": {
          required: "規格・性能を入力してください。"
        },
        "special_vehicle[year_manufactured]": {
          required: "製造年を入力または選択してください。"
        },
        "special_vehicle[control_number]": {
          required: "管理番号（整理番号）を入力してください。"
        },
        "special_vehicle[check_exp_date_year]": {
          required: "年月日を入力または選択してください。"
        },
        "special_vehicle[check_exp_date_month]": {
          required: "年月日を入力または選択してください。"
        },
        "special_vehicle[vehicle_type]": {
          required: "登録車両を選択してください。"
        },
        "special_vehicle[check_exp_date_machine]": {
          required: "年月日を入力または選択してください。"
        },
        "special_vehicle[check_exp_date_car]": {
          required: "年月日を入力または選択してください。"
        },
      },

      errorPlacement: function(error, element) {
        // radioとcheckboxのみ表示位置を個別調整
        if (element.is(":radio") || element.is(":checkbox")) {
          error.insertBefore(element.closest('.list-group-item'));
        } else {
          error.insertBefore(element);
        }
      }
    });
    // 入力欄を変更したときにバリデーションを実行
    $(".special-vehicle-form-validation").change(function () {
      $(this).valid();
    });
  });
</script>
