<% provide(:title, "特殊車両情報編集") %>
<% provide(:btn_text, "更新") %>

<div class="card">
  <%= form_with model: @special_vehicle, url: users_special_vehicle_path, method: :patch, local: true, class: "car-form-validation" do |f| %>
    <div class="card-body">
      <%= render partial: "form", locals: { f: f, car: @special_vehicle} %>
    </div>
    <div class="card-footer">
      <%= f.submit yield(:btn_text), class: "btn btn-md btn-block btn-success" %>
      <%= link_to "詳細画面へ", users_special_vehicle_path(@special_vehicle), class: "btn btn-md btn-block btn-default" %>
      <%= link_to "一覧画面へ", users_special_vehicles_path, class: "btn btn-md btn-block btn-default" %>
    </div>
  <% end %>
</div>
