<%= render 'shared/error_massages', object: f.object %>

<!-- 現場 -->
<div class="list-group-item">
  <div style="font-size: 22px; font-weight: bold;"><%= f.label :order %></div>
  <div class="list-group-item">
    <%= f.label :site_career_up_id %> <!-- 現場ID(キャリアアップシステム) -->
    <%= f.text_field :site_career_up_id, class: "form-control", minlength: 14, maxlength: 14 %>
    <br>
    <%= f.label :site_name %> <!-- 現場名 -->
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.text_field :site_name, class: "form-control", maxlength: 100 %>
    <br>
    <%= f.label :site_address %> <!-- 施工場所住所 -->
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.text_field :site_address, class: "form-control", maxlength: 50 %>
    <br>
  </div>
</div>
<br>

<!-- 発注者 -->
<div class="list-group-item">
  <div style="font-size: 22px; font-weight: bold;"><%= f.label :orderer %></div> <!-- 発注者 -->
  <div class="list-group-item">
    <div style="font-weight: bold;"><%= f.label :orderer %></div> <!-- 発注者 -->
    <div class="list-group-item">
      <%= f.label :order_name %>
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span> <!-- 氏名 -->
      <%= f.text_field :order_name, class: "form-control" %>
      <br>
      <%= f.label :order_post_code %> <!-- 郵便番号 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.text_field :order_post_code, class: "form-control" %>
      <br>
      <%= f.label :order_address %> <!-- 住所 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.text_field :order_address, class: "form-control" %>
      <br>
    </div>
  </div>
  <div class="list-group-item">
    <div style="font-weight: bold;"><%= f.label :supervisor %></div><!-- 監督員 -->
    <div class="list-group-item">
      <%= f.label :order_supervisor_name %> <!-- 氏名 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.text_field :order_supervisor_name, class: "form-control" %>
      <br>
      <%= f.label :order_supervisor_company %> <!-- 所属会社名 -->
      <%= f.text_field :order_supervisor_company, class: "form-control" %>
      <br>
      <%= f.label :order_supervisor_apply %> <!-- 権限及び意見の申出方法 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.text_field :order_supervisor_apply, class: "form-control" %>
    </div>
  </div>
  <br>

<!-- 元請会社 -->
<div class="list-group-item">
  <div style="font-size: 22px; font-weight: bold;"><%= f.label :prime_contractor %></div> <!-- 元請会社 -->
  <div class="list-group-item">
    <div style="font-weight: bold;"><%= f.label :order_infomation %></div> <!-- 現場情報 -->
    <div class="list-group-item">
      <%= f.label :construction_name %> <!-- 工事名 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.text_field :construction_name, class: "form-control" %>
      <br>
      <%= f.label :construction_details %> <!-- 工事内容 -->
      <%= f.text_field :construction_details, class: "form-control" %>
      <br>
      <%= f.label :start_date %> <!-- 工期(自) -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.date_field :start_date, class: "form-control" %>
      <br>
      <%= f.label :end_date %> <!-- 工期(至) -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.date_field :end_date, class: "form-control" %>
      <br>
      <%= f.label :contract_date %> <!-- 契約日 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.date_field :contract_date, class: "form-control" %>
      <br>
    </div>
  </div>
  <div class="list-group-item">
    <div style="font-weight: bold;"><%= f.label :site_agent %></div> <!-- 現場代理人 -->
    <div class="list-group-item">
      <%= f.label :site_agent_name %><!-- 現場代理人(氏名) -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.select :site_agent_name, @business_workers_name.uniq,
                    { include_blank: true },
                    { class: "form-select form-select-sm", style: "width: 100%" }
      %><br>
      <%= f.label :site_agent_apply %> <!-- 現場代理人(権限及び意見の申出方法) -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.text_field :site_agent_apply, class: "form-control" %>
      <br>
    </div>
  </div>
  <div class="list-group-item">
    <div style="font-weight: bold;"><%= f.label :supervisor %></div> <!-- 監督員 -->
    <div class="list-group-item">
      <%= f.label :supervisor_name %> <!-- 監督員(氏名) -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.select :supervisor_name, @business_workers_name.uniq,
                    { include_blank: true },
                    { class: "form-select form-select-sm", style: "width: 100%" }
      %><br>
      <%= f.label :supervisor_apply %> <!-- 監督員(権限及び意見の申出方法) -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.text_field :supervisor_apply, class: "form-control" %>
      <br>
    </div>
  </div>
  <div class="list-group-item">
    <div style="font-weight: bold;"><%= f.label :professional_engineer %></div> <!-- 専門技術者 -->
    <div class="list-group-item">
      <%= f.label :professional_engineer_name_1st %> <!-- 専門技術者1(氏名) -->
      <%= f.select :professional_engineer_name_1st, @business_workers_name.uniq,
                    { include_blank: true },
                    { id: "professional_engineer_name_1st", class: "form-select form-select-sm", style: "width: 100%" }
      %>
      <br>
      <%= f.label :professional_engineer_qualification_1st %> <!-- 専門技術者1(資格内容) -->
      <%= f.select :professional_engineer_qualification_1st, options_for_select(@order.professional_engineer_qualification_1st.to_s.split(',')&.map{ |id| [SkillTraining.find(id).name, id] } || [], selected: @order.professional_engineer_qualification_1st, include_blank: true), {},
                    { class: "form-select form-select-sm", style: "width: 100%", id: 'professional_engineer_qualification_id_1st' }
      %>
      <br><br>
      <%= f.label :professional_engineer_details_1st %> <!-- 専門技術者1(担当工事内容) -->
      <%= f.text_field :professional_engineer_details_1st, class: "form-control" %>
      <br>
    </div>
  </div>
    <div class="list-group-item">
    <div style="font-weight: bold;"><%= f.label :professional_engineer %></div> <!-- 専門技術者 -->
    <div class="list-group-item">
      <%= f.label :professional_engineer_name_2nd %> <!-- 専門技術者2(氏名) -->
      <%= f.select :professional_engineer_name_2nd, @business_workers_name.uniq,
                    { include_blank: true },
                    { id: "professional_engineer_name_2nd", class: "form-select form-select-sm", style: "width: 100%" }
      %>
      <br>
      <%= f.label :professional_engineer_qualification_2nd %> <!-- 専門技術者2(資格内容) -->
      <%= f.select :professional_engineer_qualification_2nd, options_for_select(@order.professional_engineer_qualification_2nd.to_s.split(',')&.map{ |id| [SkillTraining.find(id).name, id] } || [], selected: @order.professional_engineer_qualification_2nd, include_blank: true), {},
                    { class: "form-select form-select-sm", style: "width: 100%", id: 'professional_engineer_qualification_id_2nd' }
                   %>
      <br><br>
      <%= f.label :professional_engineer_details_2nd %> <!-- 専門技術者2(担当工事内容) -->
      <%= f.text_field :professional_engineer_details_2nd, class: "form-control" %>
      <br>
    </div>
  </div>
  <div class="list-group-item">
    <div style="font-weight: bold;"><%= f.label :supervising_engineer %></div> <!-- 監督技術者･主任技術者 -->
    <div class="list-group-item">
      <%= f.label :supervising_engineer_name %> <!-- 監督技術者･主任技術者(氏名) -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.select :supervising_engineer_name, @business_workers_name.uniq,
                    { include_blank: true },
                    { id: "supervising_engineer_name", class: "form-select form-select-sm", style: "width: 100%" }
      %><br>
      <%= f.label :supervising_engineer_check %> <!-- 監督技術者･主任技術者(専任・非専任) -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <div class="list-group-item">
        <%= f.collection_radio_buttons(:supervising_engineer_check, Order.supervising_engineer_checks_i18n, :first, :last, { checked: @order&.supervising_engineer_check? ? @order&.supervising_engineer_check : false }, item_wrapper_class: 'radio-button-item') do |b| %>
          <div>
            <%= b.label { b.radio_button + b.text } %>
        </div>
        <% end %>
      </div>
      <br>
      <%= f.label :supervising_engineer_qualification %> <!-- 監督技術者･主任技術者(資格内容) -->
      <%= f.select :supervising_engineer_qualification, options_for_select(@order.supervising_engineer_qualification.to_s.split(',')&.map{ |id| [SkillTraining.find(id).name, id] } || [], selected: @order.supervising_engineer_qualification, include_blank: true), {},
                    { class: "form-select form-select-sm", style: "width: 100%", id: 'supervising_engineer_qualification_id' }
                   %>
      <br>
    </div>
  </div>
  <div class="list-group-item">
    <div style="font-weight: bold;"><%= f.label :supervising_engineer_assistant %></div> <!-- 監督技術者補佐 -->
    <div class="list-group-item">
      <%= f.label :supervising_engineer_assistant_name %> <!-- 監督技術者補佐(氏名) -->
      <%= f.select :supervising_engineer_assistant_name, @business_workers_name.uniq,
                    { include_blank: true },
                    { id: "supervising_engineer_assistant_name", class: "form-select form-select-sm", style: "width: 100%" }
      %><br>
      <%= f.label :supervising_engineer_assistant_qualification %><br> <!-- 監督技術者補佐(資格内容) -->
      <%= f.select :supervising_engineer_assistant_qualification, options_for_select(@order.supervising_engineer_assistant_qualification.to_s.split(',')&.map{ |id| [SkillTraining.find(id).name, id] } || [], selected: @order.supervising_engineer_assistant_qualification, include_blank: true), {},
                    { class: "form-select form-select-sm", style: "width: 100%", id: 'supervising_engineer_assistant_qualification_id' }
                   %>
    </div>
  </div>
  <div class="list-group-item">
    <%= f.label :general_safety_responsible_person_name %> <!-- 統括安全衛生責任者名 -->
    &emsp;<%= Order.human_attribute_name(:general_safety_responsible_person_name_note) %>
    <%= f.select :general_safety_responsible_person_name, @business_workers_name.uniq,
                  { include_blank: true },
                  { class: "form-select form-select-sm", style: "width: 100%" }
    %><br>
  </div>
  <div class="list-group-item">
    <%= f.label :general_safety_agent_name %> <!-- 統括安全衛生責任者代行者名 -->
    &emsp;<%= Order.human_attribute_name(:general_safety_agent_name_note) %>
    <%= f.select :general_safety_agent_name, @business_workers_name.uniq,
                  { include_blank: true },
                  { class: "form-select form-select-sm", style: "width: 100%" }
    %><br>
  </div>
  <div class="list-group-item">
    <%= f.label :health_and_safety_manager_name %> <!-- 元方安全衛生管理者名 -->
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.select :health_and_safety_manager_name, @business_workers_name.uniq,
                  { include_blank: true },
                  { class: "form-select form-select-sm", style: "width: 100%" }
    %><br>
  </div>
  <div class="list-group-item">
    <%= f.label :submission_destination %> <!-- 提出先及び担当者名 -->
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.select :submission_destination, @business_workers_name.uniq,
                  { include_blank: true },
                  { class: "form-select form-select-sm", style: "width: 100%" }
    %><br>
  </div>
  <div class="list-group-item">
    <%= f.label :construction_license %><span class="error_msg construction_license-error"></span> <!-- 工場に必要な建設許可証 -->
    <div class="list-group-item">
      <div class="form-check">
        <% @business_construction_licenses.each do |id, license| %>
          <% industry = BusinessIndustry.find_by(id: id) %>
          <% if industry %>
            <div class="form-check">
              <%= f.check_box :construction_license, { multiple: true, checked: (@order.construction_license.present? && @order.construction_license&.include?(id.to_s)), id: "construction_license_number_#{id}" }, id, nil %>
              <label for='construction_license_number_<%= id %>'><%= industry.construction_license_number %></label>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>

<script>
//資格内容(専門技術者1)の取得
  $(function() {
    // 監理技術者1が変更されたら、対応するWorkerSkillTrainingのレコードを取得して、セレクトボックスを作成する
    $('#professional_engineer_name_1st').on('change', function() {
      var assistantName = $(this).val();
      $.ajax({
        url: '/users/professional_engineer_1st_skill_training_options',
        data: { professional_engineer_name_1st: assistantName },
        success: function(options) {
          var selectOptionsHtml = '<option value=""></option>';
          for (var i = 0; i < options.length; i++) {
          selectOptionsHtml += '<option value="' + options[i].id + '">' + options[i].name + '</option>';
          }
          var selectBoxHtml = '<select id="worker_skill_training_id" name="order[worker_skill_training_id]">' + selectOptionsHtml + '</select>';
          $('#professional_engineer_qualification_id_1st').html(selectBoxHtml);
        }
      });
    });
  });

  //資格内容(専門技術者2)の取得
  $(function() {
    // 専門技術者名2が変更されたら、対応するWorkerSkillTrainingのレコードを取得して、セレクトボックスを作成する
    $('#professional_engineer_name_2nd').on('change', function() {
      var assistantName = $(this).val();
      $.ajax({
        url: '/users/professional_engineer_2nd_skill_training_options',
        data: { professional_engineer_name_2nd: assistantName },
        success: function(options) {
          var selectOptionsHtml = '<option value=""></option>';
          for (var i = 0; i < options.length; i++) {
          selectOptionsHtml += '<option value="' + options[i].id + '">' + options[i].name + '</option>';
          }
          var selectBoxHtml = '<select id="worker_skill_training_id" name="order[worker_skill_training_id]">' + selectOptionsHtml + '</select>';
          $('#professional_engineer_qualification_id_2nd').html(selectBoxHtml);
        }
      });
    });
  });

  //資格内容(監督技術者・主任技術者)の取得
  $(function() {
    // 監督技術者・主任技術者名が変更されたら、対応するWorkerSkillTrainingのレコードを取得して、セレクトボックスを作成する
    $('#supervising_engineer_name').on('change', function() {
      var assistantName = $(this).val();
      $.ajax({
        url: '/users/supervising_engineer_skill_training_options',
        data: { supervising_engineer_name: assistantName },
        success: function(options) {
          var selectOptionsHtml = '<option value=""></option>';
          for (var i = 0; i < options.length; i++) {
          selectOptionsHtml += '<option value="' + options[i].id + '">' + options[i].name + '</option>';
          }
          var selectBoxHtml = '<select id="worker_skill_training_id" name="order[worker_skill_training_id]">' + selectOptionsHtml + '</select>';
          $('#supervising_engineer_qualification_id').html(selectBoxHtml);
        }
      });
    });
  });

  //資格内容(監督技術者補佐)の取得
  $(function() {
    // 監理技術者補佐名が変更されたら、対応するWorkerSkillTrainingのレコードを取得して、セレクトボックスを作成する
    $('#supervising_engineer_assistant_name').on('change', function() {
      var assistantName = $(this).val();
      $.ajax({
        url: '/users/supervising_engineer_assistant_skill_training_options',
        data: { supervising_engineer_assistant_name: assistantName },
        success: function(options) {
          var selectOptionsHtml = '<option value=""></option>';
          for (var i = 0; i < options.length; i++) {
          selectOptionsHtml += '<option value="' + options[i].id + '">' + options[i].name + '</option>';
          }
          var selectBoxHtml = '<select id="worker_skill_training_id" name="order[worker_skill_training_id]">' + selectOptionsHtml + '</select>';
          $('#supervising_engineer_assistant_qualification_id').html(selectBoxHtml);
        }
      });
    });
  });

  // 入力フォームのバリデーション
  $(function(){
    let methods = {
      postcode: function(value, element){
        return this.optional(element) || /^\d{7}$/i.test(value);
      }
    }
    $.each(methods, function(key){
      $.validator.addMethod(key, this);
    });
    $(".order-form-validation").validate({
      rules: {
        "order[site_name]": {
          required: true,
          maxlength: 100
        },
        "order[site_address]": {
          required: true,
          maxlength: 50
        },
        "order[order_name]": {
          required: true
        },
        "order[order_post_code]": {
          required: true,
          postcode: true
        },
        "order[order_address]": {
          required: true
        },
        "order[order_supervisor_name]": {
          required: true
        },
        "order[order_supervisor_apply]": {
          required: true,
          maxlength: 40
        },
        "order[construction_name]": {
          required: true
        },
        "order[start_date]": {
          required: true
        },
        "order[end_date]": {
          required: true
        },
        "order[contract_date]": {
          required: true
        },
        "order[site_agent_name]": {
          required: true
        },
        "order[site_agent_apply]": {
          required: true
        },
        "order[supervisor_name]": {
          required: true
        },
        "order[supervisor_apply]": {
          required: true,
          maxlength: 40
        },
        "order[professional_engineer_details_1st]": {
          maxlength: 40
        },
        "order[professional_engineer_details_2nd]": {
          maxlength: 40
        },
        "order[supervising_engineer_name]": {
          required: true
        },
        "order[supervising_engineer_check]": {
          required: true
        },
        "order[health_and_safety_manager_name]": {
          required: true
        },
        "order[submission_destination]": {
          required: true
        },
        'order[construction_license][]': {
          maxlength: 2
        },
        // "order[general_safety_responsible_person_name]": {
        //   required: true
        // },
        // "order[vice_president_name]": {
        //   required: true
        // },
        // "order[vice_president_company_name]": {
        //   required: true
        // },
        // "order[secretary_name]": {
        //   required: true
        // },
        // "order[general_safety_agent_name]": {
        //   required: true
        // },
        // "order[safety_officer_name]": {
        //   required: true
        // },
        // "order[safety_officer_position_name]": {
        //   required: true
        // },
        // "order[confirm_name]": {
        //   required: true
        // },
        // "order[accept_confirm_date]": {
        //   required: true
        // },
        // "order[subcontractor_name]": {
        //   required: true
        // }
      },
      messages: {
        "order[site_career_up_id]": {
          minlength: '数字のみ{0}桁で入力して下さい。'
        },
        "order[site_name]": {
          required: "現場名を入力してください。",
          maxlength: "現場名は100字以内で入力してください。"
        },
        "order[site_address]": {
          required: "施工場所住所を入力してください。",
          maxlength: "施工場所の住所は50字以内で入力してください。"
        },
        "order[order_name]": {
          required: "発注者の氏名を入力してください。"
        },
        "order[order_post_code]": {
          required: "半角数字7桁を入力してください。【例: 1000011】",
          postcode: "半角数字7桁を入力してください。【例: 1000022】"
        },
        "order[order_address]": {
          required: "発注者の住所を入力してください。"
        },
        "order[order_supervisor_name]": {
          required: "監督員の氏名を入力してください。"
        },
        "order[order_supervisor_apply]": {
          required: "監督員の権限及び意見の申出方法を入力してください。",
          maxlength: "監督員の権限及び意見の申出方法は40字以内で入力してください。"
        },
        "order[construction_name]": {
          required: "工事名を入力してください。"
        },
        "order[start_date]": {
          required: "工期(自)を入力してください。"
        },
        "order[end_date]": {
          required: "工期(至)を入力してください。"
        },
        "order[contract_date]": {
          required: "契約日を入力してください。"
        },
        "order[site_agent_name]": {
          required: "現場代理人の氏名を入力してください。"
        },
        "order[site_agent_apply]": {
          required: "現場代理人の権限及び意見の申出方法を入力してください。"
        },
        "order[supervisor_name]": {
          required: "監督員の氏名を入力してください。"
        },
        "order[supervisor_apply]": {
          required: "監督員の権限及び意見の申出方法を入力してください。",
          maxlength: "監督員の権限及び意見の申出方法は40字以内で入力してください。"
        },
        "order[professional_engineer_details_1st]": {
          maxlength: "担当工事内容は40字以内で入力してください。"
        },
        "order[professional_engineer_details_2nd]": {
          maxlength: "担当工事内容は40字以内で入力してください。"
        },
        "order[supervising_engineer_name]": {
          required: "監督技術者･主任技術者の氏名を入力してください。"
        },
        "order[supervising_engineer_check]": {
          required: "専任又は非専任を選択してください。"
        },
        "order[health_and_safety_manager_name]": {
          required: "元方安全衛生管理者名を入力してください。"
        },
        "order[submission_destination]": {
          required: "提出先及び担当者を入力してください。"
        },
        'order[construction_license][]': {
          maxlength: "チェックボックスは最大2つまでしか選択できません。"
        },
        // "order[general_safety_responsible_person_name]": {
        //   required: "統括安全衛生責任者名を入力してください。"
        // },
        // "order[vice_president_name]": {
        //   required: "副会長名を入力してください。"
        // },
        // "order[secretary_name]": {
        //   required: "書記名を入力してください。"
        // },
        // "order[general_safety_agent_name]": {
        //   required: "統括安全衛生責任者代行者名を入力してください。"
        // },
        // "order[vice_president_company_name]": {
        //   required: "会社名を入力してください。"
        // },
        // "order[safety_officer_name]": {
        //   required: "安全衛生担当役員名を入力してください。"
        // },
        // "order[safety_officer_position_name]": {
        //   required: "役職名を入力してください。"
        // },
        // "order[confirm_name]": {
        //   required: "確認欄を入力してください。"
        // },
        // "order[accept_confirm_date]": {
        //   required: "受付確認日を入力してください。"
        // },
        // "order[subcontractor_name]": {
        //   required: "下請会社名を入力してください。"
        // },
      },
      
      errorPlacement: function(error, element) {
        // radioとcheckboxのみ表示位置を個別調整
        if (element.is(":radio") || element.is(":checkbox")) {
          error.insertBefore(element.closest('.list-group-item'));
        } else {
          error.insertBefore(element);
        }
      }
    });
    // 入力欄を変更したときにバリデーションを実行
    $(".order-form-validation").change(function () {
      $(this).valid();
    });
  });
</script>
