<%= render 'shared/error_massages', object: f.object %>

<!-- 現場 -->
<div class="list-group-item">
  <div style="font-size: 22px; font-weight: bold;"><%= f.label :order %></div>
  <div class="list-group-item">
    <%= f.label :site_career_up_id %> <!-- 現場ID(キャリアアップシステム) -->
    <%= f.text_field :site_career_up_id, class: "form-control", placeholder: "#{Order.human_attribute_name(:site_career_up_id)} 数字14桁", minlength: 14, maxlength: 14 %>
    <br>
    <%= f.label :site_name %> <!-- 現場名 -->
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.text_field :site_name, class: "form-control", placeholder: Order.human_attribute_name(:site_name), maxlength: 100 %>
    <br>
    <%= f.label :site_address %> <!-- 施工場所住所 -->
    <%= f.text_field :site_address, class: "form-control", placeholder: Order.human_attribute_name(:site_address), maxlength: 50 %>
    <br>
  </div>
</div>
<br>

<!-- 発注者 -->
<div class="list-group-item">
  <div style="font-size: 22px; font-weight: bold;"><%= f.label :orderer %></div> <!-- 発注者 -->
  <div class="list-group-item">
    <div style="font-weight: bold;"><%= f.label :orderer %></div> <!-- 発注者 -->
    <div class="list-group-item">
      <%= f.label :order_name %>
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span> <!-- 氏名 -->
      <%= f.text_field :order_name, class: "form-control", placeholder: Order.human_attribute_name(:order_name) %>
      <br>
      <%= f.label :order_post_code %> <!-- 郵便番号 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.text_field :order_post_code, class: "form-control", placeholder: Order.human_attribute_name(:hyphen_is_unnecessary) %>
      <br>
      <%= f.label :order_address %> <!-- 住所 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.text_field :order_address, class: "form-control", placeholder: Order.human_attribute_name(:order_address) %>
      <br>
    </div>
  </div>
  <div class="list-group-item">
    <div style="font-weight: bold;"><%= f.label :supervisor %></div><!-- 監督員 -->
    <div class="list-group-item">
      <%= f.label :order_supervisor_name %> <!-- 氏名 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.select :order_supervisor_name, @business_workers_name.uniq,
                    { include_blank: true },
                    { class: "form-select form-select-sm", style: "width: 100%" }
      %><br>
      <%= f.label :order_supervisor_company %> <!-- 所属会社名 -->
      <%= f.text_field :order_supervisor_company, class: "form-control", placeholder: Order.human_attribute_name(:order_supervisor_company) %>
      <br>
      <%= f.label :order_supervisor_apply %> <!-- 権限及び意見の申出方法 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.text_field :order_supervisor_apply, class: "form-control", placeholder: Order.human_attribute_name(:order_supervisor_apply) %>
    </div>
  </div>
  <br>

<!-- 元請会社 -->
<div class="list-group-item">
  <div style="font-size: 22px; font-weight: bold;"><%= f.label :prime_contractor %></div> <!-- 元請会社 -->
  <div class="list-group-item">
    <div style="font-weight: bold;"><%= f.label :order_infomation %></div> <!-- 現場情報 -->
    <div class="list-group-item">
      <%= f.label :construction_name %> <!-- 工事名 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.text_field :construction_name, class: "form-control", placeholder: Order.human_attribute_name(:construction_name) %>
      <br>
      <%= f.label :construction_details %> <!-- 工事内容 -->
      <%= f.text_field :construction_details, class: "form-control", placeholder: Order.human_attribute_name(:construction_details) %>
      <br>
      <%= f.label :start_date %> <!-- 工期(自) -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.date_field :start_date, class: "form-control" %>
      <br>
      <%= f.label :end_date %> <!-- 工期(至) -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.date_field :end_date, class: "form-control" %>
      <br>
      <%= f.label :contract_date %> <!-- 契約日 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.date_field :contract_date, class: "form-control" %>
      <br>
    </div>
  </div>
  <div class="list-group-item">
    <div style="font-weight: bold;"><%= f.label :site_agent %></div> <!-- 現場代理人 -->
    <div class="list-group-item">
      <%= f.label :site_agent_name %> <!-- 氏名 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.select :site_agent_name, @business_workers_name.uniq,
                    { include_blank: true },
                    { class: "form-select form-select-sm", style: "width: 100%" }
      %><br>
      <%= f.label :site_agent_apply %> <!-- 権限及び意見の申出方法 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.text_field :site_agent_apply, class: "form-control", placeholder: Order.human_attribute_name(:site_agent_apply) %>
    </div>
  </div>
  <div class="list-group-item">
    <div style="font-weight: bold;"><%= f.label :supervisor %></div> <!-- 監督員 -->
    <div class="list-group-item">
      <%= f.label :supervisor_name %> <!-- 氏名 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.select :supervisor_name, @business_workers_name.uniq,
                    { include_blank: true },
                    { class: "form-select form-select-sm", style: "width: 100%" }
      %><br>
      <%= f.label :supervisor_apply %> <!-- 権限及び意見の申出方法 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.text_field :supervisor_apply, class: "form-control", placeholder: Order.human_attribute_name(:supervisor_apply) %>
    </div>
  </div>
  <div class="list-group-item">
    <div style="font-weight: bold;"><%= f.label :professional_engineer %></div> <!-- 専門技術者 -->
    <div class="list-group-item">
      <%= f.label :professional_engineer_name_1st %> <!-- 氏名1 -->
      <%= f.select :professional_engineer_name_1st, @business_workers_name.uniq,
                    { include_blank: true },
                    { class: "form-select form-select-sm", style: "width: 100%" }
      %>
      <br>
      <!--<%= f.label :professional_engineer_qualification_1st %>--> <!-- 資格内容1 -->
      <!--<%= f.text_field :professional_engineer_qualification_1st, class: "form-control", placeholder: Order.human_attribute_name(:professional_engineer_qualification_1st) %>
      <br>-->
      <%= f.label :professional_engineer_construction_details_1st %> <!-- 担当工事内容1 -->
      <%= f.text_field :professional_engineer_construction_details_1st, class: "form-control", placeholder: Order.human_attribute_name(:professional_engineer_construction_details_1st) %>
      <br>
    </div>
  </div>
    <div class="list-group-item">
    <div style="font-weight: bold;"><%= f.label :professional_engineer %></div> <!-- 専門技術者 -->
    <div class="list-group-item">
      <%= f.label :professional_engineer_name_2nd %> <!-- 氏名2 -->
      <%= f.select :professional_engineer_name_2nd, @business_workers_name.uniq,
                    { include_blank: true },
                    { class: "form-select form-select-sm", style: "width: 100%" }
      %>
      <br>
      <!--<%= f.label :professional_engineer_qualification_2nd %>--> <!-- 資格内容2 -->
      <!--<%= f.text_field :professional_engineer_qualification_2nd, class: "form-control", placeholder: Order.human_attribute_name(:professional_engineer_qualification_2nd) %>
      <br>-->
      <%= f.label :professional_engineer_construction_details_2nd %> <!-- 担当工事内容2 -->
      <%= f.text_field :professional_engineer_construction_details_2nd, class: "form-control", placeholder: Order.human_attribute_name(:professional_engineer_construction_details_2nd) %>
      <br>
    </div>
  </div>
  <div class="list-group-item">
    <%= f.label :general_safety_responsible_person_name %> <!-- 統括安全衛生責任者名 -->
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.select :general_safety_responsible_person_name, @business_workers_name.uniq,
                  { include_blank: true },
                  { class: "form-select form-select-sm", style: "width: 100%" }
    %>
    <br>
  </div>
  <div class="list-group-item">
    <%= f.label :general_safety_agent_name %> <!-- 統括安全衛生責任者代行者名 -->
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.select :general_safety_agent_name, @business_workers_name.uniq,
                  { include_blank: true },
                  { class: "form-select form-select-sm", style: "width: 100%" }
    %><br>
  </div>
  <div class="list-group-item">
    <div style="font-weight: bold;"><%= f.label :supervising_engineer %></div> <!-- 監督技術者･主任技術者 -->
    <div class="list-group-item">
      <%= f.label :supervising_engineer_name %> <!-- 氏名 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.select :supervising_engineer_name, @business_workers_name.uniq,
                    { include_blank: true },
                    { class: "form-select form-select-sm", style: "width: 100%" }
      %><br>
      <%= f.label :supervising_engineer_check %> <!-- 専任・非専任 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <div class="list-group-item">
        <%= f.collection_radio_buttons(:supervising_engineer_check, Order.supervising_engineer_checks_i18n, :first, :last, item_wrapper_class: 'radio-button-item') do |b| %>
          <%= b.label(class: 'radio-button-label') { b.radio_button + ' ' + b.text } %><br>
        <% end %>
      </div>
      <br>
      <%= f.label :supervising_engineer_qualification %> <!-- 資格内容 -->
      <%= f.collection_select :supervising_engineer_qualification,
                              SkillTraining.all, :id, :name,
                              options = { include_blank: true},
                              { class: "single-select", style: "width: 100%" }
      %><br><br>
    </div>
  </div>
  <div class="list-group-item">
    <div style="font-weight: bold;"><%= f.label :supervising_engineer_assistant %></div> <!-- 監督技術者補佐 -->
    <div class="list-group-item">
      <%= f.label :supervising_engineer_assistant_name %> <!-- 氏名 -->
      <%= f.select :supervising_engineer_assistant_name, @business_workers_name.uniq,
                    { include_blank: true },
                    { class: "form-select form-select-sm", style: "width: 100%" }
      %><br>
      <%= f.label :supervising_engineer_assistant_qualification %> <!-- 監督技術者補佐(資格内容) -->
      <%= f.collection_select :supervising_engineer_assistant_qualification,
                              SkillTraining.all, :id, :name,
                              options = { include_blank: true},
                              { class: "single-select", style: "width: 100%" }
      %><br><br>
    </div>
  </div>
  <div class="list-group-item">
    <div style="font-weight: bold;"><%= f.label :vice_president %></div> <!-- 副会長 -->
    <div class="list-group-item">
      <%= f.label :vice_president_name %> <!-- 氏名 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.select :vice_president_name, @business_workers_name.uniq,
                    { include_blank: false },
                    { class: "form-select form-select-sm", style: "width: 100%" }
      %><br>
    </div>
  </div>
  <div class="list-group-item">
    <%= f.label :secretary_name %> <!-- 書記名 -->
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.select :secretary_name, @business_workers_name.uniq,
                  { include_blank: false },
                  { class: "form-select form-select-sm", style: "width: 100%" }
    %><br>
  </div>
  <div class="list-group-item">
    <%= f.label :health_and_safety_manager_name %> <!-- 元方安全衛生管理者名 -->
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.select :health_and_safety_manager_name, @business_workers_name.uniq,
                 { include_blank: false },
                 { class: "form-select form-select-sm", style: "width: 100%" }
    %><br>
  </div>
  <div class="list-group-item">
    <%= f.label :submission_destination %> <!-- 提出先及び担当者名 -->
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.select :submission_destination, @business_workers_name.uniq,
                  {},
                  { class: "form-select form-select-sm", style: "width: 100%" }
    %><br>
  </div>
  <div class="list-group-item">
    <%= f.label :construction_license_status %> <!-- 工場に必要な建設許可証 -->
  </div>
</div>
<br>

<% if controller.action_name == 'edit' %>
  <div class="list-group-item">
    <%= f.label :status %> <!-- ステータス -->
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.select :status, Order.statuses_i18n.invert, {}, { class: "form-select" } %>
  </div>
<% end %>
<br>

  <!--<div class="list-group-item">
    <%= f.label :safety_officer_name %>
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.select :safety_officer_name,
                  (@business_workers_name + [@order.safety_officer_name]).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %><br><br>
    <%= f.label :safety_officer_position_name %>
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.text_field :safety_officer_position_name, class: "form-control", placeholder: Order.human_attribute_name(:safety_officer_position_name) %>
    <br>
  </div>
  <div class="list-group-item">
    <%= f.label :general_safety_manager_name %>
    <%= f.select :general_safety_manager_name,
                  (@business_workers_name + [@order.general_safety_manager_name]).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %><br><br>
    <%= f.label :general_safety_manager_position_name %>
    <%= f.text_field :general_safety_manager_position_name, class: "form-control", placeholder: Order.human_attribute_name(:general_safety_manager_position_name) %>
    <br>
  </div>
  <div class="list-group-item">
    <%= f.label :safety_manager_name %>
    <%= f.select :safety_manager_name,
                  (@business_workers_name + [@order.safety_manager_name]).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %><br><br>
    <%= f.label :safety_manager_position_name %>
    <%= f.text_field :safety_manager_position_name, class: "form-control", placeholder: Order.human_attribute_name(:safety_manager_position_name) %>
    <br>
  </div>
  <div class="list-group-item">
    <%= f.label :health_manager_name %>
    <%= f.select :health_manager_name,
                  (@business_workers_name + [@order.health_manager_name]).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %><br><br>
    <%= f.label :health_manager_position_name %>
    <%= f.text_field :health_manager_position_name, class: "form-control", placeholder: Order.human_attribute_name(:health_manager_position_name) %>
    <br>
  </div>
  <div class="list-group-item">
    <%= f.label :health_and_safety_promoter_name %>
    <%= f.select :health_and_safety_promoter_name,
                  (@business_workers_name + [@order.health_and_safety_promoter_name]).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %><br><br>
    <%= f.label :health_and_safety_promoter_position_name %>
    <%= f.text_field :health_and_safety_promoter_position_name, class: "form-control", placeholder: Order.human_attribute_name(:health_and_safety_promoter_position_name) %>
    <br>
  </div>
  <div class="list-group-item">
    <%= f.label :confirm_name %>
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.select :confirm_name,
                  (@business_workers_name + [@order.confirm_name]).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %><br><br>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :accept_confirm_date %>
        <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
        <%= f.date_field :accept_confirm_date, class: "form-control" %>
      </div>
    </div><br>
    <%= f.label :subcontractor_name %>
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.select :subcontractor_name,
                  (@current_business.orders.map { |order|order.subcontractor_name }).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %><br><br>
  </div>
</div><br>-->

<script>
  // 入力フォームのバリデーション
  $(function(){
    let methods = {
      postcode: function(value, element){
        return this.optional(element) || /^\d{7}$/i.test(value);
      }
    }
    $.each(methods, function(key){
      $.validator.addMethod(key, this);
    });
    $(".order-form-validation").validate({
      rules: {
        "order[site_name]": {
          required: true
        },
        "order[site_address]": {
          required: true
        },
        "order[order_name]": {
          required: true
        },
        "order[order_post_code]": {
          required: true,
          postcode: true
        },
        "order[order_address]": {
          required: true
        },
        "order[order_supervisor_name]": {
          required: true
        },
        "order[order_supervisor_apply]": {
          required: true
        },
        "order[construction_name]": {
          required: true
        },
        "order[start_date]": {
          required: true
        },
        "order[end_date]": {
          required: true
        },
        "order[contract_date]": {
          required: true
        },
        "order[submission_destination]": {
          required: true
        },
        "order[general_safety_responsible_person_name]": {
          required: true
        },
        "order[vice_president_name]": {
          required: true
        },
        "order[vice_president_company_name]": {
          required: true
        },
        "order[secretary_name]": {
          required: true
        },
        "order[health_and_safety_manager_name]": {
          required: true
        },
        "order[general_safety_agent_name]": {
          required: true
        },
        "order[supervisor_name]": {
          required: true
        },
        "order[supervisor_apply]": {
          required: true
        },
        "order[site_agent_name]": {
          required: true
        },
        "order[site_agent_apply]": {
          required: true
        },
        "order[supervising_engineer_name]": {
          required: true
        },
        "order[supervising_engineer_check]": {
          required: true
        },
        "order[safety_officer_name]": {
          required: true
        },
        "order[safety_officer_position_name]": {
          required: true
        },
        "order[confirm_name]": {
          required: true
        },
        "order[accept_confirm_date]": {
          required: true
        },
        "order[subcontractor_name]": {
          required: true
        }
      },
      messages: {
        "order[site_career_up_id]": {
          minlength: '数字のみ{0}桁で入力して下さい。'
        },
        "order[site_name]": {
          required: "現場名を入力してください。"
        },
        "order[site_address]": {
          required: "施工場所の住所を入力してください。"
        },
        "order[order_name]": {
          required: "発注者名を入力してください。"
        },
        "order[order_post_code]": {
          required: "半角数字7桁を入力してください。【例: 1000011】",
          postcode: "半角数字7桁を入力してください。【例: 1000022】"
        },
        "order[order_address]": {
          required: "発注者住所を入力してください。"
        },
        "order[order_supervisor_name]": {
          required: "監督員名を入力してください。"
        },
        "order[order_supervisor_apply]": {
          required: "権限及び意見の申出方法を入力してください。"
        },
        "order[construction_name]": {
          required: "工事名を入力してください。"
        },
        "order[start_date]": {
          required: "工期(自)を入力してください。"
        },
        "order[end_date]": {
          required: "工期(至)を入力してください。"
        },
        "order[contract_date]": {
          required: "契約日を入力してください。"
        },
        "order[submission_destination]": {
          required: "提出先及び担当者を入力してください。"
        },
        "order[general_safety_responsible_person_name]": {
          required: "統括安全衛生責任者名を入力してください。"
        },
        "order[vice_president_name]": {
          required: "副会長名を入力してください。"
        },
        "order[vice_president_company_name]": {
          required: "会社名を入力してください。"
        },
        "order[secretary_name]": {
          required: "書記名を入力してください。"
        },
        "order[health_and_safety_manager_name]": {
          required: "元方安全衛生管理者名を入力してください。"
        },
        "order[general_safety_agent_name]": {
          required: "統括安全衛生責任者代行者名を入力してください。"
        },
        "order[supervisor_name]": {
          required: "監督員名を入力してください。"
        },
        "order[supervisor_apply]": {
          required: "権限及び意見の申出方法を入力してください。"
        },
        "order[site_agent_name]": {
          required: "現場代理人名を入力してください。"
        },
        "order[site_agent_apply]": {
          required: "権限及び意見の申出方法を入力してください。"
        },
        "order[supervising_engineer_name]": {
          required: "監督技術者･主任技術者名を入力してください。"
        },
        "order[supervising_engineer_check]": {
          required: "専任又は非専任を選択してください。"
        },
        "order[safety_officer_name]": {
          required: "安全衛生担当役員名を入力してください。"
        },
        "order[safety_officer_position_name]": {
          required: "役職名を入力してください。"
        },
        "order[confirm_name]": {
          required: "確認欄を入力してください。"
        },
        "order[accept_confirm_date]": {
          required: "受付確認日を入力してください。"
        },
        "order[subcontractor_name]": {
          required: "下請会社名を入力してください。"
        },
      },
      errorClass: "input_form_error"
    });
    // 入力欄を変更したときにバリデーションを実行
    $(".order-form-validation").change(function () {
      $(this).valid();
    });
  });
</script>
