<% provide(:title, "現場情報一覧") %>

<%= link_to "現場情報作成", new_users_order_path, class: "btn btn-lg btn-block btn-outline-primary" %>
<br>
<% if @orders.present? %>
  <div class="card">
    <div class="card-header">
      <h5 class="text-center">発注 元請情報</h5>
    </div>

    <div class="card-body table-responsive p-0">
      <table class="table table-hover text-nowrap">
        <thead>
          <tr align="center">
            <th></th>
            <th>作成日</th>
            <th><%= Order.human_attribute_name(:status) %></th>
            <th><%= Order.human_attribute_name(:site_agent_name) %></th>
            <th><%= Order.human_attribute_name(:site_name) %></th>
            <th>工期</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr align="center">
            <td>
              <%= link_to users_order_path(order) do %>
                <i class="nav-icon fas fa-file"></i>
              <% end %>
            </td>
            <td><%= wareki(order.created_at) %></td>
            <td><%= link_to order.status_i18n, "#" %></td>
            <td><%= order.site_agent_name %></td>
            <td><%= order.site_name %></td>
            <td>
              <%= wareki(order.start_date) %> 〜 <%= wareki(order.end_date) %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<% if @received_orders.present? %>
  <div class="card">
    <div class="card-header">
      <h5 class="text-center">受注 元請情報</h5>
    </div>

    <div class="card-body table-responsive p-0">
      <table class="table table-hover text-nowrap">
        <thead>
          <tr align="center">
            <th></th>
            <th>受注日</th>
            <th>元請<%= Business.human_attribute_name(:name) %></th>
            <th><%= Order.human_attribute_name(:site_agent_name) %></th>
            <th><%= Order.human_attribute_name(:site_name) %></th>
            <th>工期</th>
          </tr>
        </thead>
        <tbody>
          <% @received_orders.each do |received_order| %>
          <tr align="center">
            <td>
              <%= link_to users_request_order_path(received_order) do %>
                <i class="nav-icon fas fa-file"></i>
              <% end %>
            </td>
            <td><%= wareki(received_order.created_at) %></td>
            <td><%= received_order.order.site_name %></td>
            <td><%= received_order.order.site_agent_name %></td>
            <td><%= received_order.order.business.name %></td>
            <td>
              <%= wareki(received_order.order.start_date) %> 〜 <%= wareki(received_order.order.end_date) %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
