<% provide(:title, "現場情報一覧(元請)") %>

<%= link_to "現場情報作成", new_users_order_path, class: "btn btn-lg btn-block btn-primary" if current_user.is_prime_contractor == true %>
<br>
<% if @orders.present? %>
  <div class="card">
    <div class="card-body table-responsive p-0">
      <table class="table table-hover text-nowrap">
        <thead>
          <tr align="center">
            <th><%= Order.human_attribute_name(:site_name) %></th>
            <th><%= Order.human_attribute_name(:status) %></th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr align="center">
            <td><%= link_to order.site_name, users_order_path(order) %></td>
            <td><%= order.status_i18n %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<% if current_user.is_prime_contractor == false %>
  <div>
    <p>
      現場情報作成機能は有料版をご利用ください。
      <%= link_to '(お問い合わせはこちら)', 'https://forms.gle/HbWqbQpd33ZdQAoa7', target: "_blank" %>
    </p>
  </div>
<% end %>
