<% provide(:title, "現場情報詳細(元請)") %>

<div class="card">
  <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
      <tbody>
        <tr>
          <td>
            <%= link_to "現場情報一覧", users_orders_path, class: "btn btn-md btn-default" %>
            <%= link_to "現場情報修正", edit_users_order_path(@order), class: "btn btn-md btn-md btn-success" %>
          </td>
          <td>
            <%= render '/users/documents/shares/show_order_link', order: @order %>
          </td>
        </tr>

        <tr>
          <th style='font-size:22px'><%= Order.human_attribute_name(:order) %></th> <!--現場-->
          <td></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:site_career_up_id) %></th>
          <td><%= @order.site_career_up_id %></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:site_name) %></th>
          <td><%= @order.site_name %></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:site_address) %></th>
          <td><%= @order.site_address %></td>
        </tr>
        <tr>
          <th style='font-size:22px'><%= Order.human_attribute_name(:orderer) %></th> <!--発注者-->
          <td></td>
        </tr>
        <tr>
          <th><%= Order.human_attribute_name(:orderer) %></th> <!--発注者-->
          <td></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:order_name) %></th>
          <td><%= @order.order_name %></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:order_post_code) %></th>
          <td><%= @order.order_post_code %></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:order_address) %></th>
          <td><%= @order.order_address %></td>
        </tr>
        <tr>
          <th><%= Order.human_attribute_name(:supervisor) %></th> <!--監督員-->
          <td></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:order_supervisor_name) %></th>
          <td><%= @order.order_supervisor_name %></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:order_supervisor_company) %></th>
          <td><%= @order.order_supervisor_company %></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:order_supervisor_apply) %></th>
          <td><%= @order.order_supervisor_apply %></td>
        </tr>
        <tr>
          <th style='font-size:22px'><%= Order.human_attribute_name(:prime_contractor) %></th> <!--元請会社-->
          <td></td>
        </tr>
        <tr>
          <th><%= Order.human_attribute_name(:order_infomation) %></th> <!--現場情報-->
          <td></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:construction_name) %></th>
          <td><%= @order.construction_name %></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:construction_details) %></th>
          <td><%= @order.construction_details %></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:start_date) %></th>
          <td><%= @order.start_date %></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:end_date) %></th>
          <td><%= @order.end_date %></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:contract_date) %></th>
          <td><%= @order.contract_date %></td>
        </tr>
        <tr>
          <th><%= Order.human_attribute_name(:site_agent) %></th> <!--現場代理人-->
          <td></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:site_agent_name) %></th>
          <td><%= @order.site_agent_name %></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:site_agent_apply) %></th>
          <td><%= @order.site_agent_apply %></td>
        </tr>
        <tr>
          <th><%= Order.human_attribute_name(:supervisor) %></th> <!--監督員-->
          <td></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:supervisor_name) %></th>
          <td><%= @order.supervisor_name %></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:supervisor_apply) %></th>
          <td><%= @order.supervisor_apply %></td>
        </tr>
        <tr>
          <th><%= Order.human_attribute_name(:professional_engineer) %></th> <!--専門技術者-->
          <td></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:professional_engineer_name) %></th>
          <td><%= @order.professional_engineer_name %></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:professional_engineer_qualification) %></th>
          <td><%= @order.professional_engineer_qualification %></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:professional_engineer_construction_details) %></th>
          <td><%= @order.professional_engineer_construction_details %></td>
        </tr>
        <tr>
          <th><%= Order.human_attribute_name(:professional_engineer) %></th> <!--専門技術者-->
          <td></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:professional_engineer_name) %></th>
          <td><%= @order.professional_engineer_name %></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:professional_engineer_qualification) %></th>
          <td><%= @order.professional_engineer_qualification %></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:professional_engineer_construction_details) %></th>
          <td><%= @order.professional_engineer_construction_details %></td>
        </tr>
        <tr>
          <th><%= Order.human_attribute_name(:general_safety_responsible_person_name) %></th>
          <td><%= @order.general_safety_responsible_person_name %></td>
        </tr>
        <tr>
          <th><%= Order.human_attribute_name(:general_safety_agent_name) %></th>
          <td><%= @order.general_safety_agent_name %></td>
        </tr>
        <tr>
          <th><%= Order.human_attribute_name(:supervising_engineer) %></th> <!--監督技術者・主任技術者-->
          <td></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:supervising_engineer_name) %></th>
          <td><%= @order.supervising_engineer_name %></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:supervising_engineer_check) %></th>
          <td><%= @order.supervising_engineer_check_i18n %></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:supervising_engineer_qualification) %></th>
          <td><%= @order.supervising_engineer_qualification %></td>
        </tr>
        <tr>
          <th><%= Order.human_attribute_name(:supervising_engineer_assistant) %></th> <!--監督技術者補佐-->
          <td></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:supervising_engineer_assistant_name) %></th>
          <td><%= @order.supervising_engineer_assistant_name %></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:supervising_engineer_assistant_qualification) %></th>
          <td><%= @order.supervising_engineer_assistant_qualification %></td>
        </tr>
        <tr>
          <th><%= Order.human_attribute_name(:vice_president) %></th> <!--副会長-->
          <td></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:vice_president_name) %></th>
          <td><%= @order.vice_president_name %></td>
        </tr>
        <tr>
          <th>&emsp;&emsp;<%= Order.human_attribute_name(:vice_president_company_name) %></th>
          <td><%= @order.vice_president_company_name %></td>
        </tr>
        <tr>
          <th><%= Order.human_attribute_name(:secretary_name) %></th>
          <td><%= @order.secretary_name %></td>
        </tr>
        <tr>
          <th><%= Order.human_attribute_name(:health_and_safety_manager_name) %></th>
          <td><%= @order.health_and_safety_manager_name %></td>
        </tr>
        <tr>
          <th><%= Order.human_attribute_name(:submission_destination) %></th>
          <td><%= @order.submission_destination %></td>
        </tr>
        <tr>
          <th><%= Order.human_attribute_name(:construction_license_status) %></th>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= link_to "削除", users_order_path(@order), method: :delete, data: { confirm: "#{@order.site_uu_id}を削除します。本当によろしいですか？" }, class: "btn btn-md btn-danger btn-block" %>
  </div>
</div>
