<% provide(:title, "入場作業員編集") %>
<% provide(:btn_text, "更新") %>
<%= javascript_pack_tag 'users/fieldworkers' %>
<div class="card">
  <div class="card-body table-responsive p-0">
    <table class="table text-nowrap">
      <tbody>
        <td>
          <%= link_to "戻る", users_order_field_workers_path, class: "btn btn-md btn-default" %>
        </td>
        <td>
          <%= render '/users/documents/shares/show_order_link', order: @order %>
        </td>
      </tbody>
    </table>
  </div>
</div>
<section class="content">
  <div class="col-md-12">
    <%= form_with model: @order, url: update_workers_users_order_field_workers_path, method: :patch, local: true do |f| %>
      <div class="card">
        <div class="card-body table-responsive p-0">
          <table class="table text-nowrap">
            <% @field_workers.each do |field_worker| %>
              <%= f.fields_for "field_workers[]", field_worker do |fw| %>
                <tr align="center">
                  <th><%= FieldWorker.human_attribute_name(:admission_worker_name) %></th>
                  <th><%= FieldWorker.human_attribute_name(:admission_date_start) %></th>
                  <th><%= FieldWorker.human_attribute_name(:admission_date_end) %></th>
                  <th><%= FieldWorker.human_attribute_name(:education_date) %></th>
                  <th><%= FieldWorker.human_attribute_name(:sendoff_education) %></th>
                  <th><%= FieldWorker.human_attribute_name(:occupation_id) %></th>
                  <th><%= FieldWorker.human_attribute_name(:job_description) %></th>
                </tr>
                  <tr>
                    <td><%= field_worker.admission_worker_name %></td>
                    <%= fw.hidden_field :birthday, value: field_worker&.content['birth_day_on'], id: 'second_field' %>
                    <td><%= fw.date_field :admission_date_start, class: "form-control", id: 'first_field', required: true %></td>
                    <td><%= fw.date_field :admission_date_end, class: "form-control", required: true %></td>
                    <td><%= fw.date_field :education_date, class: "form-control", required: true %></td>
                    <td><%= fw.select :sendoff_education, FieldWorker.sendoff_educations_i18n.invert, {include_blank: true}, {class: "form-control", required: true} %></td>
                    <td><%= fw.collection_select :occupation_id, @current_business.occupations, :id, :name, {include_blank: true}, {class: "form-control", required: true} %></td>
                    <% if display_required_field?(fw.object) %>
                      <td><%= fw.text_field :job_description, class: "form-control", required: true %></td>
                    <% else %>
                      <td><%= fw.text_field :job_description, class: "form-control", id: 'required_field' %></td>
                    <% end %>
                  </tr>
                <% if field_worker.content['country'] != "日本" %>
                <tr align="center">
                  <th></th>
                  <th><%= FieldWorker.human_attribute_name(:foreign_work_place) %></th>
                  <th><%= FieldWorker.human_attribute_name(:foreign_date_start) %></th>
                  <th><%= FieldWorker.human_attribute_name(:foreign_date_end) %></th>
                  <th><%= FieldWorker.human_attribute_name(:foreign_job) %></th>
                  <th><%= FieldWorker.human_attribute_name(:foreign_job_description) %></th>
                  <th><%= FieldWorker.human_attribute_name(:proper_management_licenses) %></th>
                </tr>
                <tr>
                  <td></td>
                  <td><%= fw.text_field :foreign_work_place, class: "form-control", required: true %></td>
                  <td><%= fw.date_field :foreign_date_start, class: "form-control", required: true %></td>
                  <td><%= fw.date_field :foreign_date_end, class: "form-control", required: true %></td>
                  <td><%= fw.text_field :foreign_job, class: "form-control", required: true %></td>
                  <td><%= fw.text_field :foreign_job_description, class: "form-control", required: true %></td>
                  <td><%= fw.file_field :proper_management_licenses, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: "form-control" %></td>
                  <% if field_worker.proper_management_licenses.present? %>
                    <% field_worker.proper_management_licenses.each_with_index do |image, index| %>
                      <td><%= image_tag(image.url) %></td>
                      <td><%= link_to "削除", destroy_image_users_order_field_workers_path(id: field_worker.id, index: index), method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } %></td>
                    <% end %>
                  <% end %>
                </tr>
                <% end %>
              <% end %>
            <% end %>
          </table>
        </div>
      </div>
      <%= f.submit yield(:btn_text), class: "btn btn-md btn-block btn-primary" %>
      <br>
    <% end %>
  </div>
</section>

<script>
  $(document).ready(function() {
    $('f').submit(function(event) {
      var formIsValid = true;
      $('input[required]').each(function() {
        if ($.trim($(this).val()).length === 0) {
          formIsValid = false;
          $(this).addClass('is-invalid');
        }
      });
      if (!formIsValid) {
        event.preventDefault();
      }
    });
    $('input[required]').keyup(function() {
      if ($.trim($(this).val()).length === 0) {
        $(this).addClass('is-invalid');
      } else {
        $(this).removeClass('is-invalid');
      }
    });
  });
</script>