<% provide(:title, "火気情報詳細") %>

<div class="card">
  <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
      <tbody>
        <tr>
          <th><%= FieldFire.human_attribute_name(:use_place) %></th>
          <td><%= @field_fire.use_place %></td>
        </tr>
        <tr>
          <th><%= FieldFire.human_attribute_name(:usage) %></th>
          <td><%= @field_fire.usage %></td>
        </tr>
        <tr>
          <th><%= FieldFire.human_attribute_name(:other_usages) %></th>
          <td><%= @field_fire.other_usages %></td>
        </tr>
        <tr>
          <th><%= FieldFire.human_attribute_name(:usage_period_start) %></th>
          <td><%= @field_fire.usage_period_start %></td>
        </tr>
        <tr>
          <th><%= FieldFire.human_attribute_name(:usage_period_end) %></th>
          <td><%= @field_fire.usage_period_end %></td>
        </tr>
        <tr>
          <th><%= FieldFire.human_attribute_name(:sage_time_start) %></th>
          <td><%= @field_fire.usage_time_start %></td>
        </tr>
        <tr>
          <th><%= FieldFire.human_attribute_name(:sage_time_end) %></th>
          <td><%= @field_fire.usage_time_end %></td>
        </tr>
        <tr>
          <th><%= FieldFire.human_attribute_name(:type_of_fire) %></th>
          <td><%= @field_fire.type_of_fire %></td>
        </tr>
        <tr>
          <th><%= FieldFire.human_attribute_name(:management_method) %></th>
          <td><%= @field_fire.management_method %></td>
        </tr>
        <tr>
          <th><%= FieldFire.human_attribute_name(:precautions) %></th>
          <td><%= @field_fire.precautions %></td>
        </tr>
        <tr>
          <th><%= FieldFire.human_attribute_name(:fire_origin_responsible) %></th>
          <td><%= @field_fire.fire_origin_responsible %></td>
        </tr>
        <tr>
          <th><%= FieldFire.human_attribute_name(:fire_use_responsible) %></th>
          <td><%= @field_fire.fire_use_responsible %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="field_fired-footer">
    <%= link_to "編集", edit_users_order_field_fire_path(@order, @field_fire), class: "btn btn-md btn-block btn-success" %>
    <%= link_to "削除", users_order_field_fire_path(@order, @field_fire), method: :delete, data: { confirm: "火気情報を削除します。本当によろしいですか？" }, class: "btn btn-md btn-danger btn-block" %>
    <%= link_to "一覧画面へ", users_order_field_fires_path, class: "btn btn-md btn-block btn-default" %>
  </div>
</div>
