<% provide(:title, "入場作業員編集") %>
<% provide(:btn_text, "更新") %>

<div class="card">
  <div class="card-body table-responsive p-0">
    <table class="table text-nowrap">
      <tbody>
        <td>
          <%= link_to "戻る", users_request_order_field_workers_path, class: "btn btn-md btn-default" %>
        </td>
        <td>
          <%= render '/users/documents/shares/show_request_order_link', request_order: @request_order %>
        </td>
      </tbody>
    </table>
  </div>
</div>

<section class="content">
  <div class="col-md-12">
    <%= form_with model: @request_order, url: update_workers_users_request_order_field_workers_path, method: :patch, local: true do |f| %>
      <div class="card">
        <div class="card-body table-responsive p-0">
          <table class="table text-nowrap">
            <% @field_workers.each_with_index do |field_worker, i| %>
              <%= f.fields_for "field_workers[]", field_worker do |fw| %>
                <tr align="center">
                  <th><%= FieldWorker.human_attribute_name(:admission_worker_name) %></th>
                  <th><%= FieldWorker.human_attribute_name(:admission_date_start) %></th>
                  <th><%= FieldWorker.human_attribute_name(:admission_date_end) %></th>
                  <th><%= FieldWorker.human_attribute_name(:education_date) %></th>
                  <th><%= FieldWorker.human_attribute_name(:sendoff_education) %></th>
                  <th><%= FieldWorker.human_attribute_name(:occupation_id) %></th>
                  <th><%= FieldWorker.human_attribute_name(:job_description) %></th>
                </tr>
                  <tr>
                    <td><%= field_worker.admission_worker_name %></td>
                    <td><%= fw.date_field :admission_date_start, 
                                            value: params[:request_order]&.dig(:field_workers, field_worker.id.to_s, :admission_date_start),
                                            id: "admission_date_start", class: "form-control", required: true %>
                    </td>
                    <td><%= fw.date_field :admission_date_end,
                                            value: params[:request_order]&.dig(:field_workers, field_worker.id.to_s, :admission_date_end),
                                            id: "admission_date_end", class: "form-control", required: true %>
                    </td>
                    <td><%= fw.date_field :education_date,
                                            value: params[:request_order]&.dig(:field_workers, field_worker.id.to_s, :education_date),
                                            id: "education_date", class: "form-control", required: true %>
                    </td>
                    <td><%= fw.select :sendoff_education, FieldWorker.sendoff_educations_i18n.invert, 
                                        { selected: selected_value(field_worker.id, "sendoff_education", params[:action], params[:controller]), include_blank: true},
                                        { id: "sendoff_education", class: "form-control", required: true} %>
                    </td>
                    <td><%= fw.collection_select :occupation_id, 
                                                  @current_business.occupations, :id, :name,
                                                  { selected: selected_value(field_worker.id, "occupation_id", params[:action], params[:controller]), include_blank: true },
                                                  { id: "occupation_id", class: "form-control", required: true } %>
                    </td>
                    <% if defined?(error_ids) %> <!--エラーによる再描写かどうか -->
                      <% if error_ids.keys.include?(field_worker.id.to_s) %>
                        <td>
                          <div class="field_with_errors">
                            <%= fw.text_field :job_description, value: selected_value(field_worker.id, "job_description", params[:action], params[:controller]), class: "form-control" %>
                          </div>
                        </td>
                      <% else %>
                        <td>
                          <div class="field">
                            <%= fw.text_field :job_description, class: "form-control" %>
                          </div>
                        </td>
                      <% end %>
                    <% else %>
                      <td><%= fw.text_field :job_description, class: "form-control" %></td>
                    <% end %>
                  </tr>
                <% if field_worker.content['country'] != "日本" %>
                <tr align="center">
                  <th></th>
                  <th><%= FieldWorker.human_attribute_name(:foreign_work_place) %></th>
                  <th><%= FieldWorker.human_attribute_name(:foreign_date_start) %></th>
                  <th><%= FieldWorker.human_attribute_name(:foreign_date_end) %></th>
                  <th><%= FieldWorker.human_attribute_name(:foreign_job) %></th>
                  <th><%= FieldWorker.human_attribute_name(:foreign_job_description) %></th>
                  <th><%= FieldWorker.human_attribute_name(:proper_management_licenses) %></th>
                </tr>
                <tr>
                  <td></td>
                  <td><%= fw.text_field :foreign_work_place, id: "foreign_work_place", class: "form-control", required: true %></td>
                  <td><%= fw.date_field :foreign_date_start, id: "foreign_date_start", class: "form-control", required: true %></td>
                  <td><%= fw.date_field :foreign_date_end, id: "foreign_date_end", class: "form-control", required: true %></td>
                  <td><%= fw.text_field :foreign_job, id: "foreign_job", class: "form-control", required: true %></td>
                  <td><%= fw.text_field :foreign_job_description, id: "foreign_job_description", class: "form-control", required: true %></td>
                  <td><%= fw.file_field :proper_management_licenses, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: "form-control" %></td>
                  <% if field_worker.proper_management_licenses.present? %>
                    <% field_worker.proper_management_licenses.each_with_index do |image, index| %>
                      <td><%= image_tag(image.url) %></td>
                      <td><%= link_to "削除", destroy_image_users_request_order_field_workers_path(id: field_worker.id, index: index), method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } %></td>
                    <% end %>
                  <% end %>
                </tr>
                <% end %>
              <% end %>
            <% end %>
          </table>
        </div>
      </div>
      <%= f.submit yield(:btn_text), class: "btn btn-md btn-block btn-primary" %>
      <br>
    <% end %>
  </div>
</section>

<script>
  $(document).ready(function() {
    var fieldNames = {
      'admission_date_start': '<%= t('activerecord.attributes.field_worker.admission_date_start') %>',
      'admission_date_end': '<%= t('activerecord.attributes.field_worker.admission_date_end') %>',
      'education_date': '<%= t('activerecord.attributes.field_worker.education_date') %>',
      'sendoff_education': '<%= t('activerecord.attributes.field_worker.sendoff_education') %>',
      'occupation_id': '<%= t('activerecord.attributes.field_worker.occupation_id') %>',
      'foreign_work_place': '<%= t('activerecord.attributes.field_worker.foreign_work_place') %>',
      'foreign_date_start': '<%= t('activerecord.attributes.field_worker.foreign_date_start') %>',
      'foreign_date_end': '<%= t('activerecord.attributes.field_worker.foreign_date_end') %>',
      'foreign_job': '<%= t('activerecord.attributes.field_worker.foreign_job') %>',
      'foreign_job_description': '<%= t('activerecord.attributes.field_worker.foreign_job_description') %>'
    };

    $('form').submit(function(event) {
      var formIsValid = true;
      $('input[required], select[required], textarea[required]').each(function() {
        if ($.trim($(this).val()).length === 0) {
          formIsValid = false;
          var fieldName = fieldNames[$(this).attr('id')];
          $(this).addClass('field_with_errors');
          if ($(this).is('select')) {
            $(this).parent().append('<span class="error-message">' + fieldName + 'を選択してください。</span>');
          } else {
            $(this).parent().append('<span class="error-message">' + fieldName + 'を入力してください。</span>');
          }
        }
      });
      if (!formIsValid) {
        event.preventDefault();
      }
    });

    $('input[required], select[required], textarea[required]').on('input change', function() {
      var fieldName = fieldNames[$(this).attr('id')];
      if ($.trim($(this).val()).length === 0) {
        $(this).addClass('field_with_errors');
        $(this).parent().find('.error-message').remove();
        if ($(this).is('select')) {
          $(this).parent().append('<span class="error-message">' + fieldName + 'を選択してください。</span>');
        } else {
          $(this).parent().append('<span class="error-message">' + fieldName + 'を入力してください。</span>');
        }
      } else {
        $(this).removeClass('field_with_errors');
        $(this).parent().find('.error-message').remove();
      }
    });
  });
</script>