<% provide(:title,  "入場作業員一覧") %>

<div class="card">
  <div class="card-body table-responsive p-0">
    <table class="table text-nowrap">
      <tbody>
        <td>
          <%= link_to "発注詳細", users_request_order_path(@request_order), class: "btn btn-md btn-default" %>
          <%= link_to "現場情報一覧", users_orders_path(@request_order), class: "btn btn-md btn-default" %>
        </td>
        <td>
          <%= render '/users/documents/shares/show_request_order_link', request_order: @request_order %>
        </td>
      </tbody>
    </table>
  </div>
</div>

<section class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <%= form_with url: users_request_order_field_workers_path, method: :post, local: true do |f| %>
          <%= f.label "追加する作業員を選択してください。" %>
          <div class="pb-1">
            <%= f.collection_select :worker_ids, @worker, :id, :name, { include_hidden: false, include_blank: '選択肢がありません' }, { required: true, multiple: true, class: "multiple-select", style: "width: 100%" } %>
          </div>
          <div>
            <%= f.submit "登録", class: "btn btn-md btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<br>
<% if @field_workers.present? %>
  <section class="content">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body table-responsive p-0">
          <table class="table text-nowrap">
            <% @field_workers.each do |field_worker| %>
              <%= link_to "作業員情報編集", edit_workers_users_request_order_field_workers_path(@request_order), class: "btn btn-md btn-success btn-space" %>
              <tr align="center">
                <th><%= FieldWorker.human_attribute_name(:admission_worker_name) %></th>
                <th><%= FieldWorker.human_attribute_name(:admission_date_start) %></th>
                <th><%= FieldWorker.human_attribute_name(:admission_date_end) %></th>
                <th><%= FieldWorker.human_attribute_name(:education_date) %></th>
                <th><%= FieldWorker.human_attribute_name(:sendoff_education) %></th>
                <th><%= FieldWorker.human_attribute_name(:occupation_id) %></th>
                <th><%= FieldWorker.human_attribute_name(:job_description) %></th>
                <th></th>
              </tr>
              <tr align="center">
                <td><%= field_worker.admission_worker_name %></td>
                <td><%= not_input_display(field_worker.admission_date_start) %></td>
                <td><%= not_input_display(field_worker.admission_date_end) %></td>
                <td><%= not_input_display(field_worker.education_date) %></td>
                <td><%= not_input_display(field_worker.sendoff_education_i18n) %></td>
                <td><%= not_input_display(Occupation.find_by(id: field_worker.occupation_id)&.name) %></td>
                <td><%= not_input_display(field_worker.job_description) %></td>
                <td><%= link_to "削除", users_request_order_field_worker_path(@request_order, field_worker), method: :delete, data: { confirm: "#{field_worker.admission_worker_name}を削除します。本当によろしいですか？" }, class: "btn btn-md btn-danger" %></td>
              </tr>
            <% end %>
            <% if @foreigners.count > 0%>
              <tr align="center">
                <th>外国人建設就労者</th>
                <th><%= FieldWorker.human_attribute_name(:foreign_work_place) %></th>
                <th><%= FieldWorker.human_attribute_name(:foreign_date_start) %></th>
                <th><%= FieldWorker.human_attribute_name(:foreign_date_end) %></th>
                <th><%= FieldWorker.human_attribute_name(:foreign_job) %></th>
                <th><%= FieldWorker.human_attribute_name(:foreign_job_description) %></th>
                <th><%= FieldWorker.human_attribute_name(:proper_management_licenses) %></th>
              </tr>
              <tr align="center">
                <td></td>
                <td><%= not_input_display(@foreigners.first.foreign_work_place) %></td>
                <td><%= not_input_display(@foreigners.first.foreign_date_start) %></td>
                <td><%= not_input_display(@foreigners.first.foreign_date_end) %></td>
                <td><%= not_input_display(@foreigners.first.foreign_job) %></td>
                <td><%= not_input_display(@foreigners.first.foreign_job_description) %></td>
                <% if @foreigners.first.proper_management_licenses.present? %>
                  <% @foreigners.first.proper_management_licenses.each_with_index do |image, index| %>
                    <td><%= image_tag(image.url) %></td>
                  <% end %>
                <% end %>
              </tr>
            <%end%>
          </table>
        </div>
      </div>
    </div>
  </section>
<% end %>
