<%= render 'shared/error_massages', object: f.object %>

<!-- 下請会社 -->
<div class="list-group-item">
  <div style="font-size: 22px; font-weight: bold;"><%= f.label :subcontractor %></div> <!-- 下請会社 -->
    <div class="list-group-item">
      <div style="font-weight: bold;"><%= f.label :request_order_infomation %></div> <!-- 現場情報 -->
      <div class="list-group-item">
        <%= f.label :occupation %> <!-- 職種 -->
        <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
        <%= f.select :occupation, @business_occupations.uniq,
                      { include_blank: true },
                      { class: "form-select form-select-sm", style: "width: 100%" }
        %>
        <br>
        <%= f.label :construction_name %> <!-- 工事名 -->
        <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
        <%= f.text_field :construction_name, class: "form-control" %>
        <br>
        <%= f.label :construction_details %> <!-- 工事内容 -->
        <%= f.text_field :construction_details, class: "form-control" %>
        <br>
        <%= f.label :start_date %> <!-- 工期(自) -->
        <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
        <%= f.date_field :start_date, class: "form-control" %>
        <br>
        <%= f.label :end_date %> <!-- 工期(至) -->
        <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
        <%= f.date_field :end_date, class: "form-control" %>
        <br>
        <%= f.label :contract_date %> <!-- 契約日 -->
        <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
        <%= f.date_field :contract_date, class: "form-control" %>
        <br>
      </div>
    <div class="list-group-item">
      <div style="font-weight: bold;"><%= f.label :site_agent %></div> <!-- 現場代理人 -->
      <div class="list-group-item">
        <%= f.label :site_agent_name %> <!-- 氏名(現場代理人) -->
        <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
        <%= f.select :site_agent_name, @business_workers_name.uniq,
                      { include_blank: true },
                      { class: "form-select form-select-sm", style: "width: 100%" }
        %><br>
        <%= f.label :site_agent_apply %> <!-- 権限及び意見の申出方法(現場代理人) -->
        <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
        <%= f.text_field :site_agent_apply, class: "form-control" %>
        <br>
      </div>
    </div>
    <div class="list-group-item">
      <div style="font-weight: bold;"><%= f.label :supervisor %></div> <!-- 監督員 -->
      <div class="list-group-item">
        <%= f.label :supervisor_name %> <!-- 氏名(監督員) -->
        <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
        <%= f.select :supervisor_name, @business_workers_name.uniq,
                      { include_blank: true },
                      { class: "form-select form-select-sm", style: "width: 100%" }
        %><br>
        <%= f.label :supervisor_apply %> <!-- 権限及び意見の申出方法(監督員) -->
        <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
        <%= f.text_field :supervisor_apply, class: "form-control" %>
        <br>
      </div>
    </div>
    <div class="list-group-item">
      <div style="font-weight: bold;"><%= f.label :professional_engineer %></div> <!-- 専門技術者 -->
      <div class="list-group-item">
        <%= f.label :professional_engineer_name %> <!-- 氏名(専門技術者) -->
        <%= f.select :professional_engineer_name, @business_workers_name.uniq,
                      { include_blank: true },
                      { id: "professional_engineer_name", class: "form-select form-select-sm", style: "width: 100%" }
        %><br>
        <%= f.label :professional_engineer_details %> <!-- 担当工事内容(専門技術者) -->
        <%= f.text_field :professional_engineer_details, class: "form-control" %>
        <br>
        <%= f.label :professional_engineer_qualification %> <!-- 資格内容(専門技術者) -->
        <%= f.select :professional_engineer_qualification, options_for_select(@request_order.professional_engineer_qualification.to_s.split(',')&.map{ |id| [SkillTraining.find(id).name, id] } || [], include_blank: true), {},
                    { class: "form-select form-select-sm", style: "width: 100%", id: 'professional_engineer_qualification_id' } %>
      </div><br>
    </div>
    <div class="list-group-item">
      <div style="font-weight: bold;"><%= f.label :professional_construction %></div> <!-- 有・無(特定専門工事) -->
      <div class="list-group-item">
        <%= f.collection_radio_buttons(:professional_construction, RequestOrder.professional_constructions_i18n, :first, :last, item_wrapper_class: 'radio-button-item') do |b| %>
          <%= b.label(class: 'radio-button-label') { b.radio_button + ' ' + b.text } %><br>
        <% end %>
      </div>
    </div>
    <div class="list-group-item">
      <div style="font-weight: bold;"><%= f.label :construction_manager %></div> <!-- 工事担当責任者 -->
      <div class="list-group-item">
        <%= f.label :construction_manager_name %> <!-- 氏名(工事担当責任者) -->
        <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
        <%= f.select :construction_manager_name, @business_workers_name.uniq,
                      { include_blank: true },
                      { class: "form-select form-select-sm", style: "width: 100%" }
        %><br>
        <% f.hidden_field :construction_manager_position_name, value: @request_order.construction_manager_position_name %>
      </div>
    </div>
    <div class="list-group-item">
      <div style="font-weight: bold;"><%= f.label :lead_engineer %></div> <!-- 主任技術者 -->
      <div class="list-group-item">
        <%= f.label :lead_engineer_name %> <!-- 氏名(主任技術者)) -->
        <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
        <%= f.select :lead_engineer_name, @business_workers_name.uniq,
                      { include_blank: true },
                      { id: "lead_engineer_name", class: "form-select form-select-sm", style: "width: 100%" }
        %><br>
        <div>
          <%= f.label :lead_engineer_check %><!--専任・非専任(主任技術者)-->
          <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
          <div class="error-message"></div>
        </div>
        <br>
        <div class="list-group-item">
          <%= f.collection_radio_buttons(:lead_engineer_check, RequestOrder.lead_engineer_checks_i18n, :first, :last, item_wrapper_class: 'radio-button-item') do |b| %>
            <%= b.label(class: 'radio-button-label') { b.radio_button + ' ' + b.text } %><br>
          <% end %>
        </div><br>
        <%= f.label :lead_engineer_qualification %> <!-- 資格内容(主任技術者)) -->
        <span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
        <%= f.select :lead_engineer_qualification, options_for_select(@request_order.lead_engineer_qualification.to_s.split(',')&.map{ |id| [SkillTraining.find(id).name, id] } || [], selected: @request_order.lead_engineer_qualification, include_blank: true), {},
            { class: "form-select form-select-sm", style: "width: 100%", id: 'lead_engineer_qualification_id' }
        %><br>
      </div>
    </div>
    <div class="list-group-item">
      <%= f.label :work_chief_name %> <!-- 作業主任者名 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.select :work_chief_name, @business_workers_name.uniq,
                    { include_blank: true },
                    { class: "form-select form-select-sm", style: "width: 100%" }
      %><br>
    </div>
    <div class="list-group-item">
      <%= f.label :work_conductor_name %> <!-- 作業指揮者名 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.select :work_conductor_name, @business_workers_name.uniq,
                    { include_blank: true },
                    { class: "form-select form-select-sm", style: "width: 100%" }
      %><br>
    </div>
    <div class="list-group-item">
      <%= f.label :safety_officer_name %> <!-- 安全衛生担当責任者名 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.select :safety_officer_name, @business_workers_name.uniq,
                    { include_blank: true },
                    { class: "form-select form-select-sm", style: "width: 100%" }
      %><br>
    </div>
    <div class="list-group-item">
      <%= f.label :safety_manager_name %> <!-- 安全衛生責任者名 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.select :safety_manager_name, @business_workers_name.uniq,
                    { include_blank: true },
                    { class: "form-select form-select-sm", style: "width: 100%" }
      %><br>
    </div>
    <div class="list-group-item">
      <%= f.label :safety_promoter_name %> <!-- 安全推進者名 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.select :safety_promoter_name, @business_workers_name.uniq,
                        { include_blank: true },
                        { class: "form-select form-select-sm", style: "width: 100%" }
      %><br>
    </div>
    <div class="list-group-item">
      <%= f.label :foreman_name %> <!-- 職長名 -->
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.select :foreman_name, @business_workers_name.uniq,
                        { include_blank: true },
                        { class: "form-select form-select-sm", style: "width: 100%" }
      %><br>
    </div>
    <div class="list-group-item">
      <div style="font-weight: bold;"><%= f.label :registered_core_engineer %></div> <!-- 登録基幹技能者 -->
      <div class="list-group-item">
        <%= f.label :registered_core_engineer_name %> <!-- 氏名(登録基幹技能者) -->
        <%= f.select :registered_core_engineer_name, @business_workers_name.uniq,
                          { include_blank: true },
                          { id: "registered_core_engineer_name", class: "form-select form-select-sm", style: "width: 100%" }
        %><br>
        <%= f.label :registered_core_engineer_qualification %> <!-- 資格内容(登録基幹技能者) -->
        <%= f.select :registered_core_engineer_qualification, options_for_select(@request_order.registered_core_engineer_qualification.to_s.split(',')&.map{ |id| [License.find(id).name, id] }, include_blank: true), {},
                      { class: "form-select form-select-sm", style: "width: 100%", id: 'registered_core_engineer_qualification_id' }
        %><br>
      </div>
    </div>
    <div class="list-group-item">
      <%= f.label :construction_license %>
      <%= f.select :construction_license, @business_construction_licenses,
              { include_blank: true },
              { class: "form-select form-select-sm", style: "width: 100%" }
      %>
    </div>
  </div>
</div>
<br>

<script>
//資格内容(専門技術者)の取得
  $(function() {
    // 専門技術者名が変更されたら、対応するWorkerSkillTrainingのレコードを取得して、セレクトボックスを作成する
    $('#professional_engineer_name').on('change', function() {
      var assistantName = $(this).val();
      $.ajax({
        url: '/users/professional_engineer_skill_training_options',
        data: { professional_engineer_name: assistantName },
        success: function(options) {
          var selectOptionsHtml = '<option value=""></option>';
          for (var i = 0; i < options.length; i++) {
          selectOptionsHtml += '<option value="' + options[i].id + '">' + options[i].name + '</option>';
          }
          var selectBoxHtml = '<select id="worker_skill_training_id" name="order[worker_skill_training_id]">' + selectOptionsHtml + '</select>';
          $('#professional_engineer_qualification_id').html(selectBoxHtml);
        }
      });
    });
  });

  //資格内容(主任技術者)の取得
  $(function() {
    // 主任技術者名が変更されたら、対応するWorkerSkillTrainingのレコードを取得して、セレクトボックスを作成する
    $('#lead_engineer_name').on('change', function() {
      var assistantName = $(this).val();
      $.ajax({
        url: '/users/lead_engineer_skill_training_options',
        data: { lead_engineer_name: assistantName },
        success: function(options) {
          var selectOptionsHtml = '<option value=""></option>';
          for (var i = 0; i < options.length; i++) {
          selectOptionsHtml += '<option value="' + options[i].id + '">' + options[i].name + '</option>';
          }
          var selectBoxHtml = '<select id="worker_skill_training_id" name="order[worker_skill_training_id]">' + selectOptionsHtml + '</select>';
          $('#lead_engineer_qualification_id').html(selectBoxHtml);
        }
      });
    });
  });

  //資格内容(登録基幹技能者)の取得
  $(function() {
    // 登録基幹技能者名が変更されたら、対応するWorkerSkillTrainingのレコードを取得して、セレクトボックスを作成する
    $('#registered_core_engineer_name').on('change', function() {
      var assistantName = $(this).val();
      $.ajax({
        url: '/users/registered_core_engineer_license_options',
        data: { registered_core_engineer_name: assistantName },
        success: function(options) {
          var selectOptionsHtml = '<option value=""></option>';
          for (var i = 0; i < options.length; i++) {
          selectOptionsHtml += '<option value="' + options[i].id + '">' + options[i].name + '</option>';
          }
          var selectBoxHtml = '<select id="worker_license_id" name="order[worker_license_id]">' + selectOptionsHtml + '</select>';
          $('#registered_core_engineer_qualification_id').html(selectBoxHtml);
        }
      });
    });
  });

  // 入力フォームのバリデーション
  $(function(){
    $.each(function(key){
      $.validator.addMethod(key, this);
    });
    $(".order-form-validation").validate({
      rules: {
        "request_order[occupation]": {
          required: true
        },
        "request_order[construction_name]": {
          required: true,
          maxlength: 100
        },
        "request_order[construction_details]": {
          maxlength: 100
        },
        "request_order[start_date]": {
          required: true
        },
        "request_order[end_date]": {
          required: true
        },
        "request_order[contract_date]": {
          required: true
        },
        "request_order[site_agent_name]": {
          required: true
        },
        "request_order[site_agent_apply]": {
          required: true,
          maxlength: 40
        },
        "request_order[supervisor_name]": {
          required: true
        },
        "request_order[supervisor_apply]": {
          required: true,
          maxlength: 40
        },
        "request_order[professional_engineer_details]": {
          maxlength: 40
        },
        "request_order[construction_manager_name]": {
          required: true
        },
        "request_order[lead_engineer_name]": {
          required: true
        },
        "request_order[lead_engineer_check]": {
          required: true
        },
        "request_order[lead_engineer_qualification]": {
          required: true
        },
        "request_order[work_chief_name]": {
          required: true
        },
        "request_order[work_conductor_name]": {
          required: true
        },
        "request_order[safety_officer_name]": {
          required: true
        },
        "request_order[safety_manager_name]": {
          required: true
        },
        "request_order[safety_promoter_name]": {
          required: true
        },
        "request_order[foreman_name]": {
          required: true
        },
      },
      messages: {
        "request_order[occupation]": {
          required: "職種を入力してください。"
        },
        "request_order[construction_name]": {
          required: "工事名を入力してください。",
          maxlength: "工事名は100字以内で入力してください。"
        },
        "request_order[construction_details]": {
          maxlength: "工事内容は100字以内で入力してください。"
        },
        "request_order[start_date]": {
          required: "工期(自)を入力してください。"
        },
        "request_order[end_date]": {
          required: "工期(至)を入力してください。"
        },
        "request_order[contract_date]": {
          required: "契約日を入力してください。"
        },
        "request_order[site_agent_name]": {
          required: "現場代理人名を入力してください。"
        },
        "request_order[site_agent_apply]": {
          required: "権限及び意見の申出方法を入力してください。",
          maxlength: "権限及び意見の申出方法は40字以内で入力してください。"
        },
        "request_order[supervisor_name]": {
          required: "監督員名を入力してください。"
        },
        "request_order[supervisor_apply]": {
          required: "権限及び意見の申出方法を入力してください。",
          maxlength: "権限及び意見の申出方法は40字以内で入力してください。"
        },
        "request_order[professional_engineer_details]": {
          maxlength: "担当工事内容は40字以内で入力してください。"
        },
        "request_order[construction_manager_name]": {
          required: "工事担任責任者名を入力してください。"
        },
        "request_order[lead_engineer_name]": {
          required: "主任技術者名を入力してください。"
        },
        "request_order[lead_engineer_check]": {
          required: "専任or非専任を選択してください。"
        },
        "request_order[lead_engineer_qualification]": {
          required: "資格内容を選択してください。"
        },
        "request_order[work_chief_name]": {
          required: "作業主任者名を入力してください。"
        },
        "request_order[work_conductor_name]": {
          required: "作業指揮者名を入力してください。"
        },
        "request_order[safety_officer_name]": {
          required: "安全衛生担当責任者名を入力してください。"
        },
        "request_order[safety_manager_name]": {
          required: "安全衛生責任者名を入力してください。"
        },
        "request_order[safety_promoter_name]": {
          required: "安全推進者名を入力してください。"
        },
        "request_order[foreman_name]": {
          required: "職長名を入力してください。"
        },
      },
      errorPlacement: function(error, element) {
        if (element.attr("name") == "request_order[lead_engineer_check][]") {
          error.appendTo(".error-message");
        } else {
          error.insertAfter(element);
        }
      },
      errorClass: "input_form_error"
    });
    // 入力欄を変更したときにバリデーションを実行
    $(".order-form-validation").change(function () {
      $(this).valid();
    });
  });
</script>
