<div id="doc_4">
  <section class="sheet"><!-- 印刷内容 A3サイズ横向き -->

    <!-- 左側書類 -->
    <div class="row mb-2" id="left-content">
      <div class="row" id="cl-1">
        <table>
          <tbody>
            <tr>
              <td>(全建統一様式第3号)</td>
              <td class="text-right">
                <%= '※4-001未実装※' %> <!-- 4-001 提出日(西暦) -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row" id="cl-2">
        <h3 class="text-center pb-2">施 工 体 制 台 帳</h3>
      </div>
      <div class="row pb-2" id="cl-3">
        <table>
          <tbody>
            <tr>
              <td>[会 社 名・事業者ID]</td>
              <td>
                <%= document_site_info.content["genecon_name"] %> <!-- 4-002 元請会社名 -->
              </td>
              <td>
                <%= document_site_info.content["genecon_carrier_up_id"] %> <!-- 4-003 事業者ID(キャリアアップ) -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row pb-2" id="cl-4">
        <table>
          <tbody>
            <tr>
              <td>[事業所名・現場ID]</td>
              <td>
                <%= document_site_info.site_name %> <!-- 4-004 事業所名(現場名) -->
              </td>
              <td>
                <%= document_site_info.site_career_up_id %> <!-- 4-005 現場ID(キャリアアップ)-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row content-table" id="cl-5">
        <table class="table table-sm table-bordered" width="100%">
          <tbody>
            <tr>
              <td rowspan="5" width=10%">建設業の<br />許可</td>
              <td colspan="2" width="25%">許 可 業 種</td>
              <td colspan="6" width="35%">許 可 番 号</td>
              <td width="30%">許可 （更新） 年月日</td>
            </tr>
            <tr>
              <td rowspan="2">各会社の「建設許可業種」4-006</td><!-- 各会社の「建設許可業種」4-006 -->
              <td rowspan="2" width="6%">工事業</td>
              <td width="4%">大臣</td><!-- 「大臣or知事」⇩　4-007 -->
              <td width="4%">特定</td><!-- 「特定or一般」⇩　4-008 -->
              <td rowspan="2">「建設許可番号・前半」4-063</td><!-- 「建設許可番号・前半」4-063 -->
              <td rowspan="2" width="3%">第</td>
              <td rowspan="2">「建設許可番号・後半」4-009</td><!-- 「建設許可番号・後半」4-009 -->
              <td rowspan="2" width="3%">号</td>
              <td rowspan="2">「建設許可証更新日（西暦)」4-010</td><!-- 「建設許可証更新日（西暦)」4-010 -->
            </tr>
            <tr>
              <td width="4%">知事</td><!-- 「大臣or知事」⇩　4-007 -->
              <td width="4%">一般</td><!-- 「特定or一般」⇩　4-008 -->
            </tr>
            <tr>
              <td rowspan="2">各会社の「建設許可業種」4-011</td><!-- 各会社の「建設許可業種」4-011 -->
              <td rowspan="2">工事業</td>
              <td>大臣</td><!-- 「建設許可証（大臣or知事）」⇧　4-012 -->
              <td>特定</td><!-- ⇧「建設許可証（特定or一般）」4-013 -->
              <td rowspan="2">「建設許可番号・前半」4-064</td><!-- 「建設許可番号・前半」4-064 -->
              <td rowspan="2">第</td>
              <td rowspan="2">「建設許可番号・後半」4-014</td><!-- 「建設許可番号・後半」4-014 -->
              <td rowspan="2">号</td>
              <td rowspan="2">「建設許可証更新日（西暦)」4-015</td><!-- 「建設許可証更新日（西暦)」4-015 -->
            </tr>
            <tr>
              <td>知事</td><!-- 「建設許可証（大臣or知事）」⇧　4-012 -->
              <td>一般</td><!-- ⇧「建設許可証（特定or一般）」4-013 -->
            </tr>
          </tbody>
        </table>
        </table>
      </div>
      <div class="row content-table" id="cl-7">
        <table class="table table-sm table-bordered" width="100%">
          <tbody>
            <tr>
              <td rowspan="2" width="10%">工事名称<br />及び<br />工事内容</td>
              <td colspan="3">
                <%= document_site_info.construction_name %> <!-- 4-016 元請会社の工事名 -->
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <%= document_site_info.construction_details %> <!-- 4-017 元請会社の工事内容 -->
              </td>
            </tr>
            <tr>
              <td rowspan="2" width="10%">発注者<br />及び<br />住所</td>
              <td colspan="3">
                <%= document_site_info.order_name %> <!-- 4-018 発注者名 -->
              </td>
            </tr>
            <tr>
              <td width="30%">
                <span>〒</span>
                <%= document_site_info.order_post_code %> <!-- 4-019 発注者の郵便番号 -->
              </td>
              <td colspan="2">
                <%= document_site_info.order_address %> <!-- 4-020 発注者住所 -->
              </td>
            </tr>
            <tr>
              <td rowspan="2" width="10%">工期</td>
              <td width="40%">
                <span>自　</span>
                <%= l document_site_info.start_date, format: :long %> <!-- 4-021　元請会社の工期(自) -->
              </td>
              <td rowspan="2" width="10%">契 約 日</td>
              <td rowspan="2" width="40%">
                <%= l document_site_info.contract_date, format: :long %> <!-- 4-023 元請会社の契約日 -->
              </td>
            </tr>
            <tr>
              <td>
                <span>至　</span>
                <%= l document_site_info.end_date, format: :long %> <!-- 4-022 元請会社の工期(至) -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row content-table" id="cl-8">
        <table class="table table-sm table-bordered" width="100%">
          <tbody>
            <tr>
              <td rowspan="3" width="10%">契 約<br />営業所</td>
              <td width="10%">区 分</td>
              <td width="40%">名 称</td>
              <td width="40%">住 所</td>
            </tr>
            <tr>
              <td>元請契約</td>
              <td>
                <%= document_site_info.content["genecon_name"] %> <!-- 元請会社名 4-024 -->
              </td>
              <td>
                <%= document_site_info.content["genecon_address"] %> <!-- 4-025 元請会社の住所 -->
              </td>
            </tr>
            <tr>
              <td>下請契約</td>
              <td><span>各会社の「会社名」4-026</span> & <span>各会社の「会社名」4-027</span><br /><span>※支店 又は 営業所がない場合は、“同上”と記載</span></td><!-- 4-026 & 4-027 -->
              <td>各会社の「住所」4-028<br /><span>※支店 又は 営業所がない場合は、“同上”と記載</span></td><!-- 各会社の「住所」4-028 -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row content-table" id="cl-9">
        <table class="table table-sm table-bordered" width="100%">
          <tbody>
            <tr>
              <td rowspan="2" width="10%">発注者の<br />監督員名</td>
              <td width="35%">
                <%= document_site_info.order_supervisor_company %> <!-- 4-029 発注者の監督員所属会社名 -->
              </td>
              <td rowspan="2" width="20%">権限及び<br />意見申出方法</td>
              <td rowspan="2" width="35%">
                <%= document_site_info.order_supervisor_apply %> <!-- 4-031 発注者の権限及び意見の申出方法 -->
              </td>
            </tr>
            <tr>
              <td>
                <%= document_site_info.order_supervisor_name %> <!-- 4-030 発注者の監督員名 -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row content-table" id="cl-10">
        <table class="table table-sm table-bordered" width="100%">
          <tbody>
            <tr>
              <td colspan="2" width="10%">監督員名</td>
              <td colspan="2" width="40%">
                <%= document_site_info.supervisor_name %> <!-- 4-032 元請会社の監督員名 -->
              </td>
              <td colspan="2" width="10%">権限及び<br />意見申出方法</td>
              <td width="40%">
                <%= document_site_info.supervisor_apply %> <!-- 4-033 元請会社の監督員名・権限及び意見の申出方法 -->
              </td>
            </tr>
            <tr>
              <td colspan="2">現場代理人名</td>
              <td colspan="2">
                <%= document_site_info.site_agent_name %> <!-- 4-034 元請会社の現場代理人名 -->
              </td>
              <td colspan="2">権限及び<br />意見申出方法</td>
              <td>
                <%= document_site_info.site_agent_apply %> <!-- 4-035 元請会社の現場代理人名･権限及び意見の申出方法 -->
              </td>
            </tr>
            <tr>
              <td colspan="2">監理技術者・主任技術者名</td>
              <td width="15%">
                <%= document_site_info.supervising_engineer_check_i18n %> <!-- 4-036 元請会社の監督技術者･主任技術者(専任or非専任) -->
              </td>
              <td width="25%">
                <%= document_site_info.supervising_engineer_name %> <!-- 4-037 元請会社の監督技術者･主任技術者名-->
              </td>
              <td colspan="2" width="8%">資格内容</td>
              <td>
                <%= '※4-038未実装※' %> <!-- 4-038 監理技術者･主任技術者名の必要資格 -->
              </td>
            </tr>
            <tr>
              <td colspan="2">監督技術者<br />補佐名</td>
              <td colspan="2">
                <%= document_site_info.supervising_engineer_assistant_name %> <!-- 4-039 元請会社の監督技術者補佐名 -->
              </td>
              <td colspan="2" width="8%">資格内容</td>
              <td>
                <%= '※4-040未実装※' %> <!-- 4-040 監督技術者補佐の必要資格 -->
              </td>
            </tr>
            <tr>
              <td colspan="2">専 門<br /> 技術者名</td>
              <td colspan="2">
                <%= document_site_info.professional_engineer_name %> <!-- 4-041 元請会社の専門技術者名 -->
              </td>
              <td colspan="2">専門<br />技術者名</td>
              <td>
                <%= document_site_info.professional_engineer_name %> <!-- 4-044 元請会社の専門技術者名 -->
              </td>
            </tr>
            <tr>
              <td rowspan="2" width="2%"></td>
              <td width="8%">資格内容</td>
              <td colspan="2">
                <%= '※4-042未実装※' %> <!-- 4-042 元請会社の専門技術者の必要資格 -->
              </td>
              <td rowspan="2" width="2%"></td>
              <td>資格内容</td>
              <td>
                <%= '※4-045未実装※' %> <!-- 4-045 元請会社の専門技術者の必要資格 -->
              </td>
            </tr>
            <tr>
              <td>担   当<br />工事内容</td>
              <td colspan="2">
                <%= document_site_info.professional_engineer_construction_details %> <!-- 4-043 元請会社の専門技術者･担当工事内容 -->
              </td>
              <td>担   当<br />工事内容</td>
              <td>
                <%= document_site_info.professional_engineer_construction_details %> <!-- 4-046 元請会社の専門技術者･担当工事内容 -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row content-table" id="cl-11">
        <table class="table table-sm table-bordered" width="100%">
          <tbody>
            <tr>
              <td width="20%">一号特定技能<br />外国人の従事<br />の状況(有無)</td>
              <td>有　　無</td> <!-- 4-047 一特定技能外国人の従事の状況(有無) -->
              <td width="20%">外国人建設就<br />労者の従事の<br />状況(有無)</td>
              <td>有　　無</td> <!-- 4-048 外国人建設就労者の従事の状況(有無) -->
              <td width="20%">外国人技能実<br />習生の従事の<br />状況(有無)</td>
              <td>有　　無</td> <!-- 4-049 外国人技能実習生の従事の状況(有無) -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row content-table" id="cl-12">
        <table class="table table-sm table-bordered" width="100%">
          <tbody>
            <tr>
              <td rowspan="5" width="10%">健康保険<br />等の加入<br />状況</td>
              <td rowspan="2" width="10%">保険加入の<br />有無</td>
              <td colspan="3" width="21%">健康保険</td>
              <td colspan="3" width="25%">厚生年金保険</td>
              <td colspan="3" width="26%">雇用保険</td>
            </tr>
            <tr>
              <td width="7%">
                <%= insurance_join(document_site_info.content["genedon_health_insurance_status"]) %> <!-- 健康保険(加入) 4-050 -->
              </td>
              <td width="7%">
                <%= insurance_not_join(document_site_info.content["genedon_health_insurance_status"]) %> <!-- 健康保険加(未加入) 4-050 -->
              </td>
              <td width="7%">
                <%= insurance_not_coverd(document_site_info.content["genedon_health_insurance_status"]) %> <!-- 健康保険加入(適用除外) 4-050 -->
              </td>
              <td width="8.5%">
                <%= insurance_join(document_site_info.content["genecon_welfare_pension_insurance_join_status"]) %> <!-- 年金保険(加入) 4-051 -->
              </td>
              <td width="9%">
                <%= insurance_not_join(document_site_info.content["genecon_welfare_pension_insurance_join_status"]) %> <!-- 年金保険(未加入) 4-051 -->
              </td>
              <td width="8.5%">
                <%= insurance_not_coverd(document_site_info.content["genecon_welfare_pension_insurance_join_status"]) %> <!-- 年金保険(適用除外) 4-051 -->
              </td>
              <td width="9%">
                <%= insurance_join(document_site_info.content["genecon_employment_insurance_join_status"]) %> <!-- 雇用保険(加入) 4-052 -->
              </td>
              <td width="9%">
                <%= insurance_not_join(document_site_info.content["genecon_employment_insurance_join_status"]) %> <!-- 雇用保険(未加入) 4-052 -->
              </td>
              <td width="8%">
                <%= insurance_not_coverd(document_site_info.content["genecon_employment_insurance_join_status"]) %> <!-- 雇用保険(適用除外) 4-052 -->
              </td>
            </tr>
            <tr>
              <td rowspan="3">事業所<br /> 整理記号等</td>
              <td>区分</td>
              <td colspan="2">営業所の名称</td>
              <td colspan="2">健康保険</td>
              <td colspan="2">厚生年金保険</td>
              <td colspan="2">雇用保険</td>
            </tr>
            <tr>
              <td>元請契約</td>
              <td colspan="2">
                <%= document_site_info.content["genecon_name"] %> <!-- 元請会社名 4-053 -->
              </td>
              <td colspan="2">
                <%= document_site_info.content["genecon_health_insurance_association"] %> <!-- 4-054 元請の健康保険会社名 -->
                <br />
                <%= document_site_info.content["genecon_health_insurance_office_number"] %> <!-- 5-055 元請の健康保険番号 -->
              </td>
              <td colspan="2">
                <%= document_site_info.content["genecon_welfare_pension_insurance_office_number"] %> <!-- 4-056 元請の厚生年金保険番号 -->
              </td>
              <td colspan="2">
                <%= document_site_info.content["genecon_employment_insurance_number"] %> <!-- 4-057 元請の雇用保険番号 -->
              </td>
            </tr>
            <tr>
              <td>下請契約</td>
              <td colspan="2">「会社名」4-058</td><!-- 「会社名」4-058 -->
              <td colspan="2">「健康保険」4-059<br />「健康保険番号」4-060</td><!-- 「健康保険」4-059 & 「健康保険番号」4-060 -->
              <td colspan="2">「厚生年金保険番号」4-061</td><!-- 「厚生年金保険番号」4-061 -->
              <td colspan="2">「雇用保険」4-062</td><!-- 「雇用保険」4-062 -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row entry_summary" id="cl-13">
        <table width="100%">
          <tbody>
            <tr>
              <th rowspan="5" width="10%">(記入要領)</th>
              <th width="5%">1　</th>
              <td width="85%">この様式は元請が作成し、一次下請負業者を通じて報告される再下請負通知書（様式第1号-甲）を添付することにより、一次下請負業者別の施工体制台帳として利用する。</td>
            </tr>
            <tr>
              <th width="5%">2　</th>
              <td width="85%">発注者及び下請負人との契約書面の写しを添付（公共工事は請負代金額の記載があるもの）。上記の記載事項が発注者との請負契約書や下請負契約書に記載ある場合は、その写しを添付することにより記載を省略することができる。</td>
            </tr>
            <tr>
              <th width="5%">3　</th>
              <td width="85%">監理技術者・主任技術者の配属状況について「専任・非専任」のいずれかに 〇を付けること。</td>
            </tr>
            <tr>
              <th width="5%">4　</th>
              <td width="85%">専門技術者には、土木・建築一式工事を施工する場合等でその工事に含まれる専門工事を施工するために必要な主任技術者を記載する。 <br />（監理技術者・主任技術者が専門技術者としての資格を有する場合は専門技術者を兼ねることができる。）</td>
            </tr>
            <tr>
              <th width="5%">5　</th>
              <td width="85%">監理技術者・主任技術者・監督技術者補佐及び専門技術者について次のものを添付すること。<br />①資格を証するものの写し 　②自社従業員である証明書類の写し（従業員証、健康保険証など）</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- 右側書類 -->
    <div class="row" id="right-content">
      <div class="row" id="cr-1">
        <p>《下請負人に関する事項》</p>
      </div>
      <div class="row content-table" id="cr-2">
        <table class="table table-sm table-bordered" width="100%">
          <tbody>
            <tr>
              <td rowspan="2" width="10%">会 社 名</td>
              <td colspan="2" width="40%">
                <%= '※4-101未実装※' %> <!-- 4-101 下請会社名 -->
              </td>
              <td rowspan="2" width="15%">代表者名</td>
              <td rowspan="2" width="35%">「代表者名」4-103</td><!-- 「代表者名」4-103 -->
            </tr>
            <tr>
              <td colspan="2">
                <%= '※4-003未実装※' %> <!-- 4-003 事業者ID(キャリアアップ) -->
              </td>
            </tr>
            <tr>
              <td rowspan="2">住 所<Br />電話番号</td>
              <td width="5%">〒</td>
              <td width="35%">「郵便番号」4-104</td><!-- 「郵便番号」4-104 -->
              <td colspan="2">「住所」4-105</td><!-- 「住所」4-105 -->
            </tr>
            <tr>
              <td colspan="2">「住所」4-105</td><!-- 「住所」4-105 -->
              <td colspan="2">（TEL「電話番号」4-106）</td><!-- 「電話番号」4-106） -->
            </tr>
            <tr>
              <td rowspan="2">工事名称<br /> 及 び<br /> 工事内容</td>
              <td colspan="4">
                <%= document_subcon_info.construction_name %> <!-- 4-107 各下請会社の工事名 -->
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <%= document_subcon_info.construction_details %> <!-- 4-108 各下請会社の工事内容 -->
              </td>
            </tr>
            <tr>
              <td rowspan="2">工 期</td>
              <td>自</td>
              <td>
                <%= document_date(document_subcon_info.start_date) %> <!-- 4-109 各下請会社の工期(自) -->
              </td>
              <td rowspan="2">契 約 日</td>
              <td rowspan="2">
                <%= document_date(document_subcon_info.contract_date) %> <!-- 4-111 各下請会社の契約日 -->
              </td>
            </tr>
            <tr>
              <td>至</td>
              <td>
                <%= document_date(document_subcon_info.start_date) %> <!-- 4-110 各下請会社の工期(至) -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row content-table" id="cr-3">
        <table class="table table-sm table-bordered" width="100%">
          <tbody>
            <tr>
              <td rowspan="5" width="10%">建設業の<br /> 許 可</td>
              <td colspan="2" width="30%">許 可 業 種</td>
              <td colspan="6" width="30%">許 可 番 号</td>
              <td width="30%">許可 （更新） 年月日</td>
            </tr>
            <tr>
              <td rowspan="2" width="20%">各会社の「建設許可業種」4-112</td><!-- 各会社の「建設許可業種」4-112 -->
              <td rowspan="2" width="10%">工事業</td>
              <td width="4%">大臣</td><!-- 「大臣or知事」⇩　4-113 -->
              <td width="4%">特定</td><!-- 「特定or一般」⇩　4-114 -->
              <td rowspan="2">「建設許可番号・前半」4-145</td><!-- 「建設許可番号・前半」4-145 -->
              <td rowspan="2" width="3%">第</td>
              <td rowspan="2">「建設許可番号」4-115</td><!-- 「建設許可番号」4-115 -->
              <td rowspan="2" width="3%">号</td>
              <td rowspan="2">「建設許可証更新日（西暦)」4-116</td><!-- 「建設許可証更新日（西暦)」4-116 -->
            </tr>
            <tr>
              <td>知事</td><!-- 「大臣or知事」⇩　4-113 -->
              <td>一般</td><!-- 「特定or一般」⇩　4-114 -->
            </tr>
            <tr>
              <td rowspan="2">各会社の「建設許可業種」4-117</td><!-- 各会社の「建設許可業種」4-117 -->
              <td rowspan="2">工事業</td>
              <td>大臣</td><!-- 「建設許可証（大臣or知事）」⇧　4-118 -->
              <td>特定</td><!-- ⇧「建設許可証（特定or一般）」4-119 -->
              <td rowspan="2">「建設許可番号・前半」4-063</td><!-- 「建設許可番号・前半」4-063 -->
              <td rowspan="2">第</td>
              <td rowspan="2">「建設許可番号」4-146</td><!-- 「建設許可番号」4-146 -->
              <td rowspan="2">号</td>
              <td rowspan="2">「建設許可証更新日（西暦)」4-121</td><!-- 「建設許可証更新日（西暦)」4-121 -->
            </tr>
            <tr>
              <td>知事</td><!-- 「建設許可証（大臣or知事）」⇧　4-118 -->
              <td>一般</td><!-- ⇧「建設許可証（特定or一般）」4-119 -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row content-table" id="cr-4">
        <table class="table table-sm table-bordered" width="100%">
          <tbody>
            <tr>
              <td colspan="2" width="14%">現 場 代 理 人 名</td>
              <td colspan="2" width="35%">
                <%= document_subcon_info.site_agent_name %> <!-- 4-122 各下請会社の現場代理人名 -->
              </td>
              <td rowspan="7" width="1%"></td>
              <td colspan="2" width="15%">安全衛生責任者名</td>
              <td width="35%">
                <%= document_subcon_info.safety_manager_name %> <!-- 4-127 各下請会社の安全衛生責任者名 -->
              </td>
            </tr>
            <tr>
              <td width="4%"></td>
              <td width="11%">権限及び<br />意見申出方法</td>
              <td colspan="2">
                <%= document_subcon_info.site_agent_apply %> <!-- 4-123 下請各会社の現場代理人名･権限及び意見の申出方法 -->
              </td>
              <td colspan="2">安全衛生推進者名</td>
              <td>
                <%= document_subcon_info.safety_promoter_name %> <!-- 4-128 各下請会社の安全推進者名 -->
              </td>
            </tr>
            <tr>
              <td colspan="2">※主 任 技 術 者</td>
              <td width="10%%">
                <%= document_subcon_info.lead_engineer_check_i18n %> <!-- 4-124 各下請会社の主任技術者の(専任or非専任)-->
              </td>
              <td width="25%">
                <%= document_subcon_info.lead_engineer_name %> <!-- 4-125 各下請会社の主任技術者名 -->
              </td>
              <td colspan="2">雇用管理責任者名</td>
              <td>
                <%= '※4-129未実装※' %> <!-- 4-129 各下請会社の雇用管理責任者名 -->
              </td>
            </tr>
            <tr>
              <td width="1%"></td>
              <td width="14%">資 格 内 容</td>
              <td colspan="2">
                <%= '※4-126未実装※' %> <!-- 4-126 主任技術者の必要資格 -->
              </td>
              <td colspan="2">※専 門 技 術 者 名</td>
              <td>
                <%= document_subcon_info.professional_engineer_name %> <!-- 4-130 各下請会社の専門技術者名 -->
              </td>
            </tr>
            <tr>
              <td colspan="4"></td>
              <td colspan="3"></td>
            </tr>
            <tr>
              <td colspan="2" rowspan="2">※登録基幹技能者<br />名・種類</td>
              <td colspan="2">「登録基幹技能者」4-133</td><!-- 「登録基幹技能者」4-133 -->
              <td rowspan="2"></td>
              <td>資 格 内 容</td>
              <td>
                <%= '※4-131未実装※' %> <!-- 4-131 専門技術者の必要資格 -->
              </td>
            </tr>
            <tr>
              <td colspan="2">登録基幹技能者「必要資格」4-134</td><!-- 登録基幹技能者「必要資格」4-134 -->
              <td>担当工事内容</td>
              <td>
                <%= document_subcon_info.professional_engineer_details %> <!-- 4-132 各下請会社の専門技術者･担当工事内容 -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row content-table" id="cr-5">
      <table class="table table-sm table-bordered" width="100%">
        <tbody>
          <tr>
            <td width="20%">一号特定技能<br />外国人の従事<br />の状況(有無)</td>
            <td>有　　無</td><!-- 「一号特定技能外国人の従事の状況(有無)」4-135 -->
            <td width="20%">外国人建設就<br />労者の従事の<br />状況(有無)</td>
            <td>有　　無</td><!-- 「外国人建設就労者の従事の状況(有無)」4-136 -->
            <td width="20%">外国人技能実<br />習生の従事の<br />状況(有無)</td>
            <td>有　　無</td><!-- 「外国人技能実習生の従事の状況(有無)」4-137 -->
          </tr>
        </tbody>
      </table>
      </div>
      <div class="row content-table" id="cr-6">
        <table class="table table-sm table-bordered" width="100%">
          <tbody>
            <tr>
              <td rowspan="4" width="15%">健康保険<br />等の加入<br />状況</td>
              <td rowspan="2" width="10%">保険加入の<br />有無</td>
              <td colspan="3" width="25%">健康保険</td>
              <td colspan="3" width="25%">厚生年金保険</td>
              <td colspan="3" width="25%">雇用保険</td>
            </tr>
            <tr>
              <td>加入</td><!-- ⇩　「健康保険」4-138 -->
              <td>未加入</td><!-- ⇩　「健康保険」4-138 -->
              <td>適用外</td><!-- ⇩　「健康保険」4-138 -->
              <td>加入</td><!-- ⇩　「年金保険」4-139 -->
              <td>未加入</td><!-- ⇩　「年金保険」4-139 -->
              <td>適用外</td><!-- ⇩　「年金保険」4-139 -->
              <td>加入</td><!-- ⇩　「雇用保険」4-140 -->
              <td>未加入</td><!-- ⇩　「雇用保険」4-140 -->
              <td>適用外</td><!-- ⇩　「雇用保険」4-140 -->
            </tr>
            <tr>
              <td rowspan="2">事業所<br /> 整理記号等</td>
              <td colspan="3">健康保険</td>
              <td colspan="3">厚生年金保険</td>
              <td colspan="3">雇用保険</td>
            </tr>
            <tr>
              <td colspan="3">「健康保険」4-141<br />「健康保険番号」4-142</td><!-- 「健康保険」4-141 & 「健康保険番号」4-142 -->
              <td colspan="3">「厚生年金保険番号」4-143</td><!-- 「厚生年金保険番号」4-143 -->
              <td colspan="3">「雇用保険」4-144</td><!-- 「雇用保険」4-144 -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row entry_summary" id="cr-7">
        <table width="100%">
          <tbody>
            <tr>
              <th rowspan="2" width="5%"></th>
              <th width="5%">6　</th>
              <td width="90%">各外国人材が、当該建設工事に従事する場合は「有」、従事する予定がない場合は「無」を〇で囲む。</td>
            </tr>
            <tr>
              <th width="5%">7　</th>
              <td width="90%">健康保険等の加入状況の保険加入の有無欄には、各保険の適用を受ける営業所について届出を行っている場合は「加入」を、行っていない場合（適用を受ける営業所が複数あり、そのうち一部について行っていない場合を含む）は「未加入」を、従業員規模等により各保険の適用が除外される場合は「適用除外」を○で囲む。事業所整理記号等の営業所の名称欄には、この様式左側の営業所の名称欄には元請契約に係る営業所の名称及び下請契約に係る営業所の名所を、右側の一次下請負人に関する事項は請負契約に係る営業所の名称を、健康保険欄には、事業所整理記号及び事業所番号（健康保険組合にあっては組合名）を、一括適用の承認に係る営業所の場合は、本店の整理記号及び事業所番号を、厚生年金保険欄には、事業所整理記号及び事業所番号を、一括適用の承認に係る営業所の場合は、本店の整理記号及び事業所番号を、雇用保険欄には、労働保険番号を、継続事業の一括の認可に係る営業所の場合は、本店の労働保険番号をそれぞれ記載する。なお、この様式左側について、元請契約に係る営業所で下請契約を行う場合は、下請契約欄に「同上」と記載する。右側の一次下請負人に関する事項については、請負契約に係る営業所以外の営業所で再下請負契約を行う場合には欄を追加して記載する。
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row pt-2" id="cr-9">
        <p>※ ［主任技術者、専門技術者、登録基幹技能者の記入要領］</p>
      </div>
      <div class="row entry_summary pt-2" id="cr-10">
        <table>
          <tbody>
            <tr>
              <th>1　</th>
              <td>主任技術者の配属状況について「専任・非専任」のいずれかに○印を付すこと。</td>
            </tr>
            <tr>
              <th rowspan="3">2　</th>
              <td>専門技術者には、土木・建築一式工事を施工する場合等で、その工事に含まれる専門工事を施工するために必要な主任技術者を記載する。</td>
            </tr>
            <tr>
              <td>（一式工事の主任技術者が、専門工事の主任技術者としての資格を有する場合は専門技術者を兼ねることができる。）</td>
            </tr>
            <tr>
              <td>複数の専門工事を施工するために、複数の専門技術者を要する場合は、適宜欄を設けて全員を記載する。</td>
            </tr>
            <tr>
              <th>3　</th>
              <td>登録基幹技能者が複数いる場合は、適宜欄を設けて全員を記載する。</td>
            </tr>
            <tr>
              <th>4　</th>
              <td>主任技術者の資格内容（該当するものを選んで記入する）</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row entry_summary pt-2" id="cr-11">
        <table>
          <tbody>
            <tr>
              <th>　①経験年数による場合</th>
              <td></td>
              <th>②資格等による場合</th>
            </tr>
            <tr>
              <td>　　1）大学卒「指定学科」</td>
              <td>3年以上の実務経験</td>
              <td>　　1）建設業法「技術検定」</td>
            </tr>
            <tr>
              <td>　　　（短大・高専卒業者を含む。）</td>
              <td></td>
              <td>　　2）建築士法「建築士試験」</td>
            </tr>
            <tr>
              <td>　　2）高校卒「指定学科」</td>
              <td>5年以上の実務経験</td>
              <td>　　3）技術士法「技術士試験」</td>
            </tr>
            <tr>
              <td>　　3）その他</td>
              <td>10年以上の実務経験</td>
              <td>　　4）電気工事士法「電気工事士試験」</td>
            </tr>
            <tr>
              <td rowspan="3"></td>
              <td rowspan="3"></td>
              <td>　　5）電気事業法「電気主任技術者国家試験等」</td>
            </tr>
            <tr>
              <td>　　6）消防法「消防設備士試験」</td>
            </tr>
            <tr>
              <td>　　7）職業能力開発促進法「技能検定」</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>

<style>
  /* リスト初期化 */
  #doc_4 {
    overflow: scroll;
    /* 初期化 */
    margin: 0;
    padding: 0;
    font-size: 8pt;
    font-weight: normal;
  }

  #doc_4 ul {
    list-style: none;
    padding-left: 0;
  }

  /* ページレイアウト (section.sheet を１ページとする) */
  .sheet {
    overflow-x: scroll;
    overflow-y: scroll;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;

    /* 用紙サイズ A3 */
    width: 420mm;
    height: 297mm;
    size: A3 landscape;
  }

  .content-table td {
    text-align: center;
    vertical-align: middle;
    padding: 3px;
  }

  .entry_summary th {
    vertical-align: top;
  }

  .entry_summary td {
    text-align: left;
  }

  #left-content {
    width: 200mm;
    position: relative;
    top: 5mm;
    left: 10mm;
    /* background-color: #666; */
  }

  #right-content {
    width: 200mm;
    position: absolute;
    top: 5mm;
    right: 10mm;
  }

  /* プレビュー用のスタイル */
  @media screen {
    body {
      background: #e0e0e0;
    }
    .sheet {
      background: white; /* 背景を白く */
      box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3); /* ドロップシャドウ */
      margin: 5mm auto;
    }
  }

  /* 印刷時の設定 */
  @page {
    size: A3 landscape;
    margin: 0;
  }
</style>
