<!-- (24)参考資料第4号(新規入場者調査票) -->
<%= form_with(model: @document, url: users_request_order_document_path, local: true, method: :patch) do |f| %>
  <% j = 1 %>
  <% document_info.field_workers.each do |field_worker| %>
    <div class="ritz grid-container" dir="ltr">
      <table class="waffle" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th class="row-header freezebar-origin-ltr"></th>
            <th class="doc_24_s3" colspan="26"></th>
          </tr>
        </thead>
        <tbody>
          <tr style="height: 19px">
            <td class="doc_24_s3" dir="ltr" colspan="27"></td>
          </tr>
          <tr style="height: 19px">
            <td class="doc_24_s3" dir="ltr" colspan="27"></td>
          </tr>
          <tr style="height: 19px">
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s49" dir="ltr" colspan="2"></td>
            <td class="doc_24_s3" dir="ltr" colspan="22"></td>
          </tr>
          <tr style="height: 19px">
            <td class="doc_24_s3"></td>
            <td class="doc_24_s7"></td>
            <td class="doc_24_s0" dir="ltr" colspan="2">参考資料第４号</td>
            <td class="doc_24_s1" dir="ltr"></td>
            <td class="doc_24_s1" dir="ltr"></td>
            <td class="doc_24_s2"></td>
            <td class="doc_24_s3" colspan="2"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
          </tr>
          <tr style="height: 19px">
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s1"></td>
            <td class="doc_24_s1"></td>
            <td class="doc_24_s1"></td>
            <td class="doc_24_s1"></td>
            <td class="doc_24_s1"></td>
            <td class="doc_24_s2"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s1"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s2" dir="ltr"></td>
            <td class="doc_24_s4" dir="ltr" colspan="5" rowspan="2"><%= field_worker.admission_date_start %></td> <!-- 「各作業員の入場年月日・始期」24-001 -->
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
          </tr>
          <tr style="height: 19px">
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s5" dir="ltr" colspan="8" rowspan="2">新規入場者調査票</td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s1"></td>
            <td class="doc_24_s6" dir="ltr" colspan="3">新 規 入 場 日</td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
          </tr>
          <tr style="height: 19px">
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s1"></td>
            <td class="doc_24_s7"></td>
            <td class="doc_24_s8" dir="ltr" colspan="2" rowspan="3">元　請<br>確認欄</td>
            <td class="doc_24_s97" dir="ltr" colspan="6" rowspan="3"><%= f.text_field name = "prime_contractor_confirmation_#{j.ordinalize}",value: field_worker.prime_contractor_confirmation, :placeholder => '例)元請会社の確認者' %></td> <!-- 「元請会社の確認欄」24-002 -->
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
          </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s1"></td>
          <td class="doc_24_s1"></td>
          <td class="doc_24_s1"></td>
          <td class="doc_24_s1"></td>
          <td class="doc_24_s1"></td>
          <td class="doc_24_s1"></td>
          <td class="doc_24_s1"></td>
          <td class="doc_24_s1"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s1"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s1"></td>
          <td class="doc_24_s10" dir="ltr" colspan="8" rowspan="2"><%= document_site_info.site_name %></td> <!--「事業所名（現場名）」24-003 -->
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s1"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s11" dir="ltr">(</td>
          <td class="doc_24_s12" dir="ltr" colspan="2">作業所 ）</td>
          <td class="doc_24_s13"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s2" dir="ltr"></td>
          <td class="doc_24_s1"></td>
          <td class="doc_24_s1"></td>
          <td class="doc_24_s1"></td>
          <td class="doc_24_s1"></td>
          <td class="doc_24_s1" colspan="4"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s14" dir="ltr" colspan="23" rowspan="3">下記調査票の個人情報については、安全衛生管理および緊急時の連絡・対応のために使用いたします。<br> また、当社において厳重に管理し、法令に定める場合を除き、第三者には提供いたしません。不要となった時は、責任を持って処分いたします。</td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s25 softmerge" colspan="2">
            <div class="doc_24_softmerge-inner">ふりがな</div>
          </td>
          <td class="doc_24_s15" dir="ltr" colspan="6"><%= field_worker.content["name_kana"] %></td> <!-- 「フリガナ」24-004 -->
          <td class="doc_24_s8" dir="ltr" colspan="2" rowspan="3">生年月日</td>
          <td class="doc_24_s16" dir="ltr" colspan="5" rowspan="3"><%= field_worker.content["birth_day_on"] %></td> <!-- 「生年月日 」24-006 -->
          <td class="doc_24_s17" dir="ltr" rowspan="3">(</td>
          <td class="doc_24_s18" dir="ltr" rowspan="3"><%= worker_age(field_worker).delete("歳") %></td> <!-- 「年齢」24-007 -->
          <td class="doc_24_s19" dir="ltr" rowspan="3">)</td>
          <td class="doc_24_s8" dir="ltr" rowspan="3">歳</td>
          <td class="doc_24_s17" dir="ltr" colspan="2" rowspan="3">血液型</td>
          <td class="doc_24_s18" dir="ltr" rowspan="3"><%= worker_abo_blood_type(field_worker) %></td> <!-- 「血液型」24-008 -->
          <td class="doc_24_s8" dir="ltr" rowspan="3">型</td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s8" dir="ltr" colspan="2" rowspan="2">氏 名</td>
          <td class="doc_24_s15" dir="ltr" colspan="6" rowspan="2"><%= field_worker.content["name"] %></td> <!-- 「氏名」24-005 -->
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s8" dir="ltr" colspan="2" rowspan="3">現住所</td>
          <td class="doc_24_s20" dir="ltr" colspan="21" rowspan="2"><%= field_worker.content["my_address"] %></td> <!-- 「住所」24-009 -->
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s21" dir="ltr" colspan="12">TEL</td>
          <td class="doc_24_s9" dir="ltr" colspan="9"><%= field_worker.content["my_phone_number"] %></td> <!-- 「電話番号」24-010 -->
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s22" dir="ltr" colspan="23" rowspan="2">緊　急　連　絡　先</td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s8" dir="ltr" colspan="7">氏 名</td>
          <td class="doc_24_s8" dir="ltr" colspan="2">続柄</td>
          <td class="doc_24_s8" dir="ltr" colspan="3">電話番号</td>
          <td class="doc_24_s8" dir="ltr" colspan="11">現 住 所</td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s99" dir="ltr" colspan="7" rowspan="2"><%= field_worker.content["family_name"] %></td> <!-- 「緊急連絡先（氏名）」24-011 -->
          <td class="doc_24_s98" dir="ltr" colspan="2" rowspan="2"><%= field_worker.content["relationship"] %></td> <!-- 「緊急連絡先（続柄）」24-012 -->
          <td class="doc_24_s9" dir="ltr" colspan="3" rowspan="2"><%= field_worker.content["family_phone_number"] %></td> <!-- 「緊急連絡先（電話番号）」24-013 -->
          <td class="doc_24_s9" dir="ltr" colspan="11" rowspan="2"><%= field_worker.content["family_address"] %></td> <!-- 「緊急連絡先（住所）」24-014 -->
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s22" dir="ltr" colspan="23" rowspan="2">〈 あなたが働いている会社との関係 〉</td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s8" dir="ltr" colspan="3">事 業 者 名</td>
          <td class="doc_24_s17" dir="ltr" colspan="2">（一次）</td>
          <td class="doc_24_s15" dir="ltr" colspan="7"><%= document_site_info.business.name %></td> <!-- 「一次会社名」24-015 -->
          <td class="doc_24_s17" dir="ltr" colspan="3">雇用年月日：</td>
          <td class="doc_24_s9" dir="ltr" colspan="8"><%= field_worker.content["hiring_on"] %></td> <!-- 「雇入年月日（年月日）」24-016 -->
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s8" dir="ltr" colspan="3">所 属 会 社</td>
          <td class="doc_24_s96" dir="ltr" colspan="20"><%= Business.find(document_info.business_id).name %></td> <!-- 「会社名」24-017 -->
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s8" dir="ltr" colspan="3">雇用契約書</td>
          <td class="doc_24_s26" dir="ltr" colspan="4"><%= employment_contract_yes(field_worker) %></td>
          <td class="doc_24_s26" dir="ltr"></td>
          <td class="doc_24_s27" dir="ltr" colspan="2"><%= employment_contract_no(field_worker) %></td>
          <td class="doc_24_s28" dir="ltr" colspan="3"></td>
          <td class="doc_24_s17" dir="ltr" colspan="2">職 種：</td>
          <td class="doc_24_s29" dir="ltr" colspan="7"><%= field_worker.occupation %></td> <!-- 「職種」24-019 -->
          <td class="doc_24_s8" dir="ltr">工</td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s22" dir="ltr" colspan="23" rowspan="2">（ アンケートにお答え下さい ）</td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s6" dir="ltr" colspan="12">・あなたは一人親方・中小事業主ですか</td>
          <td class="doc_24_s30"></td>
          <td class="doc_24_s27" dir="ltr" colspan="5">
            <%= questionnaire_business_type_yes(field_worker) %>
          </td>
          <td class="doc_24_s31" dir="ltr" colspan="5">
            <%= questionnaire_business_type_no(field_worker) %>
          </td>
          <td class="doc_24_s32 softmerge" dir="ltr"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s6" dir="ltr" colspan="12">　1. に〇を付けた方は、労災保険の特別加入していますか。</td>
          <td class="doc_24_s30"></td>
          <td class="doc_24_s27" dir="ltr" colspan="5"><%= questionnaire_labor_insurance_yes(field_worker) %></td>
          <td class="doc_24_s31" dir="ltr" colspan="5"><%= questionnaire_labor_insurance_no(field_worker) %></td>
          <td class="doc_24_s32 softmerge" dir="ltr"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s6" dir="ltr" colspan="12">・あなたは建設現場で働きはじめてどのくらいになりますか。</td>
          <td class="doc_24_s30"></td>
          <td class="doc_24_s27" dir="ltr" colspan="3"><%= questionnaire_experience_term_short(field_worker) %></td>
          <td class="doc_24_s27" dir="ltr" colspan="3"><%= questionnaire_experience_term_middle(field_worker) %></td>
          <td class="doc_24_s31" dir="ltr" colspan="4"><%= questionnaire_experience_term_long(field_worker) %></td>
          <td class="doc_24_s32 softmerge" dir="ltr"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s6" dir="ltr" colspan="12">・あなたは健康診断を受けましたか。</td>
          <td class="doc_24_s30"></td>
          <td class="doc_24_s27" dir="ltr" colspan="5"><%= questionnaire_health_exam_yes(field_worker) %></td>
          <td class="doc_24_s31" dir="ltr" colspan="5"><%= questionnaire_health_exam_no(field_worker) %></td>
          <td class="doc_24_s32 softmerge" dir="ltr"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s6" dir="ltr" colspan="12">・あなたの最近の健康状態はどうですか。</td>
          <td class="doc_24_s30"></td>
          <td class="doc_24_s27" dir="ltr" colspan="2"><%= questionnaire_health_condition_good(field_worker) %></td>
          <td class="doc_24_s27" dir="ltr" colspan="4"><%= questionnaire_health_condition_normal(field_worker) %></td>
          <td class="doc_24_s31" dir="ltr" colspan="4"><%= questionnaire_health_condition_bad(field_worker) %></td>
          <td class="doc_24_s32 softmerge" dir="ltr"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s6" dir="ltr" colspan="12">・この現場へ来る前に事業主から送り出し教育を受けてきましたか。</td>
          <td class="doc_24_s30"></td>
          <td class="doc_24_s27" dir="ltr" colspan="5"><%= questionnaire_sendoff_education_yes(field_worker) %></td>
          <td class="doc_24_s31" dir="ltr" colspan="5"><%= questionnaire_sendoff_education_no(field_worker) %></td>
          <td class="doc_24_s32 softmerge" dir="ltr"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s22" dir="ltr" colspan="23" rowspan="2">〈 資格について 〉</td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s33" dir="ltr" colspan="4" rowspan="2">技能講習<br>（作業主任者）</td>
          <td class="doc_24_s34" dir="ltr" colspan="3">
            <%= worker_skill_training(field_worker).include?("ガス") ? "■ガス溶接" : "▢ガス溶接" %>
          </td>
          <td class="doc_24_s34" dir="ltr" colspan="5">
            <%= worker_skill_training(field_worker).include?("玉掛") ? "■玉掛け" : "▢玉掛け" %>
          </td>
          <td class="doc_24_s34" dir="ltr" colspan="5">
            <%= worker_skill_training(field_worker).include?("コ破") ? "■コンクリート破砕器" : "▢コンクリート破砕器" %>
          </td>
          <td class="doc_24_s34" dir="ltr" colspan="3">
            <%= worker_skill_training(field_worker).include?("地山") ? "■地山の掘削" : "▢地山の掘削" %>
          </td>
          <td class="doc_24_s35" dir="ltr" colspan="3">
            <%= worker_skill_training(field_worker).include?("石綿") ? "■石綿" : "▢石綿" %>
          </td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s34" dir="ltr" colspan="3">
          <%= worker_skill_training(field_worker).include?("有機") ? "■有機溶剤" : "▢有機溶剤" %>
          </td>
          <td class="doc_24_s34" dir="ltr" colspan="5">
            <%= worker_skill_training(field_worker).include?("型枠") ? "■型枠支保工の組立て等" : "▢型枠支保工の組立て等" %>
          </td>
          <td class="doc_24_s34" dir="ltr" colspan="5">
            <%= worker_skill_training(field_worker).include?("足場") ? "■足場の組立て等" : "▢足場の組立て等" %>
          </td>
          <td class="doc_24_s34" dir="ltr" colspan="3">
            <%= worker_skill_training(field_worker).include?("ボ取") ? "■ボイラー取扱" : "▢ボイラー取扱" %>
          </td>
          <td class="doc_24_s35" colspan="3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s3" dir="ltr" colspan="4"></td> <!-- 「技能講習」24-026 -->
          <td class="doc_24_s3" dir="ltr" colspan="8">
            <%= worker_skill_training(field_worker).include?("コ解") ? "■コンクリート造の工作物の解体等" : "▢コンクリート造の工作物の解体等" %>
          </td>
          <td class="doc_24_s3" dir="ltr" colspan="5">
            <%= worker_skill_training(field_worker).include?("酸欠") ? "■酸素欠乏危険" : "▢酸素欠乏危険" %>
          </td>
          <td class="doc_24_s38" dir="ltr" colspan="6" rowspan="2"><%= worker_skill_training_work_other(field_worker) %></td> <!-- ▢その他（　　　　　　　　） -->
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s36" dir="ltr" colspan="4"></td>
          <td class="doc_24_s37" dir="ltr" colspan="8"></td>
          <td class="doc_24_s37" dir="ltr" colspan="6"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s33" dir="ltr" colspan="4" rowspan="2">技能講習<br>（運転士）</td>
          <td class="doc_24_s39" dir="ltr" colspan="9">
            <%= worker_skill_training(field_worker).include?("小ク") ? "■1t以上5t未満の移動式クレーン" : "▢1t以上5t未満の移動式クレーン" %>
          </td>
          <td class="doc_24_s40" dir="ltr" colspan="10">
            <%= worker_skill_training(field_worker).include?("整地") ? "■3t以上の車両系建設機械" : "▢3t以上の車両系建設機械" %>
          </td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s39" dir="ltr" colspan="9">
            <%= worker_skill_training(field_worker).include?("基礎") ? "■3t以上の自走する基礎工事用機械" : "▢3t以上の自走する基礎工事用機械" %>
          </td>
          <td class="doc_24_s40" dir="ltr" colspan="10">
            <%= worker_skill_training(field_worker).include?("解体") ? "■3t以上の解体用機械" : "▢3t以上の解体用機械" %>
          </td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s36" dir="ltr" colspan="4" rowspan="4"></td> <!-- 「技能講習」24-027 -->
          <td class="doc_24_s39" dir="ltr" colspan="9">
            <%= worker_skill_training(field_worker).include?("不整") ? "■1t以上の不整地運搬車" : "▢1t以上の不整地運搬車" %>
          </td>
          <td class="doc_24_s40" dir="ltr" colspan="10">
            <%= worker_skill_training(field_worker).include?("高所") ? "■10m以上の高所作業車" : "▢10m以上の高所作業車" %>
          </td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s39" dir="ltr" colspan="9">
            <%= worker_skill_training(field_worker).include?("フォ") ? "■1t以上のフォークリフト" : "▢1t以上のフォークリフト" %>
          </td>
          <td class="doc_24_s40" dir="ltr" colspan="10">
            <%= worker_skill_training(field_worker).include?("ショ") ? "■1t以上のショベルローダー" : "▢1t以上のショベルローダー" %>
          </td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s41" dir="ltr" colspan="9" rowspan="2">
            <%= worker_skill_training(field_worker).include?("床ク") ? "■その他（ 床ク ）" : "▢その他（　　　　　　　　　　）" %>
          </td>
          <td class="doc_24_s40" dir="ltr" colspan="10"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s38" dir="ltr" colspan="10"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s33" dir="ltr" colspan="4" rowspan="2">特別教育<br>（運転者・作業者）</td>
          <td class="doc_24_s39" dir="ltr" colspan="5">
            <%= worker_special_education_oxygen(field_worker) %>
          </td>
          <td class="doc_24_s39" dir="ltr" colspan="7">
            <%= worker_special_education(field_worker).include?("小型車両系建設機械（整地・運搬・積込み用及び掘削用）（3t未満）") ? "■3t未満の車両系建設機械" : "▢3t未満の車両系建設機械" %>
          </td>
          <td class="doc_24_s40" dir="ltr" colspan="7">
            <%= worker_special_education(field_worker).include?("小型車両系建設機械（基礎工事用）（3t未満）") ? "■3t未満の自走しない基礎工事用機械" : "▢3t未満の自走しない基礎工事用機械" %>
          </td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s39" dir="ltr" colspan="5">
            <%= worker_special_education(field_worker).include?("ローラー") ? "■ローラー" : "▢ローラー" %>
          </td>
          <td class="doc_24_s39" dir="ltr" colspan="7">
            <%= worker_special_education(field_worker).include?("車両系建設機械（コンクリート打設用）") ? "■コンクリート打設用車両系建設機械" : "▢コンクリート打設用車両系建設機械" %>
          </td>
          <td class="doc_24_s40" dir="ltr" colspan="7">
            <%= worker_special_education(field_worker).include?("小型車両系建設機械（解体用）（3t未満）") ? "■3t未満の解体用機械" : "▢3t未満の解体用機械" %>
          </td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s43" dir="ltr" colspan="4" rowspan="7"></td> <!-- 「特別教育」24-028 -->
          <td class="doc_24_s39" dir="ltr" colspan="5">
            <%= worker_special_education(field_worker).include?("不整地運搬車（1t未満）") ? "■不整地運搬車（1t未満）" : "▢不整地運搬車（1t未満）" %>
          </td>
          <td class="doc_24_s39" dir="ltr" colspan="7">
            <%= worker_special_education(field_worker).include?("高所作業車(10m未満）") ? "■10m未満の高所作業車" : "▢10m未満の高所作業車" %>
          </td>
          <td class="doc_24_s40" dir="ltr" colspan="7">
            <%= worker_special_education(field_worker).include?("ボーリングマシン") ? "■ボーリングマシン" : "▢ボーリングマシン" %>
          </td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s39" dir="ltr" colspan="5">
            <%= worker_special_education(field_worker).include?("フォークリフト（1t未満）") ? "■フォークリフト（1t未満）" : "▢フォークリフト（1t未満）" %>
          </td>
          <td class="doc_24_s39" dir="ltr" colspan="7">
            <%= worker_special_education(field_worker).include?("ショベルローダー（1t未満）") ? "■ショベルローダー（1t未満）" : "▢ショベルローダー（1t未満）" %>
          </td>
          <td class="doc_24_s40" dir="ltr" colspan="7">
            <%= worker_special_education(field_worker).include?("巻上げ機") ? "■巻上げ機械" : "▢巻上げ機械" %>
          </td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s39" dir="ltr" colspan="5">
            <%= worker_special_education(field_worker).include?("建設用リフト") ? "■建設用リフト" : "▢建設用リフト" %>
          </td>
          <td class="doc_24_s39" dir="ltr" colspan="7">
            <%= worker_special_education(field_worker).include?("玉掛け（1t未満）") ? "■1t未満の玉掛け" : "▢1t未満の玉掛け" %>
          </td>
          <td class="doc_24_s40" dir="ltr" colspan="7">
            <%= worker_special_education(field_worker).include?("ゴンドラ") ? "■ゴンドラ" : "▢ゴンドラ" %>
          </td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s39" dir="ltr" colspan="5">
            <%= worker_special_education(field_worker).include?("アーク溶接") ? "■アーク溶接等" : "▢アーク溶接等" %>
          </td>
          <td class="doc_24_s39" dir="ltr" colspan="7">
            <%= worker_special_education(field_worker).include?("研削砥石") ? "■研削といしの取替え等" : "▢研削といしの取替え等" %>
          </td>
          <td class="doc_24_s40" dir="ltr" colspan="7">
            <%= worker_special_education_electrical(field_worker) %>
          </td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s39" dir="ltr" colspan="5">
            <%= worker_special_education(field_worker).include?("足場の組立て") ? "■足場の組立て等" : "▢足場の組立て等" %>
          </td>
          <td class="doc_24_s39" dir="ltr" colspan="7">
            <%= worker_special_education(field_worker).include?("ロープ高所作業") ? "■ロープ高所作業" : "▢ロープ高所作業" %>
          </td>
          <td class="doc_24_s40" dir="ltr" colspan="7">
            <%= worker_special_education(field_worker).include?("フルハーネス型の墜落制止用器具") ? "■フルハーネス型安全帯" : "▢フルハーネス型安全帯" %>
          </td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s41" dir="ltr" colspan="16" rowspan="2"><%= worker_special_education_other(field_worker) %> <!-- ▢その他（　　　　　　　　） -->
          <td class="doc_24_s39" dir="ltr" colspan="2"></td>
          <td class="doc_24_s40"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s7"></td>
          <td class="doc_24_s41" dir="ltr" colspan="2"></td>
          <td class="doc_24_s31"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>

        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s44"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s45"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s46"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s47" dir="ltr" colspan="2">☆誓約書 </td>
          <td class="doc_24_s47" dir="ltr"></td>
          <td class="doc_24_s47" dir="ltr"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3" dir="ltr" colspan="23">・私は、送出し教育、当作業所入場時教育を受けました。</td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3" dir="ltr" colspan="23">・作業所の遵守事項や安全基準を遵守し、自分の身を守り、また周囲の人の安全にも気を配り作業します。</td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3" dir="ltr" colspan="23">・上記教育訓練にて受講したＩＳＯに関する内容（社長方針、作業所目標等）を理解し作業します。</td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s48" dir="ltr" colspan="23" rowspan="2">・どんな小さなケガでも、必ず当日に報告します。危険箇所や有害箇所を発見したときは、直ちに安全衛生責任者もしくは、元請職員等に連絡します。</td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
        <tr style="height: 19px">
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
          <td class="doc_24_s3"></td>
        </tr>
          <tr style="height: 19px">
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3" dir="ltr" colspan="11">・個人情報の取扱いについて、了承しました。</td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s49" dir="ltr" colspan="4" rowspan="2">回答者自筆サイン</td>
            <td class="doc_24_s50" dir="ltr" colspan="6" rowspan="2"><%= field_worker.content["name"] %></td> <!-- 24-029 -->
            <td class="doc_24_s3" rowspan="2"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
          </tr>
          <tr style="height: 19px">
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
          </tr>
          <tr style="height: 19px">
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s1" colspan="9"></td>
            <td class="doc_24_s3"></td>
            <td class="doc_24_s3"></td>
          </tr>
        </tbody>
      </table>
    </div>
  <<% j += 1 %>
  <% end %>
  <div style="text-align: center">
    <%= f.submit %>
  </div>
<% end %>