<%= render 'shared/error_massages', object: f.object %>

<%# 氏名 %>
<%= f.label :name %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :name, class: "form-control", placeholder: example_name %><br>

<%# フリガナ %>
<%= f.label :name_kana %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :name_kana, class: "form-control", placeholder: example_name_kana %><br>

<%# 事業主または一人親方 %>
<%= f.label :business_owner_or_master %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
<div class="md-3"><%= f.check_box :business_owner_or_master, id: :business_owner_or_master %> はい</div><br>

<%# 国籍 %>
<%= f.label :country %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.country_select :country, { priority_countries: ["JP"] }, { class: "form-control", id: "country-select" } %>
<br>

<%# 性別 %>
<%= f.label :sex %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
<%= f.collection_radio_buttons(:sex, Worker.sexes_i18n, :first, :last, class: "radio") do |b| %>
  <div class="radio">
    <%= b.label { b.radio_button + b.text } %>
  </div>
<% end %>
<br>

<%# 郵便番号 %>
<%= f.label :post_code %>
<%= f.text_field :post_code, value: @post_code, class: "form-control", placeholder: annotation_hyphen %><br>

<%# 住所 %>
<%= f.label :my_address %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :my_address, class: "form-control", placeholder: Worker.human_attribute_name(:my_address) %><br>

<%# 電話番号 %>
<%= f.label :my_phone_number %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.telephone_field :my_phone_number, value: @my_phone_number, class: "form-control", placeholder: annotation_hyphen %><br>

<%# メールアドレス %>
<%= f.label :email %>
<%= f.text_field :email, class: "form-control", placeholder: example_email %><br>

<%# 緊急連絡先：氏名 %>
<%= f.label :family_name %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :family_name, class: "form-control", placeholder: Worker.human_attribute_name(:family_name) %><br>

<%# 緊急連絡先：続柄 %>
<%= f.label :relationship %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :relationship, class: "form-control", placeholder: Worker.human_attribute_name(:relationship) %><br>

<%# 緊急連絡先：住所 %>
<%= f.label :family_address %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :family_address, class: "form-control", placeholder: Worker.human_attribute_name(:family_address) %><br>

<%# 緊急連絡先：電話番号 %>
<%= f.label :family_phone_number %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.telephone_field :family_phone_number, value: @family_phone_number, class: "form-control", placeholder: annotation_hyphen %><br>

<%# 生年月日 %>
<%= f.label :birth_day_on %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.date_field :birth_day_on, class: "form-control", style: "width: 25%;", placeholder: Worker.human_attribute_name(:birth_day_on) %><br>

<%# 血液型（ABO） %>
<%= f.label :abo_blood_type %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
<%= f.collection_radio_buttons(:abo_blood_type, Worker.abo_blood_types_i18n, :first, :last, class: "radio") do |b| %>
  <div class="radio">
    <%= b.label { b.radio_button + b.text } %>
  </div>
<% end %><br>

<%# 血液型（RH） %>
<%= f.label :rh_blood_type %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
<%= f.collection_radio_buttons(:rh_blood_type, Worker.rh_blood_types_i18n, :first, :last, class: "radio") do |b| %>
  <div class="radio">
    <%= b.label { b.radio_button + b.text } %>
  </div>
<% end %><br>

<%# 役職 %>
<%= f.label :job_title %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
<%= f.text_field :job_title, class: "form-control", placeholder: Worker.human_attribute_name(:job_title) %><br>

<%# 雇入年月日 %>
<%= f.label :hiring_on %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.date_field :hiring_on, class: "form-control", style: "width: 25%;", placeholder: Worker.human_attribute_name(:hiring_on) %><br>

<%# 雇入前経験年数 %>
<%= f.label :experience_term_before_hiring %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :experience_term_before_hiring, class: "form-control" %><br>

<%# ブランク年数 %>
<%= f.label :blank_term %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :blank_term, class: "form-control" %><br>

<%# 契約条件の確認 %>
<%= f.label :employment_contract %>
<span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
<%= f.collection_radio_buttons(:employment_contract, Worker.employment_contracts_i18n, :first, :last, class: "radio") do |b| %>
  <div class="radio">
    <%= b.label { b.radio_button + b.text } %>
  </div>
<% end %><br>

<%# 従業員証の写し %>
<%= f.label :employee_cards %>
<%= f.file_field :employee_cards, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: "form-control" %>
<% if @worker.employee_cards.present? %>
  <% @worker.employee_cards.each_with_index do |image, index| %>
    <%= image_tag(image.url) %>
    <%= link_to "削除", users_worker_update_employee_cards_path(@worker, index: index), method: :patch, data: { confirm: "本当に削除してもよろしいですか？" } %>
  <% end %>
<% end %>

<%# 技能者ID(キャリアアップシステム) %>
<%= f.label :career_up_id %>
<%= f.text_field :career_up_id, value: @career_up_id, class: "form-control", placeholder: annotation_hyphen %><br>

<%# キャリアアップシステムカードの写し %>
<%= f.label :career_up_images %>
<%= f.file_field :career_up_images, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: "form-control" %>
<% if @worker.career_up_images.present? %>
  <% @worker.career_up_images.each_with_index do |image, index| %>
    <%= image_tag(image.url) %>
    <%= link_to "削除", users_worker_update_career_up_images_path(@worker, index: index), method: :patch, data: { confirm: "本当に削除してもよろしいですか？" } %>
  <% end %>
<% end %>
<br>

<div class="list-group">
  <!-- WorkerLicenseここから -->
  <div class="list-group-item">
    <%= f.fields_for :worker_licenses do |w_license| %>
      <%= render "worker_license_fields", f: w_license %>
    <% end %>
    <div id="license-insertion-point"></div>
    <span>　　</span><%= link_to_add_association "＋フォーム追加", f, :worker_licenses,
      data: {
        association_insertion_node: '#license-insertion-point',
        association_insertion_method: 'append'
      },
      class: "btn btn-sm btn-primary mb-3"
    %>
  </div>
  <!-- WorkerLicenseここまで -->

  <!-- WorkerSkillTrainingここから -->
  <div class="list-group-item">
    <%= f.fields_for :worker_skill_trainings do |w_skill_training| %>
      <%= render "worker_skill_training_fields", f: w_skill_training %>
    <% end %>
    <div id="skill-insertion-point"></div>
    <span>　　</span><%= link_to_add_association "＋フォーム追加", f, :worker_skill_trainings,
      data: {
        association_insertion_node: '#skill-insertion-point',
        association_insertion_method: 'append'
      },
      class: "btn btn-sm btn-primary mb-3"
    %>
  </div>
  <!-- WorkerSkillTrainingここまで -->

  <!-- WorkerSpecialEducationここから -->
  <div class="list-group-item">
    <%= f.fields_for :worker_special_educations do |w_special_education| %>
      <%= render "worker_special_education_fields", f: w_special_education %>
    <% end %>
    <div id="special-insertion-point"></div>
    <span>　　</span><%= link_to_add_association "＋フォーム追加", f, :worker_special_educations,
      data: {
        association_insertion_node: '#special-insertion-point',
        association_insertion_method: 'append'
      } ,
      class: "btn btn-sm btn-primary mb-3"
      %>
  </div>
  <!-- WorkerSpecialEducationここまで -->

  <%# worker_safety_health_educationここから %>
  <div class="list-group-item">
    <%= f.fields_for :worker_safety_health_educations do |w_safety_health_education| %>
      <%= render "worker_safety_health_education_fields", f: w_safety_health_education %>
    <% end %>
    <div id="safety-health-education-insertion-point"></div>
    <span>　　</span><%= link_to_add_association "＋フォーム追加", f, :worker_safety_health_educations,
      data: {
        association_insertion_node: '#safety-health-education-insertion-point',
        association_insertion_method: 'append'
      },
      class: "btn btn-sm btn-primary mb-3"
    %>
  </div>
  <%# worker_safety_health_educationここまで %>

  <%# 運転免許及び認印ここから %>
  <div class="list-group-item">
    <%= f.label :driver_licence %>
    <div class="list-group-item">
      <% I18n.t('driver_licence_params').each do |key, value| %>
        <%= f.check_box :driver_licence, {multiple: true}, value, nil %>
        <%= f.label value %><br>
      <% end %>
      <div id = "driver_licence_number">
        <%= f.label :driver_licence_number %>
        <span class="p-1 mb-2 rounded bg-danger text-white" id="driver-licence-number-precense">必須</span><br>
        <%= f.text_field :driver_licence_number, value: @driver_licence_number, class: "form-control", placeholder: annotation_hyphen %>
      </div>
      <%= f.label :seal %>
      <%= f.file_field :seal, accept: 'image/jpg, image/jpeg, image/png', class: "form-control" %>
      <% if @worker.seal.present? %>
        <%= image_tag(@worker.seal.url) %>
        <%= link_to "削除", users_worker_delete_seal_path(@worker), method: :patch, data: { confirm: "本当に削除してもよろしいですか？" } %>
      <% end %>
    </div>
  </div><br>

  <!-- WorkerMedicalここから -->
  
  <%= f.fields_for :worker_medical do |worker_medical| %>
    <div class="list-group-item">
      <%# 健康診断の受診状況 %>
      <div class="mb-3">
        <%= worker_medical.label :is_med_exam %>
        <span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
        <%= worker_medical.collection_radio_buttons(:is_med_exam, WorkerMedical.is_med_exams_i18n, :first, :last, class: "radio") do |b| %>
          <div class="radio">
            <%= b.label { b.radio_button + b.text } %>
          </div>
        <% end %>
      </div>
      <%# 健康診断日 %>
      <div class="mb-3">
        <%= worker_medical.label :med_exam_on %>
        <%= worker_medical.date_field :med_exam_on, class: "form-control", style: "width: 25%;" %>
      </div>
      <%# 最近の健康状態 %>
      <div class="mb-3">
        <%= worker_medical.label :health_condition %>
        <span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
        <%= worker_medical.collection_radio_buttons(:health_condition, WorkerMedical.health_conditions_i18n, :first, :last, class: "radio") do |b| %>
          <div class="radio">
            <%= b.label { b.radio_button + b.text } %>
          </div>
        <% end %>
      </div>
      <%# 最高血圧 (mmHg) %>
      <div class="mb-3">
        <%= worker_medical.label :max_blood_pressure %>
        <%= worker_medical.number_field :max_blood_pressure, class: "form-control" %>
      </div>
      <%# 最低血圧 (mmHg) %>
      <div class="mb-3">
        <%= worker_medical.label :min_blood_pressure %>
        <%= worker_medical.number_field :min_blood_pressure, class: "form-control" %>
      </div>
    </div>

    <div class="list-group-item">
      <%# 特別健康診断の受診状況 %>
      <div class="mb-3">
        <%= worker_medical.label :is_special_med_exam %>
        <span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
        <%= worker_medical.collection_radio_buttons(:is_special_med_exam, WorkerMedical.is_special_med_exams_i18n, :first, :last, class: "radio") do |b| %>
          <div class="radio">
            <%= b.label { b.radio_button + b.text } %>
          </div>
        <% end %>
      </div>
      <%# 特別健康診断日   %>
      <div class="mb-3">
        <%= worker_medical.label :special_med_exam_on %>
        <%= worker_medical.date_field :special_med_exam_on, class: "form-control", style: "width: 25%;" %>
      </div>
      <div class="mb-3">
        <%= worker_medical.label :special_med_exam_ids %>
        <%= worker_medical.collection_check_boxes :special_med_exam_ids, SpecialMedExam.all, :id, :name do |b| %>
          <div>
            <%= b.check_box %>
            <%= b.label %>
          </div>
        <% end %>
        <%= worker_medical.text_field :special_med_exam_others, placeholder: "その他の場合は入力してください", class: "form-control" %>
      </div>

      <%# 特別健康診断 %>
      <%#= worker_medical.fields_for :worker_exams do |worker_exam| %>
        <%#= render "worker_exam_fields", f: worker_exam %>
      <%# end %>
      <%# <div id='worker-exam-insertion-point'></div>
      <br> %>
      <%#= link_to_add_association "＋フォーム追加", worker_medical, :worker_exams,
        data: {
          association_insertion_node: '#worker-exam-insertion-point',
          association_insertion_method: 'append'
        },
        class: "btn btn-sm btn-primary"
      %>
    </div>
  <% end %>
  <!-- WorkerMedicalここまで -->

  <!-- WorkerInsuranceここから -->
  <div class="list-group-item">
    <%= f.fields_for :worker_insurance do |worker_insurance| %>
      <div class="mt-3 mb-3">
        <%= worker_insurance.label :health_insurance_type %>
        <span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
        <div class="list-group-item">
          <%= worker_insurance.collection_radio_buttons(:health_insurance_type, WorkerInsurance.health_insurance_types_i18n, :first, :last, class: "radio") do |b| %>
            <div class="radio">
              <%= b.label { b.radio_button + b.text } %>
            </div>
          <% end %>
          <!-- health_insurance_typeがhealth_insurance_associationまたはconstruction_national_health_insuranceで入力可能 -->
          <div id="health_insurance_name">
            <%= worker_insurance.label :health_insurance_name %>
            <%= worker_insurance.text_field :health_insurance_name, class: "form-control" %>
          </div>
        </div>
      </div>

      <%# 健康保険証の写し %>
      <%= worker_insurance.label :health_insurance_image %>
      <div style="margin-bottom: 10px;">
        <%= worker_insurance.file_field :health_insurance_image, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: "form-control" %>
        <% if @worker.worker_insurance.health_insurance_image.present? %>
          <% @worker.worker_insurance.health_insurance_image.each_with_index do |image, index| %>
            <%= image_tag(image.url) %>
            <%= link_to "削除", users_worker_update_health_insurance_image_path(@worker, index: index), method: :patch, data: { confirm: "本当に削除してもよろしいですか？" } %>
          <% end %>
        <% end %>
      </div>
      <br>

      <div class="mb-3" id="pension_insurance_type">
        <%= worker_insurance.label :pension_insurance_type %>
        <span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
        <%= worker_insurance.collection_radio_buttons(:pension_insurance_type, WorkerInsurance.pension_insurance_types_i18n, :first, :last, class: "radio") do |b| %>
          <div class="radio">
            <%= b.label { b.radio_button + b.text } %>
          </div>
        <% end %><br>
      </div>

      <div class="mb-3" id="employment_insurance_type">
        <%= worker_insurance.label :employment_insurance_type %>
        <span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
        <div class="list-group-item">
          <%= worker_insurance.collection_radio_buttons(:employment_insurance_type, WorkerInsurance.employment_insurance_types_i18n, :first, :last, class: "radio") do |b| %>
            <div class="radio">
              <%= b.label { b.radio_button + b.text } %>
            </div>
          <% end %>
          <!-- employment_insurance_numberが被保険者(0)で入力可能 -->
          <div id="employment_insurance_number">
            <%= worker_insurance.label :employment_insurance_number %>
            <%= worker_insurance.text_field :employment_insurance_number, class: "form-control" %>
          </div>
        </div>
      </div>
      
      <div class="mt-3" id="has_labor_insurance">
        <%= worker_insurance.label :has_labor_insurance %><span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
        <%= worker_insurance.collection_radio_buttons(:has_labor_insurance, WorkerInsurance.has_labor_insurances_i18n, :first, :last, class: "radio") do |b| %>
          <div class="radio">
            <%= b.label { b.radio_button + b.text } %>
          </div>
        <% end %><br>
      </div>

      <div class="mb-3">
        <%= worker_insurance.label :severance_pay_mutual_aid_type %>
        <span class="p-1 mb-2 rounded bg-danger text-white">必須</span><br>
        <div class="list-group-item">
          <%= worker_insurance.collection_radio_buttons(:severance_pay_mutual_aid_type, WorkerInsurance.severance_pay_mutual_aid_types_i18n, :first, :last, class: "radio") do |b| %>
            <div class="radio">
              <%= b.label { b.radio_button + b.text } %>
            </div>
          <% end %>
          <!-- severance_pay_mutual_aid_typeがその他(2)のときに入力可能 -->
          <div class="mb-3" id="mutual_aid_number">
            <%= worker_insurance.label :severance_pay_mutual_aid_name %>
            <%= worker_insurance.text_field :severance_pay_mutual_aid_name, class: "form-control" %>
          </div>
        </div>
      </div>
    <% end %>
  </div><br>
  <!-- WorkerInsuranceここまで -->
  <%# 外国人用フォームここから %>
  <div class="list-group" id="foreigner-field">
    <h5>外国人就労者の方<span class="p-1 mb-2 rounded bg-danger text-white">必須</span></h5>
    <div class="list-group-item">
      <div class="mt-3 mb-3">
        <%= f.label :status_of_residence, class: "required" %><span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
        <div class="list-group-item">
          <%= f.collection_radio_buttons(:status_of_residence, Worker.status_of_residences_i18n, :first, :last, class: "radio") do |b| %>
            <div class="radio">
              <%= b.label { b.radio_button + b.text } %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="list-group" id="non-resident-foreigner-field">
        <%# 在留期間満期日 %>
        <%= f.label :maturity_date %><span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
        <div><%= f.date_field :maturity_date, class: "form-control", placeholder: Worker.human_attribute_name(:maturity_date) %><br></div>

        <%# キャリアアップシステム登録情報が最新であることの確認済 %>
        <div class="mt-3 mb-3">
          <%= f.label :confirmed_check, class: "required" %><span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
          <div class="list-group-item">
            <%= f.collection_radio_buttons(:confirmed_check, Worker.confirmed_checks_i18n, :first, :last, class: "radio") do |b| %>
              <div class="radio">
                <%= b.label { b.radio_button + b.text } %>
              </div>
            <% end %>
          </div>
        </div>

        <%# キャリアアップシステム登録情報が最新であることの確認日 %>
        <div id="confirmed_check_date">
          <%= f.label :confirmed_check_date %>
          <span class="p-1 mb-2 rounded bg-danger text-white" id="confirmed_check_date_label">必須</span>
          <%= f.date_field :confirmed_check_date, class: "form-control", placeholder: Worker.human_attribute_name(:confirmed_check_date) %><br>
        </div>

        <%# パスポートの写し %>
        <%= f.label :passports %>
        <div class="col-md-8" style="margin-bottom: 10px;">
          <%= f.file_field :passports, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: "form-control" %>
          <% if @worker.passports.present? %>
            <% @worker.passports.each_with_index do |image, index| %>
              <%= image_tag(image.url) %>
              <%= link_to "削除", users_worker_update_passports_path(@worker, index: index), method: :patch, data: { confirm: "本当に削除してもよろしいですか？" } %>
            <% end %>
          <% end %>
        </div>
        <br>

        <%# 在留カードの写し %>
        <%= f.label :residence_cards %>
        <div class="col-md-8" style="margin-bottom: 10px;">
          <%= f.file_field :residence_cards, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: "form-control" %>
          <% if @worker.residence_cards.present? %>
            <% @worker.residence_cards.each_with_index do |image, index| %>
              <%= image_tag(image.url) %>
              <%= link_to "削除", users_worker_update_residence_cards_path(@worker, index: index), method: :patch, data: { confirm: "本当に削除してもよろしいですか？" } %>
            <% end %>
          <% end %>          
        </div>
        <br>

        <%# 受入企業と外国人建設就労者等との間の雇用条件書の写し %>
        <%= f.label :employment_conditions %>
        <div class="col-md-8" style="margin-bottom: 10px;">
          <%= f.file_field :employment_conditions, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: "form-control" %>
          <% if @worker.employment_conditions.present? %>
            <% @worker.employment_conditions.each_with_index do |image, index| %>
              <%= image_tag(image.url) %>
              <%= link_to "削除", users_worker_update_employment_conditions_path(@worker, index: index), method: :patch, data: { confirm: "本当に削除してもよろしいですか？" } %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%# 外国人用フォームここまで %>
</div><br>

<script>
  // 国籍が日本以外の選択時に外国人就労者情報のフォームを表示させる
  $(document).ready(function() {
    // 国の選択肢が変更されたときに呼び出される関数を定義する
    function checkCountrySelection() {
      var selectedCountry = $('#country-select').val();
      // 国がJP以外の場合には、居住状況フィールドを表示する
      if (selectedCountry !== 'JP') {
        $('#foreigner-field').show();
        // 居住状況フィールドを必須にする
        $('input[name="worker[status_of_residence]"]').prop('required', true);
        $('input[name="worker[maturity_date]"]').prop('required', true);
        $('input[name="worker[confirmed_check]"]').prop('required', true);
        $('input[name="worker[confirmed_check_date]"]').prop('required', true);
      } else {
        // 国がJPの場合には、居住状況フィールドを非表示にする
        $('#foreigner-field').hide();
        // 居住状況フィールドを必須ではなくする
        $('input[name="worker[status_of_residence]"]').prop('required', false);
        $('input[name="worker[maturity_date]"]').prop('required', false);
        $('input[name="worker[confirmed_check]"]').prop('required', false);
        $('input[name="worker[confirmed_check_date]"]').prop('required', false);
      }
    }

    // 在留資格が外国人建設就労者、特定技能の時、外国人就労者情報のフォームを表示させる
    function radioStatusOfResidenceSelection() {
      var selectedCountry = $('#country-select').val();
      var radioStatusOfResidenceSelection = $('input[name="worker[status_of_residence]"]:checked').val();
      // 国がJP以外の場合には、居住状況フィールドを表示する
      if (selectedCountry !== 'JP' && ['construction_employment', 'specified_skill'].includes(radioStatusOfResidenceSelection)) {
        $('#non-resident-foreigner-field').show();
        // 居住状況フィールドを必須にする
        $('input[name="worker[maturity_date]"]').prop('required', true);
        $('input[name="worker[confirmed_check]"]').prop('required', true);
        $('input[name="worker[confirmed_check_date]"]').prop('required', true);
      } else {
        $('#non-resident-foreigner-field').hide();
        // 居住状況フィールドを必須ではなくする
        $('input[name="worker[maturity_date]"]').prop('required', false);
        $('input[name="worker[confirmed_check]"]').prop('required', false);
        $('input[name="worker[confirmed_check_date]"]').prop('required', false);
      }
    }

    // CCUS登録情報が最新であることの確認がありの時、キャリアアップシステム登録情報が最新であることの確認日フォームを無効にする
    function confirmedCheckDate_Disabled() {
      var confirmedCheckVlue = $('input[name="worker[confirmed_check]"]:checked').val();
      if (confirmedCheckVlue == 'unchecked') {
        $('#confirmed_check_date').hide();
      } else {
        $('#confirmed_check_date').show();
      }
    }

    // フォームの初期状態で居住状況フィールドを非表示にする
    $('#status-of-residence-field').hide();

    // 国の選択肢が変更されたときにcheckCountrySelectionを呼び出す
    $('#country-select').change(checkCountrySelection);
    $('#country-select').change(radioStatusOfResidenceSelection);
    $('input[name="worker[status_of_residence]"]').change(radioStatusOfResidenceSelection);
    $('input[name="worker[confirmed_check]"]').change(confirmedCheckDate_Disabled);

    // ページの読み込み時にcheckCountrySelectionを呼び出す
    checkCountrySelection();
    radioStatusOfResidenceSelection();
    confirmedCheckDate_Disabled();
  })
</script>

<script>
  // 健康保険名項目フォームの有効・無効
  // 健康保険組合、建設国保の時、健康保険名項目フォームを有効、それ以外は無効にするメソッド
  const radioHealthInsuranceTypes = document.getElementsByName('worker[worker_insurance_attributes][health_insurance_type]')
  function HealthInsuranceNameDisabled(radioHealthInsuranceTypes) {
    let checkedValue;
    for (const radio of radioHealthInsuranceTypes) {
      if (radio.checked) {
        checkedValue = radio.value;
        break;
      }
    }

    if (checkedValue == 'health_insurance_association' || checkedValue == 'construction_national_health_insurance'){
      document.getElementById('health_insurance_name').style.display = "block";
    } else {
      document.getElementById('health_insurance_name').style.display = "none";
    }
  }
  HealthInsuranceNameDisabled(radioHealthInsuranceTypes); //ページの読み込み時に判定

  // 健康保険名の変更時、健康保険名項目フォームを有効、それ以外は無効にするメソッドを実行
  for(let i = 0; i < radioHealthInsuranceTypes.length; i++) {
  radioHealthInsuranceTypes[i].addEventListener('change', function() {HealthInsuranceNameDisabled(radioHealthInsuranceTypes);});
  }
</script>

<script>
  $(document).ready(function() {
    // 保険証番号処理
    // 被保険者の時、保険証番号フォームを有効にし、それ以外は無効にする
    const employmentInsuranceType = document.getElementsByName('worker[worker_insurance_attributes][employment_insurance_type]')
    function HealthInsuranceNumberDisabled(employmentInsuranceType) {
      let checkedValue;
      for (const radio of employmentInsuranceType) {
        if (radio.checked) {
          checkedValue = radio.value;
          break;
        }
      }

      if (checkedValue == 'insured' || checkedValue == 'day'){
        document.getElementById('employment_insurance_number').style.display = "block";
      } else {
        document.getElementById('employment_insurance_number').style.display = "none";
      }
    }
    HealthInsuranceNumberDisabled(employmentInsuranceType); //ページの読み込み時に判定

    // 雇用保険の変更時、被保険者番号項目フォームを有効、それ以外は無効にするメソッドを実行
    for(let i = 0; i < employmentInsuranceType.length; i++) {
      employmentInsuranceType[i].addEventListener('change', function() {HealthInsuranceNumberDisabled(employmentInsuranceType);})
    }
  })
</script>

<script>
  $(document).ready(function() {
    // 建設業退職金共済手帳 の表示非表示
    // その他の時、建設業退職金共済手帳フォームを表示にし、それ以外は非表示にする
    const severancePayMutualAidType = document.getElementsByName('worker[worker_insurance_attributes][severance_pay_mutual_aid_type]')
    function severancePayMutualAidOtherDisabled(severancePayMutualAidType) {
      let checkedValue;
      for (const radio of severancePayMutualAidType) {
        if (radio.checked) {
          checkedValue = radio.value;
          break;
        }
      }

      if (checkedValue == 'other'){
        document.getElementById('mutual_aid_number').style.display = "block";
      } else {
        document.getElementById('mutual_aid_number').style.display = "none";
      }
    }
    severancePayMutualAidOtherDisabled(severancePayMutualAidType); //ページの読み込み時に判定

    // 雇用保険の変更時、被保険者番号項目フォームを有効、それ以外は無効にするメソッドを実行
    for(let i = 0; i < severancePayMutualAidType.length; i++) {
      severancePayMutualAidType[i].addEventListener('change', function() {severancePayMutualAidOtherDisabled(severancePayMutualAidType);})
    }
  })
</script>

<script>
  $(document).ready(function() {
    // 免許証番号フォームの有効・無効
    // 免許証番号項目フォームの有効・無効を操作するメソッド
    function driverLicenceNumberShowHide() {
      if ($('input[name="worker[driver_licences][]"]:checked').length > 0) {
        $('#driver_licence_number').show();
      } else {
        $('#driver_licence_number').hide();
      }
    };
    // 免許証チェックボックスが変更されたとき、免許証番号項目フォームの有効・無効を操作するメソッドを実行する
    $('input[name="worker[driver_licences][]"]').change(driverLicenceNumberShowHide);

    driverLicenceNumberShowHide(); //ページの読み込み時に判定
  })
</script>

<script>
  $(document).ready(function() {
    // 労働保険特別加入フォームの表示・非表示
    // 一人親方項目ではいであるとき、労働保険特別加入フォームの表示・非表示を操作するメソッド
    function has_labor_insuranceShowHide() {
      if ($('#business_owner_or_master').is(':checked')) {
        $('#has_labor_insurance').show();
      } else {
        $('#has_labor_insurance').hide();
      }
    };
    // 免許証チェックボックスが変更されたとき、免許証番号項目フォームの有効・無効を操作するメソッドを実行する
    ($('#business_owner_or_master')).change(has_labor_insuranceShowHide);

    has_labor_insuranceShowHide(); //ページの読み込み時に判定
  })
</script>

<script>
  $(function(){
    $.each(function(key){
      $.validator.addMethod(key, this);
    });
    $(".worker-form-validation").validate({
      rules:{
        "worker[name]": {
          required: true
        },
        "worker[name_kana]": {
          required: true
        },
        "worker[country]": {
          required: true
        },
        "worker[sex]": {
          required: true
        },
        "worker[my_address]": {
          required: true
        },
        "worker[my_phone_number]": {
          required: true
        },
        "worker[family_name]": {
          required: true
        },
        "worker[relationship]": {
          required: true
        },
        "worker[family_address]": {
          required: true
        },
        "worker[family_phone_number]": {
          required: true
        },
        "worker[birth_day_on]": {
          required: true
        },
        "worker[abo_blood_type]": {
          required: true
        },
        "worker[job_title]": {
          required: true
        },
        "worker[hiring_on]": {
          required: true
        },
        "worker[experience_term_before_hiring]": {
          required: true
        },
        "worker[blank_term]": {
          required: true
        },
        "worker[employment_contract]": {
          required: true
        },
        "worker[worker_insurance_attributes][health_insurance_type]": {
          required: true
        },
        "worker[worker_insurance_attributes][health_insurance_name]": {
          required: true
        },
        "worker[worker_insurance_attributes][pension_insurance_type]": {
          required: true
        },
        "worker[worker_insurance_attributes][employment_insurance_type]": {
          required: true
        },
        "worker[worker_insurance_attributes][employment_insurance_number]": {
          required: true
        },
        "worker[worker_insurance_attributes][severance_pay_mutual_aid_type]": {
          required: true
        },
        "worker[worker_insurance_attributes][severance_pay_mutual_aid_name]": {
          required: true
        },
        "worker[worker_insurance_attributes][has_labor_insurance]": {
          required: true
        },
      },
      messages:{
        "worker[name]": {
          required: "名前を入力してください。"
        },
        "worker[name_kana]": {
          required: "名前カナを入力してください。"
        },
        "worker[country]": {
          required: "国籍を入力してください。"
        },
        "worker[sex]": {
          required: "性別を入力してください。"
        },
        "worker[my_address]": {
          required: "住所を入力してください。"
        },
        "worker[my_phone_number]": {
          required: "電話番号を入力してください。"
        },
        "worker[family_name]": {
          required: "家族の氏名を入力してください。"
        },
        "worker[relationship]": {
          required: "家族の続柄を入力してください。"
        },
        "worker[family_address]": {
          required: "家族の住所を入力してください。"
        },
        "worker[family_phone_number]": {
          required: "家族の電話番号を入力してください。"
        },
        "worker[birth_day_on]": {
          required: "生年月日を入力してください。"
        },
        "worker[abo_blood_type]": {
          required: "血液型(ABO)を入力してください。"
        },
        "worker[job_title]": {
          required: "役職を入力してください。"
        },
        "worker[hiring_on]": {
          required: "雇入年月日を入力してください。"
        },
        "worker[experience_term_before_hiring]": {
          required: "雇入前経験年数を入力してください。"
        },
        "worker[blank_term]": {
          required: "ブランク年数を入力してください。"
        },
        "worker[employment_contract]": {
          required: "雇用契約書を取り交わしたかどうかを選択してください。"
        },
        "worker[worker_insurance_attributes][health_insurance_type]": {
          required: "健康保険のタイプを選択してください。"
        },
        "worker[worker_insurance_attributes][health_insurance_name]": {
          required: "健康保険の名前を入力してください。"
        },
        "worker[worker_insurance_attributes][pension_insurance_type]": {
          required: "年金保険のタイプを選択してください。"
        },
        "worker[worker_insurance_attributes][employment_insurance_type]": {
          required: "雇用保険のタイプを選択してください。"
        },
        "worker[worker_insurance_attributes][employment_insurance_number]": {
          required: "被保険者番号は11桁で入力してください。"
        },
        "worker[worker_insurance_attributes][severance_pay_mutual_aid_type]": {
          required: "建設業退職金共済制度を選択してください。"
        },
        "worker[worker_insurance_attributes][severance_pay_mutual_aid_name]": {
          required: "建設業退職金共済制度名前を入力してください。"
        },
        "worker[worker_insurance_attributes][has_labor_insurance]": {
          required: "労働特別保険に加入しているかどうかを選択してください。"
        },
      },
      errorClass: "input_form_error"
    });
     // 入力欄を変更したときにバリデーションを実行
    $(".worker-form-validation").change(function () {
      $(this).valid();
    });
  });
</script>
