<% provide(:worker_info, "作業員情報") %>
<% provide(:worker_emergency_contact_info, "緊急連絡先") %>
<% provide(:worker_health_info, "健康情報") %>
<% provide(:is_med_exam_info, "健康診断") %>
<% provide(:special_med_exam_info, "特別健康診断") %>
<% provide(:special_med_exam_id_info, "診断種類") %>
<% provide(:worker_health_info_blood_pressure, "血圧") %>
<% provide(:worker_insurances_info, "保険情報") %>
<% provide(:worker_licenses_info, "資格情報") %>
<% provide(:worker_foreign_construction_workers_info, "外国人建設就労者情報") %>

<%= render 'shared/error_massages', object: f.object %>

<!-- 作業員情報ここから -->
<div class="list-group">
  <div style="font-size: 22px; font-weight: bold;"><%= f.label yield(:worker_info) %></div><!-- 作業員情報 -->
  <div class="list-group-item">
    <%# 技能者ID(キャリアアップシステム) %>
    <%= f.label :career_up_id %>
    <%= f.text_field :career_up_id, value: @career_up_id, class: "form-control", placeholder: annotation_hyphen %><br>

    <%# キャリアアップシステムカードの写し %>
    <%= f.label :career_up_images %>
    <%= f.file_field :career_up_images, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: "form-control text-muted" %>
    <% if @worker.career_up_images.present? && @worker.id.present? %>
      <% @worker.career_up_images.each_with_index do |image, index| %>
        <%= image_tag(image.url) %>
        <%= link_to "削除", users_worker_update_career_up_images_path(@worker, index: index), method: :patch, data: { confirm: "本当に削除してもよろしいですか？" } %>
      <% end %>
    <% end %>
    <br>

    <%# 氏名 %>
    <%= f.label :name %>
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.text_field :name, class: "form-control", placeholder: example_name %><br>

    <%# フリガナ %>
    <%= f.label :name_kana %>
    <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
    <%= f.text_field :name_kana, class: "form-control", placeholder: example_name_kana %><br>

    <%# 事業主または一人親方 %>
    <%= f.label :business_owner_or_master %>
    <%= required_label %>
    <div class="md-3 list-group-item">
      <%= f.check_box :business_owner_or_master, id: :business_owner_or_master %> はい　　　※いいえの場合はチェックを外してください</div><br>
    <br>

    <%# 役職 %>
    <%= f.label :job_title %>
    <%= required_label %>
    <%= f.text_field :job_title, class: "form-control", placeholder: Worker.human_attribute_name(:job_title) %><br>

    <%# メールアドレス %>
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control", placeholder: example_email %><br>

    <%# 電話番号 %>
    <%= f.label :my_phone_number %>
    <%= required_label %>
    <%= f.telephone_field :my_phone_number, value: @my_phone_number, class: "form-control", placeholder: annotation_hyphen %><br>

    <%# 国籍 %>
    <%= f.label :country %>
    <%= required_label %>
    <%= f.country_select :country, { priority_countries: ["JP"] }, { class: "form-control", id: "country-select" } %>
    <br>

    <%# 郵便番号 %>
    <%= f.label :post_code %>
    <%= f.text_field :post_code, value: @post_code, class: "form-control", placeholder: annotation_hyphen %><br>

    <%# 住所 %>
    <%= f.label :my_address %>
    <%= required_label %>
    <%= f.text_field :my_address, class: "form-control", placeholder: Worker.human_attribute_name(:my_address) %><br>

    <%# 雇入年月日 %>
    <%= f.label :hiring_on %>
    <%= required_label %>
    <%= f.date_field :hiring_on, class: "form-control", style: "width: 25%;", placeholder: Worker.human_attribute_name(:hiring_on) %><br>

    <%# 雇入前経験年数 %>
    <%= f.label :experience_term_before_hiring %>
    <%= required_label %>
    <%= f.text_field :experience_term_before_hiring, class: "form-control" %><br>

    <%# ブランク年数 %>
    <%= f.label :blank_term %>
    <%= required_label %>
    <%= f.text_field :blank_term, class: "form-control" %><br>

    <%# 契約条件の確認 %>
    <%= f.label :employment_contract %>
    <%= required_label %>
    <div class="list-group-item">
      <%= f.collection_radio_buttons(:employment_contract, Worker.employment_contracts_i18n, :first, :last, { checked: @worker&.employment_contract? ? @worker&.employment_contract : false }, class: "radio") do |b| %>
        <%= b.label { b.radio_button + b.text } %><br>
      <% end %>
    </div><br>

    <%# 従業員証の写し %>
    <%= f.label :employee_cards %>
    <%= f.file_field :employee_cards, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: "form-control text-muted" %>
    <% if @worker.employee_cards.present? && @worker.id.present? %>
      <% @worker.employee_cards.each_with_index do |image, index| %>
        <%= image_tag(image.url) %>
        <%= link_to "削除", users_worker_update_employee_cards_path(@worker, index: index), method: :patch, data: { confirm: "本当に削除してもよろしいですか？" } %>
      <% end %>
    <% end %>
  </div>
</div><br>
<!-- 作業員情報ここまで -->

<!-- 作業員緊急連絡先情報ここから -->
<div class="list-group">
  <div style="font-size: 22px; font-weight: bold;"><%= f.label yield(:worker_emergency_contact_info) %></div><!-- 作業員緊急連絡先 -->
  <div class="list-group-item">
    <%# 緊急連絡先：氏名 %>
    <%= f.label :family_name %>
    <%= required_label %>
    <%= f.text_field :family_name, class: "form-control", placeholder: Worker.human_attribute_name(:family_name) %><br>

    <%# 緊急連絡先：電話番号 %>
    <%= f.label :family_phone_number %>
    <%= required_label %>
    <%= f.telephone_field :family_phone_number, value: @family_phone_number, class: "form-control", placeholder: annotation_hyphen %><br>

    <%# 緊急連絡先：住所 %>
    <%= f.label :family_address %>
    <%= required_label %>
    <%= f.text_field :family_address, class: "form-control", placeholder: Worker.human_attribute_name(:family_address) %><br>

    <%# 緊急連絡先：続柄 %>
    <%= f.label :relationship %>
    <%= required_label %>
    <%= f.text_field :relationship, class: "form-control", placeholder: Worker.human_attribute_name(:relationship) %><br>

  </div>
</div><br>
<!-- 作業員緊急連絡先情報ここまで -->

<!-- 作業員健康情報ここから -->
<div class="list-group">
  <div style="font-size: 22px; font-weight: bold;"><%= f.label yield(:worker_health_info) %></div><!-- 作業員健康情報 -->
  <div class="list-group-item">

    <%# 生年月日 %>
    <%= f.label :birth_day_on %>
    <%= required_label %>
    <%= f.date_field :birth_day_on, class: "form-control", style: "width: 25%;", placeholder: Worker.human_attribute_name(:birth_day_on) %><br>

    <%# 性別 %>
    <%= f.label :sex %>
    <%= required_label %>
    <div class="list-group-item">
      <%= f.collection_radio_buttons(:sex, Worker.sexes_i18n, :first, :last, { checked: @worker&.sex? ? @worker&.sex : false }, class: "radio") do |b| %>
        <%= b.label { b.radio_button + b.text } %><br>
      <% end %>
    </div>
    <br>

    <%# 血液型（ABO）%>
    <%= f.label :abo_blood_type %>
    <%= required_label %>
    <div class="list-group-item">
      <%= f.collection_radio_buttons(:abo_blood_type, Worker.abo_blood_types_i18n, :first, :last, { checked: @worker&.abo_blood_type? ? @worker&.abo_blood_type : false }, class: "radio") do |b| %>
        <%= b.label { b.radio_button + b.text } %><br>
      <% end %>
    </div><br>

    <%# 血液型（RH） %>
    <%= f.label :rh_blood_type %>
    <%= required_label %>
    <div class="list-group-item">
      <%= f.collection_radio_buttons(:rh_blood_type, Worker.rh_blood_types_i18n, :first, :last, { checked: @worker&.rh_blood_type? ? @worker&.rh_blood_type : false }, class: "radio") do |b| %>
        <%= b.label { b.radio_button + b.text } %><br>
      <% end %>
    </div><br>

    <!-- WorkerMedicalテーブル情報ここから -->
    <%= f.fields_for :worker_medical do |worker_medical| %>
      <label><%= yield(:is_med_exam_info) %></label><%= required_label %>
      <div class="list-group-item mb-3">
        <%# 健康診断の受診状況 %>
        <div class="mb-1">
          <%= worker_medical.label :is_med_exam %>
          <div class="list-group-item">
            <%= worker_medical.collection_radio_buttons(:is_med_exam, WorkerMedical.is_med_exams_i18n, :first, :last, { checked: @worker&.worker_medical&.is_med_exam? ? @worker&.worker_medical&.is_med_exam : false }, class: "radio") do |b| %>
              <%= b.label { b.radio_button + b.text } %><br>
            <% end %>
          </div>
        </div>

        <%# 健康保険が適用除外もしくは、未加入の場合、非表示にする要素 %>
        <div id="is_med_exam_n_hide">
          <%# 健康診断日 %>
          <div class="mb-1">
            <%= worker_medical.label :med_exam_on %>
            <%= worker_medical.date_field :med_exam_on, class: "form-control", style: "width: 25%;" %>
          </div>

          <!-- 作業員健康保険情報血圧 -->
          <div class="mb-1">
            <%= f.label yield(:worker_health_info_blood_pressure) %>
            <div class="list-group-item" style="border: none;">
              <%# 最高血圧 (mmHg) %>
              <%= worker_medical.label :max_blood_pressure %>
              <%= worker_medical.number_field :max_blood_pressure, class: "form-control" %>
              <%# 最低血圧 (mmHg) %>
              <%= worker_medical.label :min_blood_pressure %>
              <%= worker_medical.number_field :min_blood_pressure, class: "form-control" %>
            </div>
          </div>
        </div>
      </div>

      <%# 特別健康診断項目 %>
      <label><%= yield(:special_med_exam_info) %></label><%= required_label %>
      <div class="list-group-item mb-3">
        <%# 特別健康診断の受診状況 %>
        <div class="mb-1">
          <%= worker_medical.label :is_special_med_exam %>
          <div class="list-group-item">
            <%= worker_medical.collection_radio_buttons(:is_special_med_exam, WorkerMedical.is_special_med_exams_i18n, :first, :last, { checked: @worker&.worker_medical&.is_special_med_exam? ? @worker&.worker_medical&.is_special_med_exam : false }, class: "radio") do |b| %>
              <%= b.label { b.radio_button + b.text } %><br>
            <% end %>
          </div>
        </div>

        <div id="is_special_med_exam_n_hide">
          <%# 特別健康診断日%>
          <div class="mb-1">
            <%= worker_medical.label :special_med_exam_on %>
            <%= worker_medical.date_field :special_med_exam_on, class: "form-control", style: "width: 25%;" %>
          </div>

          <%# 特別健康診断 %>
          <div class="mb-3">
            <%= worker_medical.label :special_med_exam_list %>
            <div class="list-group-item">
              <%= worker_medical.collection_check_boxes :special_med_exam_list, SpecialMedExam.all, :id, :name, checked: @worker.worker_medical.special_med_exam_list, include_hidden: false do |b| %>
                <div>
                  <%= b.check_box %>
                  <%= b.label %>
                </div>
              <% end %>
              &emsp;<%= worker_medical.label "その他" %>
              <%= worker_medical.text_field :special_med_exam_others, placeholder: "その他がある場合は入力してください", class: "form-control" %>
            </div>
          </div>
        </div>
      </div>

      <%# 最近の健康状態 %>
      <div class="mb-3">
        <%= worker_medical.label :health_condition %>
        <%= required_label %>
        <div class="list-group-item">
          <%= worker_medical.collection_radio_buttons(:health_condition, WorkerMedical.health_conditions_i18n, :first, :last, { checked: @worker&.worker_medical&.health_condition? ? @worker&.worker_medical&.health_condition : false }, class: "radio") do |b| %>
            <%= b.label { b.radio_button + b.text } %><br>
          <% end %>
        </div>
      </div>
    <% end %>
  <!-- WorkerMedicalテーブル情報ここまで -->
  </div>
</div><br>
<!-- 作業員健康情報ここまで -->

<!-- 作業員保険情報ここから -->
<!-- 作業員保険情報 -->
<div class="list-group">
  <div style="font-size: 22px; font-weight: bold;"><%= f.label yield(:worker_insurances_info) %></div>
  <div class="list-group-item">
  <!-- WorkerInsuranceテーブル情報ここから -->
    <%= f.fields_for :worker_insurance do |worker_insurance| %>
      <%# 健康保険 %>
      <div class="mb-3">
        <%= worker_insurance.label :health_insurance_type %>
        <%= required_label %>
        <div class="list-group-item">
          <%= worker_insurance.collection_radio_buttons(:health_insurance_type, WorkerInsurance.health_insurance_types_i18n, :first, :last, { checked: @worker.worker_insurance&.health_insurance_type? ? @worker&.worker_insurance&.health_insurance_type : false }, class: "radio") do |b| %>
            <%= b.label { b.radio_button + b.text } %><br>
          <% end %>
          <!-- health_insurance_typeがhealth_insurance_associationまたはconstruction_national_health_insuranceで入力可能 -->
          <%# 保険名 %>
          <div id="health_insurance_name">
            <%= worker_insurance.label :health_insurance_name %>
            <%= worker_insurance.text_field :health_insurance_name, class: "form-control" %>
          </div>

          <%# 健康保険証の写し %>
          <div id="health_insurance_image">
            <%= worker_insurance.label :health_insurance_image %>
            <div style="margin-bottom: 10px;">
              <%= worker_insurance.file_field :health_insurance_image, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: "form-control" %>
              <% if @worker.worker_insurance.health_insurance_image.present? && @worker.id.present? %>
                <% @worker.worker_insurance.health_insurance_image.each_with_index do |image, index| %>
                  <%= image_tag(image.url) %>
                  <%= link_to "削除", users_worker_update_health_insurance_image_path(@worker, index: index), method: :patch, data: { confirm: "本当に削除してもよろしいですか？" } %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <%# 年金保険 %>
      <div class="mb-3" id="pension_insurance_type">
        <%= worker_insurance.label :pension_insurance_type %>
        <%= required_label %>
        <div class="list-group-item">
          <%= worker_insurance.collection_radio_buttons(:pension_insurance_type, WorkerInsurance.pension_insurance_types_i18n, :first, :last, { checked: @worker&.worker_insurance&.pension_insurance_type? ? @worker&.worker_insurance&.pension_insurance_type : false }, class: "radio") do |b| %>
            <%= b.label { b.radio_button + b.text } %><br>
          <% end %>
        </div><br>
      </div>


      <div class="mb-3" id="employment_insurance_type">
        <%# 雇用保険 %>
        <%= worker_insurance.label :employment_insurance_type %>
        <%= required_label %>
        <div class="list-group-item">
          <%= worker_insurance.collection_radio_buttons(:employment_insurance_type, WorkerInsurance.employment_insurance_types_i18n, :first, :last, { checked: @worker&.worker_insurance&.employment_insurance_type? ? @worker&.worker_insurance&.employment_insurance_type : false }, class: "radio") do |b| %>
            <%= b.label { b.radio_button + b.text } %><br>
          <% end %>
          <!-- employment_insurance_numberが0(被保険者・日雇保険)で入力可能 -->
          <%# 被保険者番号 %>
          <div id="employment_insurance_number" class="mb-3">
            <%= worker_insurance.label :employment_insurance_number %>
            <span class="p-1 mb-2 rounded">※下4桁(1桁～4桁)数字・半角カタカナ使用可能</span>
            <%= worker_insurance.text_field :employment_insurance_number, maxlength: 4, class: "form-control" %>
          </div>
        </div>
      </div>

      <%# 労働保険特別加入 %>
      <div class="mt-3" id="has_labor_insurance">
        <%= worker_insurance.label :has_labor_insurance %><%= required_label %>
        <div class="list-group-item">
          <%= worker_insurance.collection_radio_buttons(:has_labor_insurance, WorkerInsurance.has_labor_insurances_i18n, :first, :last, { checked: @worker&.worker_insurance&.has_labor_insurance? ? @worker&.worker_insurance&.has_labor_insurance : false }, class: "radio") do |b| %>
            <div class="radio">
              <%= b.label { b.radio_button + b.text } %>
            </div>
          <% end %>
        </div><br>
      </div>

      <%# 建設業退職金共済手帳 %>
      <div class="mb-3">
        <%= worker_insurance.label :severance_pay_mutual_aid_type %>
        <%= required_label %>
        <div class="list-group-item">
          <%= worker_insurance.collection_radio_buttons(:severance_pay_mutual_aid_type, WorkerInsurance.severance_pay_mutual_aid_types_i18n, :first, :last, { checked: @worker&.worker_insurance&.severance_pay_mutual_aid_type? ? @worker&.worker_insurance&.severance_pay_mutual_aid_type : false }, class: "radio") do |b| %>
            <%= b.label { b.radio_button + b.text } %><br>
          <% end %>
          <!-- severance_pay_mutual_aid_typeがその他(2)のときに入力可能 -->
          <div class="mb-3" id="mutual_aid_number">
            <%= worker_insurance.label :severance_pay_mutual_aid_name %><%= required_label %>
            <%= worker_insurance.text_field :severance_pay_mutual_aid_name, class: "form-control" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div><br>
  <!-- WorkerInsuranceテーブル情報ここまで -->
<!-- 作業員保険情報ここまで -->

<!-- 作業員資格情報ここから -->
<div class="list-group">
  <div style="font-size: 22px; font-weight: bold;">
    <%= f.label yield(:worker_licenses_info) %>
  </div>
  <span class="text-danger">　　※誤ってフォームを削除してしまった場合、フォームを再追加せず、下の更新ボタンを押してください</span>
  <!-- 作業員資格情報 -->
  <!-- WorkerSpecialEducationテーブル情報ここから -->
  <%# 特別教育情報 %>
  <div class="list-group-item">
    <%= f.fields_for :worker_special_educations do |w_special_education| %>
      <%= render "worker_special_education_fields", f: w_special_education %>
    <% end %>
    <div id="special-insertion-point"></div>
    <span>　　</span><%= link_to_add_association "＋フォーム追加", f, :worker_special_educations,
      data: {
        association_insertion_node: '#special-insertion-point',
        association_insertion_method: 'append'
      } ,
      class: "btn btn-sm btn-primary mb-3"
      %>
  </div>
  <!-- WorkerSpecialEducationテーブル情報ここまで -->

  <!-- WorkerSkillTrainingテーブル情報ここから -->
  <%# 技能講習 %>
  <div class="list-group-item">
    <%= f.fields_for :worker_skill_trainings do |w_skill_training| %>
      <%= render "worker_skill_training_fields", f: w_skill_training %>
    <% end %>
    <div id="skill-insertion-point"></div>
    <span>　　</span><%= link_to_add_association "＋フォーム追加", f, :worker_skill_trainings,
      data: {
        association_insertion_node: '#skill-insertion-point',
        association_insertion_method: 'append'
      },
      class: "btn btn-sm btn-primary mb-3"
    %>
  </div>
  <!-- WorkerSkillTrainingテーブル情報ここまで -->

  <!-- WorkerLicenseテーブル情報ここから -->
  <%# 技能検定情報 %>
  <div class="list-group-item">
    <%= f.fields_for :worker_licenses do |w_license| %>
      <%= render "worker_license_fields", f: w_license %>
    <% end %>
    <div id="license-insertion-point"></div>
    <span>　　</span><%= link_to_add_association "＋フォーム追加", f, :worker_licenses,
      data: {
        association_insertion_node: '#license-insertion-point',
        association_insertion_method: 'append'
      },
      class: "btn btn-sm btn-primary mb-3"
    %>
  </div>
  <!-- WorkerLicenseテーブル情報ここまで -->

  <%# worker_safety_health_educationテーブル情報ここから %>
  <%# 安全衛生教育情報 %>
  <div class="list-group-item">
    <%= f.fields_for :worker_safety_health_educations do |w_safety_health_education| %>
      <%= render "worker_safety_health_education_fields", f: w_safety_health_education %>
    <% end %>
    <div id="safety-health-education-insertion-point"></div>
    <span>　　</span><%= link_to_add_association "＋フォーム追加", f, :worker_safety_health_educations,
      data: {
        association_insertion_node: '#safety-health-education-insertion-point',
        association_insertion_method: 'append'
      },
      class: "btn btn-sm btn-primary mb-3"
    %>
  </div>
  <%# worker_safety_health_educationテーブル情報ここまで %>

  <%# 運転免許及び免許証番号ここから %>
  <div class="list-group-item">
    <%# 運転免許 %>
    <%= f.label :driver_licences %>
    <div class="list-group-item mb-3">
      <% I18n.t('driver_licence_params').each do |key, value| %>
        <%= f.check_box :driver_licences, {multiple: true}, value, nil %>
        <%= f.label value %><br>
      <% end %>
      <div id = "driver_licence_number">
        <%= f.label :driver_licence_number %>
        <span class="p-1 mb-2 rounded bg-danger text-white" id="driver-licence-number-precense">必須</span>
        <%= f.text_field :driver_licence_number, value: @driver_licence_number, class: "form-control", placeholder: annotation_hyphen %>
      </div>
    </div>

    <%# 認印 %>
    <%= f.label :seal %>
    <%= f.file_field :seal, accept: 'image/jpg, image/jpeg, image/png', class: "form-control" %>
    <% if @worker.seal.present? && @worker.id.present? %>
      <%= image_tag(@worker.seal.url) %>
      <%= link_to "削除", users_worker_delete_seal_path(@worker), method: :patch, data: { confirm: "本当に削除してもよろしいですか？" } %>
    <% end %>
  </div>
</div><br>

<!-- 作業員資格情報ここまで -->

<!-- 作業員外国人建設就労者情報ここから -->
<!-- 作業員外国人建設就労者情報 -->

<div class="list-group" id="foreigner-field">
  <div style="font-size: 22px; font-weight: bold;"><%= f.label yield(:worker_foreign_construction_workers_info) %></div>
  <%# 在留資格 %>
  <div class="list-group-item">
    <div class="mt-3 mb-3">
      <%= f.label :status_of_residence, class: "required" %><%= required_label %>
      <div class="list-group-item">
        <%= f.collection_radio_buttons(:status_of_residence, Worker.status_of_residences_i18n, :first, :last, { checked: @worker&.status_of_residence? ? @worker&.status_of_residence : false }, class: "radio") do |b| %>
          <%= b.label { b.radio_button + b.text } %><br>
        <% end %>
      </div>
    </div>

    <div id="non-resident-foreigner-field">
      <%# 在留期間満期日 %>
      <div><%= f.label :maturity_date %><%= required_label %></div>
      <%= f.date_field :maturity_date, class: "form-control", placeholder: Worker.human_attribute_name(:maturity_date) %><br>

      <%# キャリアアップシステム登録情報が最新であることの確認済 %>
      <div class="mt-3 mb-3">
        <%= f.label :confirmed_check, class: "required" %><%= required_label %>
        <div class="list-group-item">
          <%= f.collection_radio_buttons(:confirmed_check, Worker.confirmed_checks_i18n, :first, :last, { checked: @worker&.confirmed_check? ? @worker&.confirmed_check : false }, class: "radio") do |b| %>
            <%= b.label { b.radio_button + b.text } %><br>
          <% end %>
        </div>
      </div>

      <%# キャリアアップシステム登録情報が最新であることの確認日 %>
      <div id="confirmed_check_date">
        <%= f.label :confirmed_check_date %>
        <span class="p-1 mb-2 rounded bg-danger text-white" id="confirmed_check_date_label">必須</span>
        <%= f.date_field :confirmed_check_date, class: "form-control", placeholder: Worker.human_attribute_name(:confirmed_check_date) %><br>
      </div>

      <%# パスポートの写し %>
      <%= f.label :passports %>
      <div class="col-md-8" style="margin-bottom: 10px;">
        <%= f.file_field :passports, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: "form-control" %>
        <% if @worker.passports.present? && @worker.id.present? %>
          <% @worker.passports.each_with_index do |image, index| %>
            <%= image_tag(image.url) %>
            <%= link_to "削除", users_worker_update_passports_path(@worker, index: index), method: :patch, data: { confirm: "本当に削除してもよろしいですか？" } %>
          <% end %>
        <% end %>
      </div>
      <br>

      <%# 在留カードの写し %>
      <%= f.label :residence_cards %>
      <div class="col-md-8" style="margin-bottom: 10px;">
        <%= f.file_field :residence_cards, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: "form-control text-muted" %>
        <% if @worker.residence_cards.present? && @worker.id.present? %>
          <% @worker.residence_cards.each_with_index do |image, index| %>
            <%= image_tag(image.url) %>
            <%= link_to "削除", users_worker_update_residence_cards_path(@worker, index: index), method: :patch, data: { confirm: "本当に削除してもよろしいですか？" } %>
          <% end %>
        <% end %>
      </div>
      <br>

      <%# 受入企業と外国人建設就労者等との間の雇用条件書の写し %>
      <%= f.label :employment_conditions %>
      <div class="col-md-8" style="margin-bottom: 10px;">
        <%= f.file_field :employment_conditions, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: "form-control" %>
        <% if @worker.employment_conditions.present? && @worker.id.present? %>
          <% @worker.employment_conditions.each_with_index do |image, index| %>
            <%= image_tag(image.url) %>
            <%= link_to "削除", users_worker_update_employment_conditions_path(@worker, index: index), method: :patch, data: { confirm: "本当に削除してもよろしいですか？" } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- 作業員外国人建設就労者情報ここから -->

<script>
  // 保険情報：健康診断の受診の有無が無であれば診断日、血圧を非表示にする処理
  $(document).ready(function() {
    const radioIsMedExam = document.getElementsByName('worker[worker_medical_attributes][is_med_exam]')
    function HealthInsuranceNameShowOrHide(radioIsMedExam) {
      let checkedValue;
      for (const radio of radioIsMedExam) {
        if (radio.checked) {
          checkedValue = radio.value;
          break;
        }
      }

      if (checkedValue == 'n'){
        document.getElementById('is_med_exam_n_hide').style.display = "none";
      } else {
        document.getElementById('is_med_exam_n_hide').style.display = "block";
      }
    }

    // 健康診断の受診の有無の変更時、非表示処理を実行する
    for(let i = 0; i < radioIsMedExam.length; i++) {
      radioIsMedExam[i].addEventListener('change', function() {HealthInsuranceNameShowOrHide(radioIsMedExam);});
    }

    HealthInsuranceNameShowOrHide(radioIsMedExam); //画面が読み込まれたとき非表示処理を実行する
  })
</script>

<script>
  // 保険情報：特別健康診断の受診の有無が無であれば診断日、診断種類を非表示にする処理
  $(document).ready(function() {
    const radioIsSpecialMedExam = document.getElementsByName('worker[worker_medical_attributes][is_special_med_exam]')
    function IsSpecialMedExamNHideShowOrHide(radioIsSpecialMedExam) {
      let checkedValue;
      for (const radio of radioIsSpecialMedExam) {
        if (radio.checked) {
          checkedValue = radio.value;
          break;
        }
      }

      if (checkedValue == 'n'){
        document.getElementById('is_special_med_exam_n_hide').style.display = "none";
      } else {
        document.getElementById('is_special_med_exam_n_hide').style.display = "block";
      }
    }

    // 健康診断の受診の有無の変更時、非表示処理を実行する
    for(let i = 0; i < radioIsSpecialMedExam.length; i++) {
      radioIsSpecialMedExam[i].addEventListener('change', function() {IsSpecialMedExamNHideShowOrHide(radioIsSpecialMedExam);});
    }

    IsSpecialMedExamNHideShowOrHide(radioIsSpecialMedExam); //画面が読み込まれたとき非表示処理を実行する
  })
</script>

<script>
  // 国籍が日本以外の選択時に外国人就労者情報のフォームを表示させる
  $(document).ready(function() {
    // 国の選択肢が変更されたときに呼び出される関数を定義する
    function checkCountrySelection() {
      var selectedCountry = $('#country-select').val();
      // 国がJP以外の場合には、居住状況フィールドを表示する
      if (selectedCountry !== 'JP') {
        $('#foreigner-field').show();
        // 居住状況フィールドを必須にする
        $('input[name="worker[status_of_residence]"]').prop('required', true);
        $('input[name="worker[maturity_date]"]').prop('required', true);
        $('input[name="worker[confirmed_check]"]').prop('required', true);
        $('input[name="worker[confirmed_check_date]"]').prop('required', true);
      } else {
        // 国がJPの場合には、居住状況フィールドを非表示にする
        $('#foreigner-field').hide();
        // 居住状況フィールドを必須ではなくする
        $('input[name="worker[status_of_residence]"]').prop('required', false);
        $('input[name="worker[maturity_date]"]').prop('required', false);
        $('input[name="worker[confirmed_check]"]').prop('required', false);
        $('input[name="worker[confirmed_check_date]"]').prop('required', false);
      }
    }

    // 在留資格が外国人建設就労者、特定技能の時、外国人就労者情報のフォームを表示させる
    function radioStatusOfResidenceSelection() {
      var selectedCountry = $('#country-select').val();
      var radioStatusOfResidenceSelection = $('input[name="worker[status_of_residence]"]:checked').val();
      // 国がJP以外の場合には、居住状況フィールドを表示する
      if (selectedCountry !== 'JP' && ['construction_employment', 'specified_skill'].includes(radioStatusOfResidenceSelection)) {
        $('#non-resident-foreigner-field').show();
        // 居住状況フィールドを必須にする
        $('input[name="worker[maturity_date]"]').prop('required', true);
        $('input[name="worker[confirmed_check]"]').prop('required', true);
        $('input[name="worker[confirmed_check_date]"]').prop('required', true);
      } else {
        $('#non-resident-foreigner-field').hide();
        // 居住状況フィールドを必須ではなくする
        $('input[name="worker[maturity_date]"]').prop('required', false);
        $('input[name="worker[confirmed_check]"]').prop('required', false);
        $('input[name="worker[confirmed_check_date]"]').prop('required', false);
      }
    }

    // CCUS登録情報が最新であることの確認がありの時、キャリアアップシステム登録情報が最新であることの確認日フォームを無効にする
    function confirmedCheckDate_Disabled() {
      var confirmedCheckVlue = $('input[name="worker[confirmed_check]"]:checked').val();
      if (confirmedCheckVlue == 'unchecked') {
        $('#confirmed_check_date').hide();
      } else {
        $('#confirmed_check_date').show();
      }
    }

    // フォームの初期状態で居住状況フィールドを非表示にする
    $('#status-of-residence-field').hide();

    // 国の選択肢が変更されたときにcheckCountrySelectionを呼び出す
    $('#country-select').change(checkCountrySelection);
    $('#country-select').change(radioStatusOfResidenceSelection);
    $('input[name="worker[status_of_residence]"]').change(radioStatusOfResidenceSelection);
    $('input[name="worker[confirmed_check]"]').change(confirmedCheckDate_Disabled);

    // ページの読み込み時にcheckCountrySelectionを呼び出す
    checkCountrySelection();
    radioStatusOfResidenceSelection();
    confirmedCheckDate_Disabled();
  })
</script>

<script>
  // 健康保険名項目フォームの有効・無効
  // 健康保険組合、建設国保の時、健康保険名項目フォームを表示、それ以外は非表示にするメソッド
  const radioHealthInsuranceTypes = document.getElementsByName('worker[worker_insurance_attributes][health_insurance_type]')
  function HealthInsuranceNameDisabled(radioHealthInsuranceTypes) {
    let checkedValue;
    for (const radio of radioHealthInsuranceTypes) {
      if (radio.checked) {
        checkedValue = radio.value;
        break;
      }
    }

    if (checkedValue == 'health_insurance_association' || checkedValue == 'construction_national_health_insurance'){
      document.getElementById('health_insurance_name').style.display = "block";
    } else {
      document.getElementById('health_insurance_name').style.display = "none";
    }
  }

  // 健康保険が適用除外もしくは、未加入の場合、健康保険証の写しを非表示にする
  function HealthInsuranceImage(radioHealthInsuranceTypes) {
    let checkedValue;
    for (const radio of radioHealthInsuranceTypes) {
      if (radio.checked) {
        checkedValue = radio.value;
        break;
      }
    }
    if ([
         'health_insurance_association',
         'japan_health_insurance_association',
         'construction_national_health_insurance',
         'national_health_insurance'
        ].includes(checkedValue)){
      document.getElementById('health_insurance_image').style.display = "block";
    } else {
      document.getElementById('health_insurance_image').style.display = "none";
    }
  }
  HealthInsuranceNameDisabled(radioHealthInsuranceTypes); //ページの読み込み時に判定
  HealthInsuranceImage(radioHealthInsuranceTypes);

  // 健康保険名の変更時、健康保険名項目フォームを表示、それ以外は非表示にするメソッドを実行
  for(let i = 0; i < radioHealthInsuranceTypes.length; i++) {
    radioHealthInsuranceTypes[i].addEventListener('change', function() {HealthInsuranceNameDisabled(radioHealthInsuranceTypes);});
    radioHealthInsuranceTypes[i].addEventListener('change', function() {HealthInsuranceImage(radioHealthInsuranceTypes);});
  }
</script>

<script>
  $(document).ready(function() {
    // 保険証番号処理
    // 被保険者の時、保険証番号フォームを有効にし、それ以外は無効にする
    const employmentInsuranceType = document.getElementsByName('worker[worker_insurance_attributes][employment_insurance_type]')
    function HealthInsuranceNumberDisabled(employmentInsuranceType) {
      let checkedValue;
      for (const radio of employmentInsuranceType) {
        if (radio.checked) {
          checkedValue = radio.value;
          break;
        }
      }

      if (checkedValue == 'insured' || checkedValue == 'day'){
        document.getElementById('employment_insurance_number').style.display = "block";
      } else {
        document.getElementById('employment_insurance_number').style.display = "none";
      }
    }
    HealthInsuranceNumberDisabled(employmentInsuranceType); //ページの読み込み時に判定

    // 雇用保険の変更時、被保険者番号項目フォームを有効、それ以外は無効にするメソッドを実行
    for(let i = 0; i < employmentInsuranceType.length; i++) {
      employmentInsuranceType[i].addEventListener('change', function() {HealthInsuranceNumberDisabled(employmentInsuranceType);})
    }
  })
</script>

<script>
  $(document).ready(function() {
    // 建設業退職金共済手帳 の表示非表示
    // その他の時、建設業退職金共済手帳フォームを表示にし、それ以外は非表示にする
    const severancePayMutualAidType = document.getElementsByName('worker[worker_insurance_attributes][severance_pay_mutual_aid_type]')
    function severancePayMutualAidOtherDisabled(severancePayMutualAidType) {
      let checkedValue;
      for (const radio of severancePayMutualAidType) {
        if (radio.checked) {
          checkedValue = radio.value;
          break;
        }
      }

      if (checkedValue == 'other'){
        document.getElementById('mutual_aid_number').style.display = "block";
      } else {
        document.getElementById('mutual_aid_number').style.display = "none";
      }
    }
    severancePayMutualAidOtherDisabled(severancePayMutualAidType); //ページの読み込み時に判定

    // 雇用保険の変更時、被保険者番号項目フォームを有効、それ以外は無効にするメソッドを実行
    for(let i = 0; i < severancePayMutualAidType.length; i++) {
      severancePayMutualAidType[i].addEventListener('change', function() {severancePayMutualAidOtherDisabled(severancePayMutualAidType);})
    }
  })
</script>

<script>
  $(document).ready(function() {
    // 免許証番号フォームの有効・無効
    // 免許証番号項目フォームの有効・無効を操作するメソッド
    function driverLicenceNumberShowHide() {
      if ($('input[name="worker[driver_licences][]"]:checked').length > 0) {
        $('#driver_licence_number').show();
      } else {
        $('#driver_licence_number').hide();
      }
    };
    // 免許証チェックボックスが変更されたとき、免許証番号項目フォームの有効・無効を操作するメソッドを実行する
    $('input[name="worker[driver_licences][]"]').change(driverLicenceNumberShowHide);

    driverLicenceNumberShowHide(); //ページの読み込み時に判定
  })
</script>

<script>
  $(document).ready(function() {
    // 労働保険特別加入or雇用保険フォームの表示・非表示
    // 一人親方項目ではいであるとき、労働保険特別加入フォームの表示・非表示を操作するメソッド
    function has_labor_insuranceShowHide() {
      if ($('#business_owner_or_master').is(':checked')) {
        $('#has_labor_insurance').show();
        $('#employment_insurance_type').hide();
      } else {
        $('#has_labor_insurance').hide();
        $('#employment_insurance_type').show();
      }
    };
    // 免許証チェックボックスが変更されたとき、免許証番号項目フォームの有効・無効を操作するメソッドを実行する
    ($('#business_owner_or_master')).change(has_labor_insuranceShowHide);

    has_labor_insuranceShowHide(); //ページの読み込み時に判定
  })
</script>

<script>
  $(function(){
    if (<%= @current_business.user.is_prime_contractor == false %>) {
      $.validator.addMethod("alphanumericKatakanaOnly", function(value, element) {
        return this.optional(element) || /^[0-9｡-ﾟ]+$/.test(value);
      }, "数字と半角カタカナのみ入力してください。");

      $.each(function(key){
        $.validator.addMethod(key, this);
      });
      $(".worker-form-validation").validate({
        rules:{
          "worker[name]": {
            required: true
          },
          "worker[name_kana]": {
            required: true
          },
          "worker[country]": {
            required: true
          },
          "worker[sex]": {
            required: true
          },
          "worker[my_address]": {
            required: true
          },
          "worker[my_phone_number]": {
            required: true
          },
          "worker[family_name]": {
            required: true
          },
          "worker[relationship]": {
            required: true
          },
          "worker[family_address]": {
            required: true
          },
          "worker[family_phone_number]": {
            required: true
          },
          "worker[birth_day_on]": {
            required: true
          },
          "worker[abo_blood_type]": {
            required: true
          },
          "worker[rh_blood_type]": {
            required: true
          },
          "worker[worker_medical_attributes][is_med_exam]": {
            required: true
          },
          "worker[worker_medical_attributes][med_exam_on]": {
            required: true
          },
          "worker[worker_medical_attributes][max_blood_pressure]": {
            required: true
          },
          "worker[worker_medical_attributes][min_blood_pressure]": {
            required: true
          },
          "worker[worker_medical_attributes][is_special_med_exam]": {
            required: true
          },
          "worker[worker_medical_attributes][special_med_exam_on]": {
            required: true
          },
          "worker[worker_medical_attributes][special_med_exam_list][]": {
            required: true
          },
          "worker[worker_medical_attributes][health_condition]": {
            required: true
          },
          "worker[worker_medical_attributes][status_of_residence]": {
            required: true
          },
          "worker[worker_medical_attributes][maturity_date]": {
            required: true
          },
          "worker[worker_medical_attributes][confirmed_check]": {
            required: true
          },
          "worker[worker_medical_attributes][confirmed_check_date]": {
            required: true
          },
          "worker[driver_licence_number]": {
            required: true
          },
          "worker[job_title]": {
            required: true
          },
          "worker[hiring_on]": {
            required: true
          },
          "worker[experience_term_before_hiring]": {
            required: true
          },
          "worker[blank_term]": {
            required: true
          },
          "worker[employment_contract]": {
            required: true
          },
          "worker[maturity_date]": {
            required: true
          },
          "worker[confirmed_check_date]": {
            required: true
          },
          "worker[worker_insurance_attributes][health_insurance_type]": {
            required: true
          },
          "worker[worker_insurance_attributes][health_insurance_name]": {
            required: true
          },
          "worker[worker_insurance_attributes][pension_insurance_type]": {
            required: true
          },
          "worker[worker_insurance_attributes][employment_insurance_type]": {
            required: true
          },
          "worker[worker_insurance_attributes][employment_insurance_number]": {
            required: true,
            alphanumericKatakanaOnly: true
          },
          "worker[worker_insurance_attributes][severance_pay_mutual_aid_type]": {
            required: true
          },
          "worker[worker_insurance_attributes][severance_pay_mutual_aid_name]": {
            required: true
          },
          "worker[worker_insurance_attributes][has_labor_insurance]": {
            required: true
          },
        },
        messages:{
          "worker[name]": {
            required: "名前を入力してください。"
          },
          "worker[name_kana]": {
            required: "名前カナを入力してください。"
          },
          "worker[country]": {
            required: "国籍を入力してください。"
          },
          "worker[sex]": {
            required: "性別を入力してください。"
          },
          "worker[my_address]": {
            required: "住所を入力してください。"
          },
          "worker[my_phone_number]": {
            required: "電話番号を入力してください。"
          },
          "worker[family_name]": {
            required: "家族の氏名を入力してください。"
          },
          "worker[relationship]": {
            required: "家族の続柄を入力してください。"
          },
          "worker[family_address]": {
            required: "家族の住所を入力してください。"
          },
          "worker[family_phone_number]": {
            required: "家族の電話番号を入力してください。"
          },
          "worker[birth_day_on]": {
            required: "生年月日を入力してください。"
          },
          "worker[abo_blood_type]": {
            required: "血液型(ABO)を入力してください。"
          },
          "worker[rh_blood_type]": {
            required: "血液型(Rh)を入力してください。"
          },
          "worker[worker_medical_attributes][is_med_exam]": {
            required: "健康診断の受信の有無を選択してください。"
          },
          "worker[worker_medical_attributes][med_exam_on]": {
            required: "健康診断日を選択してください。"
          },
          "worker[worker_medical_attributes][max_blood_pressure]": {
            required: "最高血圧を入力してください。"
          },
          "worker[worker_medical_attributes][min_blood_pressure]": {
            required: "最低血圧を入力してください。"
          },
          "worker[worker_medical_attributes][is_special_med_exam]": {
            required: "特別健康診断の受信の有無を選択してください。"
          },
          "worker[worker_medical_attributes][special_med_exam_on]": {
            required: "特別健康診断日を選択してください。"
          },
          "worker[worker_medical_attributes][special_med_exam_list][]": {
            required: "特別健康診断内容を選択してください。"
          },
          "worker[worker_medical_attributes][health_condition]": {
            required: "最近の健康状態を選択してください。"
          },
          "worker[worker_medical_attributes][status_of_residence]": {
            required: "在留資格を選択してください。"
          },
          "worker[worker_medical_attributes][maturity_date]": {
            required: "在留期間満期日を選択してください。"
          },
          "worker[worker_medical_attributes][confirmed_check]": {
            required: "キャリアアップシステム登録情報が最新であることの確認日を選択してください。"
          },
          "worker[worker_medical_attributes][confirmed_check_date]": {
            required: "最近の健康状態を選択してください。"
          },
          "worker[driver_licence_number]": {
            required: "免許証番号を入力してください。"
          },
          "worker[job_title]": {
            required: "役職を入力してください。"
          },
          "worker[hiring_on]": {
            required: "雇入年月日を入力してください。"
          },
          "worker[experience_term_before_hiring]": {
            required: "雇入前経験年数を入力してください。"
          },
          "worker[blank_term]": {
            required: "ブランク年数を入力してください。"
          },
          "worker[employment_contract]": {
            required: "雇用契約書を取り交わしたかどうかを選択してください。"
          },
          "worker[status_of_residence]": {
            required: "在留資格を選択してください。"
          },
          "worker[confirmed_check]": {
            required: "CCUS登録情報が最新であることの確認を選択してください。"
          },
          "worker[maturity_date]": {
            required: "在留期間満期日を入力してください"
          },
          "worker[confirmed_check_date]": {
            required: "キャリアアップシステム登録情報が最新であることの確認日を選択してください"
          },
          "worker[worker_insurance_attributes][health_insurance_type]": {
            required: "健康保険のタイプを選択してください。"
          },
          "worker[worker_insurance_attributes][health_insurance_name]": {
            required: "健康保険名を入力してください。"
          },
          "worker[worker_insurance_attributes][pension_insurance_type]": {
            required: "年金保険のタイプを選択してください。"
          },
          "worker[worker_insurance_attributes][employment_insurance_type]": {
            required: "雇用保険のタイプを選択してください。"
          },
          "worker[worker_insurance_attributes][employment_insurance_number]": {
            required: "被保険者番号は数字と半角カタカナの4桁以内で入力してください。",
            alphanumericKatakanaOnly: "数字と半角カタカナのみ入力してください。"
          },
          "worker[worker_insurance_attributes][severance_pay_mutual_aid_type]": {
            required: "建設業退職金共済制度を選択してください。"
          },
          "worker[worker_insurance_attributes][severance_pay_mutual_aid_name]": {
            required: "建設業退職金共済制度名前を入力してください。"
          },
          "worker[worker_insurance_attributes][has_labor_insurance]": {
            required: "労働特別保険に加入しているかどうかを選択してください。"
          },
        },

        errorPlacement: function(error, element) {
          // radioとcheckboxのみ表示位置を個別調整
          if (element.is(":radio") || element.is(":checkbox")) {
            error.insertBefore(element.closest('.list-group-item'));
          } else {
            error.insertBefore(element);
          }
        }
      });
      // 入力欄を変更したときにバリデーションを実行
      $(".worker-form-validation").change(function () {
        $(this).valid();
      });
    }
  });
</script>
