<div class="nested-fields">
  <div class="row mt-3">
    <div class="col-md-3">
      <%= f.label :special_med_exam_id %>
      <%= f.collection_select :special_med_exam_id, SpecialMedExam.all, :id, :name, { prompt: '特別健康診断の種類を選択してください' }, { class: "form-control" } %>
    </div>
    <div class="col-md-4">
    <%= f.label :others %>
      <%= f.text_field :others, class: "form-control", placeholder: "その他の場合は入力してください" %>
    </div>
    <div class="col-md-2" style="margin-top: 8px;">
      <span>　　</span><%= link_to_remove_association "フォームを削除", f, class: 'btn btn-sm btn-danger' %>
    </div>
  </div>
</div>
