<div class="nested-fields">
  <div class="row">
    <div class="col-md-3">
      <%= f.label :special_education_id %>
      <%= f.collection_select :special_education_id, SpecialEducation.all, :id, :name, { prompt: '特別教育を選択してください' }, { class: "form-control text-muted" } %><br>
    </div>
    <div class="col-md-4">
      <%= f.label :images %>
      <%= f.file_field :images, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: "form-control text-muted" %>
    </div>
    <div class="col-md-3" style="margin-bottom: 10px;">
      <% if @worker.id.present? %>
        <% f.object.images.each_with_index do |image, index| %>
          <%= image_tag(image.url) %>
          <%= link_to "削除", users_worker_update_workerspecialeducation_images_path(@worker, index: index, worker_special_education_id: f.object.id), method: :patch, data: { confirm: "本当に削除してもよろしいですか？" } %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-2" style="margin-top: 8px;">
      <span>　　</span><%= link_to_remove_association "フォームを削除", f, class: 'btn btn-sm btn-danger' %>
    </div>
  </div>
</div>
