<% provide(:title, "作業員情報詳細") %>
<% provide(:worker_info, "【作業員情報】") %>
<% provide(:worker_emergency_contact_info, "【緊急連絡先】") %>
<% provide(:worker_health_info, "【健康情報】") %>
<% provide(:worker_health_info_blood_pressure, "血圧") %>
<% provide(:worker_insurances_info, "【保険情報】") %>
<% provide(:worker_licenses_info, "【資格情報】") %>
<% provide(:worker_foreign_construction_workers_info, "【外国人建設就労者情報】") %>

<div class="card">
  <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
      <tbody>
        <tr>
          <td><div style="font-size: 22px; font-weight: bold;"><%= yield(:worker_info) %></div><!-- 作業員情報 --></td>
        </tr>
        <%# 技能者ID(キャリアアップシステム) %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:career_up_id) %></th>
          <td><%= @career_up_id %></td>
          <td></td>
          <td></td>
        </tr>

        <%# 技能者ID(キャリアアップシステム)の写し %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:career_up_images) %></th>
            <td>
              <% @worker.career_up_images.each do |image| %>
                <%# 技能講習修了証明書の写し %>
                <%= image_tag(image.url) %>
              <% end %>
            </td>
        </tr>
        <%# 名前 %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:name) %></th>
          <td><%= @worker.name %></td>
          <td></td>
          <td></td>
        </tr>
        <%# フリガナ %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:name_kana) %></th>
          <td><%= @worker.name_kana %></td>
          <td></td>
          <td></td>
        </tr>
        <%# 事業主もしくは一人親方ですか？ %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:business_owner_or_master) %></th>
          <% if @worker.business_owner_or_master %>
            <td><%= 'はい' %></td>
          <% else %>
            <td><%= 'いいえ' %></td>
          <% end %>
          <td></td>
          <td></td>
        </tr>
        <%# 役職 %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:job_title) %></th>
          <td><%=@worker.job_title %></td>
          <td></td>
          <td></td>
        </tr>
        <%# メールアドレス %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:email) %></th>
          <td><%= @worker.email %></td>
          <td></td>
          <td></td>
        </tr>
        <%# 電話番号 %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:my_phone_number) %></th>
          <td><%= @my_phone_number %></td>
          <td></td>
          <td></td>
        </tr>
        <%# 国籍 %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:country) %></th>
          <td><%= I18n.t("countries.#{@worker.country}") %>
          </td>
          <td></td>
          <td></td>
        </tr>
        <%# 郵便番号 %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:post_code) %></th>
          <td><%= @post_code %></td>
          <td></td>
          <td></td>
        </tr>
        <%# 住所 %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:my_address) %></th>
          <td><%= @worker.my_address %></td>
          <td></td>
          <td></td>
        </tr>
        <%# 雇入年月日 %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:hiring_on) %></th>
          <td><%= @worker.hiring_on %></td>
          <td></td>
          <td></td>
        </tr>
        <%# 雇入前経験年数 %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:experience_term_before_hiring) %></th>
          <td><%= @worker.experience_term_before_hiring %></td>
          <td></td>
          <td></td>
        </tr>
        <%# ブランク年数 %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:blank_term) %></th>
          <td><%= @worker.blank_term %></td>
          <td></td>
          <td></td>
        </tr>
        <%# 雇用契約書 %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:employment_contract) %></th>
          <td><%= @worker.employment_contract_i18n %></td>
          <td></td>
          <td></td>
        </tr>
        <%# 従業員証の写し %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:employee_cards) %></th>
            <td>
              <% if @worker.employee_cards.present? %>
                <% @worker.employee_cards.each do |image| %>
                  <%# 技能講習修了証明書の写し %>
                  <%= image_tag(image.url) %>
                <% end %>
              <% end %>
            </td>
        </tr>

        <tr>
          <td><div style="font-size: 22px; font-weight: bold;"><%=  yield(:worker_emergency_contact_info) %></div><!-- 作業員緊急連絡先 --></td>
        </tr>
        <%# 緊急連絡先：氏名 %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:family_name) %></th>
          <td><%= @worker.family_name %></td>
          <td></td>
          <td></td>
        </tr>
        <%# 緊急連絡先：電話番号 %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:family_phone_number) %></th>
          <td><%= @family_phone_number %></td>
          <td></td>
          <td></td>
        </tr>
        <%# 緊急連絡先：住所 %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:family_address) %></th>
          <td><%= @worker.family_address %></td>
          <td></td>
          <td></td>
        </tr>
        <%# 緊急連絡先：続柄 %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:relationship) %></th>
          <td><%= @worker.relationship %></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td><div style="font-size: 22px; font-weight: bold;"><%=  yield(:worker_health_info) %></div><!-- 作業員健康情報 --></td>
        </tr>
        <%# 生年月日 %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:birth_day_on) %></th>
          <td><%= @worker.birth_day_on %></td>
          <td></td>
          <td></td>
        </tr>
        <%# 性別 %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:sex) %></th>
          <td><%= @worker.sex_i18n %></td>
          <td></td>
          <td></td>
        </tr>
        <%# 血液型ABO型 %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:abo_blood_type) %></th>
          <td><%= @worker.abo_blood_type_i18n %></td>
          <td></td>
          <td></td>
        </tr>
        <%# 血液型RH型 %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:rh_blood_type) %></th>
          <td><%= @worker.rh_blood_type_i18n %></td>
          <td></td>
          <td></td>
        </tr>
        <!-- worker_medicalここから -->
        <%# 健康診断 %>
          <th>&emsp;&emsp;<%= WorkerMedical.human_attribute_name(:is_med_exam) %></th>
          <td><%= @worker.worker_medical.is_med_exam_i18n %><td>
          <td></td>
        </tr>
        <%# 健康診断日 %>
        <tr>
          <th>&emsp;&emsp;<%= WorkerMedical.human_attribute_name(:med_exam_on) %></th>
          <td><%= @worker.worker_medical.med_exam_on %><td>
          <td></td>
        </tr>
        <%# 血圧 %>
        <tr>
          <th>&emsp;&emsp;<%= yield(:worker_health_info_blood_pressure) %></th>
        </tr>
        <%# 最高 %>
        <tr>
          <th>&emsp;&emsp;&emsp;&emsp;<%= WorkerMedical.human_attribute_name(:max_blood_pressure) %></th>
          <td><%= @worker.worker_medical.max_blood_pressure %><td>
          <td></td>
        </tr>
        <%# 最低 %>
        <tr>
          <th>&emsp;&emsp;&emsp;&emsp;<%= WorkerMedical.human_attribute_name(:min_blood_pressure) %></th>
          <td><%= @worker.worker_medical.min_blood_pressure %><td>
          <td></td>
        </tr>
        <%# 診断日 %>
        <tr>
          <th>&emsp;&emsp;<%= WorkerMedical.human_attribute_name(:special_med_exam_on) %></th>
          <td><%= @worker.worker_medical.special_med_exam_on %><td>
          <td></td>
        </tr>
        <!-- worker_medicalここまで -->
        <!-- worker_examここから -->
        <%# 特別健康診断 %>
        <th>&emsp;&emsp;<%= WorkerMedical.human_attribute_name(:is_special_med_exam) %></th>
        <td><%= @worker.worker_medical.is_special_med_exam_i18n %><td>
        <tr bgcolor="#dee2e6">
          <th></th>
          <th>&emsp;&emsp;<%= SpecialMedExam.human_attribute_name(:name) %></th>
          <th></th>
          <th></th>
        </tr>
        
        <% @worker.worker_medical.worker_exams.each do |worker_exam| %>
          <tr>
            <% if @worker.worker_medical.special_med_exams.first.id == worker_exam.special_med_exam_id %>
              <%# 診断種類 %>
              <th>&emsp;&emsp;<%= WorkerExam.human_attribute_name(:special_med_exam_id) %></th>
            <% else %>
              <th></th>
            <% end %>
            <td colspan="4">
              <%= worker_exam.special_med_exam.name %>
              <% if worker_exam.special_med_exam.name == 'その他' %>
                （<%= worker_exam.others %>）
              <% end %>
            </td>
          </tr>
        <% end %>
        

        <!-- worker_examここまで -->
        <%# 最近の健康状態 %>
        <tr>
          <th>&emsp;&emsp;<%= WorkerMedical.human_attribute_name(:health_condition) %></th>
          <td><%= @worker.worker_medical.health_condition_i18n %><td>
          <td></td>
        </tr>
        <!-- worker_insuranceここから -->
        <tr >
          <%# 保険情報 %>
          <td><div style="font-size: 22px; font-weight: bold;"><%=  yield(:worker_insurances_info) %></div></td>
        </tr>
        <%# 健康保険 %>
        <tr>
          <th>&emsp;&emsp;<%= WorkerInsurance.human_attribute_name(:health_insurance_type) %></th>
          <td><%= @worker.worker_insurance.health_insurance_type_i18n %></td>
          <td></td>
          <td></td>
        </tr>
        <%# 保険名 %>
        <% if @worker.worker_insurance && (@worker.worker_insurance.health_insurance_type == ('health_insurance_association' || 'construction_national_health_insurance')) %>
          <tr>
            <th>&emsp;&emsp;<%= WorkerInsurance.human_attribute_name(:health_insurance_name) %></th>
            <td><%= @worker.worker_insurance.health_insurance_name %></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
        <%# 健康保険証の写し %>
        <tr>
          <th>&emsp;&emsp;<%= WorkerInsurance.human_attribute_name(:health_insurance_image) %></th>
            <td>
              <% @worker.worker_insurance.health_insurance_image.each do |image| %>
                <%= image_tag(image.url) %>
              <% end %>
            </td>
        </tr>
        <%# 年金保険 %>
        <tr>
          <th>&emsp;&emsp;<%= WorkerInsurance.human_attribute_name(:pension_insurance_type) %></th>
          <td><%= @worker.worker_insurance.pension_insurance_type_i18n %></td>
          <td></td>
          <td></td>
        </tr>
        <%# 雇用保険 %>
        <%if @worker.worker_insurance && @worker.business_owner_or_master == false %>
          <tr>
            <th>&emsp;&emsp;<%= WorkerInsurance.human_attribute_name(:employment_insurance_type) %></th>
            <td><%= @worker.worker_insurance.employment_insurance_type_i18n %></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
        <%# 被保険者番号 %>
        <% if @worker.worker_insurance && (%w[insured day].include?(@worker.worker_insurance.employment_insurance_type)) %>
          <tr>
            <th>&emsp;&emsp;<%= WorkerInsurance.human_attribute_name(:employment_insurance_number) %></th>
            <td><%= @worker.worker_insurance.employment_insurance_number %></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
        <%# 労働保険特別加入 %>
        <% if @worker.worker_insurance && @worker.business_owner_or_master %>
          <tr>
            <th>&emsp;&emsp;<%= WorkerInsurance.human_attribute_name(:has_labor_insurance) %></th>
            <td><%= @worker.worker_insurance.has_labor_insurance_i18n %></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
        <%# 建設業退職金共済手帳 %>
        <tr>
          <th>&emsp;&emsp;<%= WorkerInsurance.human_attribute_name(:severance_pay_mutual_aid_type) %></th>
          <% if @worker.worker_insurance && (@worker.worker_insurance.severance_pay_mutual_aid_type == 'other') %>
            <td><%= @worker.worker_insurance.severance_pay_mutual_aid_name %></td>
          <% else %>
            <td><%= @worker.worker_insurance.severance_pay_mutual_aid_type_i18n %></td>
            <% end %>
          <td></td>
          <td></td>
        </tr>
        <!-- worker_insuranceここまで -->
        <!-- 資格情報ここから -->
        <tr>
          <td><div style="font-size: 22px; font-weight: bold;"><%=  yield(:worker_licenses_info) %></div><!-- 作業員資格情報 --></td>
        </tr>
        <!-- worker_special_educationここから -->
        <tr bgcolor="#dee2e6">
          <th></th>
          <th>&emsp;&emsp;<%= SpecialEducation.human_attribute_name(:name) %></th>
          <th><%= WorkerSpecialEducation.human_attribute_name(:images) %></th>
          <th></th>
        </tr>
        <% @worker.worker_special_educations.each do |worker_special_education| %>
          <tr>
            <% if @worker.special_educations.first.id == worker_special_education.special_education_id %>
              <th>&emsp;&emsp;<%= WorkerSpecialEducation.human_attribute_name(:special_education_id) %></th>
            <% else %>
              <th></th>
            <% end %>
            <%# 名称 %>
            <td><%= worker_special_education.special_education.name %></td>
            <td>
              <% worker_special_education.images.each do |image| %>
                <%# 特別教育修了証明書の写し %>
                <%= image_tag(image.url) %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <!-- worker_skill_trainingここから -->
        <tr bgcolor="#dee2e6">
          <th></th>
          <th>&emsp;&emsp;<%= SkillTraining.human_attribute_name(:name) %></th>
          <th><%= WorkerSkillTraining.human_attribute_name(:images) %></th>
          <th></th>
        </tr>
        <% @worker.worker_skill_trainings.each do |worker_skill_training| %>
          <tr>
            <% if @worker.skill_trainings.first.id == worker_skill_training.skill_training_id %>
              <th>&emsp;&emsp;<%= WorkerSkillTraining.human_attribute_name(:skill_training_id) %></th>
            <% else %>
              <th></th>
            <% end %>
            <%# 名称 %>
            <td><%= worker_skill_training.skill_training.name %></td>
            <td>
              <%# 技能講習修了証明書の写し %>
              <% worker_skill_training.images.each do |image| %>
                <%= image_tag(image.url) %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <!-- worker_liceseここから -->
        <tr bgcolor="#dee2e6">
          <th></th>
          <th>&emsp;&emsp;<%= License.human_attribute_name(:name) %></th>
          <th><%= WorkerLicense.human_attribute_name(:images) %></th>
          <th></th>
        </tr>
        <%# 技能検定 %>
        <% @worker.worker_licenses.each do |worker_license| %>
          <tr>
            <% if @worker.licenses.first.id == worker_license.license_id %>
              <%# 技能検定 %>
              <th>&emsp;&emsp;<%= WorkerLicense.human_attribute_name(:license_id) %></th>
            <% else %>
              <th></th>
            <% end %>
            <%# 名称 %>
            <td><%= worker_license.license.name %></td>
            <td>
              <% worker_license.images.each do |image| %>
                <%# 技能検定修了証明書の写し %>
                <%= image_tag(image.url) %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <!-- worker_liceseここまで -->
        <!-- worker_skill_trainingここまで -->
        <%# worker_safety_health_educationここから %>
          <tr bgcolor="#dee2e6">
            <th></th>
            <th>&emsp;&emsp;<%= SpecialEducation.human_attribute_name(:name) %></th>
            <%# 安全衛生教育の写し %>
            <th><%= WorkerSafetyHealthEducation.human_attribute_name(:images) %></th>
            <th></th>
          </tr>
          <% @worker.worker_safety_health_educations.each do |worker_safety_health_education| %>
            <tr>
              <% if @worker.safety_health_educations.first.id == worker_safety_health_education.safety_health_education_id %>
                <th>&emsp;&emsp;<%= WorkerSafetyHealthEducation.human_attribute_name(:safety_health_education_id) %></th>
              <% else %>
                <th></th>
              <% end %>
              <%# 安全衛生教育の写し %>
              <td><%= worker_safety_health_education.safety_health_education.name %></td>
              <td>
                <% worker_safety_health_education.images.each do |image| %>
                  <%= image_tag(image.url) %>
                <% end %>
              </td>
            </tr>
          <% end %>       
        <%# worker_safety_health_educationここまで %>
        <%# 自動車運転免許証 %>
          <tr>
            <th>&emsp;&emsp;<%= Worker.human_attribute_name(:driver_licences) %></th>
            <td><%= driver_licence_short_form(@worker.driver_licences) %></td>
            <td></td>
            <td></td>
          </tr>
        <%# 免許証番号 %>
        <% if @worker.driver_licences.present? %>
          <tr>
            <th>&emsp;&emsp;<%= Worker.human_attribute_name(:driver_licence_number) %></th>
            <td><%= @worker.driver_licence_number %></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>

        <%# 認印 %>
        <tr>
          <th>&emsp;&emsp;<%= Worker.human_attribute_name(:seal) %></th>
          <td><%= image_tag(@worker.seal.url) if @worker.seal.present? %></td>          
          <td></td>
          <td></td>
        </tr>
        <!-- 資格情報ここまで -->
        

        <% if @worker.status_of_residence.present? %>
          <!-- 外国人建設就労者情報ここから -->
          <tr>
            <td><div style="font-size: 22px; font-weight: bold;"><%=  yield(:worker_foreign_construction_workers_info) %></div></td>
          </tr>
          <%# 在留資格 %>
          <tr>
            <th>&emsp;&emsp;<%= Worker.human_attribute_name(:status_of_residence) %></th>
            <td><%= @worker.status_of_residence_i18n %></td>
            <td></td>
            <td></td>
          </tr>

          <% if ['特定技能', '外国人建設就労者'].include?(@worker.status_of_residence_i18n) %>
            <%# 在留期間満期日 %>
            <tr>
              <th>&emsp;&emsp;<%= Worker.human_attribute_name(:maturity_date) %></th>
              <td><%= @worker.maturity_date %></td>
              <td></td>
              <td></td>
            </tr>
            <%# CCUS登録情報が最新であることの確認 %>
            <tr>
              <th>&emsp;&emsp;<%= Worker.human_attribute_name(:confirmed_check) %></th>
              <td><%= @worker.confirmed_check_i18n %></td>
              <td></td>
              <td></td>
            </tr>
            <%# キャリアアップシステム登録情報が最新であることの確認日 %>
            <% if @worker.confirmed_check_i18n == '有' %>
              <tr>
                <th>&emsp;&emsp;<%= Worker.human_attribute_name(:confirmed_check_date) %></th>
                <td><%= @worker.confirmed_check_date %></td>
                <td></td>
                <td></td>
              </tr>
            <% end %>
            <%# パスポートの写し %>
            <tr>
              <th>&emsp;&emsp;<%= Worker.human_attribute_name(:passports) %></th>
              <td>
                <% if @worker.passports.present? %>
                  <% @worker.passports.each do |image| %>
                    <%= image_tag(image.url) %>
                  <% end %>
                <% end %>
              </td>
              <td></td>
              <td></td>
            </tr>
            <%# 在留カードの写し %>
            <tr>
              <th>&emsp;&emsp;<%= Worker.human_attribute_name(:residence_cards) %></th>
              <td>
                <% if @worker.residence_cards.present? %>
                  <% @worker.residence_cards.each do |image| %>
                    <%= image_tag(image.url) %>
                  <% end %>
                <% end %>
              </td>
              <td></td>
              <td></td>
            </tr>
            <%# 受入企業と外国人建設就労者等との間の雇用条件書の写し %>
            <tr>
              <th>&emsp;&emsp;<%= Worker.human_attribute_name(:employment_conditions) %></th>
              <td>
                <% if @worker.employment_conditions.present? %>
                  <% @worker.employment_conditions.each do |image| %>
                    <%= image_tag(image.url) %>
                  <% end %>
                <% end %>
              </td>
              <td></td>
              <td></td>
            </tr>
            <!-- 外国人建設就労者情報ここまで -->
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= link_to "編集", edit_users_worker_path(@worker), class: "btn btn-md btn-block btn-success" %>
    <%= link_to "削除", users_worker_path(@worker), method: :delete, data: { confirm: "#{@worker.name}を削除します。本当によろしいですか？" }, class: "btn btn-md btn-danger btn-block" %>
    <%= link_to "一覧画面へ", users_workers_path, class: "btn btn-md btn-block btn-default" %>
  </div>
</div>
