<!-- (17)全建統一様式第1号－乙(下請負業者編成表) -->
<div id="doc_17" class="document-outer" style="overflow: auto;">
  <div class="document-inner">
    <section class="doc_17_sheet">
      <div class="ritz grid-container" dir="ltr">
        <table class="waffle" cellspacing="0" cellpadding="0" style="width: 100%; zoom: 90%;">
          <thead>
            <tr class="doc_17_s45">
              <th style="width:30px;">&nbsp;</th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:30px;"></th>
              <th style="width:20px;"></th>
              <th style="width:20px;"></th>
              <th style="width:20px;"></th>
              <th style="width:20px;"></th>
            </tr>
          </thead>
          <tbody>
            <tr class="doc_17_s45" style="height: 4px;">
              <td class="doc_17_s0"></td>
              <td class="doc_17_s0"></td>
              <td class="doc_17_s0"></td>
              <td class="doc_17_s0"></td>
              <td class="doc_17_s0"></td>
              <td class="doc_17_s0"></td>
              <td class="doc_17_s0"></td>
              <td class="doc_17_s0"></td>
              <td class="doc_17_s0"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 14px;">
              <td class="doc_17_s47" colspan="9" rowspan="2">全建統一様式第１号-乙</td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 14px;">
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s4" dir="ltr" colspan="8">「提出日（西暦）」17-001</td>
            </tr>
            <tr class="doc_17_s45">
              <td class="doc_17_s48" colspan="9"></td>
              <td colspan="29" style="border: none;"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 19px;">
              <td class="doc_17_s5" colspan="38" rowspan="2">下請負業者編成表</td>
            </tr>
            <tr class="doc_17_s45" style="height: 19px">
            </tr>
            <tr class="doc_17_s45" style="height: 9px">
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 14px">
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s7" colspan="16" rowspan="2">（一次下請負業者＝作成下請負業者）</td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 14px">
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s8"></td>
              <td class="doc_17_s9" dir="ltr" colspan="2" rowspan="13" style="writing-mode: tb-rl;">
                <%= primary_subcon_info(document_info)&.construction_name %> <!-- 17-002 工事名(一次) -->
              </td>
              <td class="doc_17_s10" colspan="7" rowspan="2">会社名</td>
              <td class="doc_17_s11" dir="ltr" colspan="7" rowspan="2">
                <%= primary_subcon_info(document_info)&.content&.[]("subcon_name") %> <!-- 17-003 会社名(一次) -->
              </td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s8"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s8"></td>
              <td class="doc_17_s10" colspan="7" rowspan="2">代表者名</td>
              <td class="doc_17_s11" dir="ltr" colspan="7" rowspan="2">
                <%= primary_subcon_info(document_info)&.content&.[]("subcon_representative_name") %> <!-- 17-004 代表者名(一次) -->
              </td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s8"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s8"></td>
              <td class="doc_17_s10" colspan="7" rowspan="2">建設業許可番号</td>
              <td class="doc_17_s13" dir="ltr" colspan="7" rowspan="2">
                <!-- 17-005 建設業許可番号(短縮)(一次) ※未実装※ -->
              </td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s8"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s14"></td>
              <td class="doc_17_s14"></td>
              <td class="doc_17_s14"></td>
              <td class="doc_17_s14"></td>
              <td class="doc_17_s14"></td>
              <td class="doc_17_s15" rowspan="3"></td>
              <td class="doc_17_s10" colspan="7" rowspan="2">安全衛生責任者</td>
              <td class="doc_17_s13" dir="ltr" colspan="7" rowspan="2">
                <%= primary_subcon_info(document_info)&.safety_manager_name %> <!-- 17-006 安全衛生責任者名(一次) -->
              </td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s14"></td>
              <td class="doc_17_s14"></td>
              <td class="doc_17_s14"></td>
              <td class="doc_17_s14"></td>
              <td class="doc_17_s14"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s14"></td>
              <td class="doc_17_s14"></td>
              <td class="doc_17_s14"></td>
              <td class="doc_17_s14"></td>
              <td class="doc_17_s14"></td>
              <td class="doc_17_s10" colspan="7" rowspan="2">主任技術者</td>
              <td class="doc_17_s13" dir="ltr" colspan="7" rowspan="2">
                <%= primary_subcon_info(document_info)&.lead_engineer_name %> <!-- 17-007 主任技術者名(一次) -->
              </td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s8"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s8"></td>
              <td class="doc_17_s16" colspan="7" rowspan="2">専門技術者</td>
              <td class="doc_17_s13" dir="ltr" colspan="7" rowspan="2">
                <%= primary_subcon_info(document_info)&.professional_engineer_name %> <!-- 17-008 専門技術者名(一次) -->
              </td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s8"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s6"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s8"></td>
              <td class="doc_17_s49" rowspan="2"></td>
              <td class="doc_17_s10" colspan="6" rowspan="2">担当工事内容</td>
              <td class="doc_17_s13" dir="ltr" colspan="7" rowspan="2">
                <%= primary_subcon_info(document_info)&.professional_engineer_details %> <!-- 17-009 担当工事内容(一次) -->
              </td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s6"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s8"></td>
              <td class="doc_17_s18" colspan="2" rowspan="2">工</td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s19"></td>
              <td class="doc_17_s17" colspan="7" rowspan="2">特定専門工事の有無</td>
              <td class="doc_17_s20" colspan="2" rowspan="2">
                <%= professional_construction_yes(primary_subcon_info(document_info)&.professional_construction) %> <!-- 17-010 特定専門工事の有無(一次) -->
              </td>
              <td class="doc_17_s21" dir="ltr" colspan="3" rowspan="2">・</td>
              <td class="doc_17_s22" colspan="2" rowspan="2">
                <%= professional_construction_no(primary_subcon_info(document_info)&.professional_construction) %> <!-- 17-010 特定専門工事の有無(一次) -->
              </td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s23"></td>
              <td class="doc_17_s23"></td>
              <td class="doc_17_s23"></td>
              <td class="doc_17_s23"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s19"></td>
              <td class="doc_17_s18" colspan="2" rowspan="2">事</td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s23"></td>
              <td class="doc_17_s23"></td>
              <td class="doc_17_s23"></td>
              <td class="doc_17_s23"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s19"></td>
              <td class="doc_17_s10" colspan="7" rowspan="2">登録基幹技能者</td>
              <td class="doc_17_s11" dir="ltr" colspan="7" rowspan="2">
                <%= primary_subcon_info(document_info)&.professional_engineer_details %> <!-- 17-011 登録基幹技能者(一次) -->
              </td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s14" colspan="4" rowspan="3"></td>
              <td class="doc_17_s19"></td>
              <td class="doc_17_s7" style="border-top: none; border-right: none;"></td> <!-- s7 -->
              <td class="doc_17_s17" style="border-top: none; border-left: none;"></td> <!-- s17 -->
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s6"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s12"></td>
              <td class="doc_17_s8"></td>
              <td class="doc_17_s17" colspan="3" rowspan="2">工期</td>
              <td class="doc_17_s24" dir="ltr" colspan="6" rowspan="2">
                <%= document_date(primary_subcon_info(document_info)&.start_date) %> <!-- 17-012 各会社の工期(自)(一次) -->
              </td>
              <td class="doc_17_s7" dir="ltr" rowspan="2">~</td>
              <td class="doc_17_s25" dir="ltr" colspan="6" rowspan="2">
                <%= document_date(primary_subcon_info(document_info)&.end_date) %> <!-- 17-013 各会社の工期(至)(一次) -->
              </td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s8"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s26"></td>
              <td class="doc_17_s27" colspan="2"></td>
              <td class="doc_17_s26"></td>
              <td class="doc_17_s28"></td>
              <td class="doc_17_s28"></td>
              <td class="doc_17_s28"></td>
              <td class="doc_17_s28"></td>
              <td class="doc_17_s28"></td>
              <td class="doc_17_s28"></td>
              <td class="doc_17_s28"></td>
              <td class="doc_17_s28"></td>
              <td class="doc_17_s29"></td>
              <td class="doc_17_s28"></td>
              <td class="doc_17_s28"></td>
              <td class="doc_17_s28"></td>
              <td class="doc_17_s28"></td>
              <td class="doc_17_s28"></td>
              <td class="doc_17_s28"></td>
              <td class="doc_17_s28"></td>
              <td class="doc_17_s30"></td>
              <td class="doc_17_s30"></td>
              <td class="doc_17_s30"></td>
              <td class="doc_17_s30"></td>
              <td class="doc_17_s30"></td>
              <td class="doc_17_s30"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s31"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s31"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s3"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s32"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
              <td class="doc_17_s1"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s7" colspan="12">（二次下請負業者）</td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s7" colspan="12">（二次下請負業者）</td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s7" colspan="12">（二次下請負業者）</td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s9" dir="ltr" rowspan="12"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">会社名</td>
              <td class="doc_17_s11" dir="ltr" colspan="6" rowspan="2">
                <%= secondary_subcon_info(document_info, 0)&.content&.[]("subcon_name") %> <!-- 17-015-1 会社名(二次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s34" rowspan="12"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">会社名</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= secondary_subcon_info(document_info, 1)&.content&.[]("subcon_name") %> <!-- 17-015-2 会社名(二次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s34" rowspan="12"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">会社名</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= secondary_subcon_info(document_info, 2)&.content&.[]("subcon_name") %> <!-- 17-015-3 会社名(二次) -->
              </td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s10" colspan="5" rowspan="2">代表者名</td>
              <td class="doc_17_s11" dir="ltr" colspan="6" rowspan="2">
                <%= secondary_subcon_info(document_info, 0)&.content&.[]("subcon_representative_name") %> <!-- 17-016-1 代表者名(二次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">代表者名</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= secondary_subcon_info(document_info, 1)&.content&.[]("subcon_representative_name") %> <!-- 17-016-2 代表者名(二次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">代表者名</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= secondary_subcon_info(document_info, 2)&.content&.[]("subcon_representative_name") %> <!-- 17-016-3 代表者名(二次) -->
              </td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s10" colspan="5" rowspan="2">建設業許可番号</td>
              <td class="doc_17_s13" dir="ltr" colspan="6" rowspan="2">
                <!-- 17-017-1 建設業許可番号(短縮)(二次) ※未実装※ -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">建設業許可番号</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <!-- 17-017-2 建設業許可番号(短縮)(二次) ※未実装※ -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">建設業許可番号</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <!-- 17-017-3 建設業許可番号(短縮)(二次) ※未実装※ -->
              </td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s10" colspan="5" rowspan="2">安全衛生責任者</td>
              <td class="doc_17_s13" dir="ltr" colspan="6" rowspan="2">
                <%= secondary_subcon_info(document_info, 0)&.safety_manager_name %> <!-- 17-018-1 安全衛生責任者名(二次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">安全衛生責任者</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= secondary_subcon_info(document_info, 1)&.safety_manager_name %> <!-- 17-018-2 安全衛生責任者名(二次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">安全衛生責任者</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= secondary_subcon_info(document_info, 2)&.safety_manager_name %> <!-- 17-018-3 安全衛生責任者名(二次) -->
              </td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s10" colspan="5" rowspan="2">主任技術者</td>
              <td class="doc_17_s13" dir="ltr" colspan="6" rowspan="2">
                <%= secondary_subcon_info(document_info, 0)&.lead_engineer_name %> <!-- 17-019-1 主任技術者名(二次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">主任技術者</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= secondary_subcon_info(document_info, 1)&.lead_engineer_name %> <!-- 17-019-2 主任技術者名(二次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">主任技術者</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= secondary_subcon_info(document_info, 2)&.lead_engineer_name %> <!-- 17-019-2 主任技術者名(二次) -->
              </td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s16" colspan="5" rowspan="2">専門技術者</td>
              <td class="doc_17_s13" dir="ltr" colspan="6" rowspan="2">
                <%= secondary_subcon_info(document_info, 0)&.professional_engineer_name %> <!-- 17-020-1 専門技術者名(二次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16" colspan="5" rowspan="2">専門技術者</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= secondary_subcon_info(document_info, 1)&.professional_engineer_name %> <!-- 17-020-2 専門技術者名(二次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16" colspan="5" rowspan="2">専門技術者</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= secondary_subcon_info(document_info, 2)&.professional_engineer_name %> <!-- 17-020-3 専門技術者名(二次) -->
              </td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s18"></td>
              <td class="doc_17_s49" rowspan="2"></td>
              <td class="doc_17_s17" colspan="4" rowspan="2">担当工事内容</td>
              <td class="doc_17_s13" dir="ltr" colspan="6" rowspan="2">
                <%= secondary_subcon_info(document_info, 0)&.professional_engineer_details %> <!-- 17-021-1 担当工事内容(二次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s18"></td>
              <td class="doc_17_s49" rowspan="2"></td>
              <td class="doc_17_s17" colspan="4" rowspan="2">担当工事内容</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= secondary_subcon_info(document_info, 1)&.professional_engineer_details %> <!-- 17-021-2 担当工事内容(二次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s18"></td>
              <td class="doc_17_s49" rowspan="2"></td>
              <td class="doc_17_s17" colspan="4" rowspan="2">担当工事内容</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= secondary_subcon_info(document_info, 2)&.professional_engineer_details %> <!-- 17-021-3 担当工事内容(二次) -->
              </td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s18">工</td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s18">工</td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s18">工</td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s18">事</td>
              <td class="doc_17_s17" colspan="5" rowspan="2">特定専門工事の該当</td>
              <td class="doc_17_s20" colspan="2" rowspan="2">
                <%= professional_construction_yes(secondary_subcon_info(document_info, 0)&.professional_construction) %> <!-- 17-022-1 特定専門工事の有無(二次) -->
              </td>
              <td class="doc_17_s21" dir="ltr" colspan="2" rowspan="2">・</td>
              <td class="doc_17_s22" colspan="2" rowspan="2">
                <%= professional_construction_no(secondary_subcon_info(document_info, 0)&.professional_construction) %> <!-- 17-022-1 特定専門工事の有無(二次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s18">事</td>
              <td class="doc_17_s17" colspan="5" rowspan="2">特定専門工事の該当</td>
              <td class="doc_17_s20" colspan="2" rowspan="2">
                <%= professional_construction_yes(secondary_subcon_info(document_info, 1)&.professional_construction) %> <!-- 17-022-2 特定専門工事の有無(二次) -->
              </td>
              <td class="doc_17_s7" colspan="2" rowspan="2">・</td>
              <td class="doc_17_s22" colspan="2" rowspan="2">
                <%= professional_construction_no(secondary_subcon_info(document_info, 1)&.professional_construction) %> <!-- 17-022-2 特定専門工事の有無(二次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s18">事</td>
              <td class="doc_17_s17" colspan="5" rowspan="2">特定専門工事の該当</td>
              <td class="doc_17_s20" colspan="2" rowspan="2">
                <%= professional_construction_yes(secondary_subcon_info(document_info, 2)&.professional_construction) %> <!-- 17-022-3 特定専門工事の有無(二次) -->
              </td>
              <td class="doc_17_s7" colspan="2" rowspan="2">・</td>
              <td class="doc_17_s22" colspan="2" rowspan="2">
                <%= professional_construction_no(secondary_subcon_info(document_info, 2)&.professional_construction) %> <!-- 17-022-3 特定専門工事の有無(二次) -->
              </td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s17" style="border-top: none;"></td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s17" style="border-top: none;"></td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s17" style="border-top: none;"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s17" colspan="2" rowspan="2">工期</td>
              <td class="doc_17_s24" dir="ltr" colspan="4" rowspan="2">
                <%= document_date(secondary_subcon_info(document_info, 0)&.start_date) %> <!-- 17-023-1 各会社の工期(自)(二次) -->
              </td>
              <td class="doc_17_s7" dir="ltr" colspan="2" rowspan="2">~</td>
              <td class="doc_17_s25" dir="ltr" colspan="4" rowspan="2">
                <%= document_date(secondary_subcon_info(document_info, 0)&.end_date) %> <!-- 17-024-1 各会社の工期(自)(二次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s17" colspan="2" rowspan="2">工期</td>
              <td class="doc_17_s36" colspan="4" rowspan="2">
                <%= document_date(secondary_subcon_info(document_info, 1)&.start_date) %> <!-- 17-023-2 各会社の工期(自)(二次) -->
              </td>
              <td class="doc_17_s7" dir="ltr" colspan="2" rowspan="2">~</td>
              <td class="doc_17_s37" colspan="4" rowspan="2">
                <%= document_date(secondary_subcon_info(document_info, 1)&.end_date) %> <!-- 17-024-2 各会社の工期(自)(二次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s17" colspan="2" rowspan="2">工期</td>
              <td class="doc_17_s36" colspan="4" rowspan="2">
                <%= document_date(secondary_subcon_info(document_info, 2)&.start_date) %> <!-- 17-023-3 各会社の工期(自)(二次) -->
              </td>
              <td class="doc_17_s7" dir="ltr" colspan="2" rowspan="2">~</td>
              <td class="doc_17_s37" colspan="4" rowspan="2">
                <%= document_date(secondary_subcon_info(document_info, 2)&.end_date) %> <!-- 17-024-3 各会社の工期(自)(二次) -->
              </td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s38"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s40"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s41"></td>
              <td class="doc_17_s41"></td>
              <td class="doc_17_s41"></td>
              <td class="doc_17_s41"></td>
              <td class="doc_17_s41"></td>
              <td class="doc_17_s42"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s38"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s38"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s44"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s7" colspan="12">（三次下請負業者）</td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s7" colspan="12">（三次下請負業者）</td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s7" colspan="12">（三次下請負業者）</td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s34" rowspan="12"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">会社名</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= third_subcon_info(document_info, 0)&.content&.[]("subcon_name") %> <!-- 17-015-1 会社名(三次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s34" rowspan="12"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">会社名</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= third_subcon_info(document_info, 1)&.content&.[]("subcon_name") %> <!-- 17-015-2 会社名(三次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s34" rowspan="12"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">会社名</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= third_subcon_info(document_info, 2)&.content&.[]("subcon_name") %> <!-- 17-015-3 会社名(三次) -->
              </td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s10" colspan="5" rowspan="2">代表者名</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= third_subcon_info(document_info, 0)&.content&.[]("subcon_representative_name") %> <!-- 17-016-1 代表者名(三次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">代表者名</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= third_subcon_info(document_info, 1)&.content&.[]("subcon_representative_name") %> <!-- 17-016-2 代表者名(三次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">代表者名</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= third_subcon_info(document_info, 3)&.content&.[]("subcon_representative_name") %> <!-- 17-016-3 代表者名(三次) -->
              </td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s10" colspan="5" rowspan="2">建設業許可番号</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <!-- 17-017-1 建設業許可番号(短縮)(三次) ※未実装※ -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">建設業許可番号</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <!-- 17-017-2 建設業許可番号(短縮)(三次) ※未実装※ -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">建設業許可番号</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <!-- 17-017-3 建設業許可番号(短縮)(三次) ※未実装※ -->
              </td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s10" colspan="5" rowspan="2">安全衛生責任者</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= third_subcon_info(document_info, 0)&.safety_manager_name %> <!-- 17-018-1 安全衛生責任者名(三次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">安全衛生責任者</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= third_subcon_info(document_info, 1)&.safety_manager_name %> <!-- 17-018-2 安全衛生責任者名(三次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">安全衛生責任者</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= third_subcon_info(document_info, 2)&.safety_manager_name %> <!-- 17-018-3 安全衛生責任者名(三次) -->
              </td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s10" colspan="5" rowspan="2">主任技術者</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= third_subcon_info(document_info, 0)&.lead_engineer_name %> <!-- 17-019-1 主任技術者名(三次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">主任技術者</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= third_subcon_info(document_info, 1)&.lead_engineer_name %> <!-- 17-019-2 主任技術者名(三次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">主任技術者</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= third_subcon_info(document_info, 2)&.lead_engineer_name %> <!-- 17-019-3 主任技術者名(三次) -->
              </td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s16" colspan="5" rowspan="2">専門技術者</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= third_subcon_info(document_info, 0)&.professional_engineer_name %> <!-- 17-020-1 専門技術者名(三次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16" colspan="5" rowspan="2">専門技術者</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= third_subcon_info(document_info, 1)&.professional_engineer_name %> <!-- 17-020-2 専門技術者名(三次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16" colspan="5" rowspan="2">専門技術者</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= third_subcon_info(document_info, 2)&.professional_engineer_name %> <!-- 17-020-3 専門技術者名(三次) -->
              </td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s18"></td>
              <td class="doc_17_s49" rowspan="2"></td>
              <td class="doc_17_s17" colspan="4" rowspan="2">担当工事内容</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= third_subcon_info(document_info, 0)&.professional_engineer_details %> <!-- 17-021-1 担当工事内容(三次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s18"></td>
              <td class="doc_17_s49" rowspan="2"></td>
              <td class="doc_17_s17" colspan="4" rowspan="2">担当工事内容</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= third_subcon_info(document_info, 1)&.professional_engineer_details %> <!-- 17-021-2 担当工事内容(三次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s18"></td>
              <td class="doc_17_s49" rowspan="2"></td>
              <td class="doc_17_s17" colspan="4" rowspan="2">担当工事内容</td>
              <td class="doc_17_s35" colspan="6" rowspan="2">
                <%= third_subcon_info(document_info, 2)&.professional_engineer_details %> <!-- 17-021-3 担当工事内容(三次) -->
              </td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s18">工</td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s18">工</td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s18">工</td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s18">事</td>
              <td class="doc_17_s17" colspan="5" rowspan="2">特定専門工事の該当</td>
              <td class="doc_17_s20" colspan="2" rowspan="2">
                <%= professional_construction_yes(third_subcon_info(document_info, 0)&.professional_construction) %> <!-- 17-022-1 特定専門工事の有無(三次) -->
              </td>
              <td class="doc_17_s7" colspan="2" rowspan="2">・</td>
              <td class="doc_17_s22" colspan="2" rowspan="2">
                <%= professional_construction_no(third_subcon_info(document_info, 0)&.professional_construction) %> <!-- 17-022-1 特定専門工事の有無(三次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s18">事</td>
              <td class="doc_17_s17" colspan="5" rowspan="2">特定専門工事の該当</td>
              <td class="doc_17_s20" colspan="2" rowspan="2">
                <%= professional_construction_yes(third_subcon_info(document_info, 1)&.professional_construction) %> <!-- 17-022-2 特定専門工事の有無(三次) -->
              </td>
              <td class="doc_17_s7" colspan="2" rowspan="2">・</td>
              <td class="doc_17_s22" colspan="2" rowspan="2">
                <%= professional_construction_no(third_subcon_info(document_info, 1)&.professional_construction) %> <!-- 17-022-2 特定専門工事の有無(三次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s18">事</td>
              <td class="doc_17_s17" colspan="5" rowspan="2">特定専門工事の該当</td>
              <td class="doc_17_s20" colspan="2" rowspan="2">
                <%= professional_construction_yes(third_subcon_info(document_info, 2)&.professional_construction) %> <!-- 17-022-3 特定専門工事の有無(三次) -->
              </td>
              <td class="doc_17_s7" colspan="2" rowspan="2">・</td>
              <td class="doc_17_s22" colspan="2" rowspan="2">
                <%= professional_construction_no(third_subcon_info(document_info, 2)&.professional_construction) %> <!-- 17-022-3 特定専門工事の有無(三次) -->
              </td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s17" style="border-top: none;"></td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s17" style="border-top: none;"></td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s17" style="border-top: none;"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s17" colspan="2" rowspan="2">工期</td>
              <td class="doc_17_s36" colspan="4" rowspan="2">
                <%= document_date(third_subcon_info(document_info, 0)&.start_date) %> <!-- 17-023-1 各会社の工期(自)(三次) -->
              </td>
              <td class="doc_17_s7" dir="ltr" colspan="2" rowspan="2">~</td>
              <td class="doc_17_s37" colspan="4" rowspan="2">
                <%= document_date(third_subcon_info(document_info, 0)&.end_date) %> <!-- 17-023-1 各会社の工期(自)(三次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s17" colspan="2" rowspan="2">工期</td>
              <td class="doc_17_s36" colspan="4" rowspan="2">
                <%= document_date(third_subcon_info(document_info, 1)&.start_date) %> <!-- 17-023-2 各会社の工期(自)(三次) -->
              </td>
              <td class="doc_17_s7" dir="ltr" colspan="2" rowspan="2">~</td>
              <td class="doc_17_s37" colspan="4" rowspan="2">
                <%= document_date(third_subcon_info(document_info, 1)&.end_date) %> <!-- 17-023-2 各会社の工期(自)(三次) -->
              </td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s17" colspan="2" rowspan="2">工期</td>
              <td class="doc_17_s36" colspan="4" rowspan="2">
                <%= document_date(third_subcon_info(document_info, 2)&.start_date) %> <!-- 17-023-3 各会社の工期(自)(三次) -->
              </td>
              <td class="doc_17_s7" dir="ltr" colspan="2" rowspan="2">~</td>
              <td class="doc_17_s37" colspan="4" rowspan="2">
                <%= document_date(third_subcon_info(document_info, 2)&.end_date) %> <!-- 17-023-3 各会社の工期(自)(三次) -->
              </td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s38"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s40"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s39"></td>
              <td class="doc_17_s41"></td>
              <td class="doc_17_s41"></td>
              <td class="doc_17_s41"></td>
              <td class="doc_17_s41"></td>
              <td class="doc_17_s41"></td>
              <td class="doc_17_s42"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s38"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s38"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s44"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s7" colspan="12">（四次下請負業者）</td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s7" colspan="12">（四次下請負業者）</td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s7" colspan="12">（四次下請負業者）</td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s34" rowspan="12"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">会社名</td>
              <td class="doc_17_s35" colspan="6" rowspan="2"></td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s34" rowspan="12"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">会社名</td>
              <td class="doc_17_s35" colspan="6" rowspan="2"></td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s34" rowspan="12"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">会社名</td>
              <td class="doc_17_s35" colspan="6" rowspan="2"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s10" colspan="5" rowspan="2">代表者名</td>
              <td class="doc_17_s35" colspan="6" rowspan="2"></td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">代表者名</td>
              <td class="doc_17_s35" colspan="6" rowspan="2"></td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">代表者名</td>
              <td class="doc_17_s35" colspan="6" rowspan="2"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s10" colspan="5" rowspan="2">建設業許可番号</td>
              <td class="doc_17_s35" colspan="6" rowspan="2"></td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">建設業許可番号</td>
              <td class="doc_17_s35" colspan="6" rowspan="2"></td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">建設業許可番号</td>
              <td class="doc_17_s35" colspan="6" rowspan="2"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s10" colspan="5" rowspan="2">安全衛生責任者</td>
              <td class="doc_17_s35" colspan="6" rowspan="2"></td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">安全衛生責任者</td>
              <td class="doc_17_s35" colspan="6" rowspan="2"></td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">安全衛生責任者</td>
              <td class="doc_17_s35" colspan="6" rowspan="2"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s10" colspan="5" rowspan="2">主任技術者</td>
              <td class="doc_17_s35" colspan="6" rowspan="2"></td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">主任技術者</td>
              <td class="doc_17_s35" colspan="6" rowspan="2"></td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s10" colspan="5" rowspan="2">主任技術者</td>
              <td class="doc_17_s35" colspan="6" rowspan="2"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s16" colspan="5" rowspan="2">専門技術者</td>
              <td class="doc_17_s35" colspan="6" rowspan="2"></td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16" colspan="5" rowspan="2">専門技術者</td>
              <td class="doc_17_s35" colspan="6" rowspan="2"></td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16" colspan="5" rowspan="2">専門技術者</td>
              <td class="doc_17_s35" colspan="6" rowspan="2"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s18"></td>
              <td class="doc_17_s49" rowspan="2"></td>
              <td class="doc_17_s17" colspan="4" rowspan="2">担当工事内容</td>
              <td class="doc_17_s35" colspan="6" rowspan="2"></td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s18"></td>
              <td class="doc_17_s49" rowspan="2"></td>
              <td class="doc_17_s17" colspan="4" rowspan="2">担当工事内容</td>
              <td class="doc_17_s35" colspan="6" rowspan="2"></td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s18"></td>
              <td class="doc_17_s49" rowspan="2"></td>
              <td class="doc_17_s17" colspan="4" rowspan="2">担当工事内容</td>
              <td class="doc_17_s35" colspan="6" rowspan="2"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s18">工</td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s18">工</td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s18">工</td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s18">事</td>
              <td class="doc_17_s17" colspan="5" rowspan="2">特定専門工事の該当</td>
              <td class="doc_17_s20" colspan="2" rowspan="2">有</td>
              <td class="doc_17_s7" colspan="2" rowspan="2">・</td>
              <td class="doc_17_s22" colspan="2" rowspan="2">無</td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s18">事</td>
              <td class="doc_17_s17" colspan="5" rowspan="2">特定専門工事の該当</td>
              <td class="doc_17_s20" colspan="2" rowspan="2">有</td>
              <td class="doc_17_s7" colspan="2" rowspan="2">・</td>
              <td class="doc_17_s22" colspan="2" rowspan="2">無</td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s18">事</td>
              <td class="doc_17_s17" colspan="5" rowspan="2">特定専門工事の該当</td>
              <td class="doc_17_s20" colspan="2" rowspan="2">有</td>
              <td class="doc_17_s7" colspan="2" rowspan="2">・</td>
              <td class="doc_17_s22" colspan="2" rowspan="2">無</td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s17" style="border-top: none;"></td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s17" style="border-top: none;"></td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s17" style="border-top: none;"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s17" colspan="2" rowspan="2">工期</td>
              <td class="doc_17_s36" colspan="4" rowspan="2"></td>
              <td class="doc_17_s7" dir="ltr" colspan="2" rowspan="2">~</td>
              <td class="doc_17_s37" colspan="4" rowspan="2"></td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s17" colspan="2" rowspan="2">工期</td>
              <td class="doc_17_s36" colspan="4" rowspan="2"></td>
              <td class="doc_17_s7" dir="ltr" colspan="2" rowspan="2">~</td>
              <td class="doc_17_s37" colspan="4" rowspan="2"></td>
              <td class="doc_17_s16"></td>
              <td class="doc_17_s17" colspan="2" rowspan="2">工期</td>
              <td class="doc_17_s36" colspan="4" rowspan="2"></td>
              <td class="doc_17_s7" dir="ltr" colspan="2" rowspan="2">~</td>
              <td class="doc_17_s37" colspan="4" rowspan="2"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 12px">
              <td class="doc_17_s16"></td>
              <td class="doc_17_s16"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 9px">
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
              <td class="doc_17_s43"></td>
            </tr>
            <tr class="doc_17_s45" style="height: 19px">
              <td class="doc_17_s33" colspan="4">（記入要領）</td>
              <td class="doc_17_s33">1</td>
              <td class="doc_17_s33" colspan="33">一次下請負業者は、二次下請負業者以下の業者から提出された「届出書」(様式第１号－甲) に基づいて本表を作成</td>
            </tr>
            <tr class="doc_17_s45" style="height: 19px">
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33" colspan="33">の上、元請に届け出ること。</td>
            </tr>
            <tr class="doc_17_s45" style="height: 19px">
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33">2</td>
              <td class="doc_17_s33" colspan="33">この下請負業者編成表でまとめきれない場合には、本様式をコピーするなどして適宜使用すること。</td>
            </tr>
            <tr class="doc_17_s45" style="height: 19px">
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33"></td>
              <td class="doc_17_s33">3</td>
              <td class="doc_17_s33" colspan="33">二次下請負業者を使用しない場合は、この書類は提出不要。</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
