<% provide(:title, "現場車両編集") %>
<% provide(:btn_text, "更新") %>

<div class="card">
  <div class="card-body table-responsive p-0">
    <table class="table text-nowrap">
      <tbody>
        <td>
          <%= link_to "戻る", users_request_order_field_cars_path, class: "btn btn-md btn-default" %>
        </td>
        <td>
          <%= link_to "入場作業員", users_request_order_field_cars_path(@request_order), class: "btn btn-md btn-success" %>
          <%= link_to "車両", users_request_order_field_cars_path(@request_order), class: "btn btn-md btn-success" %>
          <%= link_to "特殊車両", "#", class: "btn btn-md btn-success" %>
          <%= link_to "機械", "#", class: "btn btn-md btn-success" %>
          <%= link_to "溶剤", "#", class: "btn btn-md btn-success" %>
        </td>
      </tbody>
    </table>
  </div>
</div>

<section class="content">
  <div class="col-md-12">
    <%= form_with model: @request_order, url: update_cars_users_request_order_field_cars_path, method: :patch, local: true do |f| %>
      <div class="card">
        <div class="card-body table-responsive p-0">
          <table class="table text-nowrap">
            <tbody>
              <% @field_cars.each do |field_car| %>
                <%= f.fields_for "field_cars[]", field_car do |fc| %>
                  <tr style="border-bottom: 0px #fff;">
                    <td>
                      <%= fc.label :car_name %><br>
                      <%= field_car.car_name %>
                    </td>
                    <td>
                      <%= fc.label :driver_name %>
                      <%= fc.select :driver_name, @business_workers_name, { prompt: '選択してください' }, { class: "form-control" } %>
                    </td>
                    <td>
                      <%= fc.label :usage_period_start %>
                      <%= fc.date_field :usage_period_start, class: "form-control" %>
                    </td>
                    <td>
                      <%= fc.label :usage_period_end %>
                      <%= fc.date_field :usage_period_end, class: "form-control" %>
                    </td>
                  </tr>
                  <tr style="border-top: 0px #fff;">
                    <td>
                      <%= fc.label :starting_point %>
                      <%= fc.text_field :starting_point, maxlength: 40, placeholder: "40文字以内", class: "form-control" %>
                    </td>
                    <td>
                      <%= fc.label :waypoint_first %>
                      <%= fc.text_field :waypoint_first, maxlength: 40, placeholder: "40文字以内", class: "form-control" %>
                    </td>
                    <td>
                      <%= fc.label :waypoint_second %>
                      <%= fc.text_field :waypoint_second, maxlength: 40, placeholder: "40文字以内", class: "form-control" %>
                    </td>
                    <td>
                      <%= fc.label :arrival_point %>
                      <%= fc.text_field :arrival_point, maxlength: 40, placeholder: "40文字以内", class: "form-control" %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <%= f.submit yield(:btn_text), class: "btn btn-md btn-block btn-primary" %>
      <br>
    <% end %>
  </div>
</section>
