<% provide(:title,  "現場車両一覧") %>

<div class="card">
  <div class="card-body table-responsive p-0">
    <table class="table text-nowrap">
      <tbody>
        <td>
          <%= link_to "発注詳細", users_request_order_path(@request_order), class: "btn btn-md btn-default" %>
          <%= link_to "発注一覧", users_request_orders_path(@request_order), class: "btn btn-md btn-default" %>
        </td>
        <td>
          <%= link_to "入場作業員", users_request_order_field_workers_path(@request_order), class: "btn btn-md btn-success" %>
          <%= link_to "車両", users_request_order_field_cars_path(@request_order), class: "btn btn-md btn-success" %>
          <%= link_to "特殊車両", "#", class: "btn btn-md btn-success" %>
          <%= link_to "機械", "#", class: "btn btn-md btn-success" %>
          <%= link_to "溶剤", "#", class: "btn btn-md btn-success" %>
        </td>
      </tbody>
    </table>
  </div>
</div>

<section class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <%= form_with url: users_request_order_field_cars_path, method: :post, local: true do |f| %>
          <%= f.label "追加する作業員を選択してください。" %>
          <div class="pb-1">
            <%= f.collection_select :car_ids, @car, :id, :vehicle_name, { include_hidden: false }, { required: true, multiple: true, class: "multiple-select", style: "width: 100%" } %>
          </div>
          <div>
            <%= f.submit "現場車両追加", class: "btn btn-md btn-primary" %>
            <% if @field_cars.present? %>
              <%= link_to "現場車両情報編集", edit_cars_users_request_order_field_cars_path(@request_order), class: "btn btn-md btn-success" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<br>
<% if @field_cars.present? %>
  <section class="content">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body table-responsive p-0">
          <table class="table text-nowrap">
            <tbody>
              <% @field_cars.each do |field_car| %>
                <tr style="border-bottom: 0px #fff;">
                  <td>
                    <%= FieldCar.human_attribute_name(:car_name) %><br>
                    <%= not_input_display(field_car.car_name) %>
                  </td>
                  <td>
                    <%= FieldCar.human_attribute_name(:driver_name) %><br>
                    <%= not_input_display(field_car.driver_name) %>
                  </td>
                  <td>
                    <%= FieldCar.human_attribute_name(:usage_period_start) %><br>
                    <%= not_input_display(field_car.usage_period_start) %>
                  </td>
                  <td>
                    <%= FieldCar.human_attribute_name(:usage_period_end) %><br>
                    <%= not_input_display(field_car.usage_period_end) %>
                  </td>
                  <td>
                    <%= link_to "削除", users_request_order_field_car_path(@request_order, field_car), method: :delete, data: { confirm: "#{field_car.car_name}を削除します。本当によろしいですか？" }, class: "btn btn-md btn-danger" %>
                  </td>
                </tr>
                <tr style="border-top: 0px #fff;">
                  <td>
                    <%= FieldCar.human_attribute_name(:starting_point) %><br>
                    <%= not_input_display(field_car.starting_point) %>
                  </td>
                  <td>
                    <%= FieldCar.human_attribute_name(:waypoint_first) %><br>
                    <%= not_input_display(field_car.waypoint_first) %>
                  </td>
                  <td>
                    <%= FieldCar.human_attribute_name(:waypoint_second) %><br>
                    <%= not_input_display(field_car.waypoint_second) %>
                  </td>
                  <td>
                    <%= FieldCar.human_attribute_name(:arrival_point) %><br>
                    <%= not_input_display(field_car.arrival_point) %>
                  </td>
                  <td></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
<% end %>
