<%= render 'shared/error_massages', object: f.object %>

<div class="list-group">
  <div class="list-group-item">
    <div class="row">
      <div class="col-md-4">
        <!-- 日付入力フォーム -->
        <%= f.label '8-004 書類作成日(西暦)' %>
        <%#= f.date_field :content, multiple: true,
                                  name: "document[content][doc5_8_004_created_date]",
                                  value: @document.content["doc5_8_004_created_date"],
                                  class: "form-control", placeholder: '書類作成日（西暦）'
        %><br>
      </div>
      <div class="col-md-4">
        <!-- 日付入力フォーム -->
        <%= f.label '8-011 提出日(西暦)' %>
        <%#= f.date_field :content, multiple: true,
                                  name: "document[content][doc5_8_011_submitted_on]",
                                  value: @document.content["doc5_8_011_submitted_on"],
                                  class: "form-control", placeholder: '提出日（西暦）'
        %><br>
      </div>
      <div class="col-md-4">
        <%= f.label '8-042 元請確認欄' %>
        <%#= f.text_field :content, multiple: true,
                                  name: "document[content][doc5_8_042_confirmation]",
                                  value: @document.content["doc5_8_042_confirmation"],
                                  class: "form-control", placeholder: '元請確認欄'
        %><br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= f.label '8-001 事業所の名称' %>
        <%#= f.text_field :content, multiple: true,
                                  name: "document[content][doc5_8_001_business_name]",
                                  value: @document.content["doc5_8_001_business_name"],
                                  class: "form-control", placeholder: '事業所の名称'
        %><br>
      </div>
      <div class="col-md-4">
        <%= f.label '8-002 現場ID(キャリアアップ)' %>
        <%#= f.text_field :content, multiple: true,
                                  name: "document[content][doc5_8_002_site_id]",
                                  value: @document.content["doc5_8_002_site_id"],
                                  class: "form-control", placeholder: '現場ID(キャリアアップ)'
        %><br>
      </div>
      <div class="col-md-4">
        <%= f.label '8-003 元請会社の各会社の現場代理人' %>
        <%#= f.text_field :content, multiple: true,
                                  name: "document[content][doc5_8_003_site_agent]",
                                  value: @document.content["doc5_8_003_site_agent"],
                                  class: "form-control", placeholder: '元請会社の各会社の現場代理人'
        %><br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= f.label '8-005 一次会社名' %>
        <%#= f.text_field :content, multiple: true,
                                  name: "document[content][doc5_8_005_primary_business_name]",
                                  value: @document.content["doc5_8_005_primary_business_name"],
                                  class: "form-control", placeholder: '一次会社名'
        %><br>
      </div>
      <div class="col-md-4">
        <%= f.label '8-006 一次会社の事業者ID' %>
        <%#= f.text_field :content, multiple: true,
                                  name: "document[content][doc5_8_006_primary_business_id]",
                                  value: @document.content["doc5_8_006_primary_business_id"],
                                  class: "form-control", placeholder: '一次会社の事業者ID'
        %><br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= f.label '8-007 次' %>
        <%#= f.text_field :content, multiple: true,
                                  name: "document[content][doc5_8_007_hierarchy]",
                                  value: @document.content["doc5_8_007_hierarchy"],
                                  class: "form-control", placeholder: '次 8-007'
        %><br>
      </div>
      <div class="col-md-4">
        <%= f.label '8-009 自社の会社名' %>
        <%#= f.text_field :content, multiple: true,
                                  name: "document[content][doc5_8_009_my_business_name]",
                                  value: @document.content["doc5_8_009_my_business_name"],
                                  class: "form-control", placeholder: '自社の会社名'
        %><br>
      </div>
      <div class="col-md-4">
        <%= f.label '8-010 自社の事業者ID' %>
        <%#= f.text_field :content, multiple: true,
                                  name: "document[content][doc5_8_010_my_business_id]",
                                  value: @document.content["doc5_8_010_my_business_id"],
                                  class: "form-control", placeholder: '自社の事業者ID'
        %><br>
      </div>
    </div>
  </div>
</div><br>
<%#= Worker.first.attributes %>
<!-- 作業員情報 -->
<%# @document.content["worker"].values[0].size.times do |index|index %>
  <div id="worker">
    <div class="card card-success">
      <div class="card-header">
        <h3 class="card-title">作業員情報 番号</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body" style="display: block;">
        <div class="list-group">
          <div class="list-group-item">
            <div class="row">
              <div class="col-md-3">
                <%= f.label '8-012 フリガナ' %>
                <%= f.select :content, @workers.map{ |worker| [worker.name, worker.to_json] }, {include_hidden: false}, {class: "js-select form-control", multiple: true, include_blank: true} %>
                <%#= f.text_field :content, multiple: true,
                                          name: "document[content][worker][doc5_8_012_furigana][]",
                                          value: @document.content["worker"]["doc5_8_012_furigana"][index],
                                          class: "form-control", placeholder: 'フリガナ'
                %><br>
                <%= JSON.parse(@document.content[0])["id"] %>/
                <%= @document.content.size %>/
                <%= JSON.parse(@document.content[0]) %>
                <%= JSON.pretty_generate(@document.content) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%# end %>

<div id="input_data">
  <!--  ここに出力  -->
</div>

<div class="row">
  <div class="col-md-3">
    <input type="button" value="作業員追加" onclick="addBtn()" class="btn btn-primary btn-block" />
  </div>
</div>

<script>
  var i = 1 ;
  function addBtn() {
    var input_data = document.getElementById("input_data_form");
    var clone_element = input_data.cloneNode(true);
    clone_element.classList.remove("not_display");
    clone_element.classList.toggle('new_worker' + i);
    clone_element.removeAttribute("id");
    display_form = document.getElementById("input_data");
    display_form.append(clone_element);

    var cancel_date = document.getElementById("cancel_button");
    cancel_date.id = i;
    i ++
  }

  function cancelBtn(target) {
    var target_id = target.id;
    document.getElementsByClassName("new_worker" + target_id)[0].remove();
  }
</script>

<style>
  .not_display{
    display: none;
  }
</style>
