<!-- (19)全建統一様式第6号(工事安全衛生計画書) -->
<h1 align="center">編集中</h1>
<div id="doc_19_sheet">
  <div class="ritz grid-container" dir="ltr">
    <%= form_with model: @document, url: users_request_order_document_path, method: :patch, local: true do |f| %>
      <table class="waffle" cellspacing="0" cellpadding="0">
        <tbody>
          <tr style="height: 24px">
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s1" dir="ltr"></td>
            <td class="doc_19_s1" dir="ltr"></td>
            <td class="doc_19_s1" dir="ltr"></td>
            <td class="doc_19_s1" dir="ltr"></td>
            <td class="doc_19_s1" dir="ltr"></td>
            <td class="doc_19_s1" dir="ltr"></td>
            <td class="doc_19_s1" dir="ltr"></td>
            <td class="doc_19_s1" dir="ltr"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s1" dir="ltr"></td>
            <td class="doc_19_s1" dir="ltr"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s6" dir="ltr" colspan="8" rowspan="2">全建統一様式第６号</td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s5"></td>
            <td class="doc_19_s6" dir="ltr" colspan="2" rowspan="2">元 請<br> 確認欄</td>
            <td class="doc_19_s7" dir="ltr" colspan="9" rowspan="2">
              <%= f.text_field name = 'content[prime_contractor_confirmation]',value:@document.content&.[]('prime_contractor_confirmation')%>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s5"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s8" dir="ltr" colspan="4" rowspan="2">事業所の名称</td>
            <td class="doc_19_s9" dir="ltr" colspan="9" rowspan="2"><a target="_blank" href="#rangeid=1915910623"><%= @order.site_name%></a></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s8" dir="ltr" colspan="4" rowspan="2">会 社 名</td>
            <td class="doc_19_s9" dir="ltr" colspan="10" rowspan="2">
              <%= f.text_field name = 'content[company_name]',value:@document.content&.[]('company_name') %>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s3" dir="ltr"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s8" dir="ltr" colspan="4" rowspan="2">所長名</td>
            <td class="doc_19_s9" dir="ltr" colspan="9" rowspan="2"><a target="_blank" href="#rangeid=1214881273"><%= @order.site_agent_name %></a></td>
            <td class="doc_19_s10" dir="ltr" rowspan="2">殿</td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s0" dir="ltr" colspan="4">現場代理人</td>
            <td class="doc_19_s9" dir="ltr" colspan="8" rowspan="2"><a target="_blank" href="#gid=2130279024&amp;range=U322"><%= @order.site_agent_name %></a></td>
            <td class="doc_19_s11" dir="ltr" colspan="2" rowspan="2"><a target="_blank" href="#gid=2130279024&amp;range=U52">㊞<br>19-006</a></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s0" dir="ltr" colspan="4">（現場責任者）</td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s12" dir="ltr"></td>
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s8"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s12" dir="ltr"></td>
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s9" dir="ltr" colspan="8" rowspan="2">
              <%= f.date_field name = 'content[date_created]', value:@document.content&.[]('date_created') %>
            </td>
            <td class="doc_19_s8" dir="ltr" colspan="2" rowspan="2">作成</td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s13" dir="ltr"></td>
            <td class="doc_19_s13" dir="ltr" colspan="40" rowspan="2">工 事 安 全 衛 生 計 画 書</td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s13" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s3"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s6" dir="ltr" colspan="7" rowspan="2">工事安全衛生方針</td>
            <td class="doc_19_s14" dir="ltr" colspan="33" rowspan="2">
              <%= f.text_area name = 'content[safety_and_health_construction_policy]',value:@document.content&.[]('safety_and_health_construction_policy') , size: "150x2"%>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s3"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s6" dir="ltr" colspan="7" rowspan="2">工事安全衛生目標</td>
            <td class="doc_19_s14" dir="ltr" colspan="33" rowspan="2">
              <%= f.text_area name = 'content[safety_and_health_construction_objective]',value:@document.content&.[]('safety_and_health_construction_objective'), size: "150x2"%>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s3"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s15" dir="ltr"></td>
            <td class="doc_19_s6" dir="ltr" colspan="7" rowspan="2">工　　種</td>
            <td class="doc_19_s6" dir="ltr" colspan="24">工 種 別 工 事 期 間</td>
            <td class="doc_19_s6" dir="ltr" colspan="9" rowspan="2">日常の安全衛生活動</td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s15" dir="ltr"></td>
            <td class="doc_19_s16" dir="ltr" colspan="4">
              <%= f.select name = 'content[construction_type_1st_period_month_1st]',(1..12).to_a, { include_blank: true, selected:@document.content&.[]('construction_type_1st_period_month_1st')}%>月
            </td>
            <td class="doc_19_s17" dir="ltr" colspan="4">
              <%= f.label :week_one, "1週" %>
              <%= f.check_box name = 'content[construction_type_period_week_one_1st]', checked: box_checked?(@document.content&.[]('construction_type_period_week_one_1st')) %></br>
              <%= f.label :week_two, "2週" %>
              <%= f.check_box name = 'content[construction_type_period_week_two_1st]', checked: box_checked?(@document.content&.[]('construction_type_period_week_two_1st')) %></br>
              <%= f.label :week_three, "3週" %>
              <%= f.check_box name = 'content[construction_type_period_week_three_1st]', checked: box_checked?(@document.content&.[]('construction_type_period_week_three_1st')) %></br>
              <%= f.label :week_four, "4週" %>
              <%= f.check_box name = 'content[construction_type_period_week_four_1st]', checked: box_checked?(@document.content&.[]('construction_type_period_week_four_1st')) %></br>
              <%= f.label :week_five, "5週" %>
              <%= f.check_box name = 'content[construction_type_period_week_five_1st]', checked: box_checked?(@document.content&.[]('construction_type_period_week_five_1st')) %></br>
            </td>
            <td class="doc_19_s16" dir="ltr" colspan="4">
              <%= f.select name = 'content[construction_type_1st_period_month_2st]',(1..12).to_a, { include_blank: true, selected:@document.content&.[]('construction_type_1st_period_month_2st')}%>月
            </td>
            <td class="doc_19_s17" dir="ltr" colspan="4"><a target="_blank" href="#rangeid=248091639">
              <%= f.label :week_one, "1週" %>
              <%= f.check_box name = 'content[construction_type_period_week_one_2nd]', checked: box_checked?(@document.content&.[]('construction_type_period_week_one_2nd')) %></br>
              <%= f.label :week_two, "2週" %>
              <%= f.check_box name = 'content[construction_type_period_week_two_2nd]', checked: box_checked?(@document.content&.[]('construction_type_period_week_two_2nd')) %></br>
              <%= f.label :week_three, "3週" %>
              <%= f.check_box name = 'content[construction_type_period_week_three_2nd]', checked: box_checked?(@document.content&.[]('construction_type_period_week_three_2nd')) %></br>
              <%= f.label :week_four, "4週" %>
              <%= f.check_box name = 'content[construction_type_period_week_four_2nd]', checked: box_checked?(@document.content&.[]('construction_type_period_week_four_2nd')) %></br>
              <%= f.label :week_five, "5週" %>
              <%= f.check_box name = 'content[construction_type_period_week_five_2nd]', checked: box_checked?(@document.content&.[]('construction_type_period_week_five_2nd')) %></br>
            </td>
            <td class="doc_19_s16" dir="ltr" colspan="4">
              <%= f.select name = 'content[construction_type_1st_period_month_3rd]',(1..12).to_a, { include_blank: true, selected:@document.content&.[]('construction_type_1st_period_month_3rd')} %>
            </td>
            <td class="doc_19_s17" dir="ltr" colspan="4">
              <%= f.label :week_one, "1週" %>
              <%= f.check_box name = 'content[construction_type_period_week_one_3rd]', checked: box_checked?(@document.content&.[]('construction_type_period_week_one_3rd')) %></br>
              <%= f.label :week_two, "2週" %>
              <%= f.check_box name = 'content[construction_type_period_week_two_3rd]', checked: box_checked?(@document.content&.[]('construction_type_period_week_two_3rd')) %></br>
              <%= f.label :week_three, "3週" %>
              <%= f.check_box name = 'content[construction_type_period_week_three_3rd]', checked: box_checked?(@document.content&.[]('construction_type_period_week_three_3rd')) %></br>
              <%= f.label :week_four, "4週" %>
              <%= f.check_box name = 'content[construction_type_period_week_four_3rd]', checked: box_checked?(@document.content&.[]('construction_type_period_week_four_3rd')) %></br>
              <%= f.label :week_five, "5週" %>
              <%= f.check_box name = 'content[construction_type_period_week_five_3rd]', checked: box_checked?(@document.content&.[]('construction_type_period_week_five_3rd')) %></br>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s18" dir="ltr" colspan="7">
              <%= f.text_field name = 'content[construction_type_1st]',value:@document.content&.[]('construction_type_1st') %>
            </td>
            <td class="doc_19_s19" dir="ltr" colspan="8">
              <%= f.text_field name = 'content[construction_type_1st_period_1st]',value:@document.content&.[]('construction_type_1st_period_1st') %>
            </td>
            <td class="doc_19_s19" dir="ltr" colspan="8">
              <%= f.text_field name = 'content[construction_type_1st_period_2nd]',value:@document.content&.[]('construction_type_1st_period_2nd') %>
            </td>
            <td class="doc_19_s19" dir="ltr" colspan="8">
              <%= f.text_field name = 'content[construction_type_1st_period_3rd]',value:@document.content&.[]('construction_type_1st_period_3rd') %>
            </td>
            <td class="doc_19_s19" dir="ltr" colspan="9" rowspan="11">
              <%= f.text_area name = 'content[daily_safety_and_health_activity]',value:@document.content&.[]('daily_safety_and_health_activity'), size: "50x1"%>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s18" dir="ltr" colspan="7">
              <%= f.text_field name = 'content[construction_type_2nd]',value:@document.content&.[]('construction_type_2nd') %>
            </td>
            <td class="doc_19_s19" colspan="8">
              <%= f.text_field name = 'content[construction_type_2nd_period_1st]',value:@document.content&.[]('construction_type_2nd_period_1st') %>
            </td>
            <td class="doc_19_s19" colspan="8">
              <%= f.text_field name = 'content[construction_type_2nd_period_2nd]',value:@document.content&.[]('construction_type_2nd_period_2nd')%>
            </td>
            <td class="doc_19_s19" colspan="8">
              <%= f.text_field name = 'content[construction_type_2nd_period_3rd]',value:@document.content&.[]('construction_type_2nd_period_3rd') %>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s18" dir="ltr" colspan="7">
              <%= f.text_field name = 'content[construction_type_3rd]',value:@document.content&.[]('construction_type_3rd') %>
            </td>
            <td class="doc_19_s19" colspan="8">
              <%= f.text_field name = 'content[construction_type_3rd_period_1st]',value:@document.content&.[]('construction_type_3rd_period_1st') %>
            </td>
            <td class="doc_19_s19" colspan="8">
              <%= f.text_field name = 'content[construction_type_3rd_period_2nd]',value:@document.content&.[]('construction_type_3rd_period_2nd') %>
            </td>
            <td class="doc_19_s19" colspan="8">
              <%= f.text_field name = 'content[construction_type_3rd_period_3rd]',value:@document.content&.[]('construction_type_3rd_period_3rd') %>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s18" dir="ltr" colspan="7">
              <%= f.text_field name = 'content[construction_type_4th]',value:@document.content&.[]('construction_type_4th') %>
            </td>
            <td class="doc_19_s19" colspan="8">
              <%= f.text_field name = 'content[construction_type_4th_period_1st]',value:@document.content&.[]('construction_type_4th_period_1st')%>
            </td>
            <td class="doc_19_s19" colspan="8">
              <%= f.text_field name = 'content[construction_type_4th_period_2nd]',value:@document.content&.[]('construction_type_4th_period_2nd') %>
            </td>
            <td class="doc_19_s19" colspan="8">
              <%= f.text_field name = 'content[construction_type_4th_period_3rd]',value:@document.content&.[]('construction_type_4th_period_3rd') %>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s18" dir="ltr" colspan="7">
              <%= f.text_field name = 'content[construction_type_5th]',value:@document.content&.[]('construction_type_5th') %>
            </td>
            <td class="doc_19_s19" colspan="8">
              <%= f.text_field name = 'content[construction_type_5th_period_1st]',value:@document.content&.[]('construction_type_5th_period_1st') %>
            </td>
            <td class="doc_19_s19" colspan="8">
              <%= f.text_field name = 'content[construction_type_5th_period_2nd]',value:@document.content&.[]('construction_type_5th_period_2nd') %>
            </td>
            <td class="doc_19_s19" colspan="8">
              <%= f.text_field name = 'content[construction_type_5th_period_3rd]',value:@document.content&.[]('construction_type_5th_period_3rd') %>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s24" dir="ltr" colspan="31">資機材・保護具・資格の区分／その種類</td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s25"></td>
            <td class="doc_19_s26"></td>
            <td class="doc_19_s27" dir="ltr" colspan="5">主な使用機械設備</td>
            <td class="doc_19_s28"></td>
            <td class="doc_19_s29" dir="ltr" colspan="24">
              <%= f.text_field name = 'content[main_machine_equipment]',value:@document.content&.[]('main_machine_equipment'), size: "80x1" %>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s25"></td>
            <td class="doc_19_s26"></td>
            <td class="doc_19_s27" dir="ltr" colspan="5">主な使用機器・工具</td>
            <td class="doc_19_s28"></td>
            <td class="doc_19_s29" dir="ltr" colspan="24">
              <%= f.text_field name = 'content[main_tool]',value:@document.content&.[]('main_tool'), size: "80x1" %>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s25"></td>
            <td class="doc_19_s26"></td>
            <td class="doc_19_s27" dir="ltr" colspan="5">主な使用資材枠</td>
            <td class="doc_19_s28"></td>
            <td class="doc_19_s29" dir="ltr" colspan="24">
              <%= f.text_field name = 'content[main_material]',value:@document.content&.[]('main_material'), size: "80x1" %>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s25"></td>
            <td class="doc_19_s26"></td>
            <td class="doc_19_s27" dir="ltr" colspan="5">使用保護具</td>
            <td class="doc_19_s28"></td>
            <td class="doc_19_s29" dir="ltr" colspan="24">
              <%= f.text_field name = 'content[protective_equipment]',value:@document.content&.[]('protective_equipment'), size: "80x1" %>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5"></td>
            <td class="doc_19_s1"></td>
            <td class="doc_19_s27" dir="ltr" colspan="5">有資格者・配置予定者</td>
            <td class="doc_19_s31"></td>
            <td class="doc_19_s29" dir="ltr" colspan="24">
              <%= f.text_field name = 'content[qualified_staff]',value:@document.content&.[]('qualified_staff'), size: "80x1" %>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s15" dir="ltr"></td>
            <td class="doc_19_s24" dir="ltr" colspan="16">１．危険性又は有害性の特定</td>
            <td class="doc_19_s24" dir="ltr" colspan="8">２．リスクの見積り</td>
            <td class="doc_19_s24" dir="ltr" colspan="16">３．リスク低減措置内容の検討</td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s25" dir="ltr"></td>
            <td class="doc_19_s31" dir="ltr" colspan="7" rowspan="2">作業区分</td>
            <td class="doc_19_s31" dir="ltr" colspan="9" rowspan="2">予測される災害（危険性又は有害性）</td>
            <td class="doc_19_s31" dir="ltr" colspan="2" rowspan="2">可能性<br> (度合)</td>
            <td class="doc_19_s31" dir="ltr" colspan="2" rowspan="2">重大性<br> (重篤度)</td>
            <td class="doc_19_s31" dir="ltr" colspan="2" rowspan="2">見積り</td>
            <td class="doc_19_s31" dir="ltr" colspan="2" rowspan="2">リスク<br> レベル</td>
            <td class="doc_19_s31" dir="ltr" colspan="16" rowspan="2">リスク低減措置</td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s18" dir="ltr" colspan="7" rowspan="4">
              <%= f.text_field name = 'content[work_classification_1st]',value:@document.content&.[]('work_classification_1st'), size: "40x1" %>
            </td>
            <td class="doc_19_s32" dir="ltr" colspan="9" rowspan="2">
              <%= f.text_field name = 'content[predicted_disaster_1st]',value:@document.content&.[]('predicted_disaster_1st'), size: "40x1" %>
            </td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2">
              <%= f.radio_button name = 'content[risk_possibility]', :low %>
              <%= f.label :risk_possibility_1st, "１.ほとんどない", {value: :low, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_possibility]', :middle %>
              <%= f.label :risk_possibility_1st, "２.可能性がある", {value: :middle, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_possibility]', :high %>
              <%= f.label :risk_possibility_1st, "３.極めて高い", {value: :high, style: "display: inline-block;"} %>
            </td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2">
              <%= f.radio_button name = 'content[risk_seriousness]', :low %>
              <%= f.label :risk_seriousness_1st, "１.軽微", {value: :low, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_seriousness]', :middle %>
              <%= f.label :risk_seriousness_1st, "２.重大", {value: :middle, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_seriousness]', :high %>
              <%= f.label :risk_seriousness_1st, "３.極めて重大", {value: :high, style: "display: inline-block;"} %>
            </td>
            <td class="doc_19_s17" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s17" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s18" dir="ltr" colspan="16" rowspan="2">
              <%= f.text_area name = 'content[risk_reduction_measures_1st]',value:@document.content&.[]('risk_reduction_measures_1st'), size: "90x5"%>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s34" dir="ltr" colspan="9" rowspan="2">
              <%= f.text_field name = 'content[predicted_disaster_2nd]',value:@document.content&.[]('predicted_disaster_2nd'), size: "40x1" %>
            </td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2">
              <%= f.radio_button name = 'content[risk_possibility]', :low %>
              <%= f.label :risk_possibility_2nd, "１.ほとんどない", {value: :low, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_possibility]', :middle %>
              <%= f.label :risk_possibility_2nd, "２.可能性がある", {value: :middle, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_possibility]', :high %>
              <%= f.label :risk_possibility_2nd, "３.極めて高い", {value: :high, style: "display: inline-block;"} %>
            </td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2">
              <%= f.radio_button name = 'content[risk_seriousness]', :low %>
              <%= f.label :risk_seriousness_2nd, "１.軽微", {value: :low, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_seriousness]', :middle %>
              <%= f.label :risk_seriousness_2nd, "２.重大", {value: :middle, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_seriousness]', :high %>
              <%= f.label :risk_seriousness_2nd, "３.極めて重大", {value: :high, style: "display: inline-block;"} %>
            </td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s36" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s18" dir="ltr" colspan="16" rowspan="2">
               <%= f.text_area name = 'content[risk_reduction_measures_2nd]',value:@document.content&.[]('risk_reduction_measures_2nd'), size: "90x5"%>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s35" dir="ltr" colspan="7" rowspan="6">
              <%= f.text_field name = 'content[work_classification_2nd]',value:@document.content&.[]('work_classification_2nd'), size: "40x1" %>
            </td>
            <td class="doc_19_s34" dir="ltr" colspan="9" rowspan="2">
              <%= f.text_field name = 'content[predicted_disaster_3rd]',value:@document.content&.[]('predicted_disaster_3rd'), size: "40x1" %>
            </td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2">
              <%= f.radio_button name = 'content[risk_possibility]', :low %>
              <%= f.label :risk_possibility_3rd, "１.ほとんどない", {value: :low, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_possibility]', :middle %>
              <%= f.label :risk_possibility_3rd, "２.可能性がある", {value: :middle, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_possibility]', :high %>
              <%= f.label :risk_possibility_2nd, "３.極めて高い", {value: :high, style: "display: inline-block;"} %>
            </td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2">
              <%= f.radio_button name = 'content[risk_seriousness]', :low %>
              <%= f.label :risk_seriousness_3rd, "１.軽微", {value: :low, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_seriousness]', :middle %>
              <%= f.label :risk_seriousness_3rd, "２.重大", {value: :middle, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_seriousness]', :high %>
              <%= f.label :risk_seriousness_3rd, "３.極めて重大", {value: :high, style: "display: inline-block;"} %>
            </td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s36" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s18" dir="ltr" colspan="16" rowspan="2">
              <%= f.text_area name = 'content[risk_reduction_measures_3rd]',value:@document.content&.[]('risk_reduction_measures_3rd'), size: "90x5"%>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s34" dir="ltr" colspan="9" rowspan="2">
              <%= f.text_field name = 'content[work_classification_3rd]',value:@document.content&.[]('work_classification_3rd'), size: "40x1" %>
            </td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2">
              <%= f.radio_button name = 'content[risk_possibility]', :low %>
              <%= f.label :risk_possibility_4th, "１.ほとんどない", {value: :low, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_possibility]', :middle %>
              <%= f.label :risk_possibility_4th, "２.可能性がある", {value: :middle, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_possibility]', :high %>
              <%= f.label :risk_possibility_4th, "３.極めて高い", {value: :high, style: "display: inline-block;"} %>
            </td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2">
              <%= f.radio_button name = 'content[risk_seriousness]', :low %>
              <%= f.label :risk_seriousness_4th, "１.軽微", {value: :low, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_seriousness]', :middle %>
              <%= f.label :risk_seriousness_4th, "２.重大", {value: :middle, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_seriousness]', :high %>
              <%= f.label :risk_seriousness_4th, "３.極めて重大", {value: :high, style: "display: inline-block;"} %>
            </td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s36" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s18" dir="ltr" colspan="16" rowspan="2">
              <%= f.text_area name = 'content[risk_reduction_measures_4th]',value:@document.content&.[]('risk_reduction_measures_4th'), size: "90x5"%>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s34" dir="ltr" colspan="9" rowspan="2">
              <%= f.text_field name = 'content[work_classification_4th]',value:@document.content&.[]('work_classification_4th'), size: "40x1" %>
            </td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2">
              <%= f.radio_button name = 'content[risk_possibility]', :low %>
              <%= f.label :risk_possibility_5th, "１.ほとんどない", {value: :low, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_possibility]', :middle %>
              <%= f.label :risk_possibility_5th, "２.可能性がある", {value: :middle, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_possibility]', :high %>
              <%= f.label :risk_possibility_5th, "３.極めて高い", {value: :high, style: "display: inline-block;"} %>
            </td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2">
              <%= f.radio_button name = 'content[risk_seriousness]', :low %>
              <%= f.label :risk_seriousness_5th, "１.軽微", {value: :low, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_seriousness]', :middle %>
              <%= f.label :risk_seriousness_5th, "２.重大", {value: :middle, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_seriousness]', :high %>
              <%= f.label :risk_seriousness_5th, "３.極めて重大", {value: :high, style: "display: inline-block;"} %>
            </td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s36" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s18" dir="ltr" colspan="16" rowspan="2">
              <%= f.text_area name = 'content[risk_reduction_measures_5th]',value:@document.content&.[]('risk_reduction_measures_5th'), size: "90x5"%>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s35" dir="ltr" colspan="7" rowspan="8">
              <%= f.text_field name = 'content[work_classification_5th]',value:@document.content&.[]('work_classification_5th'), size: "40x1" %>
            </td>
            <td class="doc_19_s34" dir="ltr" colspan="9" rowspan="2">
              <%= f.text_field name = 'content[work_classification_6th]',value:@document.content&.[]('work_classification_6th'), size: "40x1" %>
            </td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2">
              <%= f.radio_button name = 'content[risk_possibility]', :low %>
              <%= f.label :risk_possibility_6th, "１.ほとんどない", {value: :low, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_possibility]', :middle %>
              <%= f.label :risk_possibility_6th, "２.可能性がある", {value: :middle, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_possibility]', :high %>
              <%= f.label :risk_possibility_6th, "３.極めて高い", {value: :high, style: "display: inline-block;"} %>
            </td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2">
              <%= f.radio_button name = 'content[risk_seriousness]', :low %>
              <%= f.label :risk_seriousness_6th, "１.軽微", {value: :low, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_seriousness]', :middle %>
              <%= f.label :risk_seriousness_6th, "２.重大", {value: :middle, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_seriousness]', :high %>
              <%= f.label :risk_seriousness_6th, "３.極めて重大", {value: :high, style: "display: inline-block;"} %>
            </td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s36" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s18" dir="ltr" colspan="16" rowspan="2">
              <%= f.text_area name = 'content[risk_reduction_measures_6th]',value:@document.content&.[]('risk_reduction_measures_6th'), size: "90x5"%>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s34" dir="ltr" colspan="9" rowspan="2">
              <%= f.text_field name = 'content[work_classification_7th]', value:@document.content&.[]('work_classification_7th'), size: "40x1" %>
            </td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2">
              <%= f.radio_button name = 'content[risk_possibility]', :low %>
              <%= f.label :risk_possibility_7th, "１.ほとんどない", {value: :low, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_possibility]', :middle %>
              <%= f.label :risk_possibility_7th, "２.可能性がある", {value: :middle, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_possibility]', :high %>
              <%= f.label :risk_possibility_7th, "３.極めて高い", {value: :high, style: "display: inline-block;"} %>
            </td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2">
              <%= f.radio_button name = 'content[risk_seriousness]', :low %>
              <%= f.label :risk_seriousness_7th, "１.軽微", {value: :low, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_seriousness]', :middle %>
              <%= f.label :risk_seriousness_7th, "２.重大", {value: :middle, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_seriousness]', :high %>
              <%= f.label :risk_seriousness_7th, "３.極めて重大", {value: :high, style: "display: inline-block;"} %>
            </td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s36" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s18" dir="ltr" colspan="16" rowspan="2">
              <%= f.text_area name = 'content[risk_reduction_measures_7th]',value:@document.content&.[]('risk_reduction_measures_7th'), size: "90x5"%>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s34" dir="ltr" colspan="9" rowspan="4">
              <%= f.text_field name = 'content[work_classification_8th]',value:@document.content&.[]('work_classification_8th'), size: "40x1" %>
            </td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="4">
              <%= f.radio_button name = 'content[risk_possibility]', :low %>
              <%= f.label :risk_possibility_8th, "１.ほとんどない", {value: :low, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_possibility]', :middle %>
              <%= f.label :risk_possibility_8th, "２.可能性がある", {value: :middle, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_possibility]', :high %>
              <%= f.label :risk_possibility_8th, "３.極めて高い", {value: :high, style: "display: inline-block;"} %>
            </td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="4">
              <%= f.radio_button name = 'content[risk_seriousness]', :low %>
              <%= f.label :risk_seriousness_8th, "１.軽微", {value: :low, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_seriousness]', :middle %>
              <%= f.label :risk_seriousness_8th, "２.重大", {value: :middle, style: "display: inline-block;"} %></br>
              <%= f.radio_button name = 'content[risk_seriousness]', :high %>
              <%= f.label :risk_seriousness_8th, "３.極めて重大", {value: :high, style: "display: inline-block;"} %>
            </td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="4"></td>
            <td class="doc_19_s36" dir="ltr" colspan="2" rowspan="4"></td>
            <td class="doc_19_s18" dir="ltr" colspan="16" rowspan="4">
              <%= f.text_area name = 'content[risk_reduction_measures_8th]',value:@document.content&.[]('risk_reduction_measures_8th'), size: "90x5"%>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s3"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s6" dir="ltr" colspan="8">職 名</td>
            <td class="doc_19_s6" dir="ltr" colspan="10">氏 名</td>
            <td class="doc_19_s5"></td>
            <td class="doc_19_s6" dir="ltr" colspan="21">再下請会社の関係者の職名・氏名・会社名等</td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s25" dir="ltr"></td>
            <td class="doc_19_s31" dir="ltr" rowspan="3">店<br>社</td>
            <td class="doc_19_s26"></td>
            <td class="doc_19_s27" dir="ltr" colspan="5">安全衛生担当責任者</td>
            <td class="doc_19_s31"></td>
            <td class="doc_19_s29" dir="ltr" colspan="10">
              <%= @order.safety_officer_name %>
            </td>
            <td class="doc_19_s15"></td>
            <td class="doc_19_s31" dir="ltr" colspan="5">職 名</td>
            <td class="doc_19_s31" dir="ltr" colspan="5">氏 名</td>
            <td class="doc_19_s31" dir="ltr" colspan="11">再 下 請 会 社 名</td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s25" dir="ltr"></td>
            <td class="doc_19_s26"></td>
            <td class="doc_19_s27" dir="ltr" colspan="5">工事担当責任者</td>
            <td class="doc_19_s31"></td>
            <td class="doc_19_s29" dir="ltr" colspan="10">
              <%= f.select name = 'content[construction_manager]',
                      (@workers.map { |worker|worker.name }),
                      { include_blank: "選択して下さい"}
              %>
            </td>
            <td class="doc_19_s15"></td>
            <td class="doc_19_s17" dir="ltr" colspan="5">
              <%= f.text_field name = 'content[subcontractor_construction_workers_position_1st]', size: "30x1" %>
            </td>
            <td class="doc_19_s17" dir="ltr" colspan="5">
               <%= f.select name = 'content[subcontractor_construction_workers_name_1st]',
                      (@sub_workers[0].map { |sub_worker|sub_worker.name }),
                      { include_blank: "選択して下さい"}
               %>
            </td>
            <td class="doc_19_s16" dir="ltr"><a target="_blank" href="#rangeid=150871509">19-<br>040</a></td>
            <td class="doc_19_s27" dir="ltr">次</td>
            <td class="doc_19_s7" dir="ltr" colspan="9">
              <%= f.text_field name = 'content[subcontractor_company_name_1st]' %>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s25" dir="ltr"></td>
            <td class="doc_19_s37" colspan="7"></td>
            <td class="doc_19_s37" colspan="10"></td>
            <td class="doc_19_s15"></td>
            <td class="doc_19_s17" colspan="5">
              <%= f.text_field name = 'content[subcontractor_construction_workers_position_2nd]', size: "30x1" %>
            </td>
            <td class="doc_19_s17" colspan="5">
              <%= f.select name = 'content[subcontractor_construction_workers_name_2nd]',
                      (@sub_workers[0].map { |sub_worker|sub_worker.name }),
                      { include_blank: "選択して下さい"}
              %>
            </td>
            <td class="doc_19_s38"></td>
            <td class="doc_19_s27" dir="ltr">次</td>
            <td class="doc_19_s7" dir="ltr" colspan="9">
              <%= f.text_field name = 'content[subcontractor_company_name_2nd]' %>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s25" dir="ltr"></td>
            <td class="doc_19_s31" dir="ltr" rowspan="4">事<br>業<br>所</td>
            <td class="doc_19_s26"></td>
            <td class="doc_19_s27" dir="ltr" colspan="5">現 場 代 理 人</td>
            <td class="doc_19_s31"></td>
            <td class="doc_19_s29" dir="ltr" colspan="10">
              <%= @order.site_agent_name %></td>
            <td class="doc_19_s15"></td>
            <td class="doc_19_s17" colspan="5">
              <%= f.text_field name = 'content[subcontractor_construction_workers_position_3rd]', size: "30x1" %>
            </td>
            <td class="doc_19_s17" colspan="5">
              <%= f.select name = 'content[subcontractor_construction_workers_name_3rd]',
                      (@sub_workers[0].map { |sub_worker|sub_worker.name }),
                      { include_blank: "選択して下さい"}
               %>
            </td>
            <td class="doc_19_s38"></td>
            <td class="doc_19_s27" dir="ltr">次</td>
            <td class="doc_19_s7" dir="ltr" colspan="9">
              <%= f.text_field name = 'content[subcontractor_company_name_3rd]' %>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s25" dir="ltr"></td>
            <td class="doc_19_s26"></td>
            <td class="doc_19_s27" dir="ltr" colspan="5">安全衛生責任者</td>
            <td class="doc_19_s31"></td>
            <td class="doc_19_s29" dir="ltr" colspan="10">
              <%= @order.general_safety_responsible_person_name %>
            </td>
            <td class="doc_19_s15"></td>
            <td class="doc_19_s17" colspan="5">
              <%= f.text_field name = 'content[subcontractor_construction_workers_position_4th]', size: "30x1" %>
            </td>
            <td class="doc_19_s17" colspan="5">
              <%= f.select name = 'content[subcontractor_construction_workers_name_4th]',
                      (@sub_workers[0].map { |sub_worker|sub_worker.name }),
                      { include_blank: "選択して下さい"}
               %>
            </td>
            <td class="doc_19_s38"></td>
            <td class="doc_19_s27" dir="ltr">次</td>
            <td class="doc_19_s7" dir="ltr" colspan="9">
              <%= f.text_field name = 'content[subcontractor_company_name_4th]' %>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s25" dir="ltr"></td>
            <td class="doc_19_s26"></td>
            <td class="doc_19_s27" dir="ltr" colspan="5">職 長</td>
            <td class="doc_19_s31"></td>
            <td class="doc_19_s29" dir="ltr" colspan="10">
              <%= f.select name = 'content[safety_and_health_manager]',
                      (@workers.map { |worker|worker.name }),
                      { include_blank: "選択して下さい"}
              %>
            </td>
            <td class="doc_19_s15"></td>
            <td class="doc_19_s17" colspan="5">
              <%= f.text_field name = 'content[subcontractor_construction_workers_position_5th]', size: "30x1" %>
            </td>
            <td class="doc_19_s17" colspan="5">
              <%= f.select name = 'content[subcontractor_construction_workers_name_5th]',
                      (@sub_workers[0].map { |sub_worker|sub_worker.name }),
                      { include_blank: "選択して下さい"}
               %>
            </td>
            <td class="doc_19_s38"></td>
            <td class="doc_19_s27" dir="ltr">次</td>
            <td class="doc_19_s7" dir="ltr" colspan="9">
              <%= f.text_field name = 'content[subcontractor_company_name_5th]' %>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s25" dir="ltr"></td>
            <td class="doc_19_s37" colspan="7"></td>
            <td class="doc_19_s37" colspan="10"></td>
            <td class="doc_19_s15"></td>
            <td class="doc_19_s17" colspan="5">
              <%= f.text_field name = 'content[subcontractor_construction_workers_position_6th]', size: "30x1" %>
            </td>
            <td class="doc_19_s17" colspan="5">
              <%= f.select name = 'content[subcontractor_construction_workers_name_6th]',
                      (@sub_workers[0].map { |sub_worker|sub_worker.name }),
                      { include_blank: "選択して下さい"}
               %>
            </td>
            <td class="doc_19_s38"></td>
            <td class="doc_19_s27" dir="ltr">次</td>
            <td class="doc_19_s7" dir="ltr" colspan="9">
              <%= f.text_field name = 'content[subcontractor_company_name_6th]' %>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s3"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s39"></td>
            <td class="doc_19_s40" colspan="10"></td>
            <td class="doc_19_s1" dir="ltr" colspan="20">元請工事業者提出書類一覧</td>
            <td class="doc_19_s24" dir="ltr" colspan="10">注） ▢は、レ点でチェック。</td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s39"></td>
            <td class="doc_19_s41" dir="ltr">
              <%= f.check_box name = 'content[subcontracting_notice]' %>
            </td>
            <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
            </td>
            <td class="doc_19_s43 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:58px;left:-1px">再下請負通知書　</div>
            </td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s41" dir="ltr">
              <%= f.check_box name = 'content[subcontractor_organization_chart]' %>
            </td>
            <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
            </td>
            <td class="doc_19_s43 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:58px;left:-1px">下請業者編成表</div>
            </td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s41" dir="ltr">
              <%= f.check_box name = 'content[worker_list]' %>
            </td>
            <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
            </td>
            <td class="doc_19_s27" dir="ltr">作業員名簿</td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s41" dir="ltr">
              <%= f.check_box name = 'content[carry_on_machine]' %>
            </td>
            <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
            </td>
            <td class="doc_19_s27" dir="ltr" colspan="2">持込機械等（</td>
            <td class="doc_19_s40">
               <%= f.text_field name = 'content[use_notification]' , size: "12x1"%>
            </td>
            <td class="doc_19_s45" dir="ltr" colspan="2"></td>
            <td class="doc_19_s27" dir="ltr">）使用届</td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s39"></td>
            <td class="doc_19_s41" dir="ltr">
              <%= f.check_box name = 'content[use_notification_for_mobile_crane]' %>
            </td>
            <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
            </td>
            <td class="doc_19_s43 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:118px;left:-1px">持込機械等（移動式クレーン）使用届</div>
            </td>
            <td class="doc_19_s46" dir="ltr"></td>
            <td class="doc_19_s46" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s41" dir="ltr">
              <%= f.check_box name = 'content[use_notification_for_vehicle_construction_machine]' %>
            </td>
            <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
            </td>
            <td class="doc_19_s43 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:118px;left:-1px">持込機械等（車両系建設機械）使用届</div>
            </td>
            <td class="doc_19_s46" dir="ltr"></td>
            <td class="doc_19_s46" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s41" dir="ltr">
              <%= f.check_box name = 'content[use_notification_for_use_notification_for_electric_tool]' %>
            </td>
            <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
            </td>
            <td class="doc_19_s43 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:88px;left:-1px">持込機械等（電動工具）使用届</div>
            </td>
            <td class="doc_19_s46" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s41" dir="ltr">
              <%= f.check_box name = 'content[use_notification_for_electric_welder]' %>
            </td>
            <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
            </td>
            <td class="doc_19_s43 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:88px;left:-1px">持込機械等（電気溶接機）使用届</div>
            </td>
            <td class="doc_19_s46" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s39"></td>
            <td class="doc_19_s41" dir="ltr">
              <%= f.check_box name = 'content[use_notification_for_construction_vehicle]' %>
            </td>
            <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
            </td>
            <td class="doc_19_s27" dir="ltr">工事用車両届</td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s41" dir="ltr">
              <%= f.check_box name = 'content[use_notification_for_organic_solvent_and_specific_chemical_substance]' %>
            </td>
            <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
            </td>
            <td class="doc_19_s43 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:118px;left:-1px">有機溶剤・特定化学物質等持込使用届</div>
            </td>
            <td class="doc_19_s46" dir="ltr"></td>
            <td class="doc_19_s46" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s41" dir="ltr">
              <%= f.check_box name = 'content[use_notification_for_fire]' %>
            </td>
            <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
            </td>
            <td class="doc_19_s27" dir="ltr">火気使用届</td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s41" dir="ltr">
              <%= f.check_box name = 'content[use_notification_for_others_1st]' %>
            </td>
            <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
            </td>
            <td class="doc_19_s47" dir="ltr" colspan="7">
              <%= f.text_field name = 'content[use_notification_name_for_others_1st]' , size: "12x1"%>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s39"></td>
            <td class="doc_19_s41" dir="ltr">
              <%= f.check_box name = 'content[sending_education_report]' %>
            </td>
            <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
            </td>
            <td class="doc_19_s43 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:58px;left:-1px">送出し教育実施報告書</div>
            </td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s41" dir="ltr">
              <%= f.check_box name = 'content[new_entry_education_report]' %>
            </td>
            <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
            </td>
            <td class="doc_19_s43 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:88px;left:-1px">新規入場時教育実施報告書</div>
            </td>
            <td class="doc_19_s46" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s41" dir="ltr">
              <%= f.check_box name = 'content[use_notification_for_others_2nd]' %>
            </td>
            <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
            </td>
            <td class="doc_19_s47" dir="ltr" colspan="7">
              <%= f.text_field name = 'content[use_notification_name_for_others_2nd]' , size: "12x1"%>
            </td>
            <td class="doc_19_s41" dir="ltr">
              <%= f.check_box name = 'content[use_notification_for_others_3rd]' %>
            </td>
            <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
            </td>
            <td class="doc_19_s47" dir="ltr" colspan="7">
              <%= f.text_field name = 'content[use_notification_name_for_others_3rd]' , size: "12x1"%>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s39"></td>
            <td class="doc_19_s41" dir="ltr">
              <%= f.check_box name = 'content[work_plan_1st]' %>
            </td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
            </td>
            <td class="doc_19_s27" dir="ltr">（</td>
            <td class="doc_19_s48" dir="ltr" colspan="4">
              <%= f.text_field name = 'content[work_plan_name_1st]' , size: "12x1"%>
            </td>
            <td class="doc_19_s49" dir="ltr" colspan="3">）作業計画書</td>
            <td class="doc_19_s41" dir="ltr">
              <%= f.check_box name = 'content[work_plan_2nd]' %>
            </td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
            </td>
            <td class="doc_19_s27" dir="ltr">（</td>
            <td class="doc_19_s50" dir="ltr" colspan="4">
              <%= f.text_field name = 'content[work_plan_name_2nd]' , size: "12x1"%>
            </td>
            <td class="doc_19_s49" dir="ltr" colspan="3">）作業計画書</td>
            <td class="doc_19_s41" dir="ltr">
              <%= f.check_box name = 'content[work_plan_3rd]' %>
            </td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
            </td>
            <td class="doc_19_s27" dir="ltr">（</td>
            <td class="doc_19_s50" dir="ltr" colspan="4">
              <%= f.text_field name = 'content[work_plan_name_3rd]' , size: "12x1"%>
            </td>
            <td class="doc_19_s49" dir="ltr" colspan="3">）作業計画書</td>
            <td class="doc_19_s41" dir="ltr">
              <%= f.check_box name = 'content[work_plan_4th]' %>
            </td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
            </td>
            <td class="doc_19_s27" dir="ltr">（</td>
            <td class="doc_19_s50" dir="ltr" colspan="4">
              <%= f.text_field name = 'content[work_plan_name_4th]' , size: "12x1"%>
            </td>
            <td class="doc_19_s49" dir="ltr" colspan="3">）作業計画書</td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s39"></td>
            <td class="doc_19_s41" dir="ltr">
              <%= f.check_box name = 'content[safety_and_health_plan]' %>
            </td>
            <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
            </td>
            <td class="doc_19_s43 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:58px;left:-1px">安全衛生計画書</div>
            </td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s41" dir="ltr">
              <%= f.check_box name = 'content[use_notification_for_others_4th]' %>
            </td>
            <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
            </td>
            <td class="doc_19_s47" dir="ltr" colspan="7">
              <%= f.text_field name = 'content[use_notification_name_for_others_4th]' , size: "12x1"%>
            </td>
            <td class="doc_19_s41" dir="ltr">
              <%= f.check_box name = 'content[use_notification_for_others_5th]' %>
            </td>
            <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
            </td>
            <td class="doc_19_s47" dir="ltr" colspan="7">
              <%= f.text_field name = 'content[use_notification_name_for_others_5th]' , size: "12x1"%>
            </td>
            <td class="doc_19_s41" dir="ltr">
              <%= f.check_box name = 'content[use_notification_for_others_6th]' %>
            </td>
            <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
            </td>
            <td class="doc_19_s47" dir="ltr" colspan="7">
              <%= f.text_field name = 'content[use_notification_name_for_others_6th]' , size: "12x1"%>
            </td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
          </tr>
        </tbody>
      </table>
      <div style="text-align: center">
        <%= f.submit %>
      </div>
    <%end%>
  </div>
</div>
