<!-- (19)全建統一様式第6号(工事安全衛生計画書) -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<body style="font-family: Noto Sans JP, Hiragino Kaku Gothic ProN, Meiryo, sans-serif;">
  <div id="doc_19_pdf_sheet">
    <div class="ritz grid-container" dir="ltr">
      <table class="waffle" cellspacing="0" cellpadding="0">
       <tbody>
        <tr style="height: 24px">
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s1" dir="ltr"></td>
          <td class="doc_19_s1" dir="ltr"></td>
          <td class="doc_19_s1" dir="ltr"></td>
          <td class="doc_19_s1" dir="ltr"></td>
          <td class="doc_19_s1" dir="ltr"></td>
          <td class="doc_19_s1" dir="ltr"></td>
          <td class="doc_19_s1" dir="ltr"></td>
          <td class="doc_19_s1" dir="ltr"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s0"></td>
          <td class="doc_19_s0"></td>
          <td class="doc_19_s1" dir="ltr"></td>
          <td class="doc_19_s1" dir="ltr"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s6" dir="ltr" colspan="8" rowspan="2">全建統一様式第６号</td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s0"></td>
          <td class="doc_19_s5"></td>
          <td class="doc_19_s6" dir="ltr" colspan="2" rowspan="2">元 請<br> 確認欄</td>
          <td class="doc_19_s7" dir="ltr" colspan="9" rowspan="2"><%= @document.content&.[]('prime_contractor_confirmation')%></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s0"></td>
          <td class="doc_19_s5"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s2"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s0"></td>
          <td class="doc_19_s0"></td>
          <td class="doc_19_s0"></td>
          <td class="doc_19_s0"></td>
          <td class="doc_19_s0"></td>
          <td class="doc_19_s0"></td>
          <td class="doc_19_s0"></td>
          <td class="doc_19_s0"></td>
          <td class="doc_19_s0"></td>
          <td class="doc_19_s0"></td>
          <td class="doc_19_s0"></td>
          <td class="doc_19_s0"></td>
          <td class="doc_19_s0"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s8" dir="ltr"></td>
          <td class="doc_19_s8" dir="ltr" colspan="4" rowspan="2">事業所の名称</td>
          <td class="doc_19_s9" dir="ltr" colspan="9" rowspan="2"><%= document_site_info.site_name %></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s8" dir="ltr" colspan="4" rowspan="2">会 社 名</td>
          <td class="doc_19_s9" dir="ltr" colspan="10" rowspan="2"><%=document_subcon_info_for_19th.business.name%></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s8" dir="ltr"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s3" dir="ltr"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s8" dir="ltr"></td>
          <td class="doc_19_s8" dir="ltr"></td>
          <td class="doc_19_s8" dir="ltr"></td>
          <td class="doc_19_s8" dir="ltr"></td>
          <td class="doc_19_s8" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s8" dir="ltr"></td>
          <td class="doc_19_s8" dir="ltr" colspan="4" rowspan="2">所長名</td>
          <td class="doc_19_s9" dir="ltr" colspan="9" rowspan="2"><%= document_site_info.site_agent_name %></td>
          <td class="doc_19_s10" dir="ltr" rowspan="2">殿</td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s0" dir="ltr" colspan="4">現場代理人</td>
          <td class="doc_19_s9" dir="ltr" colspan="8" rowspan="2"><%= document_site_info.site_agent_name %></td>
          <td class="doc_19_s11" dir="ltr" colspan="2" rowspan="2">㊞</td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s8" dir="ltr"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s0" dir="ltr" colspan="4">（現場責任者）</td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s12" dir="ltr"></td>
          <td class="doc_19_s8" dir="ltr"></td>
          <td class="doc_19_s8" dir="ltr"></td>
          <td class="doc_19_s8" dir="ltr"></td>
          <td class="doc_19_s8"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s0" dir="ltr"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s12" dir="ltr"></td>
          <td class="doc_19_s8" dir="ltr"></td>
          <td class="doc_19_s8" dir="ltr"></td>
          <td class="doc_19_s8" dir="ltr"></td>
          <td class="doc_19_s9" dir="ltr" colspan="8" rowspan="2"><%= @document.content&.[]('date_created') %></td>
          <td class="doc_19_s8" dir="ltr" colspan="2" rowspan="2">作成</td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s2"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s0"></td>
          <td class="doc_19_s0"></td>
          <td class="doc_19_s0"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s13" dir="ltr"></td>
          <td class="doc_19_s13" dir="ltr" colspan="40" rowspan="2">工 事 安 全 衛 生 計 画 書</td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s13" dir="ltr"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s3"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s6" dir="ltr" colspan="7" rowspan="2">工事安全衛生方針</td>
          <td class="doc_19_s14" dir="ltr" colspan="33" rowspan="2"><%=@document.content&.[]('safety_and_health_construction_policy') %></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s3"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s6" dir="ltr" colspan="7" rowspan="2">工事安全衛生目標</td>
          <td class="doc_19_s14" dir="ltr" colspan="33" rowspan="2"><%=@document.content&.[]('safety_and_health_construction_objective')%></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s3"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s15" dir="ltr"></td>
          <td class="doc_19_s6" dir="ltr" colspan="7" rowspan="2">工　　種</td>
          <td class="doc_19_s6" dir="ltr" colspan="23">工 種 別 工 事 期 間</td>
          <td class="doc_19_s6" dir="ltr" colspan="10" rowspan="2">日常の安全衛生活動</td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s15" dir="ltr"></td>
          <td class="doc_19_s16" dir="ltr" colspan="1">
            <%= @document.content&.[]('construction_type_1st_period_month_1st')%>月
          </td>
          <td class="doc_19_s17" dir="ltr" colspan="5">
            <%= '1週' if @document.content&.[]('construction_type_period_week_one_1st') == '1'%>
            <%= '2週' if @document.content&.[]('construction_type_period_week_two_1st') == '1'%>
            <%= '3週' if @document.content&.[]('construction_type_period_week_three_1st') == '1'%>
            <%= '4週' if @document.content&.[]('construction_type_period_week_four_1st') == '1'%>
            <%= '5週' if @document.content&.[]('construction_type_period_week_five_1st') == '1'%>
          </td>
          <td class="doc_19_s16" dir="ltr" colspan="4">
            <%= @document.content&.[]('construction_type_1st_period_month_2nd')%>月
          </td>
          <td class="doc_19_s17" dir="ltr" colspan="5">
            <%= '1週' if @document.content&.[]('construction_type_period_week_one_2nd') == '1'%>
            <%= '2週' if @document.content&.[]('construction_type_period_week_two_2nd') == '1'%>
            <%= '3週' if @document.content&.[]('construction_type_period_week_three_2nd') == '1'%>
            <%= '4週' if @document.content&.[]('construction_type_period_week_four_2nd') == '1'%>
            <%= '5週' if @document.content&.[]('construction_type_period_week_five_2nd') == '1'%>
          </td>
          <td class="doc_19_s16" dir="ltr" colspan="3">
            <%= @document.content&.[]('construction_type_1st_period_month_3rd')%>月
          </td>
          <td class="doc_19_s17" dir="ltr" colspan="5">
            <%= '1週' if @document.content&.[]('construction_type_period_week_one_3rd') == '1'%>
            <%= '2週' if @document.content&.[]('construction_type_period_week_two_3rd') == '1'%>
            <%= '3週' if @document.content&.[]('construction_type_period_week_three_3rd') == '1'%>
            <%= '4週' if @document.content&.[]('construction_type_period_week_four_3rd') == '1'%>
            <%= '5週' if @document.content&.[]('construction_type_period_week_five_3rd') == '1'%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s18" dir="ltr" colspan="7">
            <%=@document.content&.[]('construction_type_1st')%>
          </td>
          <td class="doc_19_s18" dir="ltr" colspan="6">
            <%= @document.content&.[]('construction_type_1st_period_1st')%>
          </td>
          <td class="doc_19_s18" dir="ltr" colspan="9">
            <%=@document.content&.[]('construction_type_1st_period_2nd') %>
          </td>
          <td class="doc_19_s18" dir="ltr" colspan="8">
            <%=@document.content&.[]('construction_type_1st_period_3rd')%>
          </td>
          <td class="doc_19_s18" dir="ltr" colspan="10" rowspan="11">
            <%=@document.content&.[]('daily_safety_and_health_activity')%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s18" dir="ltr" colspan="7">
            <%=@document.content&.[]('construction_type_2nd')%>
          </td>
          <td class="doc_19_s18" colspan="6">
            <%=@document.content&.[]('construction_type_2nd_period_1st') %>
          </td>
          <td class="doc_19_s18" colspan="9">
            <%=@document.content&.[]('construction_type_2nd_period_2nd')%>
          </td>
          <td class="doc_19_s18" colspan="8">
            <%=@document.content&.[]('construction_type_2nd_period_3rd')%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s18" dir="ltr" colspan="7">
            <%=@document.content&.[]('construction_type_3rd')%>
          </td>
          <td class="doc_19_s18" colspan="6">
            <%=@document.content&.[]('construction_type_3rd_period_1st')%>
          </td>
          <td class="doc_19_s18" colspan="9">
            <%=@document.content&.[]('construction_type_3rd_period_2nd')%>
          </td>
          <td class="doc_19_s18" colspan="8">
            <%=@document.content&.[]('construction_type_3rd_period_3rd')%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s18" dir="ltr" colspan="7">
            <%=@document.content&.[]('construction_type_4th')%>
          </td>
          <td class="doc_19_s18" colspan="6">
            <%=@document.content&.[]('construction_type_4th_period_1st')%>
          </td>
          <td class="doc_19_s18" colspan="9">
            <%=@document.content&.[]('construction_type_4th_period_2nd') %>
          </td>
          <td class="doc_19_s18" colspan="8">
            <%= @document.content&.[]('construction_type_4th_period_3rd')%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s18" dir="ltr" colspan="7">
            <%=@document.content&.[]('construction_type_5th')%>
          </td>
          <td class="doc_19_s18" colspan="6">
            <%=@document.content&.[]('construction_type_5th_period_1st')%>
          </td>
          <td class="doc_19_s18" colspan="9">
            <%=@document.content&.[]('construction_type_5th_period_2nd')%>
          </td>
          <td class="doc_19_s18" colspan="8">
            <%=@document.content&.[]('construction_type_5th_period_3rd')%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s24" dir="ltr" colspan="30">資機材・保護具・資格の区分／その種類</td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s25"></td>
          <td class="doc_19_s26"></td>
          <td class="doc_19_s27" dir="ltr" colspan="5">主な使用機械設備</td>
          <td class="doc_19_s28"></td>
          <td class="doc_19_s29" dir="ltr" colspan="23">
            <%=@document.content&.[]('main_machine_equipment')%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s25"></td>
          <td class="doc_19_s26"></td>
          <td class="doc_19_s27" dir="ltr" colspan="5">主な使用機器・工具</td>
          <td class="doc_19_s28"></td>
          <td class="doc_19_s29" dir="ltr" colspan="23">
            <%=@document.content&.[]('main_tool')%>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s25"></td>
          <td class="doc_19_s26"></td>
          <td class="doc_19_s27" dir="ltr" colspan="5">主な使用資材枠</td>
          <td class="doc_19_s28"></td>
          <td class="doc_19_s29" dir="ltr" colspan="23">
            <%=@document.content&.[]('main_material')%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s25"></td>
          <td class="doc_19_s26"></td>
          <td class="doc_19_s27" dir="ltr" colspan="5">使用保護具</td>
          <td class="doc_19_s28"></td>
          <td class="doc_19_s29" dir="ltr" colspan="23">
            <%=@document.content&.[]('protective_equipment')%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5"></td>
          <td class="doc_19_s1"></td>
          <td class="doc_19_s27" dir="ltr" colspan="5">有資格者・配置予定者</td>
          <td class="doc_19_s31"></td>
          <td class="doc_19_s29" dir="ltr" colspan="23">
            <%=@document.content&.[]('qualified_staff')%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s15" dir="ltr"></td>
          <td class="doc_19_s24" dir="ltr" colspan="16">１．危険性又は有害性の特定</td>
          <td class="doc_19_s24" dir="ltr" colspan="7">２．リスクの見積り</td>
          <td class="doc_19_s24" dir="ltr" colspan="17">３．リスク低減措置内容の検討</td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s25" dir="ltr"></td>
          <td class="doc_19_s31" dir="ltr" colspan="7" rowspan="2">作業区分</td>
          <td class="doc_19_s31" dir="ltr" colspan="9" rowspan="2">予測される災害（危険性又は有害性）</td>
          <td class="doc_19_s31" dir="ltr" colspan="2" rowspan="2">可能性<br> (度合)</td>
          <td class="doc_19_s31" dir="ltr" colspan="2" rowspan="2">重大性<br> (重篤度)</td>
          <td class="doc_19_s31" dir="ltr" colspan="2" rowspan="2">見積り</td>
          <td class="doc_19_s31" dir="ltr" colspan="1" rowspan="2">リスク<br> レベル</td>
          <td class="doc_19_s31" dir="ltr" colspan="17" rowspan="2">リスク低減措置</td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s18" dir="ltr" colspan="7" rowspan="4">
            <%=@document.content&.[]('work_classification_1st')%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="9" rowspan="2">
            <%=@document.content&.[]('predicted_disaster_1st')%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="2" rowspan="2">
            <%=risk_estimation_comment(@document.content&.[]('risk_possibility_1st'))%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="2" rowspan="2">
            <%=risk_seriousness_comment(@document.content&.[]('risk_seriousness_1st'))%>
          </td>
          <td class="doc_19_s17" dir="ltr" colspan="2" rowspan="2">
            <%=risk_estimation_level(@document.content&.[]('risk_possibility_1st'), @document.content&.[]('risk_seriousness_1st')) %>
          </td>
          <td class="doc_19_s17" dir="ltr" colspan="1" rowspan="2">
            <%=risk_seriousness_level(@document.content&.[]('risk_possibility_1st'), @document.content&.[]('risk_seriousness_1st')) %>
          </td>
          <td class="doc_19_s18" dir="ltr" colspan="17" rowspan="2">
            <%=@document.content&.[]('risk_reduction_measures_1st')%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr">
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="9" rowspan="2">
            <%=@document.content&.[]('predicted_disaster_2nd')%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="2" rowspan="2">
            <%=risk_estimation_comment(@document.content&.[]('risk_possibility_2nd'))%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="2" rowspan="2">
            <%=risk_seriousness_comment(@document.content&.[]('risk_seriousness_2nd'))%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="2" rowspan="2">
            <%=risk_estimation_level(@document.content&.[]('risk_possibility_2nd'), @document.content&.[]('risk_seriousness_2nd')) %>
          </td>
          <td class="doc_19_s17" dir="ltr" colspan="1" rowspan="2">
            <%=risk_seriousness_level(@document.content&.[]('risk_possibility_2nd'), @document.content&.[]('risk_seriousness_2nd')) %>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="17" rowspan="2">
            <%=@document.content&.[]('risk_reduction_measures_2nd')%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s2"></td>
         <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s18" dir="ltr" colspan="7" rowspan="6">
            <%=@document.content&.[]('work_classification_2nd')%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="9" rowspan="2">
            <%=@document.content&.[]('predicted_disaster_3rd')%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="2" rowspan="2">
            <%=risk_estimation_comment(@document.content&.[]('risk_possibility_3rd'))%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="2" rowspan="2">
            <%=risk_seriousness_comment(@document.content&.[]('risk_seriousness_3rd'))%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="2" rowspan="2">
            <%=risk_estimation_level(@document.content&.[]('risk_possibility_3rd'), @document.content&.[]('risk_seriousness_3rd')) %>
          </td>
          <td class="doc_19_s17" dir="ltr" colspan="1" rowspan="2">
            <%=risk_seriousness_level(@document.content&.[]('risk_possibility_3rd'), @document.content&.[]('risk_seriousness_3rd')) %>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="17" rowspan="2">
            <%=@document.content&.[]('risk_reduction_measures_3rd')%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s34" dir="ltr" colspan="9" rowspan="2">
            <%=@document.content&.[]('predicted_disaster_4th')%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="2" rowspan="2">
            <%=risk_estimation_comment(@document.content&.[]('risk_possibility_4th'))%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="2" rowspan="2">
            <%=risk_seriousness_comment(@document.content&.[]('risk_seriousness_4th'))%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="2" rowspan="2">
            <%=risk_estimation_level(@document.content&.[]('risk_possibility_4th'), @document.content&.[]('risk_seriousness_4th')) %>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="1" rowspan="2">
            <%=risk_seriousness_level(@document.content&.[]('risk_possibility_4th'), @document.content&.[]('risk_seriousness_4th')) %>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="17" rowspan="2">
            <%=@document.content&.[]('risk_reduction_measures_4th')%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s34" dir="ltr" colspan="9" rowspan="2">
            <%=@document.content&.[]('predicted_disaster_5th')%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="2" rowspan="2">
            <%=risk_estimation_comment(@document.content&.[]('risk_possibility_5th'))%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="2" rowspan="2">
            <%=risk_seriousness_comment(@document.content&.[]('risk_seriousness_5th'))%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="2" rowspan="2">
            <%=risk_estimation_level(@document.content&.[]('risk_possibility_5th'), @document.content&.[]('risk_seriousness_5th')) %>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="1" rowspan="2">
            <%=risk_seriousness_level(@document.content&.[]('risk_possibility_5th'), @document.content&.[]('risk_seriousness_5th')) %>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="17" rowspan="2">
            <%= @document.content&.[]('risk_reduction_measures_5th')%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s18" dir="ltr" colspan="7" rowspan="8">
            <%=@document.content&.[]('work_classification_3rd')%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="9" rowspan="2">
            <%=@document.content&.[]('predicted_disaster_6th')%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="2" rowspan="2">
            <%=risk_estimation_comment(@document.content&.[]('risk_possibility_6th'))%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="2" rowspan="2">
            <%=risk_seriousness_comment(@document.content&.[]('risk_seriousness_6th'))%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="2" rowspan="2">
            <%=risk_estimation_level(@document.content&.[]('risk_possibility_6th'), @document.content&.[]('risk_seriousness_6th')) %>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="1" rowspan="2">
            <%=risk_seriousness_level(@document.content&.[]('risk_possibility_6th'), @document.content&.[]('risk_seriousness_6th')) %>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="17" rowspan="2">
            <%=@document.content&.[]('risk_reduction_measures_6th')%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s34" dir="ltr" colspan="9" rowspan="2">
            <%=@document.content&.[]('predicted_disaster_7th')%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="2" rowspan="2">
            <%=risk_estimation_comment(@document.content&.[]('risk_possibility_7th'))%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="2" rowspan="2">
            <%=risk_seriousness_comment(@document.content&.[]('risk_seriousness_7th'))%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="2" rowspan="2">
            <%=risk_estimation_level(@document.content&.[]('risk_possibility_7th'), @document.content&.[]('risk_seriousness_7th')) %>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="1" rowspan="2">
            <%=risk_seriousness_level(@document.content&.[]('risk_possibility_7th'), @document.content&.[]('risk_seriousness_7th')) %>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="17" rowspan="2">
            <%=@document.content&.[]('risk_reduction_measures_7th')%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s34" dir="ltr" colspan="9" rowspan="4">
            <%=@document.content&.[]('predicted_disaster_8th')%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="2" rowspan="4">
            <%=risk_estimation_comment(@document.content&.[]('risk_possibility_8th'))%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="2" rowspan="4">
            <%=risk_seriousness_comment(@document.content&.[]('risk_seriousness_8th'))%>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="2" rowspan="4">
            <%=risk_estimation_level(@document.content&.[]('risk_possibility_8th'), @document.content&.[]('risk_seriousness_8th')) %>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="1" rowspan="4">
            <%=risk_seriousness_level(@document.content&.[]('risk_possibility_8th'), @document.content&.[]('risk_seriousness_8th')) %>
          </td>
          <td class="doc_19_s34" dir="ltr" colspan="17" rowspan="4">
            <%=@document.content&.[]('risk_reduction_measures_8th')%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s3"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s5" dir="ltr"></td>
          <td class="doc_19_s6" dir="ltr" colspan="8">職 名</td>
          <td class="doc_19_s6" dir="ltr" colspan="10">氏 名</td>
          <td class="doc_19_s5"></td>
          <td class="doc_19_s6" dir="ltr" colspan="21">再下請会社の関係者の職名・氏名・会社名等</td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s25" dir="ltr"></td>
          <td class="doc_19_s31" dir="ltr" rowspan="3">店<br>社</td>
          <td class="doc_19_s26"></td>
          <td class="doc_19_s27" dir="ltr" colspan="5">安全衛生担当責任者</td>
          <td class="doc_19_s31"></td>
          <td class="doc_19_s29" dir="ltr" colspan="10">
            <%= document_subcon_info_for_19th&.safety_officer_name %>
          </td>
          <td class="doc_19_s15"></td>
          <td class="doc_19_s31" dir="ltr" colspan="5">職 名</td>
          <td class="doc_19_s31" dir="ltr" colspan="6">氏 名</td>
          <td class="doc_19_s31" dir="ltr" colspan="10">再 下 請 会 社 名</td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s25" dir="ltr"></td>
          <td class="doc_19_s26"></td>
          <td class="doc_19_s27" dir="ltr" colspan="5">工事担当責任者</td>
          <td class="doc_19_s31"></td>
          <td class="doc_19_s29" dir="ltr" colspan="10">
            <%=document_subcon_info_for_19th&.construction_manager_name %>
          </td>
          <td class="doc_19_s15"></td>
          <td class="doc_19_s17" dir="ltr" colspan="5">
            <%=@document.content&.[]('subcontractor_construction_workers_position_1st')%>
          </td>
          <td class="doc_19_s17" dir="ltr" colspan="6">
            <%= worker(@document.content&.[]('subcontractor_construction_workers_name_1st'))%>
          </td>
          <td class="doc_19_s16" dir="ltr">
            <%=subcontractor_num(@document.content&.[]('subcontractor_construction_workers_name_1st'), @second_workers, @third_workers, @forth_workers)%>
          </td>
          <td class="doc_19_s27" dir="ltr">次</td>
          <td class="doc_19_s17" dir="ltr" colspan="8">
            <%= company_name(@document.content&.[]('subcontractor_construction_workers_name_1st'))%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s25" dir="ltr"></td>
          <td class="doc_19_s37" colspan="7"></td>
          <td class="doc_19_s37" colspan="10"></td>
          <td class="doc_19_s15"></td>
          <td class="doc_19_s17" colspan="5">
            <%=@document.content&.[]('subcontractor_construction_workers_position_2nd')%>
          </td>
          <td class="doc_19_s17" colspan="6">
            <%= worker(@document.content&.[]('subcontractor_construction_workers_name_2nd'))%>
          </td>
          <td class="doc_19_s38">
            <%=subcontractor_num(@document.content&.[]('subcontractor_construction_workers_name_2nd'), @second_workers, @third_workers, @forth_workers)%>
          </td>
          <td class="doc_19_s27" dir="ltr">次</td>
          <td class="doc_19_s17" dir="ltr" colspan="8">
            <%= company_name(@document.content&.[]('subcontractor_construction_workers_name_2nd'))%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s25" dir="ltr"></td>
          <td class="doc_19_s31" dir="ltr" rowspan="4">事<br>業<br>所</td>
          <td class="doc_19_s26"></td>
          <td class="doc_19_s27" dir="ltr" colspan="5">現 場 代 理 人</td>
          <td class="doc_19_s31"></td>
          <td class="doc_19_s29" dir="ltr" colspan="10">
            <%=document_subcon_info_for_19th&.site_agent_name%>
          </td>
          <td class="doc_19_s15"></td>
          <td class="doc_19_s17" colspan="5">
            <%=@document.content&.[]('subcontractor_construction_workers_position_3rd')%>
          </td>
          <td class="doc_19_s17" colspan="6">
            <%= worker(@document.content&.[]('subcontractor_construction_workers_name_3rd'))%>
          </td>
          <td class="doc_19_s38">
            <%=subcontractor_num(@document.content&.[]('subcontractor_construction_workers_name_3rd'), @second_workers, @third_workers, @forth_workers)%>
          </td>
          <td class="doc_19_s27" dir="ltr">次</td>
          <td class="doc_19_s17" dir="ltr" colspan="8">
            <%= company_name(@document.content&.[]('subcontractor_construction_workers_name_3rd'))%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s25" dir="ltr"></td>
          <td class="doc_19_s26"></td>
          <td class="doc_19_s27" dir="ltr" colspan="5">安全衛生責任者</td>
          <td class="doc_19_s31"></td>
          <td class="doc_19_s29" dir="ltr" colspan="10">
            <%= document_subcon_info_for_19th&.safety_manager_name %>
          </td>
          <td class="doc_19_s15"></td>
          <td class="doc_19_s17" colspan="5">
            <%=@document.content&.[]('subcontractor_construction_workers_position_4th')%>
          </td>
          <td class="doc_19_s17" colspan="6">
            <%= worker(@document.content&.[]('subcontractor_construction_workers_name_4th'))%>
          </td>
          <td class="doc_19_s38">
            <%=subcontractor_num(@document.content&.[]('subcontractor_construction_workers_name_4th'), @second_workers, @third_workers, @forth_workers)%>
          </td>
          <td class="doc_19_s27" dir="ltr">次</td>
          <td class="doc_19_s17" dir="ltr" colspan="8">
            <%= company_name(@document.content&.[]('subcontractor_construction_workers_name_4th'))%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s25" dir="ltr"></td>
          <td class="doc_19_s26"></td>
          <td class="doc_19_s27" dir="ltr" colspan="5">職 長</td>
          <td class="doc_19_s31"></td>
          <td class="doc_19_s29" dir="ltr" colspan="10">
            <%= document_subcon_info_for_19th&.foreman_name %>
          </td>
          <td class="doc_19_s15"></td>
          <td class="doc_19_s17" colspan="5">
            <%=@document.content&.[]('subcontractor_construction_workers_position_5th')%>
          </td>
          <td class="doc_19_s17" colspan="6">
            <%= worker(@document.content&.[]('subcontractor_construction_workers_name_5th'))%>
          </td>
          <td class="doc_19_s38">
            <%=subcontractor_num(@document.content&.[]('subcontractor_construction_workers_name_5th'), @second_workers, @third_workers, @forth_workers)%>
          </td>
          <td class="doc_19_s27" dir="ltr">次</td>
          <td class="doc_19_s17" dir="ltr" colspan="8">
            <%= company_name(@document.content&.[]('subcontractor_construction_workers_name_5th'))%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s25" dir="ltr"></td>
          <td class="doc_19_s37" colspan="7"></td>
          <td class="doc_19_s37" colspan="10"></td>
          <td class="doc_19_s15"></td>
          <td class="doc_19_s17" colspan="5">
            <%=@document.content&.[]('subcontractor_construction_workers_position_6th')%>
          </td>
          <td class="doc_19_s17" colspan="6">
            <%= worker(@document.content&.[]('subcontractor_construction_workers_name_6th'))%>
          </td>
          <td class="doc_19_s38">
            <%=subcontractor_num(@document.content&.[]('subcontractor_construction_workers_name_6th'), @second_workers, @third_workers, @forth_workers)%>
          </td>
          <td class="doc_19_s27" dir="ltr">次</td>
          <td class="doc_19_s17" dir="ltr" colspan="8">
            <%= company_name(@document.content&.[]('subcontractor_construction_workers_name_6th'))%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s3"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s4"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s39"></td>
          <td class="doc_19_s40" colspan="10"></td>
          <td class="doc_19_s1" dir="ltr" colspan="20">元請工事業者提出書類一覧</td>
          <td class="doc_19_s24" dir="ltr" colspan="10">注） ▢は、レ点でチェック。</td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s39"></td>
          <td class="doc_19_s41" dir="ltr">
            <%=checked_box(@document.content&.[]('subcontracting_notice'))%>
          </td>
          <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
            <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
          </td>
          <td class="doc_19_s43 softmerge" dir="ltr">
            <div class="doc_19_softmerge-inner" style="width:58px;left:-1px">再下請負通知書</div>
          </td>
          <td class="doc_19_s44" dir="ltr"></td>
          <td class="doc_19_s44" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s28" dir="ltr"></td>
          <td class="doc_19_s41" dir="ltr">
            <%=checked_box(@document.content&.[]('subcontractor_organization_chart'))%>
          </td>
          <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
            <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
          </td>
          <td class="doc_19_s43 softmerge" dir="ltr">
            <div class="doc_19_softmerge-inner" style="width:58px;left:-1px">下請業者編成表</div>
          </td>
          <td class="doc_19_s44" dir="ltr"></td>
          <td class="doc_19_s44" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s28" dir="ltr"></td>
          <td class="doc_19_s41" dir="ltr">
            <%=checked_box(@document.content&.[]('worker_list'))%>
          </td>
          <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
            <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
          </td>
          <td class="doc_19_s27" dir="ltr">作業員名簿</td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s28" dir="ltr"></td>
          <td class="doc_19_s41" dir="ltr">
            <%=checked_box(@document.content&.[]('carry_on_machine'))%>
          </td>
          <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
            <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
          </td>
          <td class="doc_19_s27" dir="ltr" colspan="1">持込機械等（</td>
          <td class="doc_19_s45" dir="ltr" colspan="4">
            <%=@document.content&.[]('use_notification')%>
          </td>
          <td class="doc_19_s27" dir="ltr">）使用届</td>
          <td class="doc_19_s28" dir="ltr"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s39"></td>
          <td class="doc_19_s41" dir="ltr">
            <%=checked_box(@document.content&.[]('use_notification_for_mobile_crane'))%>
          </td>
          <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
            <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
          </td>
          <td class="doc_19_s43 softmerge" dir="ltr">
            <div class="doc_19_softmerge-inner" style="width:118px;left:-1px">持込機械等（移動式クレーン）使用届</div>
          </td>
          <td class="doc_19_s46" dir="ltr"></td>
          <td class="doc_19_s46" dir="ltr"></td>
          <td class="doc_19_s44" dir="ltr"></td>
          <td class="doc_19_s44" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s28" dir="ltr"></td>
          <td class="doc_19_s41" dir="ltr">
            <%=checked_box(@document.content&.[]('use_notification_for_vehicle_construction_machine'))%>
          </td>
          <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
            <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
          </td>
          <td class="doc_19_s43 softmerge" dir="ltr">
            <div class="doc_19_softmerge-inner" style="width:118px;left:-1px">持込機械等（車両系建設機械）使用届</div>
          </td>
          <td class="doc_19_s46" dir="ltr"></td>
          <td class="doc_19_s46" dir="ltr"></td>
          <td class="doc_19_s44" dir="ltr"></td>
          <td class="doc_19_s44" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s28" dir="ltr"></td>
          <td class="doc_19_s41" dir="ltr">
            <%=checked_box(@document.content&.[]('use_notification_for_use_notification_for_electric_tool'))%>
          </td>
          <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
            <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
          </td>
          <td class="doc_19_s43 softmerge" dir="ltr">
            <div class="doc_19_softmerge-inner" style="width:88px;left:-1px">持込機械等（電動工具）使用届</div>
          </td>
          <td class="doc_19_s46" dir="ltr"></td>
          <td class="doc_19_s44" dir="ltr"></td>
          <td class="doc_19_s44" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s28" dir="ltr"></td>
          <td class="doc_19_s41" dir="ltr">
            <%=checked_box(@document.content&.[]('use_notification_for_electric_welder'))%>
          </td>
          <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
            <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
          </td>
          <td class="doc_19_s43 softmerge" dir="ltr">
            <div class="doc_19_softmerge-inner" style="width:88px;left:-1px">持込機械等（電気溶接機）使用届</div>
          </td>
          <td class="doc_19_s46" dir="ltr"></td>
          <td class="doc_19_s44" dir="ltr"></td>
          <td class="doc_19_s44" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s28" dir="ltr"></td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s39"></td>
          <td class="doc_19_s41" dir="ltr">
            <%=checked_box(@document.content&.[]('use_notification_for_construction_vehicle'))%>
          </td>
          <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
            <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
          </td>
          <td class="doc_19_s27" dir="ltr">工事用車両届</td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s28" dir="ltr"></td>
          <td class="doc_19_s41" dir="ltr">
            <%=checked_box(@document.content&.[]('use_notification_for_organic_solvent_and_specific_chemical_substance'))%>
          </td>
          <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
            <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
          </td>
          <td class="doc_19_s43 softmerge" dir="ltr">
            <div class="doc_19_softmerge-inner" style="width:118px;left:-1px">有機溶剤・特定化学物質等持込使用届</div>
          </td>
          <td class="doc_19_s46" dir="ltr"></td>
          <td class="doc_19_s46" dir="ltr"></td>
          <td class="doc_19_s44" dir="ltr"></td>
          <td class="doc_19_s44" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s28" dir="ltr"></td>
          <td class="doc_19_s41" dir="ltr">
            <%=checked_box(@document.content&.[]('use_notification_for_fire'))%>
          </td>
          <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
            <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
          </td>
          <td class="doc_19_s27" dir="ltr">火気使用届</td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s28" dir="ltr"></td>
          <td class="doc_19_s41" dir="ltr">
            <%=checked_box(@document.content&.[]('use_notification_for_others_1st'))%>
          </td>
          <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
            <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
          </td>
          <td class="doc_19_s47" dir="ltr" colspan="7">
            <%=@document.content&.[]('use_notification_name_for_others_1st')%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s39"></td>
          <td class="doc_19_s41" dir="ltr">
            <%=checked_box(@document.content&.[]('sending_education_report'))%>
          </td>
          <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
            <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
          </td>
          <td class="doc_19_s43 softmerge" dir="ltr">
            <div class="doc_19_softmerge-inner" style="width:58px;left:-1px">送出し教育実施報告書</div>
          </td>
          <td class="doc_19_s44" dir="ltr"></td>
          <td class="doc_19_s44" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s28" dir="ltr"></td>
          <td class="doc_19_s41" dir="ltr">
            <%=checked_box(@document.content&.[]('new_entry_education_report'))%>
          </td>
          <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
            <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
          </td>
          <td class="doc_19_s43 softmerge" dir="ltr">
            <div class="doc_19_softmerge-inner" style="width:88px;left:-1px">新規入場時教育実施報告書</div>
          </td>
          <td class="doc_19_s46" dir="ltr"></td>
          <td class="doc_19_s44" dir="ltr"></td>
          <td class="doc_19_s44" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s28" dir="ltr"></td>
          <td class="doc_19_s41" dir="ltr">
            <%=checked_box(@document.content&.[]('use_notification_for_others_2nd'))%>
          </td>
          <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
            <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
          </td>
          <td class="doc_19_s47" dir="ltr" colspan="7">
            <%=@document.content&.[]('use_notification_name_for_others_2nd')%>
          </td>
          <td class="doc_19_s41" dir="ltr">
            <%=checked_box(@document.content&.[]('use_notification_for_others_3rd'))%>
          </td>
          <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
            <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
          </td>
          <td class="doc_19_s47" dir="ltr" colspan="7">
            <%=@document.content&.[]('use_notification_name_for_others_3rd')%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s39"></td>
          <td class="doc_19_s41" dir="ltr">
            <%=checked_box(@document.content&.[]('work_plan_1st'))%>
          </td>
          <td class="doc_19_s42 softmerge" dir="ltr">
            <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
          </td>
          <td class="doc_19_s27" dir="ltr">（</td>
          <td class="doc_19_s50" dir="ltr" colspan="4">
            <%=@document.content&.[]('work_plan_name_1st')%>
          </td>
          <td class="doc_19_s49" dir="ltr" colspan="3">）作業計画書</td>
          <td class="doc_19_s41" dir="ltr">
            <%=checked_box(@document.content&.[]('work_plan_2nd'))%>
          </td>
          <td class="doc_19_s42 softmerge" dir="ltr">
            <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
          </td>
          <td class="doc_19_s27" dir="ltr">（</td>
          <td class="doc_19_s50" dir="ltr" colspan="4">
            <%=@document.content&.[]('work_plan_name_2nd')%>
          </td>
          <td class="doc_19_s49" dir="ltr" colspan="3">）作業計画書</td>
          <td class="doc_19_s41" dir="ltr">
            <%=checked_box(@document.content&.[]('work_plan_3rd'))%>
          </td>
          <td class="doc_19_s42 softmerge" dir="ltr">
            <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
          </td>
          <td class="doc_19_s27" dir="ltr">（</td>
          <td class="doc_19_s50" dir="ltr" colspan="4">
            <%=@document.content&.[]('work_plan_name_3rd')%>
          </td>
          <td class="doc_19_s49" dir="ltr" colspan="3">）作業計画書</td>
          <td class="doc_19_s41" dir="ltr">
            <%=checked_box(@document.content&.[]('work_plan_4th'))%>
          </td>
          <td class="doc_19_s42 softmerge" dir="ltr">
            <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
          </td>
          <td class="doc_19_s27" dir="ltr">（</td>
          <td class="doc_19_s50" dir="ltr" colspan="4">
            <%=@document.content&.[]('work_plan_name_4th')%>
          </td>
          <td class="doc_19_s49" dir="ltr" colspan="3">）作業計画書</td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s39"></td>
          <td class="doc_19_s41" dir="ltr">
            <%=checked_box(@document.content&.[]('safety_and_health_plan'))%>
          </td>
          <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
            <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
          </td>
          <td class="doc_19_s43 softmerge" dir="ltr">
            <div class="doc_19_softmerge-inner" style="width:58px;left:-1px">安全衛生計画書</div>
          </td>
          <td class="doc_19_s44" dir="ltr"></td>
          <td class="doc_19_s44" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s27" dir="ltr"></td>
          <td class="doc_19_s28" dir="ltr"></td>
          <td class="doc_19_s41" dir="ltr">
            <%=checked_box(@document.content&.[]('use_notification_for_others_4th'))%>
          </td>
          <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
            <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
          </td>
          <td class="doc_19_s47" dir="ltr" colspan="7">
            <%=@document.content&.[]('use_notification_name_for_others_4th')%>
          </td>
          <td class="doc_19_s41" dir="ltr">
            <%=checked_box(@document.content&.[]('use_notification_for_others_5th'))%>
          </td>
          <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
            <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
          </td>
          <td class="doc_19_s47" dir="ltr" colspan="7">
            <%=@document.content&.[]('use_notification_name_for_others_5th') %>
          </td>
          <td class="doc_19_s41" dir="ltr">
            <%=checked_box(@document.content&.[]('use_notification_for_others_6th'))%>
          </td>
          <td class="doc_19_s42 softmerge" dir="ltr" colspan="2">
            <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"></div>
          </td>
          <td class="doc_19_s47" dir="ltr" colspan="7">
            <%=@document.content&.[]('use_notification_name_for_others_6th')%>
          </td>
          <td class="doc_19_s2"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
          <td class="doc_19_s3"></td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</body>

<style>
.doc_19_pdf_sheet {
    margin: 0em;
    display: block;
    width: 60em;
  }

.ritz .waffle a {
color: inherit;
}

.ritz .waffle .doc_19_s47 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s6 {
  border-bottom: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-left: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s15 {
  border-bottom: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-left: 1px SOLID #ffffff;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s3 {
  border-top: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-left: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s49 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: right;
  color: #000000;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s39 {
  border-bottom: 1px SOLID #ffffff;
  border-left: 1px SOLID #ffffff;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s21 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  text-align: left;
  color: #000000;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s31 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s38 {
  border-bottom: 1px SOLID #000000;
  text-align: center;
  color: #000000;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s48 {
  border-right: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #000000;
  text-align: left;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s28 {
  border-left: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s29 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  text-align: left;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s30 {
  border-bottom: 1px SOLID #ccffcc;
  border-right: 1px SOLID #000000;
  text-align: left;
  color: #000000;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s13 {
  border-top: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-left: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-size: 24pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s14 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  text-align: left;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s12 {
  background-color: #ffffff;
  text-align: right;
  color: #000000;
  font-size: 11pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s7 {
  border-bottom: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-left: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s33 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-size: 9pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s32 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-size: 8pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s34 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  text-align: center;
  color: #000000;
  font-size: 8pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s40 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s17 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-size: 8pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s36 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  text-align: center;
  color: #000000;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s23 {
  border-bottom: 0.25px SOLID #ccffcc;
  border-right: 1px SOLID #000000;
  text-align: left;
  color: #000000;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s24 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s9 {
  border-top: 1px SOLID #ffffff;
  border-right: 0.5px SOLID #ccffcc;
  border-left: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #000000;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-size: 11pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s5 {
  border-bottom: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-left: 1px SOLID #ffffff;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s1 {
  border-top: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-left: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s25 {
  border-bottom: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-left: 1px SOLID #ffffff;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s46 {
  border-left: none;
  border-right: none;
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s0 {
  border-top: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-left: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s44 {
  border-right: 1px SOLID #ffffff;
  border-left: none;
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s22 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  text-align: left;
  color: #000000;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s37 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s41 {
  border-left: 1px SOLID #ffffff;
  border-right: 1px SOLID #000000;
  border-bottom: 1px SOLID #000000;
  text-align: center;
  color: #000000;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s43 {
  border-left: 1px SOLID #ffffff;
  border-right: none;
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 8pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s50 {
  border-right: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #000000;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s16 {
  border-right: 0.5px SOLID #ccffcc;
  border-bottom: 1px SOLID #000000;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-size: 8pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s26 {
  border-left: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s2 {
  border-top: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-left: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 11pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s11 {
  border-bottom: 1px SOLID #000000;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-size: 8pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s42 {
  border-right: 1px SOLID #ffffff;
  border-left: none;
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-size: 8pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s4 {
  border-top: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-left: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s27 {
  border-left: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s20 {
  border-bottom: 0.5px SOLID #ccffcc;
  border-right: 1px SOLID #000000;
  text-align: left;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s35 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  text-align: center;
  color: #000000;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s8 {
  border-top: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-left: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-size: 11pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s45 {
  border-left: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #000000;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s10 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-size: 11pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s19 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #1155cc;
  font-size: 7pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_19_s18 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

</style>
