<% provide(:title, "現場溶剤情報登録") %>
<% provide(:btn_text, "登録") %>

<div class="card">
  <div class="card-body">
    <%= form_with model: @field_solvent, url: users_request_order_field_solvents_path, method: :post, local: true, class: "field_solvent-form-validation" do |f| %>

      <%= render 'shared/error_massages', object: f.object %>

      <!-- 溶剤1 -->
      <div class="row">
        <div class="col-md-3">
          <%= f.label :solvent_name_one %>
          <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
          <%= f.collection_select :solvent_name_one, Solvent.where(business_id: @request_order.business_id), :name, :name, { include_blank: '商品名1を選択してください' }, { class: 'form-control', :onchange => "getSolventName1($(this).val())" } %>
        </div>
        <div class="col-md-3">
          <%= f.label :carried_quantity_one %>
          <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
          <%= f.text_field :carried_quantity_one, class: "form-control", placeholder: FieldSolvent.human_attribute_name(:carried_quantity_one) %>
        </div>
      </div><br>

      <!-- 溶剤2 -->
      <div class="row">
        <div class="col-md-3">
          <%= f.label :solvent_name_two %>
          <%= f.collection_select :solvent_name_two, Solvent.where(business_id: @request_order.business_id), :name, :name, { include_blank: '商品名2を選択してください' }, { class: 'form-control', :onchange => "getSolventName2($(this).val())" } %>
        </div>
        <div class="col-md-3">
          <%= f.label :carried_quantity_two %>
          <%= f.text_field :carried_quantity_two, class: "form-control", placeholder: FieldSolvent.human_attribute_name(:carried_quantity_two) %>
        </div>
      </div><br>

      <!-- 溶剤3 -->
      <div class="row">
        <div class="col-md-3">
          <%= f.label :solvent_name_three %>
          <%= f.collection_select :solvent_name_three, Solvent.where(business_id: @request_order.business_id), :name, :name, { include_blank: '商品名3を選択してください' }, { class: 'form-control', :onchange => "getSolventName3($(this).val())" } %>
        </div>
        <div class="col-md-3">
          <%= f.label :carried_quantity_three %>
          <%= f.text_field :carried_quantity_three, class: "form-control", placeholder: FieldSolvent.human_attribute_name(:carried_quantity_three) %>
        </div>
      </div><br>

      <!-- 溶剤4 -->
      <div class="row">
        <div class="col-md-3">
          <%= f.label :solvent_name_four %>
          <%= f.collection_select :solvent_name_four, Solvent.where(business_id: @request_order.business_id), :name, :name, { include_blank: '商品名4を選択してください' }, { class: 'form-control', :onchange => "getSolventName4($(this).val())" } %>
        </div>
        <div class="col-md-3">
          <%= f.label :carried_quantity_four %>
          <%= f.text_field :carried_quantity_four, class: "form-control", placeholder: FieldSolvent.human_attribute_name(:carried_quantity_four) %>
        </div>
      </div><br>

      <!-- 溶剤5 -->
      <div class="row">
        <div class="col-md-3">
          <%= f.label :solvent_name_five %>
          <%= f.collection_select :solvent_name_five, Solvent.where(business_id: @request_order.business_id), :name, :name, { include_blank: '商品名5を選択してください' }, { class: 'form-control', :onchange => "getSolventName5($(this).val())" } %>
        </div>
        <div class="col-md-3">
          <%= f.label :carried_quantity_five %>
          <%= f.text_field :carried_quantity_five, class: "form-control", placeholder: FieldSolvent.human_attribute_name(:carried_quantity_five) %>
        </div>
      </div><br>
      <br>

      <!-- 使用場所 -->
      <%= f.label :using_location %>
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.text_field :using_location, class: "form-control", placeholder: FieldSolvent.human_attribute_name(:using_location), maxlength: 100 %>
      <br>

      <!-- 保管場所 -->
      <%= f.label :storing_place %>
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.text_field :storing_place, class: "form-control", placeholder: FieldSolvent.human_attribute_name(:storing_place), maxlength: 100 %>
      <br>

      <!-- 使用機械又は工具 -->
      <%= f.label :using_tool %>
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.text_field :using_tool, class: "form-control", placeholder: FieldSolvent.human_attribute_name(:using_tool), maxlength: 40 %>
      <br>

      <!-- 使用期間(始期) -->
      <%= f.label :usage_period_start %>
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <br>
      <%= f.date_field :usage_period_start, class: "form-control", style: "width: auto; display: inline-block;" %>
      <br><br>

      <!-- 使用期間(終期) -->
      <%= f.label :usage_period_end %>
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <br>
      <%= f.date_field :usage_period_end, class: "form-control", style: "width: auto; display: inline-block;" %>
      <br><br>

      <!-- 作業手順書の添付 -->
      <%= f.label :working_process, class: "required" %>
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.collection_radio_buttons(:working_process, FieldSolvent.working_processes_i18n, :first, :last, class: "radio") do |b| %>
        <div class="radio">
          <%= b.label { b.radio_button + b.text } %>
        </div>
      <% end %><br>

      <!-- SDS(安全データシート)の添付 -->
      <%= f.label :sds, class: "required" %>
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.collection_radio_buttons(:sds, FieldSolvent.sds_i18n, :first, :last, class: "radio") do |b| %>
        <div class="radio">
          <%= b.label { b.radio_button + b.text } %>
        </div>
      <% end %><br>

      <!-- SDS(安全シート)の写し -->

      <!-- 換気等対策 -->
      <%= f.label :ventilation_control %>
      <span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
      <%= f.text_field :ventilation_control, class: "form-control", placeholder: FieldSolvent.human_attribute_name(:ventilation_control) %>
      <br>

      <!-- 有機溶剤・特定化学物質等の換気等対策・別紙 -->

      <!-- 有機溶剤・特定化学物質等の作業手順書 -->

      <script>
        const numString = ["one", "two", "three", "four", "five"]
        $(function(){
          $.each(function(key){
            $.validator.addMethod(key, this);
          });
          $(".field_solvent-form-validation").validate({
            rules:{
              "field_solvent[solvent_name_one]": {
                required: true
              },
              "field_solvent[carried_quantity_one]": {
                required: true
              },
              "field_solvent[solvent_classification_one]": {
                required: true
              },
              "field_solvent[solvent_ingredients_one]": {
                required: true
              },
              "field_solvent[using_location]": {
                required: true
              },
              "field_solvent[storing_place]": {
                required: true
              },
              "field_solvent[using_tool]": {
                required: true
              },
              "field_solvent[usage_period_start]": {
                required: true
              },
              "field_solvent[usage_period_end]": {
                required: true
              },
              "field_solvent[working_process]": {
                required: true
              },
              "field_solvent[sds]": {
                required: true
              },
              "field_solvent[ventilation_control]": {
                required: true
              },
            },
            messages:{
              "field_solvent[solvent_name_one]": {
                required: "商品名1を入力してください。"
              },
              "field_solvent[carried_quantity_one]": {
                required: "搬入量1を入力してください。"
              },
              "field_solvent[carried_quantity_two]": {
                required: "搬入量2を入力してください。"
              },
              "field_solvent[carried_quantity_three]": {
                required: "搬入量3を入力してください。"
              },
              "field_solvent[carried_quantity_four]": {
                required: "搬入量4を入力してください。"
              },
              "field_solvent[carried_quantity_five]": {
                required: "搬入量5を入力してください。"
              },
              "field_solvent[using_location]": {
                required: "使用場所を入力してください。"
              },
              "field_solvent[storing_place]": {
                required: "保管場所を入力してください。"
              },
              "field_solvent[using_tool]": {
                required: "使用機械又は工具を入力してください。"
              },
              "field_solvent[usage_period_start]": {
                required: "使用期間(始期)を入力してください。"
              },
              "field_solvent[usage_period_end]": {
                required: "使用期間(終期)を入力してください。"
              },
              "field_solvent[working_process]": {
                required: "作業手順書の添付の有無を入力してください。"
              },
              "field_solvent[sds]": {
                required: "SDS(安全データシート)の添付の有無を入力してください。"
              },
              "field_solvent[ventilation_control]": {
                required: "換気等対策を入力してください。"
              },
            },
            errorClass: "input_form_error"
          });
          // 入力欄を変更したときにバリデーションを実行
          $(".field_solvent-form-validation").change(function () {
            for(i = 0; i < 5; i++){
              if ($(`select[name="field_solvent[solvent_name_${numString[i]}]"]`).val() == '') {
                $(`input[name="field_solvent[carried_quantity_${numString[i]}]"]`).rules('remove', 'required');
              } else {
                $(`input[name="field_solvent[carried_quantity_${numString[i]}]"]`).rules('add', 'required');
              }
            }
            $(this).valid();
          });
        });
      </script>

      <script>
        function getSolventName1(val){
          var solvent_name_one = val;

          $.ajax({
            url: 'set_solvent_name_one',
            type: "GET",
            data: {
              solvent_name_one: solvent_name_one
            }
          })
        }

        function getSolventName2(val){
          var solvent_name_two = val;

          $.ajax({
            url: 'set_solvent_name_two',
            type: "GET",
            data: {
              solvent_name_two: solvent_name_two
            }
          })
        }

        function getSolventName3(val){
          var solvent_name_three = val;

          $.ajax({
            url: 'set_solvent_name_three',
            type: "GET",
            data: {
              solvent_name_three: solvent_name_three
            }
          })
        }

        function getSolventName4(val){
          var solvent_name_four = val;

          $.ajax({
            url: 'set_solvent_name_four',
            type: "GET",
            data: {
              solvent_name_four: solvent_name_four
            }
          })
        }

        function getSolventName5(val){
          var solvent_name_five = val;

          $.ajax({
            url: 'set_solvent_name_five',
            type: "GET",
            data: {
              solvent_name_five: solvent_name_five
            }
          })
        }
      </script>

      <%= f.submit yield(:btn_text), class: "btn btn-md btn-block btn-primary" %>
      <%= link_to "現場詳細画面へ", users_request_order_url(@request_order), class: "btn btn-md btn-block btn-default" %>
    <% end %>
  </div>
</div>
<%= Solvent.where(business_id: @request_order.business_id).to_json %>