<% provide(:title, "溶剤情報詳細") %>

<div class="card">
  <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
      <tbody>
        <tr>
          <th><%= FieldSolvent.human_attribute_name(:solvent_name) %></th>
          <td><%= @field_solvent.solvent_name %></td>
        </tr>
        <tr>
          <th><%= FieldSolvent.human_attribute_name(:carried_quantity) %></th>
          <td><%= @field_solvent.carried_quantity %></td>
        </tr>
        <tr>
          <th><%= FieldSolvent.human_attribute_name(:solvent_classification) %></th>
          <td><%= @field_solvent.solvent_classification %></td>
        </tr>
        <tr>
          <th><%= FieldSolvent.human_attribute_name(:solvent_ingredients) %></th>
          <td><%= @field_solvent.solvent_ingredients %></td>
        </tr>
        <tr>
          <th><%= FieldSolvent.human_attribute_name(:using_location) %></th>
          <td><%= @field_solvent.using_location %></td>
        </tr>
        <tr>
          <th><%= FieldSolvent.human_attribute_name(:storing_place) %></th>
          <td><%= @field_solvent.storing_place %></td>
        </tr>
        <tr>
          <th><%= FieldSolvent.human_attribute_name(:using_tool) %></th>
          <td><%= @field_solvent.using_tool %></td>
        </tr>
        <tr>
          <th><%= FieldSolvent.human_attribute_name(:usage_period_start) %></th>
          <td><%= @field_solvent.usage_period_start %></td>
        </tr>
        <tr>
          <th><%= FieldSolvent.human_attribute_name(:usage_period_end) %></th>
          <td><%= @field_solvent.usage_period_end %></td>
        </tr>
        <tr>
          <th><%= FieldSolvent.human_attribute_name(:working_process) %></th>
          <td><%= @field_solvent.working_process_i18n %></td>
        </tr>
        <tr>
          <th><%= FieldSolvent.human_attribute_name(:sds) %></th>
          <td><%= @field_solvent.sds_i18n %></td>
        </tr>
        <tr>
          <th><%= FieldSolvent.human_attribute_name(:ventilation_control) %></th>
          <td><%= @field_solvent.ventilation_control %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= link_to "編集", edit_users_order_field_solvent_path(@order, @field_solvent), class: "btn btn-md btn-block btn-success" %>
    <%= link_to "削除", users_order_field_solvent_path(@order, @field_solvent), method: :delete, data: { confirm: "溶剤情報を削除します。本当によろしいですか？" }, class: "btn btn-md btn-danger btn-block" %>
    <%= link_to "現場詳細画面へ", users_order_url(@order), class: "btn btn-md btn-block btn-default" %>
  </div>
</div>
