<% provide(:title, "現場車両編集") %>
<% provide(:btn_text, "更新") %>

<div class="card">
  <div class="card-body table-responsive p-0">
    <table class="table text-nowrap">
      <tbody>
        <td>
          <%= link_to "戻る", users_order_field_cars_path, class: "btn btn-md btn-default" %>
        </td>
        <td>
          <%= link_to "入場作業員", users_order_field_cars_path(@order), class: "btn btn-md btn-success" %>
          <%= link_to "車両", "#", class: "btn btn-md btn-success" %>
          <%= link_to "特殊車両", "#", class: "btn btn-md btn-success" %>
          <%= link_to "機械", "#", class: "btn btn-md btn-success" %>
          <%= link_to "溶剤", "#", class: "btn btn-md btn-success" %>
        </td>
      </tbody>
    </table>
  </div>
</div>

<section class="content">
  <div class="col-md-12">
    <%= form_with model: @order, url: update_cars_users_order_field_cars_path, method: :patch, local: true do |f| %>
      <div class="card">
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr align="center">
                <th><%= FieldCar.human_attribute_name(:car_name) %></th>
                <th><%= FieldCar.human_attribute_name(:driver_name) %></th>
                <th><%= FieldCar.human_attribute_name(:usage_period_start) %></th>
                <th><%= FieldCar.human_attribute_name(:usage_period_end) %></th>
                <th><%= FieldCar.human_attribute_name(:starting_point) %></th>
                <th><%= FieldCar.human_attribute_name(:waypoint_first) %></th>
                <th><%= FieldCar.human_attribute_name(:waypoint_second) %></th>
                <th><%= FieldCar.human_attribute_name(:arrival_point) %></th>
              </tr>
            </thead>
            <tbody>
              <% @field_cars.each do |field_car| %>
                <%= f.fields_for "field_cars[]", field_car do |fc| %>
                <tr>
                  <td><%= field_car.car_name %></td>
                  <td><%= fc.text_field :driver_name, class: "form-control" %></td>
                  <td><%= fc.date_field :usage_period_start, class: "form-control" %></td>
                  <td><%= fc.date_field :usage_period_end, class: "form-control" %></td>
                  <td><%= fc.text_field :starting_point, class: "form-control" %></td>
                  <td><%= fc.text_field :waypoint_first, class: "form-control" %></td>
                  <td><%= fc.text_field :waypoint_second, class: "form-control" %></td>
                  <td><%= fc.text_field :arrival_point, class: "form-control" %></td>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <%= f.submit yield(:btn_text), class: "btn btn-md btn-block btn-primary" %>
      <br>
    <% end %>
  </div>
</section>
