<%= render 'shared/error_massages', object: f.object %>

<%= f.label :name %><span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :name, class: "form-control", placeholder: Machine.human_attribute_name(:name) %><br />

<%= f.label :standards_performance %><span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :standards_performance, class: "form-control", placeholder: Machine.human_attribute_name(:standards_performance) %><br>

<%= f.label :control_number %><span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :control_number, class: "form-control", placeholder: Machine.human_attribute_name(:control_number) %><br>

<%= f.label :handler %><span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.select :handler,
                  (@business_workers_name + [@machine.handler]).uniq,
                  { include_blank: true, prompt: "選択してください"  },
                  { class: "single-select form-control", style: "100%" }%><br><br>

<%= f.label :inspector %><span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.select :inspector,
                  (@business_workers_name + [@machine.inspector]).uniq,
                  { include_blank: true, prompt: "選択してください"  },
                  { class: "single-select form-control", style: "100%" }%><br><br>

<%= f.label :inspection_date %><span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.date_field :inspection_date, class: "form-control", placeholder: SpecialVehicle.human_attribute_name(:inspection_date) %><br>

<div class="list-group">
  <%= f.label :extra_inspection %>
  <div class="list-group-item">
    <% i = 1 %>
    <%= while i <= 6 do %>
      <%= f.label :"extra_inspection_item#{i}" %><br>
      <%= f.text_field :"extra_inspection_item#{i}", class: "form-control", placeholder: "※追加の点検事項名称#{i}" %><br>
      <% i += 1 %>
    <% end %>
  </div>
<div><br>
<div class="list-group">
  <div class="field">
    <%= f.label :inspection_check %><br />
    <div class="list-group-item">
      <%= collection_check_boxes(:machine, :tag_ids, Tag.where(id: ..18), :id, :name, include_hidden: false) do |t| %>
        <%= t.label { t.check_box + t.text } %>
      <% end %>
    </div>
  </div>
</div><br>
<script>
// hidden
  $(document).ready(function(){
    $('.submenu h3').on('click', function(){
      $(this).next().toggleClass('hidden');
    });
  });


// 入力フォームのバリデーション
  $(function(){
    $.each(function(key){
      $.validator.addMethod(key, this);
    });
    $(".machine-form-validation").validate({
      rules:{
        "machine[name]": {
          required: true
        },
        "machine[standards_performance]": {
          required: true
        },
        "machine[control_number]": {
          required: true
        },
        "machine[inspector]": {
          required: true
        },
        "machine[handler]": {
          required: true
        },
        "machine[inspection_date]": {
          required: true
        }
      },

      messages:{
        "machine[name]": {
          required: "機械名を入力してください。"
        },
        "machine[standards_performance]": {
          required: "規格・性能を入力してください。"
        },
        "machine[control_number]": {
          required: "管理番号を入力してください。"
        },
        "machine[inspector]": {
          required: "点検者を入力してください。"
        },
        "machine[handler]": {
          required: "取扱者を入力してください。"
        },
        "machine[inspection_date]": {
          required: "点検年月日を入力してください。"
        }
      },
      
      errorPlacement: function(error, element) {
        // radioとcheckboxのみ表示位置を個別調整
        if (element.is(":radio") || element.is(":checkbox")) {
          error.insertBefore(element.closest('.list-group-item'));
        } else {
          error.insertBefore(element);
        }
      }
    });
    // 入力欄を変更したときにバリデーションを実行
    $(".machine-form-validation").change(function () {
      $(this).valid();
    });
  });
</script>