<% provide(:title, "持込機械情報詳細") %>

<div class="card">
  <div class="card-body">
    <table class="table table-hover text-nowrap">
      <tbody>
        <tr>
          <th><%= Machine.human_attribute_name(:name) %></th>
          <td><%= @machine.name %></td>
        </tr>
        <tr>
          <th><%= Machine.human_attribute_name(:standards_performance) %></th>
          <td><%= @machine.standards_performance %></td>
        </tr>
        <tr>
          <th><%= Machine.human_attribute_name(:control_number) %></th>
          <td><%= @machine.control_number %></td>
        </tr>
        <tr>
          <th><%= Machine.human_attribute_name(:inspector) %></th>
          <td><%= @machine.inspector %></td>
        </tr>
        <tr>
          <th><%= Machine.human_attribute_name(:handler) %></th>
          <td><%= @machine.handler %></td>
        </tr>
        <tr>
          <th><%= Machine.human_attribute_name(:inspection_date) %></th>
          <td><%= wareki(@machine.inspection_date) %></td>
        </tr>
        <tr>
          <th><%= Machine.human_attribute_name(:inspection_check) %></th>
          <% tag_arrays = Tag.where(id: Machine.find(@machine.id).tag_ids).pluck(:name) %>
          <td><%= tag_arrays.join(' / ') %></td>
        </tr>
        <tr>
          <th><%= Machine.human_attribute_name(:insulation_resistance_measurement) %></th>
          <td><%= @machine.insulation_resistance_measurement %>Ω</td>
        </tr>
        <tr>
          <th><%= Machine.human_attribute_name(:extra_inspection) %></th>
        </tr>
        <% @count.times do |k| %>
        <tr>
          <th class="text_ind_1"><%= Machine.human_attribute_name(:"extra_inspection_item#{k+1}") %></th>
          <td>
            <%= @machine.send("extra_inspection_item#{k+1}") %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= link_to "編集", edit_users_machine_path(@machine), class: "btn btn-success btn-md btn-block" %>
    <%= link_to "削除", users_machine_path(@machine), method: :delete,
                              data: { confirm: "#{@machine.name}の持込機械情報を削除します。本当によろしいですか？" }, class: "btn btn-danger btn-md btn-block" %>
    <%= link_to "一覧画面へ", users_machines_path, class: "btn btn-default btn-md btn-block" %>
  </div>
</div>
